.va-loading-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: var(--vads-color-base-dark);
  color: var(--vads-color-white);
  cursor: progress;
  text-align: center;
  padding: 4.625px 2rem;
  font-size: 16.96px;
  line-height: 15.264px;
  margin: 0;
}

.va-loading-button:hover {
  background-color: var(--vads-color-base-dark);
}

.va-loading-button-ring,
.va-loading-button-ring:after {
  box-sizing: border-box;
}
.va-loading-button-ring {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}
.va-loading-button-ring:after {
  content: " ";
  display: block;
  width: 2rem;
  height: 2rem;
  margin: 6px 0px;
  border-radius: 50%;
  border: .3rem solid var(--vads-color-white);
  border-color: var(--vads-color-white) transparent var(--vads-color-white) transparent;
  animation: 1.5s linear 0s infinite normal none running spin;
}
