{% include "va-gov/includes/header.html" %}
<main>

  <!-- the hub -->
  <section id="homepage-hub">

    <!-- background, white -->
    <div class="usa-grid usa-grid-full" id="hub-internal">

      <h2>{{ heading }}</h2>

      <!-- top row -->
      <div class="usa-grid usa-grid-full flex-container flex-col-mobile">
      {% for card in cards %}
        <div class="usa-width-one-half hub-links-container">
          <h3 class="hub-links-title"><i class="icon-large-baseline hub-icon-{{card.hub}} hub-color-{{card.hub}}"></i>{{ card.heading}}</h3>
          <ul class="hub-links-list">
            {% for link in card.links %}
            <li><a href="{{link.url}}">{{link.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% if card.end_row == true and forloop.last != true %}
        </div>
        <div class="usa-grid usa-grid-full flex-container flex-col-mobile">
        {% endif %}
      {% endfor %}
      </div>
    </div>
    <!-- /background, white -->

    {% include "va-gov/includes/veteran-banner.html" %}

  </section>
  <!-- /the hub -->

  <section id="content">

    <section id="homepage-benefits">
      <div class="usa-grid usa-grid-full homepage-benefits-row">
      {% for hub in hubs %}
        <div class="usa-width-one-third">
          <h4><a href="{{ hub.url }}" onclick="recordEvent({ event: 'nav-linkslist' });"><i class="icon-small hub-icon-{{hub.hub}} hub-background-{{hub.hub}} white"></i>{{hub.heading}}</a></h4>
          <p>{{hub.description}}</p>
        </div>
        {% if hub.end_row == true and forloop.last != true %}
        </div>
        <div class="usa-grid usa-grid-full homepage-benefits-row">
        {% endif %}
      {% endfor %}
      </div>
    </section>

    <section id="homepage-popular">
      <div class="usa-grid usa-grid-full">
        <div class="usa-width-one-third">
          <a href="/facilities" onclick="recordEvent({ event: 'nav-main-health' });" class="homepage-button">
            <div class="icon-wrapper">
              <i class="fa fa-map-marker homepage-button-icon"></i>
            </div>
            <!-- div required for alignment -->
            <div class="button-inner">
              <span>Find a VA health facility, benefit office, or cemetery</span>
            </div>
          </a>
        </div>

        <div class="usa-width-one-third">
          <button onclick="recordEvent({ event: 'nav-main-vcl' });" class="homepage-button vcl va-overlay-trigger" data-show="#modal-crisisline">
            <div class="icon-wrapper vcl"></div>
            <div class="button-inner">
              <span>Talk to a Veterans Crisis Line responder now</span>
            </div>
          </button>
        </div>

        <div class="usa-width-one-third" id="myva-login">
          <button onclick="recordEvent({ event: 'nav-main-sign-in' });" class="homepage-button signin-signup-modal-trigger">
            <div class="icon-wrapper">
              <i class="fa fa-user-circle-o homepage-button-icon"></i>
            </div>
            <div class="button-inner">
              <span>Sign in or create an account to use more tools</span>
            </div>
          </button>
        </div>

      </div>
    </section>

    <!-- end triple column -->

  </div> <!-- end #content -->

  <section class="usa-grid usa-grid-full">
    <div class="va-h-ruled--stars"></div>
  </section>


  <section id="homepage-news">

    <div class="usa-grid usa-grid-full">
    {% for story in news %}
      <div class="usa-width-one-third homepage-news-story">
        <div class="homepage-image-wrapper">
          <img class="lazy" width="552" data-src="{{ story.img }}" alt="{{ story.alt }}"/>
        </div>
        <h4 class="homepage-news-story-title"><a class="no-external-icon" href="{{ story.href }}"/>{{ story.title }}</a></h4>
        <p class="homepage-news-story-desc">{{ story.description }}</p>
      </div>
      {% if hub.end_row == true and forloop.last != true %}
      </div>
      <div class="usa-grid usa-grid-full">
      {% endif %}
    {% endfor %}
    </div>

  </section>

</main>

{% include "va-gov/includes/footer.html" %}
