// TODO: Update the paths so they import from the
// vets-website repo (or other designated common)
// elements version of these files.

@import "../style";

@import "_partials/messaging-thread";

#messaging-app {
  margin: auto;
  max-width: $site-max-width;
  padding: 3rem 1.5rem;
}

#messaging-nav {
  box-sizing: border-box;
  display: inline-block;
  width: 20%;

  .rx-compose-button {
    width: 100%;
  }
}

#messaging-content {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 3rem;
  vertical-align: top;
  width: 80%;
}
