.header-logo {
  width: 40px;
}

.header-sign-in-button {
  flex-shrink: 0;
}

.header-menu-button {
  min-height: 37px;
}

.header-logo-row {
  .profile-nav-contianer > div {
    padding-top: 0 !important;
  }
}
