.location-search {

  .result-card {
    width: 100%;

    .location-header {
      flex-wrap: wrap;
    }
  }

  .location-search-results-container {
    border: solid $color-gray-lightest;

    .location-search-results {
      height: 510px;
      overflow: scroll;
    }
  }

  .desktop-map-container {
    min-height: 78vh;
    padding-left: 0;
    flex-direction: row;

    .mapboxgl-canvas {
      width: 100% !important;
      height: 100% !important;
    }

  }
  .mapboxgl-ctrl-top-center {
    position: absolute;
    pointer-events: none;
    margin: 15px 0 0 15px;
  }

  .marker {
    border-radius: 50%;
    width: 23px;
    height: 23px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 4px $color-white;
    background-color: $color-red-dark;
  }

  .location-letter {
    border-radius: 50%;
    width: 28px;
    height: 24px;

    background: $color-base;
    color: $color-gray-lightest;
    text-align: center;
  }

}
