.gi-app .profile-page {
  h3 {
    font-size: 1.35em;
    margin-top: 0;
  }

  .info-flag {
    color: $color-gray-dark;
    background-color: $color-gray-lighter;
    font-size: 0.9em;
    display: inline-block;
    padding: 0.1em 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
  }

  .icon-with-info {
    .text-column {
      overflow-wrap: break-word;
    }
  }

  .overlay {
    display: flex;
    flex-direction: column;
  }
}
