.compare-page {

  .content-wrapper {
    position: relative;
  }

  .sticky {
    position: sticky;
    top: 0;
    overflow: visible !important;
  }

  .compare-header-row {
    margin-bottom: -2em;
    background-color: $color-white;
  }

  .compare-action {
    padding-top: 1em;

    .gi-checkbox-label {
      margin-top: 0px;
    }
  }

  .compare-header {
    height: 12em;
    position: relative;
  }

  .institution-header {
    background-color: $color-gray-light-alt;
    border-radius: 5px;
    padding: 1em;
    margin-right: 1em;
  }

  .institution-name {
    font-size: 20px;
    font-family: "Bitter";
    font-weight: 700;
    color: $color-link-default;
  }

  .institution-location {
    position: absolute;
    bottom: 1em;
  }

  .empty-header {
    height: 12em;
    border: 2px dashed $color-gray-light;
    border-radius: 5px;
    margin-left: 1px;
  }

  .empty-col {
    border: 2px dashed $color-gray-light;
    border-radius: 5px;
    margin-left: 1px;
    height: 100%;
  }

  .compare-header-section {
    height: 2em;
    margin-top: 3em;
    margin-bottom: .25em;
    font-family: "Bitter";
    font-size: 17px;
  }

  .compare-header-subsection {
    height: 2em;
    font-family: "Bitter";
    font-size: 16px;
  }

  .field-value {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -1px;
    border-left: 1px solid $color-base;
    border-bottom: 1px solid $color-base;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }

  .capitalize-value {
    text-transform: capitalize;
  }

  .field-value.first-row {
    border-top: 1px solid $color-base;
  }

  .field-value.last-col {
    border-right: 1px solid $color-base;
  }

  .field-label {
    vertical-align: middle;
  }

  .label-cell {
    background-color: $color-gray-light-alt;
    padding-left: 2.5em;
    padding-right: 2em;
    margin-right: 1.5em;
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    border-bottom: 1px solid $color-gray-light;
    border-left: 1px solid $color-gray-light;
    border-right: 1px solid $color-gray-light;
    border-top: 1px solid $color-gray-light;
    margin-top: -1px;
  }

  .section-field-grid.labels {
    margin-right: 1.75em;
  }

  .compare-page-description-label {
    font-weight: bold;
    font-family: "Bitter";
    font-size: 30px;
  }

  .section-field-grid {
    border-top: 1px solid $color-base;
    border-left: 1px solid $color-base;
  }
  .section-field-grid.last {
    border-right: 1px solid $color-base;
  }
}
