.search-form {
  button {
    margin-top: 0.5em;
    width: auto;
  }

  .usa-button i {
    padding-left: 16px;
  }

  .suggestions-list {
    position: absolute;
  }

  .search-box {
    border-bottom: 2px solid $color-gray-light;
    border-left: 2px solid $color-gray-light;
    border-right: 2px solid $color-gray-light;
    padding: 48px 48px 24px 48px;
  }

  .active-search-tab {
    border-top: 4px solid $color-primary;
  }

  .inactive-search-tab {
    border-top: 2px solid $color-gray-light;
  }

  .search-tab {
    font-size: 25px;
    border-bottom: 2px solid $color-gray-light;
  }

  .name-search-tab {
    border-left: 2px solid $color-gray-light;
    border-right: 1px solid $color-gray-light;
  }

  .location-search-tab {
    border-left: 1px solid $color-gray-light;
    border-right: 2px solid $color-gray-light;
  }

  input:placeholder-shown {
    font-style: italic;
  }

  input.location-search {
    width: 490px;
    max-width: none;
  }

  input.name-search {
    width: 690px;
    max-width: none;
  }

  select {
    width: 200px;
  }
}