@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../../platform/forms/sass/m-form-confirmation" as *;

// TODO: Remove this rule below once SaveInProgressIntro's
// hide-unauth'ed-content support's fixed/refactored (#914)
.usa-alert-info.schemaform-sip-alert .usa-alert-text > p:nth-child(2) {
  // hide "Note" paragraph in auth'ed LOA3 intro-page SIP-alert
  display: none;
}

// titleUI H3s
.form-panel legend > h3 {
  margin-bottom: 0 !important;
}

va-textarea[name="root_otherBenefitDetails"]::part(input-type-textarea) {
  height: 4.0625rem;
  resize: none;
}

// a11y - Change gray box to white box with gray border.
// Needed because when using a memorable date which
// has a gray color hint text, the hint text compared to
// the background color is too low contrast.
.rjsf-array-field .va-growable-background {
  border: 1px solid var(--vads-color-gray-medium);
  background-color: var(--vads-color-white);
}
