@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;

.message-list {
  .message-list-sort {
    display: flex;
    align-items: flex-end;

    va-select {
      margin-right: 16px;
      min-width: 220px;
    }

    va-button {
      display: contents;
      height: 37px;
      padding: 0;
    }

    va-button::part(button) {
      height: 2.625rem;
      width: fit-content;
      min-width: 78px;
      margin: 3px;
    }
  }

  .unread-column {
    max-width: 15px !important;
    padding-top: 10px;
  }

  .unread-icon {
    position: absolute;
    font-size: 12px;
    margin-left: 5px;
  }

  .message-list-item-line-1 {
    display: flex;
    align-items: center;
  }

  .keyword-highlight {
    background-color: var(--vads-color-gold-lightest);
  }

  .message-list-item {
    a.message-subject-link:visited {
      color: var(--vads-color-primary);
    }
    p.received-date {
      color: var(--vads-color-gray-medium);
      i {
        color: var(--vads-color-black);
      }
    }
    .keyword-highlight {
      background-color: var(--vads-color-gold-lightest);
    }
  }
}
