@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;

.search-results {
  .search-results-count {
    border-style: solid none;
    border-color: var(--vads-color-base-light);
    border-width: 1px;
    margin: 12.5px 0 0;
    line-height: 40px;
  }
}
