.breadcrumbs {
  a {
    color: var(--vads-color-link);
  }

  .desktop-view {
    list-style-type: none;
  }
  .desktop-view li::marker {
    display: none;
  }

  .mobile-view {
    list-style-type: none;
  }
  .mobile-view li::marker {
    display: none;
  }

  .breadcrumbs ul {
    padding-left: 0;
  }

  .sm-breadcrumb-list-item {
    list-style-type: none;
  }

  .sm-breadcrumb-list-item::before {
    content: "\2039  ";
    color: var(--vads-color-link);
  }
}

.breadcrumbs--hidden {
  visibility: hidden;
  margin-bottom: 4px;
}
