.gi-app {
  .vettec-logo {
    height: 70px;	
    width: 146px;	
  }

  // this will only affect wide screens
  @media screen and (min-width: 481px) {
    .vettec-logo {	
      height: 85px;	
      width: 179px;	
    }	
  }
  
  .vettec-logo-container {
    text-align: right;
  }
  .vettec-additional-resources-header {
    margin: 0;
  }
  .vettec-mobile-logo-container {
    padding-top: 1.333em;
    padding-bottom: 1em;
  }
}
