.update-results-form {
  margin-top: -2em;
  border-left: solid var(--vads-color-base-lightest);
  border-right: solid var(--vads-color-base-lightest);
}
.update-results,
.update-results-2 {
  height: 4.5em;
  background-color: var(--vads-color-base-lightest);
}
.update-results-2 {
  height: 7.5em;
}
.update-results-header {
  margin-top: -0.04em;
}

.update-results-button,
.clear-filters-btn {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--vads-color-primary);
  border: 0;
  border-radius: 5px;
  color: var(--vads-color-white);
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
    "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  padding: 0.625rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: 80%;
}
.clear-filters-btn {
  background-color: rgb(255, 255, 255);
  border: 1.3px solid rgb(0, 94, 162);
  color: rgb(0, 94, 162);
  margin-top: 0.2em;
  transition: all 0.2s ease-in-out;
  &:hover {
    border: 1.3px solid transparent;
    background-color: rgb(0, 94, 162);
    color: rgb(255, 255, 255);
  }
}

.mobile-jump-link {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  color: var(--vads-color-primary);
  cursor: pointer;
  display: inline-block;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
    "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: underline;
  padding: 0% !important;
  width: fit-content;

  &:hover {
    background-color: transparent;
    color: var(--vads-color-primary);
    text-decoration: underline;
  }

  &:visited {
    background-color: transparent;
    color: var(--vads-color-primary);
    text-decoration: underline;
  }
}
.labels-margin {
  margin-top: -10px !important;
}
.community-focus-container {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.visually-hidden {
  clip: rect(0, 0, 0, 0);
  margin: -1;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  padding: 0;
}
.filter-before-res-jump-link {
  font-weight: 700;
  color: rgb(0, 94, 162);
  text-decoration: underline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  font-size: 1rem;
  position: relative;
  z-index: 1;
  display: inline !important;
  padding: 0 !important;
}
.filter-before-res-jump-link:hover,
.filter-before-res-jump-link:visited {
  color: rgb(0, 94, 162);
  background-color: transparent;
}
