.gi-app .profile-page {
  h3 {
    font-size: 1.35em;
    margin-top: 0;
  }

  .usa-accordion {
    margin-top: 1em;
  }

  .link-header {
    h3,
    h4,
    h5 {
      display: inline-block;
      padding: 0;
    }

    padding-bottom: 0.5em;
  }

  .caution-flag {
    background-color: $color-gold;
  }

  .additional-resources {
    @include media-maxwidth($medium-large-screen - 1) {
      display: none;
    }
  }

  .icon-with-info {
    margin-top: 0;
  }

  li button.usa-accordion-button {
    text-align: left;

    h2 {
      font-size: 1.35em;
      padding: 0;
    }
  }

  .calculate-your-benefits {
    div.eligibility-details h2 {
      display: none;
    }

    button {
      color: $color-primary;
      margin: 0.5em 0;
      padding: 1rem 2rem;
    }

    .form-expanding-group-open {
      margin-bottom: 3rem;
      @media screen and (min-width: $small-screen) {
        border-left: none;
        padding-left: 0;
      }
    }

    .calculator-result {
      &.bold {
        font-weight: bold;
      }

      h5 {
        padding: 0;
      }
    }
  }

  .programs.row {
    .fa-check {
      color: $color-green;
    }

    .fa-remove {
      color: $color-gray-medium;
    }
  }

  .your-estimated-benefits {
    background: $color-gray-lightest;
    padding: 1.5rem;
    overflow-wrap: break-word;

    hr {
      border: 1px solid $color-primary-darkest;
    }
  }

  .total-paid-to-you {
    .calculator-result {
      margin-top: 1.6rem;
    }
  }

  .per-term-section {
    & + .per-term-section {
      margin-top: 1.5rem;
    }
  }

  .tuition-section,
  .housing-section {
    .calculator-result {
      margin-top: 0.5rem;
    }
  }

  .outcomes .graph-component {
    margin: 1em auto;
    clear: both;
  }

  .graph-key {
    margin-top: 1rem;

    @include media-maxwidth($medium-large-screen) {
      width: 200%;
    }
  }

  .cautionary-information {
    .table {
      table {
        margin: 1em 0;
      }

      th:first-child {
        width: 60%;
      }
    }

    .complaints-by-type {
      th:first-child span {
        font-weight: normal;
      }
    }

    .list {
      h4 {
        padding: 0.5em 0 !important;
      }
      .number {
        text-align: right;
      }
      margin-bottom: 1em;
    }

    @media screen and (min-width: $medium-screen) {
      .list {
        display: none;
      }
    }

    @include media-maxwidth($small-screen) {
      .table {
        display: none;
      }
    }
  }

  .additional-information {
    .historical-information.list {
      margin-bottom: 2rem;

      @media screen and (min-width: $medium-screen) {
        display: none;
      }
    }

    .institution-summary {
      margin-bottom: 2rem;
    }

    @include media-maxwidth($medium-screen) {
      .historical-information.table {
        display: none;
      }
    }
  }

  .vet-tec-application-process-list {
    li {
      list-style: square;
    }
  }

  .school-locations {
    table {
      border: hidden;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
    }

    th {
      border: hidden;
      background: none;
      white-space: nowrap;
      padding-bottom: 0.5em;
      padding-top: 0em;
      clear: both;
      font-weight: 700;
      font-family: Bitter, Georgia, Cambria, Times New Roman, Times, serif;
      line-height: 1.5;
      margin-bottom: 0.5em;
      margin-top: 1.5em;
    }

    td {
      border: hidden;
      font-size: 0.9em;
      padding-top: 0em;
      padding-bottom: 0em;
      vertical-align: top;
    }

    .schoolName {
      margin-bottom: 0em;
      margin-top: 0em;
      font-weight: bold;
    }

    .location-cell {
      white-space: nowrap;
    }

    padding-bottom: 1rem;
  }

  .vettec-logo-container {
    padding-top: 0.3em;
    padding-bottom: 0.5em;
  }

  .locations-list {
    @media screen and (min-width: $medium-screen) {
      display: none;
    }

    .item {
      padding-top: 1em;
    }

    .extension.item {
      padding-left: 1em;
    }
  }

  @include media-maxwidth($medium-screen - 1) {
    .locations-table {
      display: none;
    }
  }
}
