.gi-app .search-page {
  .no-name-results {
    min-height: 45vh;
  }

  .modal-wrapper {
    top: 0;
    bottom: 0;
    left: 0px;
    position: fixed;
    overflow-x: hidden;
    z-index: 2001;
    padding: 1em;
    background-color: $color-white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .modal-button-wrapper {
      background-color: $color-gray-lightest;
      margin-left: -1em;
      margin-right: -1em;
      margin-bottom: -1em;
      margin-top: 1em;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;

      button {
        margin-bottom: 16px;
        margin-left: 0px;
        margin-right: 1px;
        width: 100%;
      }
    }
  }

  .keyword-search {
    width: 100%;
  }

  input.name-search {
    width: 100%;
    max-width: none;
  }

  .name-search-button-container {
    margin-top: auto;
    margin-bottom: 6px;
  }

  button.name-search-button {
    width: 120px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 42px;
  }

  @media (max-width: $small-screen) {
    .usa-accordion-content {
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }

    .vads-l-grid-container {
      padding-left: 0px;
      padding-right: 0px;
    }

    button {
      margin-right: 0px;
    }

    #keyword-search {
      width: 100%;
    }

    button.name-search-button {
      width: 100%;

      i {
        display: none;
      }
    }

    .usa-input-error,
    .input-row {
      padding-top: 0px;
      padding-bottom: 5px;
      margin-top: 0px;
    }
  }

  .eligibility-form h2 {
    display: none;
    visibility: hidden;
  }

  .video-sidebar h5 {
    margin-top: 0.5em;
    padding: 0;
  }

  .type-of-institution-filter .form-expanding-group-open {
    padding-left: 2rem;
    border-left: none;
  }

  .filters-sidebar {
    h2 {
      font-size: 1.15em;
    }

    label,
    legend {
      margin-top: 1em;
    }

    .institution-filter-form,
    .eligibility-form {
      margin-top: 1.5em;
    }

    .filter-additional-info {
      margin: 15px 0px 15px 0px;
    }

    @include media-maxwidth($small-screen) {
      background: $color-white;
      display: none;
      height: 100%;
      left: 0;
      overflow: scroll;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 200;

      &.opened {
        display: block;
      }
    }
  }

  .filters-sidebar-inner {
    @include media-maxwidth($small-screen) {
      padding-bottom: 8rem;
    }
    h2 {
      margin-top: 0;
    }
  }

  .filter-button,
  .results-button {
    display: none;
    width: 100%;
    @include media-maxwidth($small-screen) {
      display: block;
    }
  }

  .results-button {
    background: $color-gray-lightest;
    bottom: 0;
    left: 0;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    z-index: 2;

    @include media-maxwidth($small-screen) {
      display: block;
    }
  }

  .search-results {
    @include media-maxwidth($small-screen) {
      display: none;

      &.opened {
        display: block;
      }
    }
  }

  .search-result {
    background-color: $color-gray-lightest;
    padding: 0;
    margin: 0 0 1em 0;

    .inner {
      padding: 0.5em 1em 1em 1em;
    }

    .view-details {
      display: block;

      @include media-maxwidth($small-screen) {
        margin-top: 1.6rem;
      }
    }

    h2 {
      font-size: 1.35em;
      margin-bottom: 0.8rem;
      padding-bottom: 0;
      margin-top: 0;
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }

    p {
      margin: 0;
    }

    p.locality {
      font-weight: bold;
    }

    p.count {
      margin-bottom: 1rem;
    }

    .estimated-benefits {
      h3,
      h4 {
        margin-top: 0;
        font-size: 1em;
        font-family: $font-sans;
      }
      h4 {
        padding-bottom: 0;
      }
      h4 > span {
        font-weight: normal;
      }
      h4 > div {
        float: right;
        text-align: right;
      }
      i.fa {
        margin-right: 0.5em;
      }
    }

    .info-flag {
      color: $color-gray-dark;
      background-color: $color-white;
      font-size: 0.9em;
      display: inline-block;
      padding: 0.1em 0.5em;
      margin-right: 1em;
      margin-top: -1em !important;
    }
    @media (max-width: 640px) {
      .info-flag {
        margin-top: 0.5em !important;
      }
    }

    .caution-flag {
      color: $color-gray-dark;
      background-color: $color-gold;
      border-radius: 3px 3px 3px 3px;
      font-size: 0.9em;
      font-weight: bold;
      display: inline-block;
      padding: 0.1em 0.5em;
      margin: 1em 0 0 1em;

      i.fa {
        margin-right: 0.4em;
      }
    }

    .preferred-flag {
      font-size: 0.9em;
      font-weight: bold;
      border-radius: 3px 3px 3px 3px;

      i.fa {
        margin-right: 0.4em;
      }
    }
  }

  .tag-container {
    margin-top: -34px;
    padding: 4px 0px;
    @include media-maxwidth($medium-screen) {
      margin-top: 10px;
    }
  }

  .search-result-tag {
    background-color: $color-white;
    color: $color-gray-dark;
    display: inline-block;
    margin: 0px 8px 8px 0px;
    padding: 0px 4px;
    font-size: 14px;
  }
  .search-button-mobile {
    margin-top: 1em;
    margin-bottom: 6em !important;
    @include media-maxwidth($small-screen) {
      margin-top: 1em;
      width: 100%;
    }
  }
  .input-container {
    display: flex;
    border: 1px solid;
    margin: 6px 0px;
    height: 4.2rem;

    input {
      border: none;
      height: unset;
    }

    .clear-button {
      width: 44px;
      height: 44px;
      background-color: transparent;
      color: $color-black;
      padding: 0;
      margin: 0;
      font-family: "Font Awesome 5 Free";

      &:hover {
        background-color: unset;
        color: unset;
      }
    }
  }

  .search-button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-top: 0.5em;
    margin-right: -1px;
    margin-bottom: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $color-blue;
    border: 0;
    border-radius: 5px;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
      "Arial", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }

  .search-filter-text {
    @media (min-width: $small-screen) {
      display: none;
    }
  }
  .vettec-logo-container {
    @include media($medium-screen) {
      margin-top: -2.667em;
      margin-bottom: 1.333em;
    }
  }
  .gi-checkbox-label:before {
    box-shadow: 0 0 0 2px $color-white, 0 0 0 3px $color-gray-medium;
  }

  .usa-alert {
    background-color: $color-white;
    padding: 0.5em 1em;
    margin-top: 1em;
  }

  .usa-alert-text {
    margin-top: 0.25em;
  }

  .alert-row {
    margin-bottom: 1em;
  }

  .usa-alert-warning:before {
    font-size: 1em;
  }

  .usa-alert-heading {
    font-size: 1em;
  }

  .exclude-warnings-closings-checkbox {
    padding-left: 0.2em;
  }

  .result-card {
    border-radius: 5px;
    flex-basis: 50%;
    height: fit-content;

    &.active {
      border: $focus-outline;
    }

    .result-card-container {
      border-radius: 5px;
    }
    @include media-maxwidth($small-screen) {
      flex-basis: 100%;
    }
  }

  .accreditation-tag {
    border-radius: 15px;
    font-size: 14px;
    height: auto;
    padding-left: 10px;
    width: 157px;
  }

  .secondary-info-label {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .secondary-info-label-large {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }

  @include media-maxwidth($small-screen) {
    width: 75%;
  }

  #institution-search-label {
    display: inline-block;
  }
}

.accreditation-tag {
  border-radius: 15px;
  font-size: 14px;
  height: auto;
  padding-left: 10px;
  width: 157px;
}

.secondary-info-label {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.name-search-cards-padding {
  @media (min-width: $small-screen +1) {
    padding-right: 0%;
  }
}

.search-star-container {
  padding: 0% !important;
}

.star-icons {
  position: relative;
  margin-right: 8px;
}
.school-types-label {
  margin-top: -15px !important;
}
