@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/formation-overrides/variables" as *;

.compare-drawer {
  position: fixed;
  bottom: 0;
  display: block;
  z-index: 2000;
  width: 100% !important;

  @media (max-width: $small-screen) {
    padding-left: 8px;
    padding-right: 8px;
  }

  &.stuck {
    position: static;
  }

  &.scrollable {
    overflow-y: scroll;
    height: 100% !important;
  }

  .compare-drawer-expanded {
    height: 12.5em;
    &.floating {
      transition: height 0.3s ease-in-out;
    }

    @media (max-width: $small-screen) {
      &.floating {
        transition: height 0.3s ease-in-out;
      }
      height: 100%;
    }
  }

  .compare-drawer-collapsed {
    &.floating {
      transition: height 0.3s ease-in-out;
    }
    height: 2.5em;
  }
  @media (prefers-reduced-motion: reduce) {
    .compare-drawer-expanded {
      &.floating {
        transition: 0s;
      }
      height: 12.5em;

      @media (max-width: $small-screen) {
        &.floating {
          transition: 0s;
        }
        height: 100%;
      }
    }
    .compare-drawer-collapsed {
      &.floating {
        transition: 0s;
      }
      height: 2.5em;
    }
  }

  .compare-header {
    background-color: var(--vads-color-primary);
    color: var(--vads-color-white);
    text-align: center;
    height: 2.5em;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 0.5em;
    font-weight: bold;

    .header-label {
      display: inline-flex;
      width: max-content;
      text-align: center;
      vertical-align: middle;
      background-color: transparent;
      margin-top: -5px;
      margin-bottom: 0px;
      padding-bottom: 3px;
      background-color: var(--vads-color-primary) !important;

      &:focus:not(:focus-visible) {
        outline: none;
      }
    }
  }

  .compare-body {
    background-color: var(--vads-color-white);
    border: 1px solid var(--vads-color-base-light);
    height: 10em;
    padding-left: 0.75em;
    padding-right: 0.75em;

    .action-cell {
      padding-left: 1em;
    }

    .compare-name {
      height: 6em;
      width: 100%;
      padding-top: 0.5em;
      padding-right: 1.5em;
    }
    .compare-list {
      display: contents;
    }
    .compare-button {
      float: right;
      width: 100%;
    }
    #compare-list-item li {
      display: inline;
      list-style-type: none;
      float: left;
    }

    .small-function-label {
      padding: 1em 1em 0em 1em;
    }

    .large-function-label {
      height: 6em;
      padding-top: 0.5em;
      padding-right: 1.5em;
    }

    .blank {
      border: 2px dashed var(--vads-color-base-light);
      height: 6em;
      border-radius: 5px;
      margin-right: 1.5em;
    }

    @media (max-width: $small-screen) {
      height: auto;

      .compare-item {
        margin-bottom: 1em;
      }

      .institution {
        padding: 0em 1em 0em 1em;
      }

      .blank {
        height: 2.5em;
        margin-left: 1em;
        margin-right: 1em;
      }

      .large-function-label {
        display: none;
      }

      .compare-name {
        height: auto;
        padding-right: 0px;
      }

      .action-cell {
        padding-right: 1em;
      }
    }

    @media (min-width: $small-screen) {
      .small-function-label {
        display: none;
      }
    }
  }
}
.compare-btn::part(button){
  width: 100% !important;
}
