@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/formation-overrides/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins" as *;

.gi-app {
  .vettec-logo {
    height: 60px;
    width: 126px;
    @include media($medium-screen) {
      height: 85px;
      width: 179px;
    }
  }
  .vettec-logo-search {
    height: 60px;
    width: 126px;
    @include media($medium-screen) {
      height: 85px;
      width: 179px;
    }
  }
  .vettec-logo-landing {
    height: 60px;
    width: 126px;
    @include media($medium-screen) {
      height: 85px;
      width: 179px;
    }
  }
  .getting-started-with-benefits {
    margin-top: -0.1em;
    padding-top: 0.5em;
    margin-left: 0.5em;
  }
  .getting-started-with-benefits-li {
    list-style: disc;
    margin-left: 0.5em;
  }
  .getting-started-with-benefits-ol {
    margin-left: -0.5em;
  }

  .vettec-logo-container {
    padding-top: 1.333em;
    padding-bottom: 1em;
    padding-left: 0.5859rem;
    @include media($medium-screen) {
      text-align: right;
    }
  }

  $single-column-width: 641px;

  @media (min-width: $single-column-width) {
    .single-column-display-block {
      display: block !important;
    }
    .single-column-display-none {
      display: none !important;
    }
  }

  .calculator-form {
    p {
      margin-top: 0;
    }
  }

  .vet-tec-programs-table {
    @include media-maxwidth($small-screen - 1) {
      display: none;
    }

    .name-col {
      width: 70%;
    }
    .hours-col {
      width: 15%;
    }
    .tuition-col {
      width: 15%;
    }
    thead {
      tr {
        th {
          border-top: 0;
          border-right: 0;
          border-left: 0;
        }
      }
    }
    tr {
      th {
        border-right: 0;
        border-left: 0;
      }
      td {
        border-right: 0;
        border-left: 0;
      }
    }

    .program-description {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
      label {
        margin-left: 1.0625rem;
      }
    }
  }

  .vet-tec-programs-list {
    @media screen and (min-width: $small-screen) {
      display: none;
    }
  }
}
