.gi-bill-container{
    @include media-maxwidth($small-screen) {
       padding-inline: 24px;
    }

&__bread-crumbs{
    @include media-maxwidth($small-screen) {
       margin-left: -8px !important;
     }
}
}
.flex-container{
    @include media-maxwidth($small-screen) {
       flex-direction: column;
     }
}
.border-bottom{
    border-bottom: 1px solid var(--vads-color-base-light);
    border-top: 1px solid var(--vads-color-base-light);
    border-width: 100%;
}
.links{
   font-size: 0.85rem;
}