.gi-app .landing-page {
  p.subheading {
    color: $color-primary;
    letter-spacing: normal;
    font-size: 1.25em;
  }

  .eligibility-form h2 {
    display: none;
    visibility: hidden;
  }

  .video-sidebar h5 {
    margin-top: 0.5em;
    padding: 0;
  }

  .vettec-logo {
    height: 70px;	
    width: 146px;	
    @include media($medium-screen) {
      height: 85px;	
      width: 179px;	
    }
  }
}
