.filter-your-results {
  .expanding-header-checkbox {
    .gi-checkbox-label {
      margin-top: 0;
    }
  }

  .form-expanding-group {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .school-types {
    .gi-checkbox-label {
      margin-top: 24px;
    }

    .see-more-less {
      float: right;
    }
  }

  .vads-l-grid-container {
    padding-right: 0%;
    padding-left: 0%;
  }

  .expanding-group-children {
    padding-left: 28px;

    .gi-checkbox-label {
      margin-top: 24px;
    }
  }

  .apply-filter-button {
    margin-left: 0% !important;
  }

  .clear-filters-button {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin-top: 1em;
    margin-left: 1.5em;
    margin-bottom: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: $color-blue;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
      "Arial", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: underline;
  }

  .mobile-clear-filter-button {
    margin-left: 0% !important;
  }
  .my-filters-margin {
    margin-top: -3rem;
  }
}
.about-school-label {
  margin-top: 0px;
}
.about-school-checkbox {
  margin-top: -15px;
}
.other-checkbox {
  margin-top: -15px;
}
