@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/formation-overrides/variables" as *;

@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/formation-overrides/variables" as *;

.gi-bill-container {
  @include media-maxwidth($small-screen) {
    padding-inline: 24px;
  }

  &__bread-crumbs {
    @include media-maxwidth($small-screen) {
      margin-left: -8px !important;
    }
  }
}

.flex-container {
  @include media-maxwidth($small-screen) {
    flex-direction: column;
  }
}

.disclaimer-border {
  border-top: 1px solid var(--vads-color-base-light);
  border-width: 100%;
}

.compare-drawer--border {
  border-top: 1px solid var(--vads-color-base-light);
  padding-top: 24px;
}

.links {
  font-size: 0.85rem;
}
