@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/formation-overrides/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins" as *;

.gi-app {

  .suggestions-list {
    z-index: 9999;
    background: var(--vads-color-white);
    border: 1px solid var(--vads-color-base-dark);
    // Box shadow only sides and bottom of suggestion list.
    box-shadow: 0px 3px 3px -3px var(--vads-color-action-focus-on-light),
                3px 0 3px -3px var(--vads-color-action-focus-on-light),
                -3px 0 3px -3px var(--vads-color-action-focus-on-light),
                0 7px 7px -7px var(--vads-color-action-focus-on-light),
                7px 0 7px -7px var(--vads-color-action-focus-on-light),
                -7px 0 7px -7px var(--vads-color-action-focus-on-light);
    list-style: none;
    margin-top: -.0.3125rem;
    max-width: 28.75rem;
    padding: 0;
    position: relative;

    @include media-maxwidth($small-screen) {
        font-size: 0.8125rem;
    }
  }

  .suggestion {
    padding: 0.3125rem 0.625rem;

    &-highlighted {
      background-color: var(--vads-color-primary-alt-light);
      cursor: pointer;
    }
  }

}
