.gi-app {
  .vettec-logo {
    height: 7.083em;
    width: 14.917em;
  }
  .vettec-mobile-logo {
    height: 5.833em;
    width: 12.167em;
  }
  .vettec-logo-container {
    text-align: right;
  }
  .vettec-additional-resources-header {
    margin: 0;
  }
  .vettec-mobile-logo-container {
    padding-top: 1.333em;
    padding-bottom: 1em;
  }
}
