// Add custom grid settings here (i.e. gutters, columns, etc)

// Mobile First Breakpoints
$small-screen:  481px;
$medium-screen: 600px;
$large-screen:  1201px;

// These were originally $large, $medium, $small. Renamed with a -vp suffix
// because they collide with the $large, $medium, and $small variables of Foundation.
// TODO: Remove Foundation site-wide.
$large-vp: new-breakpoint(min-width $large-screen 12);
$medium-vp: new-breakpoint(min-width $medium-screen 6);
$small-vp: new-breakpoint(min-width $small-screen 1);
