@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.va-promo-banner {
  background-color: $color-gray-lightest;
  z-index: $base-layer + 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  &-body {
    display: table;
    width: 100%;
  }

  &-content {
    padding: units(1);
    display: table-cell;
    @include media($medium-screen) {
      padding: units(1) 0;
    }
  }

  &-icon {
    margin-right: units(1);
    color: $color-link-default;
    display: none;
    @include media($medium-screen) {
      display: inline-block;
    }
  }

  &-link {
    vertical-align: middle;
  }

  &-dismiss {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 units(2);
    border-left: 1px solid $color-gray-lighter;
    @include media($medium-screen) {
      text-align: right;
      border: none;
    }

    @include media($large-screen) {
      padding: 0;
    }
  }
}


#modal-announcement h3 {
  margin-top: 1.5em;
}

.announcement-heading {
  background-color: $color-primary-alt-lightest;
  text-align: center;
  padding: 42px 0;
  margin: -2rem -2rem 0;
  img {
    max-width: 86px;
  }
}

.announcement-heading-brand-consolidation {
  padding-top: 35px;
}

.announcement-brand-consolidation-logo {
  max-width: 225px;
}
