@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.va-promo-banner {
  z-index: $base-layer + 1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: $color-gray-lightest;
  color: $color-link-default;
  font-weight: 700;

  &-body {
    display: table;
    width: 100%;
  }

  &-content, &-close {
    display: table-cell;
  }

  &-content {
    padding: units(1);

    &-icon {
      margin-right: units(1);
      display: none;
      @include media($medium-screen) {
        display: inline-block;
      }
    }

    &-link {
      vertical-align: middle;
      display: inline-block;
      text-decoration: none;
      &:hover, &:visited {
        background-color: transparent;
        color: $color-link-default;
      }
    }
  }

  &-close {
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid $color-gray-lighter;
    padding: 0 units(2);
    @include media($medium-screen) {
      text-align: right;
      border: none;
      padding: none;
    }
  }
}


#modal-announcement h3 {
  margin-top: 1.5em;
}

.announcement-heading {
  background-color: $color-primary-alt-lightest;
  text-align: center;
  padding: 42px 0;
  margin: -2rem -2rem 0;
  img {
    max-width: 86px;
  }
}

.announcement-heading-brand-consolidation {
  padding-top: 35px;
}

.announcement-brand-consolidation-logo {
  max-width: 225px;
}
