@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../../platform/forms/sass/m-form-confirmation" as *;

.schemaform-intro .schemaform-title {
  margin-bottom: 1rem;
}

@media (max-width: $small-screen) {
  .form-22-10282-container {
    padding-inline: 0.5rem;
  }

  .form-22-10282-container .schemaform-buttons,
  .form-22-10282-container .form-progress-buttons {
    display: flex;
    flex-direction: column !important;

    div {
      width: 100%;
    }

    div:first-of-type {
      order: 2;
    }
  }
}

.form-22-10282-container-gender-ul-description {

    list-style-type: none;

}
