@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../../platform/forms/sass/m-form-confirmation" as *;

$font-family-serif: "Bitter", "Georgia", "Cambria", "Times New Roman", "Times",
  serif;
$font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", "Helvetica",
  "Roboto", Arial, sans-serif;

.schemaform-subtitle {
  margin-top: 0.9375rem;
}

[href="#start"].vads-c-action-link--green {
  margin-bottom: 1.25rem;
}

.custom-header {
  display: inline-block;

  .schemaform-required-span {
    display: none;
  }
}

.custom-required-span {
  color: var(--vads-color-secondary-dark);
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

.custom-description {
  margin-top: 0;
}

.authorizer-type .schemaform-required-span,
.veteran-personal-information .schemaform-required-span,
.disclosure-information-organization-representatives .schemaform-required-span,
.disclosure-information-limited-information .schemaform-required-span,
.disclosure-information-release-duration .schemaform-required-span,
.security-information-question .schemaform-required-span,
.disclosure-information-release-end-date .schemaform-required-span,
.security-information-answer .schemaform-required-span {
  display: none !important;
}

#root_authorizerAddress_street2,
#root_personAddress_street2,
#root_organizationAddress_street2 {
  max-width: 6.25rem;
}

#root_authorizerFullName_middle,
#root_personFullName_middle,
#root_veteranFullName_middle {
  max-width: 3.125rem;
}

#root_limitedInformationOther-label {
  margin-top: 1.25rem;
}

.row div[id^="root_organizationRepresentatives_"] > .row.small-collapse,
.row div[id^="organizationRepresentatives_"] > .row.small-collapse {
  margin: 0 0 !important;
}

.form-review-panel[data-chapter="authorizerTypeChapter"] .review-row dt > span,
.form-review-panel[data-chapter="disclosureInfoChapter"] .review-row dt > span,
.form-review-panel[data-chapter="authorizerTypeChapter"] .review-row dt > span,
.form-review-panel[data-chapter="infoReleaseChapter"] .review-row dt > span,
.form-review-panel[data-chapter="securityInfoChapter"]
  .form-review-panel-page:first-child
  .review-row
  dt
  > span {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", Arial,
    sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.form-review-panel[data-chapter="disclosureInfoChapter"]
  .review
  .va-growable
  button {
  display: none;
}
