@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";

.schemaform-subtitle {
  margin-top: 1.5rem;
}

div:has(.schemaform-sip-alert) {
  margin-top: 4rem;
}

.dob-description {
  color: $color-gray-medium;
  margin-top: 0;
}

.row div[id^="root_organizationRepresentatives_"] > .row.small-collapse,
.row div[id^="organizationRepresentatives_"] > .row.small-collapse {
  margin: 0 0 !important;
}

#root_personAddress_street2,
#root_organizationAddress_street2 {
  max-width: 10rem;
}

#root_releaseDuration-label > .schemaform-required-span {
  display: none !important;
}

.form-review-panel[data-chapter="authorizerTypeChapter"] .review-row dt > span,
.form-review-panel[data-chapter="disclosureInfoChapter"] .review-row dt > span,
.form-review-panel[data-chapter="authorizerTypeChapter"] .review-row dt > span,
.form-review-panel[data-chapter="infoReleaseChapter"] .review-row dt > span,
.form-review-panel[data-chapter="securityInfoChapter"]
  .form-review-panel-page:first-child
  .review-row
  dt
  > span {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", Arial,
    sans-serif !important;
  font-size: 1.6rem !important;
  font-weight: 400 !important;
}

.form-review-panel[data-chapter="disclosureInfoChapter"]
  .review
  .va-growable
  button {
  display: none;
}
