$formation-image-path: '~@department-of-veterans-affairs/formation/assets/img';
@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";

// ----- VA LAYOUTS (GRIDS/HEADER/FOOTER) ---- //
@import "layouts/l-playbook";

// ----- Modules that only affect non-React pages. ---- //
@import "modules/m-card";
@import "modules/m-piano-key";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-nav-sidebar";
@import "modules/_m-drupal-sidebarnav.scss";
@import "modules/m-education-wizard";
@import "../../../platform/forms/sass/m-applications";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-homepage-hero";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-nav-linkslist";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-nav-next-previous";

// ---- Modules for Healthcare facility pages ---- //
@import "modules/m-facility-detail";
@import "modules/_m-facilities";
@import "modules/m-facility-events";

//=============================
// Home page only styles.
//=============================

.popular-container {
  background: $color-white;
  padding: 0 1rem;

  > h3 {
    padding: 2.4rem 0;
    text-align: center;
  }

  .popular-container-links {
    @include media($medium-large-screen) {
      display: flex;
      justify-content: space-between;
    }
  }

  .usa-button.usa-button-secondary {
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    @include media($medium-large-screen) {
      flex: 0 1 32%;
    }
  }
}

#nav-wrap {
  z-index: $top-layer + 1;
}
.static-page-widget {
  display: none;
}

//=============================
// Additional information styles
//=============================

.additional-info-title {
  border-bottom-right-radius: 0px;
}

.form-expanding-group {
  &.form-expanding-group-open {
    > span {
      display: inline;
    }
  }
  > span {
    display: none;
  }

  &.form-expanding-group-open.borderless-alert {
    border: none;
    padding-left: 2rem;

    ul {
      padding-left: 1.5em;
    }
  }
}
