@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-action-link";
@import "../../../platform/forms/sass/m-schemaform";

@import "../new-appointment/sass/styles";
@import "../express-care/sass/styles";
@import "../appointment-list/sass/styles";
@import "../project-cheetah/sass/styles";

$vaos-loading-overlay: rgba($color-white, .9);

.vaos-form__title, .vaos-u-text-transform--uppercase {
  text-transform: uppercase;
}

h1:focus {
  outline: none !important;
}

.vaos-u-word-break--break-word {
  word-break: break-word;
}

.vaos__loading-overlay {
  background: $vaos-loading-overlay;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.vaos__loading-overlay-inner {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  max-width: 500px;
  cursor: auto;

  @include media($medium-screen) {
    top: 40%;
  }
}