@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "../../../platform/forms/sass/m-schemaform";

.vaos-appts__tabs ul.react-tabs__tab-list {
  padding: 0;
  border-bottom: 1px solid $color-gray-light;
}

.vaos-appts__tab {
  width: 50%;
  font-size: 14px;
  border-color: $color-gray-light;
  border: solid 1px $color-gray-light;
  border-radius: 0 !important;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 9px;
  cursor: pointer;

  &.react-tabs__tab--selected {
    border-top: solid 3px $color-primary;
    background: $color-white !important;
    border-bottom: solid 1px $color-white;
  }

  @include media($medium-screen) {
    padding: 6px 12px;
    width: 200px;
    font-size: 16px;
  }
}

.vaos-option-list__icon {
  display: inline-block;
  font-size: 19px;
  color: $color-white;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: $color-primary;
  padding: 14px 0 0 17px;
}

.vaos-appts__date-time {
  margin: 0 0 16px;
}

.vaos-appts__block-label {
  margin: 0;
  margin-bottom: map-get($spacers, 0p5);
  font-size: $base-font-size;
  font-family: $font-sans;
}

.vaos-appts__expand-link {
  padding: 0;
  background: none;
  color: $color-base;
  font-weight: normal;
  font-size: $base-font-size;
}

.vaos-appts__expand-link .fas {
  font-size: 12px;
  display: inline-block;
  margin-left: 7px;
}

.vaos-form__title {
  text-transform: uppercase;
}

.vaos-form__checkbox > .schemaform-label {
  margin-top: 0;
}

.vaos-form__detailed-radio {
  input[type="radio"] + label::before {
    margin-top: 0.6em;
  }

  .form-radio-buttons label {
    max-width: none;
  }
}

.vaos-form__facility-type {
  legend {
    margin-bottom: 30px;
    max-width: none;
  }
}

.vaos-calendar__loading {
  opacity: 0.3;
}

.vaos-calendar__loading-overlay {
  position: absolute;
  width: 100%;
  top: 25%;
  z-index: 10000;
}

.vaos-calendar__validation-msg:focus {
  outline: 0;
}

.vaos-calendar__weekday {
  width: 20%;
}

.vaos-calendar__calendar-day {
  flex-grow: 1;
  flex-basis: 0;
  margin: 4px;

  @include media($small-screen) {
    margin: 8px;
  }
}

.vaos-calendar__day--current {
  margin-bottom: 12px;
  @include media($small-screen) {
    margin-bottom: 8px;
  }
}

.vaos-calendar__day--current > button,
.vaos-calendar__day--selected > button {
  position: relative;
  background-color: $color-primary;
  border-color: $color-primary;
  color: $color-white;

  &:hover {
    border: 1px solid $color-primary-darker;
  }
}

.vaos-calendar__fa-check-position {
  position: absolute;
  left: 4px;
  top: 4px;
  font-size: 10px;
}
.vaos-calendar__day--selected-triangle {
  display: block;
  height: 20px;
  width: 20px;
  background-color: inherit;
  border: inherit;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 10px);
  clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
  transform: rotate(-45deg);
  border-radius: 0 0 0 0.25em;
  z-index: -1;
}

.vaos-calendar__calendar-day-button {
  width: 100%;
  color: $color-base;
  background-color: $color-gray-lightest;
  border: 1px solid $color-gray-medium;
  border-radius: 5px;
  padding: 12px;
  margin: 0;

  &:hover {
    border-color: $color-primary-darker;
  }

  &:disabled {
    background-color: $color-gray-lightest;
    border-color: $color-gray-lightest;
    color: $color-gray-light;
  }
}

.vaos-calendar__indicator-bubbles-container {
  position: absolute;
  top: -7px;
  left: -7px;
}

.vaos-calendar__indicator-bubble {
  padding: 3px 6px;
  border-radius: 25px;
  font-size: 12px;
  margin-bottom: 11px;
}

.vaos-calendar__nav-links-button {
  margin-top: -30px;
  background: none;

  &:disabled {
    color: $color-gray-light !important;
    background: none;
  }

  &:hover {
    background: none;
  }
}

.vaos-calendar__options-container {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 8px;
}

.vaos-calendar__options {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.vaos-calendar__option-cell {
  padding: 8px;
  width: 50%;

  @include media($small-screen) {
    width: 33%;
  }

  @include media($small-desktop-screen) {
    width: 25%;
  }

  @include media($large-screen) {
    width: 20%;
  }
}

.vaos-calendar__option {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $color-primary;
  border-radius: 5px;
  padding: 8px 4px;

  input[type="radio"],
  input[type="checkbox"] {
    width: auto;
  }

  input[type="radio"] + label::before {
    margin-top: 0;
    box-shadow: 0 0 0 2px $color-white, 0 0 0 3px $color-primary;
  }

  input[type="checkbox"] + label::before {
    margin-top: 0;
    box-shadow: 0 0 0 1px $color-primary;
  }

  &.disabled {
    cursor: not-allowed;

    label {
      cursor: not-allowed;
    }

    input[type="checkbox"], input[type="checkbox"] + label::before {
      box-shadow: 0 0 0 1px $color-gray-light;
      background: $color-gray-lightest;
      cursor: not-allowed;
    }
  }
}

h1:focus {
  outline: none !important;
}

.vaos-form__checkboxgroup {
  .schemaform-block {
    margin-top: 0;
  }

  > .usa-input-error {
    margin-top: 0;
  }
}

.vaos-u-word-break--break-word {
  word-break: break-word;
}
