@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.mhv-update-cancel-buttons {
    width: 100%;
    margin-bottom: 1rem;
}

// override button.usa-button media query
@media (min-width: 30em) {
    va-button.mhv-update-cancel-buttons::part(button) {
        max-width: 20rem;
        width: 100%;
    }
}
