# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
#  @department-of-veterans-affairs/frontend-review-group will be requested for
# review when someone opens a pull request.
#
# Review the CODEOWNERS guide before editing:
# https://github.com/department-of-veterans-affairs/va.gov-team/blob/master/platform/engineering/codeowners.md

# VSP
*       @department-of-veterans-affairs/frontend-review-group
src/platform/forms        @department-of-veterans-affairs/vsp-design-system-fe
src/platform/forms-system @department-of-veterans-affairs/vsp-design-system-fe

# VSP-Identity authentication
src/applications/auth @department-of-veterans-affairs/vsp-identity
src/applications/login @department-of-veterans-affairs/vsp-identity
src/platform/site-wide/ebenefits/ @department-of-veterans-affairs/vsp-identity
src/platform/site-wide/user-nav/containers/AutoSSO.jsx @department-of-veterans-affairs/vsp-identity
src/platform/user/authentication @department-of-veterans-affairs/vsp-identity
src/platform/utilities/sso @department-of-veterans-affairs/vsp-identity

# VSA ----

# Authenticated Experience
src/applications/personalization @department-of-veterans-affairs/vsa-authd-exp-frontend @department-of-veterans-affairs/vsa-ebenefits-frontend
src/platform/user/profile/vap-svc @department-of-veterans-affairs/vsa-authd-exp-frontend @department-of-veterans-affairs/frontend-review-group
src/platform/utilities/medical-centers @department-of-veterans-affairs/vsa-authd-exp-frontend @department-of-veterans-affairs/frontend-review-group

# Benefits and Memorials
src/applications/letters @department-of-veterans-affairs/vsa-bam-1-frontend @department-of-veterans-affairs/vsa-authd-exp-frontend
src/applications/disability-benefits @department-of-veterans-affairs/vsa-bam-1-frontend @department-of-veterans-affairs/vsa-ebenefits-frontend
src/applications/claims-status @department-of-veterans-affairs/vsa-bam-1-frontend @department-of-veterans-affairs/vsa-bam-2-frontend
src/applications/appeals @department-of-veterans-affairs/vsa-bam-1-frontend @department-of-veterans-affairs/vsa-bam-2-frontend @department-of-veterans-affairs/vsa-ebenefits-frontend

# Benefits and Memorials 2
src/applications/disability-benefits/2346 @department-of-veterans-affairs/vsa-bam-2-frontend @department-of-veterans-affairs/vsa-bam-1-frontend @department-of-veterans-affairs/vsa-caregiver-frontend @department-of-veterans-affairs/vsa-ebenefits-frontend
src/applications/debt-letters @department-of-veterans-affairs/vsa-bam-2-frontend @department-of-veterans-affairs/vsa-bam-1-frontend @department-of-veterans-affairs/vsa-caregiver-frontend @department-of-veterans-affairs/vsa-ebenefits-frontend
src/applications/financial-status-report @department-of-veterans-affairs/vsa-bam-2-frontend
src/applications/burials @department-of-veterans-affairs/vsa-bam-2-frontend @department-of-veterans-affairs/vsa-bam-1-frontend

# eBenefits
src/applications/disability-benefits/686 @department-of-veterans-affairs/vsa-ebenefits-frontend @department-of-veterans-affairs/vsa-bam-1-frontend
src/applications/disability-benefits/686c-674 @department-of-veterans-affairs/vsa-ebenefits-frontend @department-of-veterans-affairs/vsa-bam-1-frontend
src/applications/personalization/rated-disabilities @department-of-veterans-affairs/vsa-ebenefits-frontend @department-of-veterans-affairs/vsa-authd-exp-frontend
src/applications/personalization/view-dependents @department-of-veterans-affairs/vsa-ebenefits-frontend @department-of-veterans-affairs/vsa-authd-exp-frontend
src/applications/vre @department-of-veterans-affairs/vsa-ebenefits-frontend @department-of-veterans-affairs/vsa-bam-1-frontend

# Shared templates
src/site/includes @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend

# Public Websites
src/applications/proxy-rewrite/redirects/crossDomainRedirects.json @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/frontend-review-group
src/platform/site-wide @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/frontend-review-group
src/applications/static-pages @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/frontend-review-group
src/applications/find-forms @department-of-veterans-affairs/vsa-public-websites-frontend
src/applications/yellow-ribbon @department-of-veterans-affairs/vsa-public-websites-frontend
src/applications/search @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/applications/resources-and-support @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-caregiver-frontend
src/site/includes/debug.drupal.liquid @department-of-veterans-affairs/vsa-public-websites-frontend @department-of-veterans-affairs/vsa-facilities-frontend
src/site/layouts/campaign_landing_page.drupal.liquid @department-of-veterans-affairs/vsa-public-websites-frontend

# Facility Locator and VAMC pages
src/applications/facility-locator @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-public-websites-frontend
src/applications/static-pages/facilities @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-public-websites-frontend
src/applications/static-pages/tests/facilities @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-public-websites-frontend
src/site/layouts @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-public-websites-frontend
src/platform/site-wide/sass/modules/_m-side-nav.scss @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-public-websites-frontend
src/platform/site-wide/side-nav @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-public-websites-frontend
src/site/facilities @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/navigation/facility_sidebar_nav.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/includes/facilityListing.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/components/phone.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend
src/site/components/phone-number.drupal.liquid @department-of-veterans-affairs/vsa-facilities-frontend

# Liquid template filters
src/site/filters @department-of-veterans-affairs/vsa-facilities-frontend @department-of-veterans-affairs/vsa-public-websites-frontend

# Caregiver
src/applications/caregivers @department-of-veterans-affairs/vsa-caregiver-frontend @department-of-veterans-affairs/vsa-bam-1-frontend

# Health Care Application
src/applications/hca @department-of-veterans-affairs/vsa-caregiver-frontend @department-of-veterans-affairs/vsa-bam-1-frontend

# Healthcare Experience
src/applications/health-care-questionnaire @department-of-veterans-affairs/vsa-healthcare-experience

# /--- VSA

# Booz Allen Team
src/applications/static-pages/school-resources @department-of-veterans-affairs/bah-code-reviewers
src/applications/gi @department-of-veterans-affairs/bah-code-reviewers
src/applications/gi-sandbox @department-of-veterans-affairs/bah-code-reviewers
src/applications/edu-benefits @department-of-veterans-affairs/bah-code-reviewers

# CTO Health Products
src/applications/coronavirus-research @department-of-veterans-affairs/va-cto-health-products
src/applications/coronavirus-screener @department-of-veterans-affairs/va-cto-health-products
src/applications/coronavirus-vaccination @department-of-veterans-affairs/va-cto-health-products
src/applications/coronavirus-vaccination-expansion @department-of-veterans-affairs/va-cto-health-products

# Other
src/applications/ask-a-question @department-of-veterans-affairs/orchid
src/applications/messages @department-of-veterans-affairs/orchid
src/applications/virtual-agent @department-of-veterans-affairs/orchid
src/applications/coronavirus-chatbot @department-of-veterans-affairs/chatbot-admin
src/applications/vaos @department-of-veterans-affairs/vfs-vaos-fe
src/applications/third-party-app-directory @department-of-veterans-affairs/lighthouse-bilby
