@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";


.healthcare-experience {

  @mixin header{
    font-family: Bitter;
    color: $color-gray-dark;
  }
  .top-login-button{
    margin-top: 2rem;
  }
  .better-prepare-yours {
    @include header;
    font-size: 20px;
    line-height: 1.7;
    font-weight: normal;
    margin-bottom: 4rem;
  }
  .after-details, .personal-information{
    h3{
      @include header;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.3;
      margin-top: 0;
    }
  }
  .omb-info--container{
    padding-left: 0;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .emergency-call-out{
    padding: 1.75rem 1rem 1.75rem 1.75rem;
    background-color: $color-aqua-lightest;
    margin-bottom: 2rem;
    line-height: 24px;
    header{
     margin-bottom: 0.25rem;
    }
    ul{
      margin: 0;
    }
    li{
      margin-left: 2rem;
    }
  }

  .personal-information{
    li{
      margin-left: 2rem;
      margin-bottom: 0;
    }
  }
}

.emergency-call-out{
  padding: 1.75rem 1rem 1.75rem 1.75rem;
  background-color: $color-aqua-lightest;
  margin-bottom: 2rem;
  line-height: 24px;
  header{
   margin-bottom: 0.25rem;
  }
  ul{
    margin: 0;
  }
  li{
    margin-left: 2rem;
  }
}

.appointment-details>div{
 display: flex;
 dt{
   margin-right: 0.5rem;
 }
}

#root_questions__title{
  color: $color-gray-dark;
}


.upcoming-header{
  margin-top: 0;
  font-size: 2.5rem;
}

.questionnaire-api-unavailable{
  margin-bottom: 2rem;
}