@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

[tabindex="-1"]:focus {
  outline: 0;
}

.dashboard {
  .health-care {
    hr {
      background: $color-primary;
      height: 3px;
      width: 75%;
      border: none;

      @media (max-width: $small-screen) {
        width: 100%;
      }
    }
  }
}
