@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

[tabindex="-1"]:focus {
  outline: 0;
}

.dashboard {
  .health-care-wrapper {
    .health-care {
      // This set width applies to medium and small-desktop screens
      width: 520px;

      @media (min-width: $xsmall-screen) and (max-width: $medium-screen - 1) {
        width: 100%;
      }

      @media (min-width: $large-screen) {
        width: 100%;
      }
    }

    .cta-link:nth-of-type(1) {
      border-top: 1px solid $color-primary-alt-light;

      @media (max-width: $small-screen) {
        margin-top: units(2.5);
      }
    }

    .cta-link {
      border-bottom: 1px solid $color-primary-alt-light;

      &:hover {
        background-color: $color-gray-lightest;
        cursor: pointer;
      }
    }
  }
}
