// Variables

@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;

.vet-id-card {
  padding: 0 0 1.25rem 1.5rem;
}

.vet-id-email-capture {
  padding-bottom: 4em;

  button[type=submit] {
    width: auto;
  }
}
