// Typography

// These variables override values set in either
// ~uswds/src/stylesheets/core/defaults" or 
// ~uswds/src/stylesheets/core/variables"

$base-font-size:      rem(16px);
$font-serif:          'Roboto Slab', serif;

// Magic Numbers
// Note: USWDS value is 53rem;
$text-max-width:      70rem;
$usa-form-width:      32em;

// Additional breakpoints 
$xsmall-screen:       320px; // QVGA display
$medium-large-screen: 768px; 

//===================================
// USWDS variables
// Colors that override (or restate) USWDS values
// Also see: https://standards.usa.gov/components/colors/
//===================================

$color-primary-darker:       #003E73;
$color-primary-darkest:      #112e51;
$color-secondary-darkest:    #981b1e;
$color-focus:                #3e94cf;
$color-gray-light:           #aeb0b5;
$color-primary-alt-light:    #9bdaf1;
$color-white:                #fff;

//===================================
// DSVA colors
// Places where DSVA is going rogue!
//===================================

$color-black:                #000;
$color-link-default:         #004795;
$color-primary-alt-darkest:  #046b99;
$color-green-darker:         #195c27;
$color-va-accent:            #988530; // New gold "metal" acccent
$color-gold:                 #fdb81e;
$color-warning-message:      #FAC922; // Used for Disability benefits

//===================================
// Deprecated Colors; 
// Please avoid using.
//===================================

$polar: #E8F5FA;
$wild-sand: #f6f6f6;
$green-white: #eff0e6;
$olso-gray: #849097;


