// Typography

// These variables override values set in either
// ~uswds/src/stylesheets/core/defaults" or 
// ~uswds/src/stylesheets/core/variables"

$base-font-size:      rem(16px);
$font-serif:          'Roboto Slab', serif;

// Colors

$color-primary-darker:       #003E73;
$color-link-default:         #004795;

$color-primary-alt-darkest:  #046b99;
$color-secondary-darkest:    #981b1e;
$color-black:                #000;
$color-green-darker:         #195c27; // New DSVA variable name
$color-focus:                #3e94cf;

// Magic Numbers
// Note: USWDS value is 53rem;
$text-max-width:      70rem;

// Additional breakpoints 
$xsmall-screen: 320px; // QVGA display

// Other USWDS overrides
$usa-form-width: 32em;

// Other Colors; Deprecated. Please avoid using.
$polar: #E8F5FA;
$wild-sand: #f6f6f6;
$green-white: #eff0e6;
$olso-gray: #849097;

// Used for Disability benefits
$color-warning-message: #FAC922;

// TODO: These colors is close enough to $color-gray-warm-dark and
// to each other that we should replace / consolidate them.
$color-va-gray-cool-dark: #444;
$color-va-gray-cool-medium: #555;
$color-va-gray-medium: #ccc;
