html, body {
  font-size: $em-base;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

body {
  color: $color-gray-dark;
  font-family: $font-sans;
  font-size: $base-font-size;
}

// General
body, .home {
  background: $color-primary-darkest url(/img/design/background/thread.png) top left no-repeat;
  background-size: contain;
  color: $color-white;
}

// Skip link
.show-on-focus {
  position: absolute;
  top: -10em;
  background: $color-white;
  padding: 1em;
  color: $color-primary-darkest;
  display: block;
  font-weight: 600;

  &:focus {
    position: inherit;
    top: auto;
    outline: 2px solid $color-gold;
  }
}

// row
body .row.full {
  width: 100%;
  max-width: 100%;
}

// Screen Readers

.sr-only {
  position: absolute;
  left: -9999em;
  float: left;
}

// Abbr

abbr {
  border-bottom: 0px !important;
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  cursor: pointer;
}

a {
  color: $color-link-default;
  text-decoration: underline;

  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;

  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;

  // Transition only these properties.
  -webkit-transition-property: color, background-color, border-color;
          transition-property: color, background-color, border-color;

  &:hover {
    background-color: rgba(0,0,0,0.05);
    color: inherit;
    text-decoration: underline;
  }
  &:active {
    background: rgba(0,0,0,.1);
  }
  &:visited {
    color: $color-visited;
  }
}

//======= Lists
ul {
  padding: 0 0 0 1.5em;
  list-style: square;
}

ol {
  margin: 0 0 0 1.25em;
  list-style-position: outside;
}

ul, ol {
  > ul, ol {
    margin: .5em 0 .5em 1.2em;
  }
}

// Definition lists
dd {
  margin-left: 0;
}

dd + dt {
  margin-top: 1.5em;
}


// Figure / Caption
figure {
  font-size: .85em;
  margin-left: -$column-gutter/2;
  margin-right: -$column-gutter/2;

  @media #{$small} {
    margin-left: inherit;
    margin-right: inherit;
  }

  @media #{$large} {
    margin-left: -16.66667%;
    margin-right: -16.66667%;
  }
}

figcaption {
  color: $color-primary-darker;
}

// Change the placeholder color
input::-webkit-input-placeholder{
  color: $color-gray;
}
input::-moz-placeholder {
  color: $color-gray;
}

input:-ms-input-placeholder {
  color: $color-gray;
}

// Visually clear placeholder text on focus
input:focus::-webkit-input-placeholder{
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited,
button,
[type='button'],
[type='submit'],
[type='reset'],
[type='image'] {
  // TODO(crew): Remove this at some point. Fix this by using JS for title casing or passing nav labels as an object.
  &.text-capitalize {
    text-transform: capitalize;
  }
}

hr {
  margin: 2.5em 0;
  margin: 3rem 0 2.5rem;
  border: 1px solid $color-gray-light;
}

// Utility classes
// TODO: Move these into a partial once there are enough
.va-util-rel {
  position: relative
}


// Interior rows
#content.interior a[href^='http://'],
#content.interior a[href^='https://'] {
  position: relative;
}

// Adds external icon to all links that begin
// with http (including https)
[href^=http] {
  // Using longhand properties instead of the shorthand to limit
  // risk and impact of side effects
  background-image: url(/img/icons/exit-icon.png);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 1em auto;
  padding-right: 1.2em;
}

.usa-button-primary[href^=http] {
  background-image: none;
  // TODO: clean up #content .main.interior a then remove !important
  text-decoration: none !important;
}

// Logo and Header
.header {
  clear: both;
  padding: 0 0 .5em 0;
  margin: 0;
}

.va-header-logo {
  line-height: 1em;
  margin: 0;

  @media #{$small} {
    margin: .25em 0 0 0;
  }

  a {
    color: white;
    text-indent: 180%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background: url(/img/design/logo/logo.png) top left no-repeat;
    width: 180px;
    height: 30px;
    background-size: contain;
    border-bottom: none;
    text-decoration: none;

    &:hover, &:active, &:focus {
      background-image: url(/img/design/logo/logo-hover.png);
    }

    @media #{$small} {
      width: 263px;
      height: 50px;
    }
  }
  // See va-playbook for styles
}

// Headings
h1, h2 {
  font-family: $font-sans;
}

h1:first-child {
  margin-top: 0;
}

h3, h4, h5, h6 {
  color: $color-primary-darkest;
}

h3 {
  font-size: 1.8em;
  line-height: 1.5;
  font-weight: bold;
}

h4 {
  font-size: 1.35em;
  line-height: 1.5;
  font-weight: bold;
}

h5 {
  font-size: 1.15em;
  line-height: 1.5;
  font-weight: bold;
}

h6 {
  font-size: 0.9em;
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
}

// Banner

#content {
  margin: 0;
  padding: 0;
  color: $color-gray-dark;
}

#content .splash {
  padding: 0 0 .5em 0;
  margin: 0;

  p {
    color: $color-white;
    font-family: $font-sans;
  }

  @media #{$small} {padding: 1em 0;}
  @media #{$medium} {padding: 2em 0;}
  @media #{$large} {padding: 2.5em 0;}

  span, h2 {
    padding: 0;
    display: inline;
    line-height: 1.3em;
    margin: .5em 0 0 0;
    white-space: pre-wrap;
    color: $color-gray-dark;
    a {background: $color-gold; color: $color-va-gray-cool-dark;}
  }

  h2 span {clear: both; padding: .04em; display: inline-block; background: $color-gold; font-weight: normal;}
  h2, h3, p {margin: 0; display: inline-block; font-family: $font-serif;}
  h2 {
    font-size: 1em;
    display: inline-block;
    @media #{$small} {font-size: 2em;}
  }

  h3 {font-weight: 500; font-size: 1.4em; color: $color-va-gray-cool-medium;}
}

.splash--app {
  padding: 0 !important;

  h2 {
    margin: 0;
    padding: .2em;
    line-height: 1em;
    display: inline-block !important;
  }
}

// TODO: Remove !important once #content ul.breadcrumbs li.active
// is refactored.
.splash--alternate {
  li a {
    color: $color-primary-darkest !important;
    border-bottom: 2px solid $secondary-color !important;

    &:hover {
      border-bottom: 3px solid $color-gold !important;
    }
  }

  li.parent:after {color: #ccc !important;}
}

.va-facloc-tagline {
  color: $color-white;
  font-family: $font-sans;
  margin: .5em 0 1em 0 !important;
}


.pitch {
  @media #{$small} {
    padding: .5em 0;
  }

  h2, h3 {
    color: $color-primary-darkest;
    font-weight: 400;
    padding: .75em;
    line-height: 1.3em;
    display: inline-block;
    margin: 0;
  }
}

// TODO: Remove .feature-list ul once it's
// refactored from the Markdown
.feature-list ul,
.va-list--feature {
  margin: 0;
  padding: 0;
  list-style: none outside;

  li {
    border-bottom: 1px solid #ccc;
    padding: 1em 0;

    &:last-of-type {
      border-bottom: none;
    }
  }

  a {
    font-weight: bold;
  }
}

.primary {

  p {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 1em; // TODO: Consider deleting.

    &:nth-child(1),
    &:first-of-type {
      color: $color-primary-darker;
      letter-spacing: normal;
      font-size: 1.25em;
    }
  }

  h3 {
    padding: 0 0 .5em 0;
  }
}

// TODO: Integrate USWDS and elements/_typography.scss
// and eliminate this declaration
.usa-content {
  max-width: $text-max-width;
}

// Use to add a horizontal rule under the heading
.va-h-ruled {
  border-bottom: 6px solid $color-primary-darkest;
}

// tagline
#content .tagline-content {
  p {
    font-size: 2.15em;
    border-bottom: 2px solid white;
    padding: 0 0 1em 0;
    margin: 0 0 2em 0;
    color: rgba(255,255,255,.7);
    line-height: 1.2em;
  }
}

// Content Callouts

#content .main .section.one {

  ul.plain {
    margin: .5em 0 1em 0;

    li {
      list-style: none;
      padding: .35em 0;
      display: block;
    }
  }

  ul[class*='block-grid-'] {
    display: block;
    padding: 0;
    margin: 0;
    @media #{$small} {margin: 0 -0.625rem;}
  }
}

.call-out {
  background: $color-primary-alt-lightest;
  padding: 1em;
  clear: both;
  margin: 0 0 1.5em 0;
  p {
    margin-bottom: 0;
    padding-bottom: .5em
  }
  p:nth-child(1) {
    // TODO: refactor #content.interior .primary li p:first-of-type and remove !important
    font-size: 1.25em !important;
    color: $color-gray-dark;
    padding-bottom: inherit;
  }
  h3 {
    @media #{$small} {
      font-size: 1.65em;
    }
  }
  ul {
    margin: 0 0 .5em 1.5em;
    padding: 0;
    li {
      list-style: square;
      margin: 0;
    }
  }
}

.va-callout {
  background: $color-primary-alt-lightest;
  padding: 1em;
  clear: both;
  margin: 0 0 1.5em 0;

  dt {
    color: $color-primary-darkest;
    font-size: 1.65em;
    font-weight: bold;
    margin: 0 0 .5rem 0;
  }

  dd {
    margin-left: 0;
    padding-left: 0;
  }
  ul {
    margin: 0 0 .5rem 1.5rem;
    padding: 0;
  }
}

// Usually call out boxes will be definition lists, but
// sometimes they're unordered lists.
ul, ol {
  &.va-callout {
    li {
      margin-left: 3rem !important;
    }
  }
}

// Home page, 404 page
.navigation--major {
  .fourohfour &,
  .home & {
    padding-top: 1.5em;
  }
}

// Quick Links
.va-quicklinks {
  ul {
    padding-left: 0;
  }
  h3 {
    line-height: 1.2em;
    // TODO: Drop the !important when .home #content h3 and
    // body.fourohfour #content h3 are straightened out.
    font-size: 1.65em !important;
    color: $color-primary-darkest !important;
    margin: 0 0 2.5em 0;
    padding: 0 0 .2em 0;
  }
}


// Content lead paragraphs

#content.interior .primary {
  li p:first-of-type,
  ul+p
   {
    font-weight: normal !important;
    color: $color-gray-dark;
    font-size: 1em;
    padding-bottom: 0;
  }
}

#content .main.interior {
  background: $color-white;
  a {text-decoration: underline;}
}

// Home page specific

.home #content {
  h2, h3, h4, h5, h6, p, ul, li, ol {color: $color-gray-dark;}

  .post-date {
    font-size: .5em; color: $color-gold;
  }

  h3 {
    line-height: 1.2em;
    font-size: 1.65em;
    color: $color-primary;
    margin: 0 0 2.5em 0;
    padding: 0 0 .2em 0;
  }

  h4 a {
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid $color-white;
      color: $color-gold;
    }
  }

  .read-more {
    font-size: .5em;
    display: inline-block;
    border-bottom: 1px solid $secondary-color;
    color: $secondary-color;
    &:hover {
      background: none;
      color: $color-primary-darkest;
      background: rgba(1,1,1,.1);
      border-bottom: 1px solid $secondary-color;
    }
  }

  ul.plain {
    margin: 0;
    padding: 0;
    li {list-style: none; border-bottom: none;}
  }

  .section {
    padding: 4em 0 2em 0;
    text-align: left;
  }

  .section.main-menu {
    padding: .5em .5em 2.35em .5em;
    overflow: hidden;

    @media #{$small} {
      padding: 1em 0 1.5em 0;
    }
  }


  .home #content .section h3.alternate {
    margin: 0 0 2em 0 !important; padding: 0;
  }

  .section.one {
    padding: 0 0 1.5em 0;
      @media #{$small} {padding: 2em 0 4em 0;}
  }

  .section.two {
    padding: 2em 0;
    a, h3 {color: $color-white;}
    h3 {border-bottom: none;}
    background: rgba(0,0,0,.1);
  }

  .section.three {
    background: $color-white;
    padding: 5em 0;
    h2, h3, h4, h5, h6, p, li {color: $color-va-gray-cool-dark;}
    h4 {margin: 0; padding: 0;}
    a {color: $color-primary-darkest;}
  }
}

#content .section.primary {
  background: none;
  padding: 2em 0;
  background: $color-primary;
  h1, h2, h3, h4, h5, h6, p, li {color: $color-white;}
  p {color: rgba(255,255,255,1);}
  a {color: $color-white;}
  ul li {list-style: square;}
}

#content .section.secondary {
  background: rgba(255,255,255,.85);
}

#content .section.tertiary {
  background: $polar;
}

#content .section.quaternary {
  background: $color-gray-lighter;
  h1, h2, h3, h4, h5, h6, p, li {color: $color-white;}
  h4 {font-weight: 700;}
  .cards {
    a {
      height:12em;
    }
  }
  .feature {background: none;}
}

#content .section.coda {
  background: $color-primary-darker;
  color: $color-white;
  h2, h3, h4, h5, h6, a {color: $color-white;}
  h4 {font-size: 1.5em;}
}

#content .section {
  h2, h3, h4, h5, h6 {margin: 0; padding: 0 0 .5em 0;}
  h2 {line-height: 1.2em;}
}

#content .section .feature {min-height: 11em;}

#content .panel {
  background: $color-gray-lightest;
  padding: 1em;
  margin-bottom: 1.5em;
  clear: both;
}

#content .section.secondary,
#content .section.tertiary,
#content .section.quaternary,
#content .section.coda {
  padding: 3em 0;
  h3 {
    font-size: 2.2em;
  }
}

// Sections

.section {
  background: $color-white;

  &.one {
    padding: 0;
  }

  &.two {
    padding: 0 0 4em 0;
    h3 {color: darken($color-green, 10);}
    clear: both;
  }
  &.three {clear: both; padding: 2em 0;}
}


// Action
.action {
  margin: 0 auto;
  text-align: left;

  .button {
    font-size: 1.25em;
    padding: 1em 3.5em;
  }
}

// Breadcrumbs
.va-nav-breadcrumbs {
  background: $color-white;
  color: $color-primary;
  font-size: inherit;
  padding: 1em 0;


  li {
    display: inline-block;
    margin: .25em 0;
    //outline: 1px dashed #6c6;
    padding: .25em 0 .25em 0;
    vertical-align: middle;

    &:after {
      content: ' › ';
      display: inline-block;
      padding: 0 .35em;
    }

    &.active {
      font-weight: bold;
      padding: .3em 0;

      &:after {
        content: '';
      }
    }
  }
  a {
    color: $color-primary;
    display: inline-block;
    padding: 2px;

    &:hover {
      background: rgba(0,0,0,.1);
    }
  }
}

.va-nav-breadcrumbs-list {
  @extend .columns;
  float: none;
}


//==== Facility Locator page only
.va-nav-breadcrumbs--inline {
  display: inline-block;

  @media #{$small} {
    margin-right: 1em !important;
  }

  li.active::before {
    display: none;
  }
}

//===== Playbook and Facility Locator
.va-nav-breadcrumbs--playbook {
  background: none;
  margin: 0 0 1em 0;
  padding: 0;

  h2 {
    font-size: 1em;
  }

  li {
    text-transform: none;
    margin: .25em 0;
    padding: .1em;
    display: inline-block;
    line-height: 1.15em;
    vertical-align: middle;

    @media #{$small} {
      font-size: 1.35em;
    }

    &:hover  {
      border-bottom: none;
      text-decoration: none;
    }
  }

  .parent {
    padding-top: .5em;
    margin: 0 0 .75em 0;

    &:after {
      content:' › ';
      display: inline-block;
      color: $color-white;
      padding: 0 .5em;
    }
  }

  .active {
    background: $color-gold;
    color: $color-va-black;
    font: 400 1.35em / 1.15em $font-serif;
    margin: .5em 0;
    padding: .2em;

    @media #{$medium} {
      font-size: 1.8em;
    }

    &:before {
      content: '';
      padding: 0;
      margin: 0;
    }
  }

  a {
    border-bottom: 3px solid $color-white;
    text-decoration: none !important;
    color: $color-white;
    &:hover {
      text-decoration: none;
      background: rgba(0,0,0,.1);
      border-bottom: 3px solid $color-gold;
    }
  }
}




.va-breadcrumbs-heading {
  font-size: 1em !important;
}
//===== General List Styles

li {
  span.meta {
    display: inline-block;
    padding: .5em;
    color: $color-primary-darkest;
    background: rgba($color-primary-darkest,.05);
    font-weight: bold;
    float: right;
    margin: .5em 0 1em 1em;
  }
}
.inline-list {
  > li {
    float: left;
  }
  > * {
    display: block;
  }
}

//===== Navigation
.navigation {
 padding: 1em  0;

  @media #{$small} {
    padding: 1em 0 3em 0;
  }

  background: $color-gray-lightest;
  color: $color-primary-darkest;
  border-bottom: 2px solid $color-white;
  margin: 0 auto;
}

.draft {
  position: absolute;
  top: -3.5em;
  right: -5em;
  z-index: 1000;
  background: rgba($color-va-secondary-darkest, .9);
  color: $color-white;
  font-size: .85em;
  position: fixed;
  padding: 2.5em 4em 1em 4em;
  -ms-transform: rotate(45deg); /* IE 9 */
  -ms-transform-origin: 20% 40%; /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  transform-origin: 20% 40%;
}

// Cards

[class*='block-grid-']>li {
  padding: 0;
  @media #{$small} {
    padding: 0 0.625rem 1.25rem 0.625rem;
  }
}

// Telephone numbers
.tel {
  background: rgba(0,0,0,.05);
  padding: .2em;
  display: inline-block;
}

// Information Grid

.information-grid {
  strong {
    font-size: 1.3em;
    color: $color-primary-darkest;
  }

  p {
    font-size: .9em;
  }

  div {
    @media #{$small} {
      min-height: 12em;
    }

    background: $color-gray-lightest;
    background: rgba(0,0,0,.05);
    margin: 0 0 .5em 0;
    padding: .75em;

    &:hover, &:focus, &:active {
      background: rgba(0,0,0,.1);
    }
  }
  a {
    text-decoration: none;
    border-bottom: 2px solid $color-primary-darkest;
  }
}

// Footer
.text-right {
  text-align: right;
}

.footer {
  color: $color-white;
  padding: 0 !important;
  margin: 0;
  background: $color-primary-darkest;
  position: relative;
  overflow: hidden;

  .coda .row {
    max-width: 70em;
  }
}

.footer-logo a {
  display: none;
  @media #{$medium} {padding: 0; display: block;}
  @media #{$medium} {background:url(/img/design/logo/logo.png) 102% 102% no-repeat!important;border-bottom:0!important;width: 112px; height:32px; display: block;background-size: 160px!important; text-indent:180%; overflow:hidden}
}

.footer-seal {
  background:url(/img/design/sprites/sprite.png)  no-repeat 0 -23px;
  background-size: 215px 72px;
  width: 215px;
  height: 49px;
  text-indent: -999em;
  overflow: hidden;
  margin: 0 auto;
  @media #{$small} {margin: 0;}
}

.usa-social-links {
  dd {
    display: inline-block;
    margin: 0 1em 0 0;
  }
  a {
  border-bottom: none;
  float: left;
  margin: 0;
  padding: 0;
  display: inline-block;
  &:hover {
    border-bottom: none;
    }
  }
}

.usa-social-links,
.va-list--linkgroup {
  margin: 2em 0 0 0;

  @media #{$medium} {
    margin: 2em 0 1.5em 0;
  }
}

// TODO: Move this to a list-specific partial
.va-list--linkgroup {
  margin: 2em 0 0 0;

  @media #{$small} {
    margin: 2em 0 1.5em 0;
  }

  a {
    background: none;
    color: #fff;
    display: block;
    font-size: 1em;
    font-weight: 400;
    margin: .25em 0;
    text-decoration: underline;

    &:hover {
      color: $color-gold;
    }
  }

  dd {
    padding: .25em 0;
  }
}

.va-list--linkgroup-title {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  display: block;
  font-size: .95em;
  padding: 0 0 1em 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.va-list--linkgroup--inline {
    list-style: none;
    margin: 0 auto;
    padding: 1.5em 0 0 0;
    text-align: center;
      @media #{$large} {
        text-align: left;
      }
    width: 100%;

    &:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: ' ';
       clear: both;
       height: 0;
    }

    li {
      padding: 0;
      display: inline-block;

      &:after {
        content:'|';
        padding: 0 .15em;
      }

      &:last-child {
        margin-right: 0;

        &::after {
          padding: 0;
          content: '';
        }
      }
    }

    a {
      background: none;
      color: inherit;
      font-weight: 400;
      display: inline-block;
      padding: .35em;
      margin: .25em 0;
      &:hover {color: $color-gold;}
    }
}

// Footer icon sprite
a.facebook {
  background: url('/img/design/sprites/sprite.png') no-repeat -22px 0;
  background-size: 215px 72px;
  width: 17px;
  height: 17px;
  text-indent: -999em;
  overflow: hidden;
}

a.twitter {
  background: url('/img/design/sprites/sprite.png') no-repeat 0 0;
  background-size: 215px 72px;
  width: 20px;
  height: 16px;
  text-indent: -999em;
  overflow: hidden;
}


.primary blockquote {
  margin: 0 0 1em 0;
  padding: 0 0 0 1em;
  border-left: 2px solid $color-gray-lighter;
  p {
  color: $color-primary-darker;
  }
}

.footer .content {
  @media #{$small} {padding: 2em 0 0 0;}
  margin: 0;

}

// Notice / feedback banners
.va-notice--banner {
  background: $color-primary-darker;
  margin: 0 0 .75em 0;
  padding: .5em;
  font-size: .9em;
  font-weight: 300;

  p {
    margin: 0;
  }

  a {
    background-image: none;
    color: $color-white;
    padding: 0;
  }

  .row {
    max-width: 70em;
  }
}

// Only used in the footer
.va-notice--banner--alt {
  padding: 1.25em 0;
  margin: 1.5em 0 0 0;
}

 // Feedback widget

.feedback-widget {
  overflow: hidden;

  @media #{$small-only} {
    text-align: center;
  }

  // Works with <= IE8
  &:last-child {
    opacity: .5;
    padding-left: 1em;

    &:hover {
      opacity: 1;
    }
  }

  .icon {
    background: url('/img/design/sprites/sprite.png') no-repeat -43px 0;
    background-size: 215px 72px;
    display: inline-block;
    width: 19px;
    height: 17px;
    vertical-align: middle;
    margin: 0 .5em 0 0;
  }
}

// Search

#search_form {
  padding: 1.1em 0;
  text-align: right;
  label {
    position: absolute;
    left: -9999em;
    font-size: 1px;
    overflow: hidden;
    float: left;
  }
  input[type='text'] {
    height: 3em;
    margin: 0;
    width: 100%;
    color: $color-gray-dark;
    padding: .2em;
    box-sizing: border-box;
  }

  input[type='submit'] {
    margin: 0;
    height: 3em;
    text-align: center !important;
    width: 100%;
    padding: 0;
    border-radius: 0px 3px 3px 0px;
  }
}

.search-button {
  margin: 0.1em .5em 0 0;
  padding: 0;
  float: right;
  a {
    line-height: 1em;
    display: inline-block;
    padding: .41em;
    font-size: .85em;
    border-radius: .2em;
    text-decoration: none;
    background: $color-primary;
    color: $color-white;
  }
}

.reveal-modal #search_form {
  margin-bottom: 1em;
}

.reveal-modal .close-reveal-modal {
  font-size: 1em;
  clear: both;
  text-decoration: none;
  color: $color-gray-dark;
  text-align: center;
  margin: 1em 0;
  position: relative;
  top: auto;
  display: block;
  padding: 1em 0;
  right: auto;
  width: 100%;
  bottom: auto;
}

// Plain lists

#content.interior .primary ul.plain {
  margin: 0 0 1.5em 0;
  padding: 0;
  li {
    list-style: none;
    display: block;
    .post-date {padding: 0; margin: 0; color: $secondary-color;}
    padding: .5em 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
    &:last-of-type {border-bottom: none;}
  }
  &.posts {
    font-size: 1.65em;
    a {
      text-decoration: none;
      background: none;
      color: $color-white;
      .post-date {font-size: .65em;}
      &:hover {
        background: rgba(255,255,255,.2);
      }
    }
  }
  p:nth-child(1) {font-size: inherit; color: inherit;}
}

// byline

p.byline {
  font-size: .8em;
  color: $color-white;
  color: rgba(255,255,255,.9);
}

// Info cards

  .card {
  position: relative;
  margin: 0 0 1.5em 0;
  padding: 1em;
  border: 1px solid $color-gray-lightest;
  dt {font-weight: 700;}
  dd {
    padding: 0;
    margin: 0;
  }
  &.templates {
    height: 338px;
  }
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }

  span {
    display: block;
  }

  .number {
    font-size: 3.25em;
    font-weight: 700;
    float: left;
    margin: 0;
    color: #003E73;
    line-height: .65em;
    display: inline-block;
    padding: 0 .125em 0 0;
  }

  .heading, .description {
    display: block;
  }

  .heading {
    color: $color-va-primary-alt-darkest;
    font-size: .8em;
    padding: 0;
  }

  .description {
    font-size: 1.25em;
    font-weight: 400;
    padding: .2em 0;
    text-align: left;
    display: inline-block;
    width: 100%;
    text-transform:uppercase;
  }

  &.information {
    background: rgba(0,0,0,.05);
  }

  &.info-graphic {
    border: 1px solid $color-white;
    background: none;
    padding: 1em 1em 0;
    line-height: 2.5;
    span.number {
      color: $color-white;
      display: inline-block;
    }
  }



}

// Actions

.actions {
  margin: 1em 0;
}




// Dividers

.divider {
&.margin {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
&.top {
  border-top: 1px solid #f0f0f0;
}
&.bottom {
  border-bottom: 1px solid #f0f0f0;
}
}

// Steps

.feature {
background: $polar;
padding: 1em;
margin: 0;
}

// Process line

.va-process,
.process {
  list-style: none;
  padding: 1em 0;
  position: relative;

  h2, h3, h4, h5, h6 {padding: .2em 0 0 0;}
  h5 {
    font-size: 1.3em;
    margin: 0;
    padding: 0 0 .5em 0;
  }
  h6, &-subtitle {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
  }

  p:nth-child(1) {
    font-size: 1em;
    color: $color-gray-dark;
    padding-bottom: 0;
  }

  li {
    list-style: none;

    p:nth-child(1) {
      padding-bottom: inherit;
    }

    ol {
      margin: 0 0 1em 1.5em;
      padding: 0;
      li {list-style: decimal; padding: .25em 0;}
    }
    ul {
      margin: 0 0 1em 1.25em !important;
      padding: 0;
      li {list-style: square;}
    }
  &.step {
    border-left: 8px solid #ccc;
    padding: 0 0 2em 2em;
    margin: 0 !important;
  &.last {
    border-left: 0;
  }

  }
  &.step.three.last,
  &.step.four.last,
  &.step.five.last,
  &.step.six.last,
  &.step.seven.last
   {
    &:before {
    margin-left: -2.4em
    }
  }

  ul {
    margin: .25em 0 1em 0;
    padding: 0;
    li {
      margin: 0;
      padding: .1em 0;

    }
  }
  ol {
    margin-top: .25em;
    margin-bottom: 1em;
    li {
      margin-left: .2em;
    }
  }

  &:before {
    color:$color-white;
    float: left;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    width: 2em;
    top: -.2em;
    margin-left: -2.7em;
    display: block;
    border: 4px solid $color-white;
    background: $olso-gray;
    border-radius: 4em;
    position: relative;
  }
}

#content.interior .primary .process li p:nth-child(1) {
  font-size: 1em;
  color: $color-gray-dark !important;
  padding-bottom: 0;
}

li.one:before {content: '1';}
li.two:before {content: '2';}
li.three:before {content: '3';}
li.four:before {content: '4';}
li.five:before {content: '5';}
li.six:before {content: '6';}
li.seven:before {content: '7';}
li.eight:before {content: '8';}
li.nine:before {content: '9';}
li.ten:before {content: '10';}
li.eleven:before {content: '11';}
li.twelve:before {content: '12';}
li.thirteen:before {content: '13';}
li.fourteen:before {content: '14';}
li.fifteen:before {content: '15';}
li.sixteen:before {content: '16';}
li.seventeen:before {content: '17';}
li.eighteen:before {content: '18';}
li.nineteen:before {content: '19';}
li.twenty:before {content: '20';}
}

// Icons

.icon-images {width: 1.125em;}
.icon-connection {width: 1.25em;}
.icon-books {width: 1.125em;}
.icon-library {width: 1.0625em;}
.icon-price-tags {width: 1.25em;}
.icon-history {width: 1.0625em;}
.icon-keyboard {width: 1.125em;}
.icon-bubbles {width: 1.125em;}
.icon-bubbles2 {width: 1.125em;}
.icon-bubbles3 {width: 1.125em;}
.icon-bubbles4 {width: 1.125em;}
.icon-users {width: 1.125em;}
.icon-menu2 {width: 1.375em;}
.icon-menu3 {width: 1.375em;}
.icon-menu4 {width: 1.375em;}
.icon-volume-high {width: 1.0625em;}
.icon-embed2 {width: 1.25em;}
.icon-youtube4 {width: 2.5087890625em;}

// Panel list
// TODO: Refactor to panel-list and panel-list--plain
// or similar
.panel-list {
  background: rgba(0,0,0,.05);
  padding: 1em;
  position: relative;
  min-height: 12em;

  dt {
    color: $color-primary-darkest;
    padding: 0;
    font-weight: 700;
    font-size: 1.2em;
  }

  dd {
    padding: 0;
    margin: 0;
  }

  a {
    @extend .usa-button-primary;
    margin: .5em 0;
  }

  &.plain {
    height: auto;

    dt {
      font-size: 1.45em;
    }

    margin: 0 0 1em 0;
    min-height: 0;
  }
}

// Highlight headings
.highlight {
  border-bottom: 3px solid $primary-color;
  padding-bottom: .25em;
  font-weight: 700;
}

// Action bars
[class^='va-action-bar'] {
  background: $color-gray-lightest;
}

.va-action-bar--header {
  padding: .5em 0;
  text-align: right;
}

.va-action-bar--footer {
  padding: 1em 0;
}

.va-action-bar--start {
  background: $color-green-lightest;
  border-bottom: 3px solid $color-white;
}

// TODO: Deprecate .va-action-bar--header a.usa-button-primary.
// Use .va-button-primary and .va-button-secondary
// going forward.
// Drop !important from the lines below when everything
// is refactored.
.va-button-primary {
  background: $color-green !important;

  &:hover,
  &:focus {
    background-color: $color-green-darker !important;
  }
}

.va-button-secondary {
  background-color: $color-primary-darker !important;

  &:hover,
  &:focus {
    background-color: $color-primary-darkest !important;
  }
}


// USDS component styles
// Accordion
.usa-accordion-content[aria-hidden=true] {
    display: none !important;
}
button[class*='usa-button-'] {
  font-weight:500;
  span {
    font-weight:700
  }
}

// Disclaimer

.disclaimer {
  padding: 1em 0;
  border-top: 1px solid #ddd;
  z-index:500;
  color: $color-va-gray-cool-dark;
  background: $color-white;

  &.minimal {
    border-top: none;
    padding: .25em 0;
  }

  p {
    font-size: 0.8em;
  }
}

// Info block

.info-block {
  p {
    padding: 0;
    margin: 0;
  }
}

// Mobile menu

/* Overlay style */

.va-overlay-close {
  @media #{$medium} {
    display: none;
  }
  &--icon {
    display: inline;
    margin: 0;
    padding: 1rem;
    width: auto;

    &:hover {
      background: transparent;
    }
  }
}


@media #{$medium} {
  .va-overlay-close {
    display: none;
  }
}

@media #{$small-only} {
  .va-overlay {
    background: rgba($color-primary-darkest, .95);
    height: 100%;
    left: 0;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.5s, visibility 0s 0.5s;
    visibility: hidden;
    width: 100%;
    z-index: 800;

    input[type='text'] {
      -webkit-appearance: none;
      border-radius: 3px 0 0 3px;
    }
  }

  .va-mobile-searchclose  {
    border-radius: 0;
    display: block !important;
    width: 100% !important;
    margin: 0;
    width: auto;
    background: $color-primary;
  }

  .va-mobile-searchtrigger {
    padding: .5em;
    margin-top: 0;
    border-radius: .15em;
  }

  .va-overlay--open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;

    .columns {
      padding: 0;
    }
  }

  .va-overlay .menu {
    -webkit-perspective: 1200px;
    perspective: 1200px;
    padding: 1em 1em;
  }

  .va-overlay form {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
  }

  .va-overlay--open form {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }

  .va-overlay--closed form {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
  }
  .va-overlay--closed {
    display: block;
    border: none;
    outline: none;
    z-index: 100;
  }

  .va-overlay-body {
    margin: 1rem auto;
  }

  @media screen and (max-height: 30.5em) {
    .overlay form {
      height: 70%;
    }
  }
}

// List overrides

ul li p {
  margin: 0;
  padding: 0;
}


// vets.gov branded apps
.vets-app {
  border-left: 3px solid $color-gold;
  display: inline-block;
  padding: 0 0 0 .5em !important;
}

// Tooltip
.js-simple-tooltip {
  font-family: 'Courier New', 'Courier', serif;
  font-weight:bold;
  cursor: pointer;
  display:inline-block;
  padding: 0;
  border-radius: 1.75em;
  background: $color-gray-dark;
  margin: 0 0 0 .5em;
  color: white;
  height: 1.75em;
  font-size: .8em;
  width: 1.75em;
  text-align: center;
  vertical-align: middle;
}
.simpletooltip[aria-hidden='true'] {
  display: none;
}
.simpletooltip_container {
  position: relative;
  display: inline-block;
}

.simpletooltip {
  position: absolute;
  z-index: 777;
  width: 11em;
  border-radius: .3em;
  background: $color-gray-dark;
  color: $color-white;
  padding: .6em;
  text-align: left;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.3;
  right: auto;
  left: 100%;
  margin-left: .8em;
  white-space: normal;
  top: -110%;

  &:before {
    border-bottom: 10px solid transparent;  // left arrow slant
    border-top: 10px solid transparent; // right arrow slant
    border-right: 10px solid $color-gray-dark;
    content: '';
    font-size: 0;
    position: absolute;
    left: 0px;
    line-height: 0;
    margin-left: -10px;
    width:0;
    height:0;
    top: 39%;
  }
}

@media (max-width: 40.063em) {
  .simpletooltip {
    top: 100%;
    left: 45%;
    right: 0;
    margin: 0;
    margin-top: .7em;
    margin-left: -5em;

    &:before {
      top: -10px !important;
      right: auto;
      left: 45%;
      margin-left: -5px;
      margin-top: -10px;
      border: 10px solid transparent;
      border-bottom: 10px solid $color-gray-dark;
    }
  }
}

html.no-touchevents {
  .touch {display: none;}
  .no-touch {display: block;}
}

html.touchevents {
  .touch {display: block;}
  .no-touch {display: none;}
}

// Animate CSS components
.animated {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.va-code-block,
code[class*='language-'],
pre[class*='language-']  {
  background-color: $color-gray-lightest !important;
  font-size: .9em;
  line-height: inherit !important;
}

.va-address-block {
  margin-left: 5rem;
  border-left: 2px solid $color-primary;
  padding-left: 1rem;
}
