.usa-banner-inner {
  p {
    padding: 0;
  }
}

.login-container {
  div.row:first-child {
    display: inline-block;
  }
}

#va-header-logo-menu {
  padding-top: 2em;
}

.usa-grid {
  width: $teamsite-width;
  padding-left: 1rem;
}

.usa-grid-full {
  width: $teamsite-width;
}

header.merger {
  z-index: 300;
  width: 100%;
  border: 1px solid #01133F;
  margin: auto;

  .va-crisis-line {
    top: 20px;

    button.va-crisis-line-button {
      background-image: none;
    }
  }
  .va-notice--banner-inner {
    width: $teamsite-width;
  }
  #mega-menu .vetnav-panel {
    width: 487px;
  }
  #mega-menu .column-two {
    left: 240px;
  }
  #mega-menu .column-three {
    left: 485px;
  }
}

footer.footer {
  font-size: 16px;
  width: 100%;
}

.sign-in-nav {
  .sign-in-links {
    color: $color-white;
  }
}

#login-root {
  z-index: 999;
}

#vetnav {
  z-index: 299;
}
