// iconography

$color-orange: #EB7F29;
$color-gold-darker: #988530;

h1, h3, h4 {
  i {
    margin-right: 5px;
    vertical-align: middle;
  }
}

.inline {

  display: inline-block;

  .fa {
    font-size: 20px;
    vertical-align: bottom;
    margin-right: 10px;
  }

}

.fa {

  position: relative;
  color: $color-white;
  border-radius: 50%;

  &.icon-large {
    height: 40px;
    width: 40px;

    &::before {
      position: absolute;
      margin-top: 9.5px;
      margin-left: 11.47px;
    }
  }

  &.icon-small {
    height: 32px;
    width: 32px;

    &::before {
      position: absolute;
      margin-top: 6.5px;
      margin-left: 8.47px;
    }
  }

  &.fa-medkit {
    background-color: $color-primary;

    &.icon-large {
      &::before {
        margin-top: 9.25px;
        margin-left: 10.5px;
      }
    }

    &.icon-small {
      &::before {
        margin-top: 6px;
        margin-left: 8px;
      }
    }
  }

  &.fa-book {
    background-color: $color-gold-light;
  }

  &.fa-id-card {
    background-color: $color-green;

    &.icon-large {
      &::before {
        margin-top: 9.75px;
        margin-left: 8.5px;
      }
    }
  }

  &.fa-handshake-o {
    background-color: $color-visited;

    &.icon-large {
      &::before {
        margin-top: 9.75px;
        margin-left: 7.75px;
      }
    }

    &.icon-small {
      &::before {
        margin-top: 6.5px;
        margin-left: 6px;
      }
    }
  }

  &.fa-briefcase {
    background-color: $color-orange;
  }

  &.fa-money {
    background-color: $color-green-darker;

    &.icon-small {
      &::before {
        margin-left: 7.15px;
      }
    }
  }

  &.fa-home {
    background-color: $color-primary-alt;
  }

  &.fa-users {
    background-color: $color-gold-darker;

    &.icon-small {
      &::before {
        margin-left: 6.95px;
      }
    }
  }

  &.fa-star {
    background-color: $color-primary-darkest;
  }

  &.fa-id-card {
    background-color: $color-green;

    &.icon-small {
      &::before {
        margin-left: 5.85px;
      }
    }
  }

}
