// iconography

h1, h3, h4 {
  i {
    margin-right: 5px;
    vertical-align: middle;
  }
}

.inline {

  display: inline-block;

  .fa {
    font-size: 20px;
    vertical-align: bottom;
    margin-right: 10px;
  }

}

.fa {

  position: relative;
  color: $color-white;
  border-radius: 50%;

  &.icon-large {
    height: 40px;
    width: 40px;

    &::before {
      position: absolute;
      margin-top: 9.5px;
      margin-left: 11.47px;
    }
  }

  &.icon-small {
    height: 32px;
    width: 32px;

    &::before {
      position: absolute;
      margin-top: 6.5px;
      margin-left: 8.47px;
    }
  }

  &.fa-medkit {
    &.icon-large {
      &::before {
        margin-top: 9.25px;
        margin-left: 10.5px;
      }
    }

    &.icon-small {
      &::before {
        margin-top: 6px;
        margin-left: 8px;
      }
    }
  }

  &.fa-id-card {
    &.icon-large {
      &::before {
        margin-top: 9.75px;
        margin-left: 8.5px;
      }
    }
  }

  &.fa-handshake-o {
    &.icon-large {
      &::before {
        margin-top: 9.75px;
        margin-left: 7.75px;
      }
    }

    &.icon-small {
      &::before {
        margin-top: 6.5px;
        margin-left: 6px;
      }
    }
  }
  &.fa-money {

    &.icon-small {
      &::before {
        margin-left: 7.15px;
      }
    }
  }


  &.fa-users {
    &.icon-small {
      &::before {
        margin-left: 6.95px;
      }
    }
  }
  &.fa-id-card {
    &.icon-small {
      &::before {
        margin-left: 5.85px;
      }
    }
  }

}
.hub-color-medkit {
  color: $indigo-cool-60;
}
.hub-color-book {
  color: $mint-cool-50;
}
.hub-color-handshake-o {
  color: $red-60;
}
.hub-color-briefcase {
  color: $orange-warm-50;
}
.hub-color-money {
  color: $green-cool-50;
}
.hub-color-home {
  color: $gold-50;
}
.hub-color-users {
  color: $green-warm-50;
}
.hub-color-star {
  color: $blue-50;
}
.hub-color-id-card {
  color: $violet-warm-60;
}
.hub-background-medkit {
  background-color: $indigo-cool-60;
}
.hub-background-book {
  background-color: $mint-cool-50;
}
.hub-background-handshake-o {
  background-color: $red-60;
}
.hub-background-briefcase {
  background-color: $orange-warm-50;
}
.hub-background-money {
  background-color: $green-cool-50;
}
.hub-background-home {
  background-color: $gold-50;
}
.hub-background-users {
  background-color: $green-warm-50;
}
.hub-background-star {
  background-color: $blue-50;
}
.hub-background-id-card {
  background-color: $violet-warm-60;
}