/* MERGER-specific shame. This is not production ready; proof of concept only */

/* OVERRIDE */
.merger {
  .login {
    .container {
      width: 100%;
    }
  }

  .va-dropdown-panel {
    min-width: 102px;
  }

  .vet-toolbar {
    .sign-in-nav {
      margin-left: 6px;
    }
    min-height: 50px;
  }
  .va-modal {
    font-size: 1.6rem;
  }

  #modal-crisisline {
    display: block;
    p {
      font-size: 100%;
    }
  }

  #dashboard-title {
    margin-top: 0;
  }

  #va-header-logo-menu {
    align-items: center;
  }
  $color-primary-lightest: #e1f3f8;

  @import "iconography";
  @import "right-rail";

  .vetnav-panel {
    @include media($medium-large-screen) {
      box-shadow: 0 5px 9px -3px $color-base;
    }
  }

  section.usa-grid {
    padding-top: 3em;
  }

  /* logo size override */

  .va-header-logo {
    width: 100%;
    max-width: 264px;
    height: auto;
  }

  article {
    &:last-of-type {
      padding-bottom: 3em;
    }
  }

  #helpmenu {
    a {
      text-decoration: none;
    }
  }

  #menu-rule {
    border-bottom: 1px solid $color-white;
    margin-left: -.55em;
    padding-bottom: 1em;
    padding-right: 1.2em;
  }

  /* new pattern? where we use old VA icons with h3 */
  .va-icon-header {

    width: 100%;
    height: 40px;
    margin-left: -6px;

    .va-icon-icon {
      margin: 0;
      padding: 0;
      display: inline;
      float: left;
      width: 12%;
      height: auto;
    }

    .va-icon-h {
      display: inline;
      width: 87%;
    }

  }

  .va-icon-cols {
    p {
      margin-top: 0;
    }

    padding-bottom: 3em;
  }

  #homepage-hub {

    @include linear-gradient-background($color-old-browser-background-start, $color-old-browser-background-end);

    padding-top: 3em;

    #hub-internal {

      width: 64%;

      h2 {
        color: $color-white;
        text-align: center;
        margin-bottom: 1.5em;
      }

      .usa-grid:first-of-type {
        margin-bottom: 1.5rem;
      }

      ul {
        list-style: none;
        padding-left: 1rem;
      }

      .usa-width-one-half {
        background-color: $color-white;
        padding: 1.5em 0 2.125em 1.5em;

        li {
          padding: 0;
        }
      }
    }
  }

  #hub-internal {
    .header-title-1 {
      font-size: 35px;
    }
     .header-title-2 {
      font-size: 20px;
    }
  }

  h3, h4 {
    .fa {
      padding-right: .35em;
    }
  }


  .merger-majorlinks {

    .link {

      margin-bottom: 1em;

      p {
        margin: 0;
      }

      a {
        text-decoration: none;
        padding-bottom: 0;
      }
    }

  }

  .va-nav-breadcrumbs-list {
    padding-left: 0;

    li {
      list-style: none;
      padding-bottom: 1em;
      padding-top: 1em;
    }
  }

  .hub-main-title {
    width: 90%;
  }

  .usa-grid {
    .usa-width-two-thirds {
      .hub-main-icon {
        vertical-align: top;
        margin-top: 8px;
      }
    }
  }

  .vet-toolbar {
    .va-dropdown {
      span {
        white-space: nowrap;
      }
    }
  }

  #vetnav {
    // 100% width necessary for right aligned items
    width: 100%;
    left: initial;
  }

  // mobile
  @media (min-width: $xsmall-screen) and (max-width: $medium-screen - 1) {
    .flex-col-mobile {
      flex-direction: column;
    }

    .va-sidebarnav {
      display: none;
    }

    button {
      &.va-sidebarnav-close {
        position: absolute;
        right: 2px;
        top: 2px;

        &:hover,
        &:focus {
          background-color: $mm-gray;
        }
      }
    }

    #mega-menu {
      // #vetnav {
      //   min-height: unset;
      // }
      .login-container {
        // due to these been nested, this has to have a higher z-level then vet-toolbar
        position: relative;
        top: -40px;
      }
    }
    #menu-rule {
      border-bottom: 0;
      padding-bottom: 0;
    }

    #vetnav-controls {
      margin-top: 7px;

      svg {
        margin-left: 0.8rem;
      }
    }

    .mm-link-container {
      padding-left: 10px;
    }

    .vetnav-panel a {
      padding: 0.8rem 1.0rem;
    }

    .va-header-logo-wrapper {
      width: 55%;
      float: left;
      margin-right: 10px;

      a {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .vet-toolbar {
      .sign-in-nav {
        font-weight: normal;

        .sign-in-links {
          background: none;
          margin-left: 0;
          padding-left: .75em;

          .va-button-link {
            font-weight: 600;
            -webkit-font-smoothing: antialiased;
          }
        }
      }

      .va-dropdown {
        margin-left: 0;
        width: auto;

        .va-dropdown-trigger {
          width: 100%;
          font-weight: 600;
          padding-left: 0;
          margin-right: 1.75em;
          background-position: right 1.5rem center;
          line-height: unset;

          span {
            display: inline-block;
          }
        }
      }
    }

    #homepage-hub {

      padding-top: 1.5em;

      #hub-internal {

        width: 100%;

        h2 {
          margin-bottom: 1em;
        }

        .usa-grid {
          &:first-of-type {
            margin-bottom: 0;
          }

          .usa-width-one-half {
            margin-bottom: .55em;
          }
        }
      }
    }

    #hub-internal,
    #homepage-benefits,
    #homepage-news,
    .va-h-ruled--stars,
    .va-nav-breadcrumbs,
    article,
    #hub-rail {
      padding-left: .5em;
      padding-right: .5em;
    }

    .va-nav-breadcrumbs  {

      padding-top: 0.25em;
      padding-bottom: 0.25em;

      .va-nav-breadcrumbs-list {
        li {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    #hub-rail {
      padding-top: 0;
    }

    .va-nav-linkslist--related  {
      margin-bottom: 0 !important; //hard override; what does this break elsewhere
    }

    .va-sidebarnav--opened {
      position: fixed;
      display: initial;
    }
    .va-navigation-nextprevious {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
    }
  }


  // tablet
  @media (min-width: 768px) and (max-width: $large-screen) {
    .va-modal {
      .usa-width-one-half {
        margin-right: 4.82916%;
        width: 44%;
      }
    }
    .va-header-logo-wrapper {
      margin-bottom: 0;
      justify-content: space-between;
    }

    .vet-toolbar {
      flex-shrink: 0;

      .profile-nav {

        width: 100%;
        .va-dropdown {

          .va-dropdown-trigger {
            background-position: right .8rem center;
          }

          .va-btn-withicon {
            span {
              display: flex;
            }
          }

          .sign-in-links {
            padding-right: 0;
            padding-left: 0;
          }
        }

      }
    }

    #homepage-benefits,
    #homepage-news,
    .va-h-ruled--stars,
    .va-nav-breadcrumbs,
    article,
    #hub-rail {
      padding-left: 1em;
      padding-right: 1em;
    }

    #homepage-hub {

      #hub-internal {
        width: 85%;
        .usa-grid {
          .usa-width-one-half {
            margin-right: 2.35765%;
          }
        }
      }
    }
  }

  #preview-site-alert {
    color: $color-black;
    position: relative;
  }

  // TD: need to update this on formation in the MegaMenu. If no title it should still align with the link row.
  #vetnav-records-ms {
    & + div {
      .column-two h3{
        visibility: hidden;
      }
    }
  }

  #va-nav-controls {
    position: relative;
    width: 100px;

    svg {
      display: inline-block;
      height: 1.6rem;
      margin-left: 0.8rem;
      width: 1rem;
      vertical-align: 0;
    }

    path {
      fill: $color-white;
    }

    @include media($medium-large-screen) {
      display: none;
    }
  }

  .usa-sidenav-list {
    a {
      font-size: 15px;
      text-decoration: underline;
      padding: 8px 16px 8px 30px;

      &.va-button-primary {
        padding: 1rem 2rem;
      }
    }
  }

  // TODO: add this into formation
  .va-sidebarnav {
    .left-side-nav-title {
      padding-bottom: 25px;
      > .icon-small {
        vertical-align: middle;
        padding-left: initial;
        margin-right: 5px;
        font-size: 1.7rem;
      }
    }

    .usa-sidenav-list {
      margin-right: 0;

      & > li {
        border-top: 0;

        .active-menu {
          border-bottom: 0;
        }

        a {
          color: $color-link-default;
          display: inline-block;
          vertical-align: middle;
          width: 100%;

          &:focus {
            background-color: $mm-gray;
            font-weight: bold;
          }

          &:hover {
            background-color: $mm-gray;
            font-weight: bold;
          }
        }

        i {
          color: $color-black;
          vertical-align: middle;
          font-size: 15px;
          padding-left: 0;
        }
      }

      & .menu-item-container {
        & > a {
          font-weight: bold;
        }

        &:hover {
          background-color: $color-gray-lightest;
          color: $color-blue;
        }

        &:focus {
          outline: 2px solid $color-gold;
          outline-offset: 3px;
        }
      }
    }

    .usa-sidenav-list {
      a.usa-current {
        color: $color-black;
        border-left: 4px solid $color-black;
        padding-left: 8px;
        margin-left: 16px;
        background-color: $mm-gray;
        text-decoration: none;
        cursor: default;

        &.level-one {
          padding-left: 14px;
          margin-left: 0;
        }

        &:hover {
          background-color: $mm-gray;
          font-weight: bold;
        }
      }

      .active-level {
        background-color: $mm-gray;
      }
    }

    h4 {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
      vertical-align: middle;
      width: 75%;
    }

    .usa-sidenav-list > li {
      i {
        position: relative;
        right: -20px;
      }

      .menu-item-container > a {
        font-weight: initial;
      }

      a.usa-current {
        font-weight: bold;
        margin-left: 0;
        padding-left: 25px;
      }
    }

    .usa-sidenav-sub_list{
      a {
        width: 100% !important; // sorry this is temporary
        text-decoration: underline;
        padding-left: 40px;
        font-size: 15px;

        &:focus {
          @include focus-gold-light-outline(0);
          background-color: $mm-gray;
          font-weight: bold;
        }

        &:hover {
          text-decoration: underline;
          background-color: $mm-gray;
          font-weight: bold;
        }

        &.usa-current {
          margin-left: 16px !important; // sorry this is temporary
        }
      }
    }
  }

  .va-btn-sidebarnav-trigger {
    color: $color-white;
    background-color: $color-primary;

    &:hover {
      background-color: $color-primary-darker;
    }

    &:focus,
    &:hover {
      svg {
        fill: $color-white;
      }
    }

    &.fixed-trigger {
      margin: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    svg {
      margin: 5px 0 0 3px;
    }
  }

  button.va-modal-close > i.fa.fa-close{
    color: $color-black;
  }

  .va-sidebarnav {
    color: $color-link-default;

    .usa-accordion {
      .usa-accordion-button {
        background-color: $color-white;
        border-top: 1px solid $color-gray-lighter;
        border-bottom: 1px solid $color-gray-lighter;
        background-size: 1.1rem;
        color: $color-link-default;
        font-weight: normal;
        font-size: 17px;

        &:focus {
          outline: 0;
          border: 2px solid $color-gold;
          background-color: $mm-gray;
          font-weight: bold;
        }

        &:hover {
          background-color: $mm-gray;
          font-weight: bold;
        }

        &[aria-expanded=false] {
          background-image: url("/img/plus-blue.svg");
        }

        &[aria-expanded=true] {
          border-bottom: 0;
          background-image: url("/img/minus-blue.svg");

          &:focus {
            border: 2px solid $color-gold;
          }
        }
      }

      .usa-accordion-content {
        padding: 0;
      }

      .usa-sidenav-list {
        a {
          font-size: 15px;
          // added to deal with accordian overflow
          // and outline not showing correctly
          &:focus {
            width: 98% !important;
            margin: 2px;
          }
        }
      }

      .usa-current {
        // added to deal with accordian overflow
        // and outline not showing correctly
        &:focus {
          width: 99% !important;
          margin-top: 2px;
        }
      }
    }

    .usa-accordion-button-dark {
      background-color: $color-gray-lightest;
    }
  }


  .usa-accordion {
    & > li {
      margin-bottom: -1px;
    }
  }
  .usa-accordion-bordered {

    &.social {
      a {
        text-decoration: underline;
      }

      .usa-accordion-content {
        h4:first-child {
          margin-top: 0px;
        }

        section:last-child {
          margin-bottom: 0px;
        }

        > section, > h4 {
          margin: 1.5em auto;
        }

        ul > h4 {
          margin: 1em auto;
        }

        ul > li {
          margin: 1em auto;
            &:last-child {
              margin: unset;
            }
        }
      }

      .usa-accordion-button {
        border: none;
      }
    }
  }

  .va-sign-in-alert {
    .usa-button-primary {
      margin-top: 10px;
    }
  }

  .va-modal-close {
    .fa {
      color: inherit;
    }
  }

  .hub-links-container {
    flex: 1;
  }
  .white {
    color: $color-white;
  }

  .sidenav-previous-page {
    font-size: 15px;
    padding-bottom: 12px;

    @media (min-width: $xsmall-screen) and (max-width: $medium-screen) {
      margin-left: 15px;
    }

    a {
      &::before {
        content: " \2039 ";
        display: inline-block;
        padding: 0 0.35em 0 0;
      }
    }
  }

  // These next two rules override some styles in user-nav.scss, should be moved there
  // after WBC is live
  .sign-in-links {
    flex-shrink: 0;
  }

  .sign-in-link {
    margin: 0;
    @include media($medium-large-screen) {
      &:hover, &:active {
        background-color: $color-primary;
        color: inherit !important;
      }
    }
    // This is backwards from the mobile first approach we should be taking
    // but the amount of overrides we would need if we did that way would be
    // very tricky to write and maintain
    @media (max-width: $medium-large-screen - 1) {
      @include button-link;
      color: $color-white !important;
      text-decoration: none;
    }
  }
}

.usa-accordion-bordered {
  .fa {
    color: $color-link-default;
  }
}

[class^="vetnav-controller"] {
  position: relative !important;
}

// There are styles in our sidebar styles that set a small
// amount of padding on the grid for detail pages, which we
// are overriding for WBC with no padding
.va-l-detail-page > .usa-grid-full {
  padding-right: inherit;
  padding-left: inherit;
}

.left-side-nav-title {
  color: $color-black;
  padding-left: 1em;
  @include media($small-desktop-screen) {
    padding-left: 0;
  }
}

.flex-container {
  display: flex;
}

// This is a fix for Edge and lazy image loading.
img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px;
}

.vet-toolbar .va-dropdown {
  margin-left: 0;
}

.profile-nav {
  margin-top: 6px;
}
