$medium-phone-screen: 375px;
/* OVERRIDE */
.merger {
  // Begin new-grid override
  // Overrides some default properties with a
  // class name that makes it more clear we remove
  // it when the work is complete.
  .va-sidebarnav.new-grid {
    width: 100% !important;
  }
  // End new-grid override

  .login {
    .container {
      width: 100%;
    }
  }

  .va-dropdown-panel {
    min-width: 100%;
  }

  .vet-toolbar {
    min-height: 50px;
  }
  .va-modal {
    font-size: 1.6rem;
  }

  #modal-crisisline {
    display: block;
    p {
      font-size: 100%;
    }
  }

  #dashboard-title {
    margin-top: 0;
  }

  #va-header-logo-menu {
    align-items: center;
  }
  $color-primary-lightest: #e1f3f8;

  @import "iconography";
  @import "modules/m-right-rail";

  section.usa-grid {
    padding-top: 3em;
  }

  /* logo size override */

  .va-header-logo {
    width: 100%;
    max-width: 264px;
    height: auto;
  }

  article {
    &:last-of-type {
      padding-bottom: 3em;
    }
  }

  .va-helpmenu-contents {
    > p {
      line-height: 1.2em;
      margin-bottom: 0.8em;
      margin-top: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      text-decoration: none;
    }
  }

  #menu-rule {
    border-bottom: 1px solid $color-white;
    margin-left: -0.55em;
    padding-bottom: 1em;
    padding-right: 1.2em;
  }

  /* new pattern? where we use old VA icons with h3 */
  .va-icon-header {
    width: 100%;
    height: 40px;
    margin-left: -6px;

    .va-icon-icon {
      margin: 0;
      padding: 0;
      display: inline;
      float: left;
      width: 12%;
      height: auto;
    }

    .va-icon-h {
      display: inline;
      width: 87%;
    }
  }

  .va-icon-cols {
    p {
      margin-top: 0;
    }

    padding-bottom: 3em;
  }

  h3,
  h4 {
    .fa {
      padding-right: 0.35em;
    }
  }

  .merger-majorlinks {
    .link {
      margin-bottom: 1em;
      p {
        margin: 0;
      }
      a {
        text-decoration: none;
        padding-bottom: 0;
      }
    }
  }

  .va-nav-breadcrumbs-list {
    padding-left: 0;

    li {
      list-style: none;
      padding-bottom: 1em;
      padding-top: 1em;
    }
  }

  .hub-main-title {
    width: 90%;
  }

  .usa-grid {
    .usa-width-two-thirds {
      .hub-main-icon {
        vertical-align: top;
        margin-top: 8px;
        > .icon-large {
          margin-right: 10px;
        }
      }
    }
  }

  .vet-toolbar {
    .va-dropdown {
      span {
        white-space: nowrap;
      }
    }
  }

  .sign-in-nav {
    .va-dropdown-trigger {
      display: flex;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 60px;
        padding-left: 6px;

        &.user-dropdown-email {
          margin-top: 5px;
        }
      }

      @include media($medium-phone-screen) {
        span {
          max-width: 102px;
        }
      }

      @include media($medium-screen) {
        span {
          padding-left: 0;
          max-width: 215px;
          height: 20px;

          svg {
            display: inline-block;
          }
        }
      }

      @include media($small-desktop-screen) {
        span {
          max-width: 300px;
        }
      }
    }
  }

  // mobile
  @media (min-width: $xsmall-screen) and (max-width: $medium-screen - 1) {
    .flex-col-mobile {
      flex-direction: column;
    }

    #menu-rule {
      border-bottom: 0;
      padding-bottom: 0;
    }

    .va-header-logo-wrapper {
      width: 55%;
      float: left;
      margin-right: 10px;

      a {
        width: 100%;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    #login-root {
      .profile-nav {
        justify-content: left;
      }
    }

    .vet-toolbar {
      margin-left: 0;
      .profile-nav-container {
        align-items: baseline;
        display: inherit;
      }

      .sign-in-nav {
        font-weight: normal;

        .sign-in-links {
          background: none;
          margin-left: 0;
          padding-left: 0.75em;

          .va-button-link {
            font-weight: 600;
            -webkit-font-smoothing: antialiased;
          }
        }
      }

      .va-dropdown {
        margin-left: 0;
        width: auto;

        .va-dropdown-trigger {
          width: 100%;
          font-weight: 600;
          padding-left: 0;
          margin-right: 1em;
          background-position: right 1.5rem center;
          line-height: unset;

          span {
            display: inline-block;
          }
        }
      }
    }

    #homepage-benefits,
    #homepage-news,
    .va-h-ruled--stars,
    .va-nav-breadcrumbs,
    article,
    #hub-rail {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }

    .va-nav-breadcrumbs.new-grid,
    article.new-grid {
      padding-left: 0;
      padding-right: 0;
    }

    .va-nav-breadcrumbs {
      padding-top: 0.25em;
      padding-bottom: 0.25em;

      .va-nav-breadcrumbs-list {
        li {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
    }

    #hub-rail {
      padding-top: 0;
    }

    .va-nav-linkslist--related {
      margin-bottom: 0 !important; //hard override; what does this break elsewhere
    }

    .va-navigation-nextprevious {
      padding-left: 0.9375rem;
      padding-right: 0.9375rem;
    }
  }

  // tablet
  @media (min-width: 768px) and (max-width: $large-screen) {
    .va-modal {
      .usa-width-one-half {
        margin-right: 4.82916%;
        width: 44%;
      }
    }
    .va-header-logo-wrapper {
      margin-bottom: 0;
      justify-content: space-between;
    }

    .vet-toolbar {
      flex-shrink: 0;

      .profile-nav {
        width: 100%;
        .va-dropdown {
          .va-dropdown-trigger {
            background-position: right 0.8rem center;
          }

          .sign-in-links {
            padding-right: 0;
            padding-left: 0;
          }
        }
      }
    }

    #homepage-benefits,
    #homepage-news,
    .va-h-ruled--stars,
    .va-nav-breadcrumbs,
    article,
    #hub-rail {
      padding-left: 1em;
      padding-right: 1em;
    }

    .va-nav-breadcrumbs.new-grid,
    article.new-grid {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .usa-accordion-bordered {
    &.social,
    &.links {
      a {
        text-decoration: underline;
      }
      .social-icon {
        text-decoration: none;
      }

      .usa-accordion-content {
        h4:first-child {
          margin-top: 0px;
        }

        > section {
          margin-bottom: 1.5em;
        }

        > section:last-child {
          margin-bottom: 0px;
        }

        > h4 {
          margin: 1.5em auto;
        }

        ul > h4 {
          margin: 1em auto;
        }

        ul > li {
          margin: 1em auto;
          &:last-child {
            margin: unset;
          }
        }
      }

      .usa-accordion-button {
        border: none;
      }
    }
  }

  .va-sign-in-alert {
    .usa-button-primary {
      margin-top: 10px;
    }
  }

  .va-modal-close {
    .fa {
      color: inherit;
    }
  }

  .hub-links-container {
    flex: 1;
  }
  .white {
    color: $color-white;
  }

  .sidenav-previous-page {
    font-size: 15px;
    padding-bottom: 12px;

    @media (min-width: $xsmall-screen) and (max-width: $medium-screen) {
      margin-left: 15px;
    }

    a {
      &::before {
        content: " \2039 ";
        display: inline-block;
        padding: 0 0.35em 0 0;
      }
    }
  }

  // These next two rules override some styles in user-nav.scss, should be moved there
  // after WBC is live
  .sign-in-links {
    flex-shrink: 0;
  }

  .sign-in-link {
    margin: 0;

    @include media($medium-large-screen) {
      &:hover,
      &:active {
        background-color: $color-primary-darker;
        color: inherit !important;
        text-decoration: none;
      }
      &:focus {
        outline-offset: 2px;
      }
    }
    // This is backwards from the mobile first approach we should be taking
    // but the amount of overrides we would need if we did that way would be
    // very tricky to write and maintain
    @media (max-width: $medium-large-screen - 1) {
      @include button-link;
      font-weight: 600;
      color: $color-white !important;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.usa-accordion-bordered {
  .fa {
    color: $color-link-default;
  }
}

.va-l-detail-page > .usa-grid-full {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.flex-container {
  display: flex;
}

// This is a fix for Edge and lazy image loading.
img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px;
}

.vet-toolbar .va-dropdown {
  margin-left: 0;
}

.profile-nav {
  margin-top: 6px;
}

.process-accordion > li {
  list-style: none !important;
}

.circular-profile-image {
  border-radius: 50%;
  position: relative;
}

.usa-grid > :last-child,
.usa-grid-full > :last-child {
  &.half-em-bottom-margin {
    margin-bottom: 0.5em;
  }
}

.inline-table-helper {
  display: inline-table;
}

.usa-accordion > ul li ul,
.usa-accordion-bordered > ul li ul {
  list-style: square;
}

.no-left-button-right-radius-treatment {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.no-right-button-left-radius-treatment {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.no-p-bottom-margin p {
  margin-bottom: 0;
}

.operating-status-title {
  margin: auto;
}

.clearfix-text {
  display: block;
  clear: both;
}

.va-u-outline--none:focus {
  outline: none;
}

.image-detail {
  width: 25%;
  @media (max-width: $small-screen) {
    width: 100%;
  }
  .alt-text-container {
    min-height: 200px;
  }
}

.image-desc {
  width: 50%;
  @media (max-width: $small-screen) {
    width: 100%;
  }
}
