$font-path: "~uswds/src/fonts";
$image-path: "~uswds/src/img";
$teamsite-dark-blue: #112e51;
$teamsite-light-blue: #0073b4;
$teamsite-width: 959px;

@font-face {
  font-family: "FontAwesome";
  src: url("~font-awesome/fonts/fontawesome-webfont.woff2") format("woff2"),
    url("~font-awesome/fonts/fontawesome-webfont.woff") format("woff"),
    url("~font-awesome/fonts/fontawesome-webfont.eot") format("eot");
  font-weight: normal;
  font-style: normal;
}

.consolidated {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  @import "~@department-of-veterans-affairs/formation/sass/core";

  @import "../../site-wide/user-nav/sass/user-nav";


  @import "modules/m-footer-brand-consolidation";

  // ----- VA MODULES (BUTTONS/CARDS/TABLES) ---- //
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-alert";
  @import "modules/m-crisis-line-brand-consolidation";
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-table";
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-breadcrumbs";
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-button";
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-form-elements";
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-megamenu";
  @import "modules/m-search";
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-loading-indicator";
  @import "modules/m-vet-nav-px";
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-print";
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-dropdown";
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-overlay";
  @import "~@department-of-veterans-affairs/formation/sass/modules/m-additional-info";
  @import "../../monitoring/DowntimeNotification/sass/m-downtime-notification";
  @import "modules/m-layers";

  // ----- mobile typography -- see #6214 on vets.gov-team ---- //

  @import "~@department-of-veterans-affairs/formation/sass/mobile-typography";

  // ----- VA SHAME ---- //

  @import "~@department-of-veterans-affairs/formation/sass/shame";
  // @import "slider";
  @import "iconography";
  @import "merger";

  @import "consolidated-patches";
}

.merger #bg-middle-effect {
  background: url(/va_files/2014/responsive/images/bg-middle-effect.png) repeat-y scroll center -65px $teamsite-light-blue;
}

// ----- Patches to elements outside of .consolidated ----- //

// "I am a" select field on /health is having an unwanted margin-top added by @us-forms-system library
#iama {
  margin-top: 0;
}