//===================================
// Typography
//===================================
// These variables override values set in either
// ~uswds/src/stylesheets/core/defaults" or
// ~uswds/src/stylesheets/core/variables"
$base-font-size:      rem(16px);

//===================================
// Colors
//===================================
// New colors specific to us-forms-system
$color-gray-light-alt:       #eee;
$color-inset-bg:             #e0f3f8;
