// This file is a place where you put all the code you're not proud of,
// with the intention of A) isolating it and B) fixing it later. The goal
// is for this file to be empty, but some times you just have to throw that
// hack in there to get it working.


body .row {
  max-width: 62.5em;
}

.form-panel {
  @include media($medium-screen) {
    max-width: $usa-form-width;
  }
}

.main-form,
.progress-box {
  button {
    width: 100%;
  }
}

.button-icon{
  font-size: 1.7rem;
}

.progress-box {
  padding: 1rem 2rem;
  margin: 1.5rem 0  ;
  border: 1px solid $color-gray-lightest;
}

.schemaform-intro {
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.form-section {
  display: none;
}

#content .section {
  fieldset {
    h4 {
      padding: 0;
    }
  }
}

.edit-checkbox {
  label {
    @extend a;
    display: inline-block;

    &:before {
      display: none !important;
    }
  }
}

.input-section {
  margin-bottom: 2em;

  .row {
    margin: 0;
  }
}

.usa-input-error {
  select {
    border: 3px solid $color-secondary-dark;
    width: calc(100% + 1.5rem);
  }
}

.hidden {
  display: none !important;
}

#search_form {
  input[type="text"] {
    font-size: 1.9rem;
  }

  input[type="submit"] {
    font-size: 1.9rem;
  }
}

/* inline declarations moved here as a result of CSP rules */

.csp-inline-patch-L2-section-landing {
  margin-bottom: 1em;
}

.csp-inline-patch-L2-section-landing-1 {
  display: inline-block;
  margin-bottom: 0em;
}

.csp-inline-patch-L2-section-landing-2 {
  display: inline-block;
}

.csp-inline-patch-footer {
  display: none;
  visibility: hidden;
}

.csp-inline-patch-header {
  margin: 0;
  padding: 0;
  display: inline;
}

.csp-inline-patch-modal {
  display: none;
}

.csp-inline-patch-page-breadcrumbs {
  background-color: #FAC922;
  text-align: center;
}

.csp-inline-patch-page-breadcrumbs-2 {
  margin: 0;
}

.csp-inline-patch-page-react {
  padding: 2em 0;
}

.csp-inline-patch-404 {
  margin: 0;
  padding: 0;
  display: inline;
}

.csp-inline-patch-application {
  padding: 2em 0;
}

.csp-inline-patch-logout {
  padding: 2em 0;
}
