// This file is a place where you put all the code you're not proud of,
// with the intention of A) isolating it and B) fixing it later. The goal
// is for this file to be empty, but some times you just have to throw that
// hack in there to get it working.

// message while loading react app
.loading-message {
  padding: 2em 0;
  text-align: center;
}


body {
  .row {
    max-width: 62.5em;
  }
}

.form-panel {
  @include media($medium-screen) {
    max-width: $usa-form-width;
  }
}

.main-form,
.progress-box {
  button {
    width: 100%;
  }
}

.button-icon {
  font-size: 1.7rem;
}

.progress-box {
  border: 1px solid $color-gray-lightest;
  margin: 1.5rem 0;
  padding: 1rem 2rem;
}

.form-section {
  display: none;
}

#content .section {
  fieldset {
    h4 {
      padding: 0;
    }
  }
}

.edit-checkbox {
  label {
    background-color: transparent;
    display: inline-block;

    &::before {
      display: none !important;
    }

    &:hover {
      cursor: pointer;
      outline: 0;
    }
  }
}

.input-section {
  margin-bottom: 2em;

  .row {
    margin: 0;
  }
}

.usa-input-error {
  select {
    border: 3px solid $color-secondary-dark;
    width: calc(100% + 1.5rem);
  }
}

.va-alert-text {
  margin: 0;
}

.hidden {
  display: none !important;
}

// inline declarations moved here as a result of CSP rules

.csp-inline-patch-footer {
  display: none;
  visibility: hidden;
}

.csp-inline-patch-header {
  display: inline;
  margin: 0;
  padding: 0;
}

.csp-inline-patch-modal {
  display: none;
}

.csp-inline-patch-page-breadcrumbs {
  background-color: $color-warning-message;
  text-align: center;
}

.csp-inline-patch-page-breadcrumbs-2 {
  margin: 0;
}

.csp-inline-patch-page-react {
  padding: 2em 0;
}

.csp-inline-patch-404 {
  display: inline;
  margin: 0;
  padding: 0;
}

.csp-inline-patch-application {
  padding: 2em 0;
}

.csp-inline-patch-logout {
  padding: 2em 0;
}

// /education/apply/ uses this expander button for navigation
// Where else can I put this? Also, it could use a better name.
.expander-button {
  &::after {
    background-image: url("/img/arrow-down-white.svg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: .6em auto;
    content: ""; // Add content for accessibility purposes?
    display: inline-block;
    height: 1em;
    margin-left: .5em;
    margin-right: -.3em;
    text-indent: -9999em;
    width: 1em;
  }
}

// Handles the height transition
.expander-content {
  // No max height for small screens = no animation, which is fine
  // Also means the Apply Now button doesn't get cut off
  @include media($small-screen) {
    max-height: 25em;
  }
  overflow: hidden;
  transition: max-height 150ms ease-in-out;

  // Handles the opacity transition
  .expander-content-inner {
    transition: opacity 150ms ease-in-out;

    a.usa-button-primary {
      transition: opacity 150ms ease-in-out;
      transition-delay: 150ms;
    }
  }

  // Apply this to the inner content and make a new div
  //  with the border to expand that without the opacity
  &.expander-content-closed {
    max-height: 0 !important; // To override the id selector height
    visibility: hidden;

    .expander-content-inner {
      opacity: 0;

      a.usa-button-primary {
        opacity: 0;
      }
    }
  }
}

//============================================
// Overrides for USWDS shenanigans.
// See: https://github.com/18F/web-design-standards/issues/1899
// ===========================================

@include media($medium-large-screen)  {
  .usa-grid {
    .usa-width-one-fourth {
      margin-right: 2.35765%;
      width: 23.23176%;
    }

    .usa-width-three-fourths {
      width: 74.41059%;
    }
  }
}

// Overrides so that the left/right padding matches the Foundation grid.
// Without this, using the USA grid causes alignment issues other components
// on the page that use the Foundation grid.
.va-l-detail-page {
  > .usa-grid {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

// Ensure the info icon is centered in boxes with only one line of text
.usa-alert-info {
  min-height: 74px;
}

#hurricane-warning-container {

  width: 100%;
  background-color: $color-gibill-accent;

}

#hurricane-warning {

  max-width: 62.5em;
  margin: 0 auto;

  .usa-alert-body {
    margin: 0 auto;
    text-align: left;

    .usa-alert-heading {

      margin: 0 auto;
      padding: 0;
    }
  }
}
