// This file is a place where you put all the code you're not proud of,
// with the intention of A) isolating it and B) fixing it later. The goal
// is for this file to be empty, but some times you just have to throw that
// hack in there to get it working.


body .row {
  max-width: 62.5em;
}

.form-panel {
  @include media($medium-screen) {
    max-width: $usa-form-width;
  }
}

.main-form,
.progress-box {
  button {
    width: 100%;
  }
}

.button-icon{
  font-size: 1.7rem;
}

.progress-box {
  padding: 1rem 2rem;
  margin: 1.5rem 0  ;
  border: 1px solid $color-gray-lightest;
}

.form-section {
  display: none;
}

#content .section {
  fieldset {
    h4 {
      padding: 0;
    }
  }
}

.edit-checkbox {
  label {
    background-color: transparent;
    display: inline-block;

    &:before {
      display: none !important;
    }

    &:hover {
      cursor: pointer;
      outline: 0;
    }
  }
}

.input-section {
  margin-bottom: 2em;

  .row {
    margin: 0;
  }
}

.usa-input-error {
  select {
    border: 3px solid $color-secondary-dark;
    width: calc(100% + 1.5rem);
  }
}

.va-alert-text {
  margin: 0;
}

.hidden {
  display: none !important;
}

/* inline declarations moved here as a result of CSP rules */

.csp-inline-patch-L2-section-landing {
  margin-bottom: 1em;
}

.csp-inline-patch-L2-section-landing-1 {
  display: inline-block;
  margin-bottom: 0em;
}

.csp-inline-patch-L2-section-landing-2 {
  display: inline-block;
}

.csp-inline-patch-footer {
  display: none;
  visibility: hidden;
}

.csp-inline-patch-header {
  margin: 0;
  padding: 0;
  display: inline;
}

.csp-inline-patch-modal {
  display: none;
}

.csp-inline-patch-page-breadcrumbs {
  background-color: #FAC922;
  text-align: center;
}

.csp-inline-patch-page-breadcrumbs-2 {
  margin: 0;
}

.csp-inline-patch-page-react {
  padding: 2em 0;
}

.csp-inline-patch-404 {
  margin: 0;
  padding: 0;
  display: inline;
}

.csp-inline-patch-application {
  padding: 2em 0;
}

.csp-inline-patch-logout {
  padding: 2em 0;
}

// /education/apply/ uses this expander button for navigation
// Where else can I put this? Also, it could use a better name.
.expander-button {
  &::after {
    background-image: url(/img/arrow-down-white.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 0.6em auto;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: -0.3em;
    width: 1em;
    height: 1em;
    content: ''; // Add content for accessibility purposes?
    text-indent: -9999em;
  }
}

// Yuck...
#apply-expander-content {
  max-height: 19em;
}

// Handles the height transition
.expander-content {
  overflow: hidden;
  transition: max-height 150ms ease-in-out;

  // Handles the opacity transition
  .expander-content-inner {
    transition: opacity 150ms ease-in-out;
    a.usa-button-primary {
      transition: opacity 150ms ease-in-out;
      transition-delay: 150ms;
    }
  }

  // Apply this to the inner content and make a new div
  //  with the border to expand that without the opacity
  &.expander-content-closed {
    max-height: 0em !important; // To override the id selector height

    .expander-content-inner {
      opacity: 0;
      a.usa-button-primary {
        opacity: 0;
      }
    }
  }
}
