@import "shared-variables";
@import "modules/m-process-list";
@import "modules/va-pagination";
@import "modules/m-modal";
@import "modules/m-progress-bar";
@import "modules/va-tabs";

.claim-list {
  margin-bottom: 2em;
}

.claim-file-border, .help-heading {
  border-bottom: 3px solid $color-primary;
  margin: 0 0 0.3em;
  font-size: 1.35em;
  line-height: 1.5;
  font-weight: bold;
}

.submit-additional-evidence {
  margin-top: 1.5em;
}

.additional-evidence-desc {
  margin: 0;
}

.reviewed-file {
  color: $color-green;
}

.tracked-item-due {
  > .due-file {
    color: $color-gray-dark;
    font-size: 0.9em;
  }

  > .past-due {
    color: $color-secondary-darkest;
    font-size: 0.9em;
  }
}

.claim-list-item-container {
  background-color: $color-gray-lightest;
  padding: 2em 1em 1em;
  margin-bottom: 1em;
  position: relative;
}

.claim-list-item-icon {
  margin-right: 5px;
}

.claim-list-item-text {
  margin: 0;
}

.communications {
  list-style: none;
  padding: 0;
}

.communications,
.status {
  margin: 0 0 0.5em;
}

.last-changed-label {
  position: absolute;
  top: 0;
  right: 1em;
  background: $color-link-default;
  color: $color-white;
  font-size: 0.8em;
  padding: 0.5em 0.75em;
  border-radius: 0 0 0.5em 0.5em;
}

.claim-list-item {
  text-decoration: none;
  display: block;
  color: inherit;

  &:visited,
  &:hover,
  &:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
  }
}

.claim-list-item-header {
  color: $color-primary;
}

.claim-list-item:hover .claim-list-item-header {
  color: $color-primary-darker;
}

.claims-status {
  padding: 1em 0 3em;
}

.claims-container {
  &:not(:first-child) {
    padding: 1em 0 3em;
  }

  &:first-child {
    padding-bottom: 3em;
  }

  .claims-container-title {
    margin-bottom: 0;
    & + p {
      margin-top: 0;
    }
  }
}

.va-modal-body {
  h3 {
    margin-top: 0;
  }
}

.claims-status-icon {
  font-size: 24px;
}

.next-action-container {
  padding-right: 1em;
}

.next-action {
  padding: 1em;
  position: relative;

  &.hearing {
    background: $color-inset-bg;
  }

  &.soc,
  &.ssoc {
    background: $color-gibill-accent;
    padding-left: 2.5em;

    &:before {
      left: 1em;
      top: 1.5em;
      position: absolute;
      font-size: 1.25em;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\F071";
    }
  }
}

.claims-first-paragraph {
  .event-description &,
  .last-status-header + & {
    margin-top: 0;
  }
}

.last-status {
  margin-top: 1em;
  padding: 0 1em 1em 0;
}

.content {
  position: relative;
  padding-left: 3.25rem;
}

.last-status-content-icon {
  color: $color-green;
  left: 0;
  position: absolute;
  top: 0.1em;
}

.previous-activity {
  margin-top: 1em;
}

.events-list {
  margin: 0;
  padding: 0;
}

.event-item {
  list-style: none;
  border-bottom: solid thin $color-gray-light;

  &:last-child {
    border: none;
  }
}

.event-date {
  flex: 0 0 10rem;
  margin-right: 1rem;
}

.event-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
}

.event-header-icon {
  &:first-child {
    color: $color-gray;
    flex: 0 0 3.25rem;
  }

  &:last-child {
    font-size: 1.75rem;
    margin-left: 2rem;
  }
}

.event-title {
  flex: 1 1;
}

.event-description {
  margin-bottom: 1.5rem;
  margin-left: 3.25rem;
}

.help-talk {
  margin: 0.5em 0;
  padding: 0;
}

.help-phone-number {
  margin: 0.5em 0;
}

.help-phone-number-link {
  font-weight: bold;
  text-decoration: none;
  margin: 0.5em 0;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.loading-message-center-spinner {
  > img {
    width: 100px;
    margin: 2rem auto;
    display: block;
  }
}

.claims-alert-checkbox {
  > label {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }
}

.first-of-type {
  color: $color-primary-darker;
  letter-spacing: normal;
  font-size: 1.25em;
}

.file-requirements {
  margin-bottom: 1.5em;
}

.file-requirement-header {
  font-weight: bold;
  margin-bottom: 0;
}

.file-requirement-text {
  margin: 0;
  &:last-child {
    margin-bottom: 1em;
  }
}

.document-item-container {
  background-color: $color-gray-lightest;
  padding: 1em;
  margin-bottom: 1.5em;
  &:focus {
    outline: none;
  }
}

.document-title-text-container {
  padding-right: 1em;
  word-break: break-all;
}

.remove-document-button {
  margin: 0;
  font-weight: bold;
}

.document-title-row {
  display: flex;
  justify-content: space-between;
}

.document-title {
  font-size: 1.35em;
  line-height: 1.5;
  font-weight: bold;
  padding: 0;
}

.disability-claims-warning {
  background-color: $color-warning-message;
  text-align: left;
  font-weight: bold;
}

.claims-unavailable {
  margin-top: 0.6em;
  margin-bottom: 1.5em;
}

.claims-upload-input-error-message {
  margin-bottom: 1em;
}

.claims-upload-input-title {
  font-size: 1.15em;
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 0 !important;
}

.claim-container {
  margin: 0;
  margin-bottom: 2em;
}

.claims-alert {
  position: relative;
  &.usa-alert {
    background-size: 4.1rem;
    background-position: 2rem 1.9rem;
  }
  .usa-alert-heading {
    padding-bottom: 0 !important;
  }
  > .usa-alert-body {
    padding-left: 4.2rem;
  }
  &:focus {
    outline: none;
  }
}

.claims-alert.phase-back-alert {
  margin-top: 0;
  margin-bottom: 0;
  background-position: 1rem 1.4rem;
}

.claims-header {
  margin: 0;
}

.claims-files-cancel {
  margin-left: 0;
  @media (min-width: $small-screen) {
    margin-left: 32px;
  }
}

.claims-status-content {
  margin: 0 0;
}

.usa-input-error {
  padding-left: 1rem;
  right: 0.9em;
}

.item-title-container {
  float: none;
  width: 100%;

  @include media($medium-large-screen) {
    float: left;
    width: 63%;
  }
}

.need-files-alert {
  padding-bottom: 4em;
  @include media($medium-large-screen) {
    padding-bottom: 1em;
  }
}

.claims-status-tabs {
  display: flex;
}

.claims-status-tabs-item {
  @media (max-width: $small-screen) {
    flex: 1 1 0px;
    text-align: center;
  }
  > .va-tab-trigger {
    @media (max-width: $small-screen) {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
}

.claims-optional-desc {
  font-size: 0.9em;
  line-height: 0.3em;
  margin-top: 5px;
}

h1:focus {
  outline: none;
}

.va-nav-breadcrumbs:focus {
  outline: none;
}

.notification-close {
  background-color: transparent;
  @media (max-width: $small-screen) {
    margin: -5px 5px 0 0;
    width: 0;
  }
}

.alert-with-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include media($medium-large-screen) {
    flex-direction: row;
  }
}

.button-container {
  @include media($medium-large-screen) {
    margin-left: 1em;
    flex-shrink: 0;
  }
}

.item-container {
  margin: 0 0 0.5em 0;
  @include media($medium-large-screen) {
    margin: 0;
  }
}

.view-details-button {
  margin: 0;
}

.claims-list-sort {
  margin: 2em 0;
}

.claims-list-sort-label,
.claims-list-sort-select {
  display: inline-block;
}

.claims-list-sort-label {
  margin-right: 1.5rem;
}

@media (max-width: $medium-screen) {
  .claims-list-sort-label {
    display: block;
    margin: 0;
  }

  .claims-list-sort-select {
    display: block;
    margin: 1.4rem 0;
  }
}

.claims-list-alert {
  margin-bottom: 1em;
  margin-top: 0;

  &.usa-alert {
    background-size: 3.4rem;
    background-position: 1rem 1.9rem;
  }

  > .usa-alert-body {
    padding-left: 3.7rem;
  }
}

.va-alert-close-icon {
  font-size: 1.1em !important;
}

.claims-closed-text {
  margin-top: 1em;
}

.claims-breadcrumbs {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.claim-tab-content {
  padding-top: 2em;
}

.claims-paragraph-header {
  padding: 0.5em 0 0 !important;
}

.claims-alert-status {
  margin-top: 0;
  margin-bottom: 2em;
}

.claims-alert-header {
  padding-bottom: 0 !important;
}

.claim-title {
  margin: 0;
  display: inline-block;
}

// Claim status page

.claim-contentions {
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.claim-contentions-header {
  display: inline-block;
  margin-right: 6px;
  padding-bottom: 0;
}

.claim-timeline {
  padding-top: 0;

  .section-current > .section-header {
    color: $color-primary;
  }

  .section-header {
    padding-right: 23px !important;
  }

  .section-current:before {
    background: $color-primary;
  }

  .section-complete:before {
    background: $color-green;
    content: "\2713\fe0e";

    @include media($medium-large-screen) {
      content: "\2714\fe0e";
    }
  }

  > .section-current:not(.last),
  > .section-complete:not(.last) {
    cursor: pointer;
  }
}

// Slimmed version of .claim-timeline with appeals-specific stuff
// To be used in conjunction with .process .form-process
.appeal-timeline {
  padding-top: 0;

  li {
    &:before {
      background: $color-green;
      border-radius: 50%;
    }

    // Move up the headers to align with the bullet point better
    h3, h4 {
      padding-top: 0px;
    }
  }

  // Child <li>s are expected to have .process-step as well as a .section-*
  .process-step {
    border-left: 5px solid $color-gray-lighter; // Should probably make this a variable...
    margin-left: -2.65em;

    &:before {
      margin-left: -2.65em;
    }
  }

  .section-complete:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin-top: 5px; // Aligns the check bullets to their headers better
  }

  .section-unexpanded:before {
    font-family: FontAwesome;
    content: "\f067";
  }

  .section-expanded:before {
    font-family: FontAwesome;
    content: "\f068";
  }

  .section-current {
    // Align the bullet horizontally
    padding-left: calc(2em + 2px);

    h3 {
      // Pull the whole content up so the bullet border starts to cover the previous li's
      //  left border
      // margin-top: -7px;
    }

    &:before {
      // \2022 = unicode code point for bullet, then just color it green like the background
      //  to make it "disappear"
      content: "\2022";
      color: $color-green;
      font-size: 0.8em;
      line-height: 1.4em;
      margin-left: -3.85em;
      margin-top: 11px; // Pull the bullet down to align it better
    }
  }

  .appeal-event-date {
    color: $color-gray-light;
  }
}

.claim-timeline-icon {
  float: right;
  margin-top: 6px;
  font-size: 17px;
}

.claim-older-updates {
  margin-top: 1em;
  margin-bottom: 0;
}

.claims-evidence {
  border-bottom: 1px solid $color-gray-light;
  padding: 1em 0;
  display: flex;
  flex-direction: column;

  @include media($medium-large-screen) {
    flex-direction: row;
  }

  &:last-child {
    border: none;
    padding-bottom: 0;
  }
}

.claims-evidence-date {
  font-weight: bold;
  padding-right: 10px;

  @include media($medium-large-screen) {
    width: 25%;
    flex-shrink: 0;
  }
}

.claim-completion-estimation {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
}

// Claim detail page

.claim-details {
  margin-top: 0;
}

.claim-detail-list {
  margin: 0;
  padding: 0;
}

.claim-detail-list-item {
  display: block;
}

.claim-detail-label {
  font-size: 0.9em;
  line-height: 1.5;
  font-weight: bold;
}

.submitted-files-list {
  margin-bottom: 2em;
}

.submitted-file-list-item {
  margin: 0.5em 0;
  border-bottom: 1px solid $color-gray-light;
  &:last-child {
    border: none;
  }
}

.submission-status {
  display: inline-block;
  padding: 0;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1.5;
}

.submission-icon {
  margin-right: 6px;
}

.submission-description {
  margin: 0;
  padding: 0 0 0.5em 0;
}

.submission-file-type {
  color: $color-primary-darkest;
  display: block;
  font-size: 1.15em;
  line-height: 1.5;
  font-weight: bold;
  padding-bottom: 0;
  &.additional-evidence {
    padding-bottom: 0.5em;
  }
}

.submission-date {
  display: inline-block;
  margin-left: 0.5em;
}

.claims-requested-files-container {
  margin-bottom: 1.5em;
}

.file-request-list-item {
  margin-top: 1.5em;
  &:last-child {
    border: none;
  }
}

.file-request-title {
  font-size: 1.15em;
  line-height: 1.5;
  padding-bottom: 0;
}

.file-request-list-item-optional {
  background-color: $color-gray-lightest;
}

.past-due-icon {
  margin-right: 3px;
  @include media($medium-large-screen) {
    margin-right: 6px;
  }
}

.claim-item-label {
  font-weight: bold;
}
