@import 'style';
@import 'modules/va-pagination';
@import 'modules/m-modal';
@import 'modules/m-progress-bar';

.claim-list {
  margin-bottom: 2em;
}

.claim-file-border {
  border-bottom: 3px solid $color-primary;
  margin: 0.3em 0;
}

.submit-additional-evidence {
  margin-top: 1.5em;
  p {
    padding: 0;
    margin: 0.5em 0;
  }
  .button-container {
    float: right;
  }
}

.reviewed-file {
  color: $color-green;
}

.tracked-item-due {
  > .due-file {
    color: $color-gray-dark;
    font-size: 0.9em;
  }

  > .past-due {
    color: $color-secondary-dark;
    font-size: 0.9em;
  }

  h6.past-due, h6.due-file, span.past-due, span.due-file {
    display: inline-block;
    margin: 0;
    text-transform: none;
    padding-right: 5px !important;
  }
}


.submitted-files-list {
  margin-top: 1.5em;
  margin-bottom: 2em;
  .submitted-file-list-item {
    margin: 0.5em 0;
    border-bottom: 1px solid $color-gray-light;
    h6 {
      display: inline-block;
      padding: 0;
      text-transform: capitalize;
      i {
        margin-right: 6px;
      }
    }
    p {
      margin: 0;
      padding: 0;
    }
    .submission-file-type {
      color: $color-primary-darkest;
      display: block;
      font-size: 1.15em;
      line-height: 1.5;
      font-weight: bold;
    }
    .submission-item {
      display: block;
    }
    .submission-date {
      display: inline-block;
      margin-left: 0.5em;
    }
    &:last-child {
      border: none;
    }
  }
}

.file-request-list {
  margin-top: 1.5em;
}

.file-request-list-item {
  .item-container {
    margin: 0.5em 0;
    float: left;
    h6 {
      display: inline-block;
      text-transform: none;
      i {
        margin-right: 6px;
      }
    }
    p {
      display: inline-block;
      margin: 0;
    }
    button {
      float: right;
    }
  }
  .button-container {
    float: right;
  }
  &:last-child {
    border: none;
  }
}

.claims-evidence {
  border-bottom: 1px solid $color-gray-light;
  padding: 1em 0;
  &.row {
    margin: 0 0;
  }
  .claims-evidence-date {
    font-weight: bold;
    padding-right: 10px;
  }
  .claims-evidence-item {
  }
  &:last-child {
    border: none;
    padding-bottom: 0;
  }
}

.completion-container {
  margin-left: 8px;
}

.claim-completion-estimation {
  p {
    margin: 0;
  }
  .date-estimation {
    display:inline-block;
    font-weight: bold;
    margin-right: 10px;
  }

}

.claim-decision-is-ready,
.you-have-no-claims {
  margin-bottom: 1em;
  h4, p {
    margin: 0.5em 0;
    padding: 0;
  }
}

.claims-no-icon,
.usa-alert-info.claims-no-icon {
  background-image: none;
  h4 {
    padding-bottom: 0 !important;
  }
}

.form-process li.section-complete:before {
  background: $color-green;
  content: "\2714";
}

.form-process li.section-current {
  h5 {
    font-weight: bold;
    color: $color-primary;
  }
  li {
    display: list-item;
    &.sub-section-current {
      font-weight: bold;
      color: $color-primary;
    }
  }
  &:before {
    background: $color-primary;
  }
}

.claim-list-item {
  background-color: $color-gray-lightest;
  padding: 1em;
  margin-bottom: 1em;
  i {
    margin-right: 5px;
  }
  p {
    margin: 0;
  }
  p.status {
    font-weight: bold;
  }
  .communications, p.status {
    margin-bottom: 0.5em;
  }
}

a.claim-list-item {
  text-decoration: none;
  display: block;
  color: inherit;
  &:visited, &:hover, &:active {
    color: inherit;
    text-decoration: none;
  }
}

.claim-list-item-header {
  color: $color-primary;
}

.claim-list-item:hover .claim-list-item-header {
  color: $color-primary-darker;
}

.your-claims {
  h1, h3 {
    margin-top: 1em;
  }
}

.ask-va-questions {
  margin-top: 1.5em;
  h4 {
    border-bottom: 2px solid $color-primary;
  }
  p {
    padding: 0;
    margin-top: 0;
  }
  .talk {
    margin: .5em 0;
    padding: 0;
  }
  .phone-number {
    margin: 0.5em 0;
    a {
      font-weight: bold;
      text-decoration: none;
      margin: 0.5em 0;
    }
  }
}

.claim-conditions {
  h1, p {
    margin: 0;
  }
  h6, p {
    display: inline-block;
  }
  p {
    margin-top: 10px;
  }
  .request-decision-button {
    margin-bottom: 1
  }
  .list {
    margin-left: 6px;
  }
}

.claim-details {
  margin-top: 1.5em;

  .claim-conditions-list,
  .claim-date-recieved,
  .claim-va-representative {
    margin-top: 1.5em;
  }
  .claim-types {
    h6 {
      padding: 0;
    }
  }

  .claim-va-representative {
    margin-bottom: 2em;
  }

  h6, p, ul, li {
    margin: 0;
    padding: 0;
    display: block;
  }
}

// CSS for Tab-based navigation
// TODO: Move these to vets-website

.va-tabs {
  list-style: none;
  // Prevents wrapping, forces horizontal scrolling
  // at QVGA widths in portrait orientation.
  margin-bottom: -1px;
  min-width: 260px;
  padding-left: 0;

  > li {
    background: $color-gray-lightest;
    border-width: 1px 0px 0 1px;
    &:last-child {
      border-right-width: 1px;
    }
    border-color: $color-gray;
    border-style: solid;
    display: inline-block;
  }

  // Center navigation in viewports < 600px;
  @media (max-width: $medium-screen) {
    text-align: center;
  }
}

.va-tab-trigger {
  border-width: 5px 1px 1px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: $color-gray;
  color: $color-gray;
  display: inline-block;
  // font-size: 1.17rem;
  padding: 1rem;
  margin: 0px -1px;
  text-decoration: none;

  &:hover,
  &:focus,
  &--current {
    background: $color-white;
    border-color: $color-primary;
    border-bottom-color: $color-white;
  }

  &:visited {
    color: inherit;
  }

  @media (min-width: $small-screen) {
    font-size: inherit;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.va-tab-content {
  border-top: 1px solid $color-gray;
}


.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
 }

// TODO: Add media queries for responsiveness

.loading-message-center-spinner {
  > img {
    width: 100px;
    margin: 2rem auto;
    display: block;
  }
}

.need-files-from-you {
  .warning-title {
    color: $color-gray-dark;
    float: left;
    .fa {
      margin-right: 6px;
    }
  }
  a.usa-button {
    float: right;
    margin: 0;
  }
}

.va-claim-form {
  margin: 1.5em 0;
}

.disability-benefits-timeline {
  > li.step:not(.section-current) {
    cursor: pointer;
  }
}

button.older-updates {
  margin-top: 1em;
  margin-bottom: 0;
}

.claims-alert {
  margin-bottom: 1.5em;
}

.claims-alert-checkbox {
  > label {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
  }
}

p.first-of-type {
  color: $color-primary-darker;
  letter-spacing: normal;
  font-size: 1.25em;
}

.file-requirements {
  margin-bottom: 1.5em;
  .file-requirement-header {
    font-weight: bold;
    margin-bottom: 0;
  }
  .file-requirement-text {
    margin: 0;
    &:last-child {
      margin-bottom: 1em;
    }
  }
}

.document-item-container {
  background-color: $color-gray-lightest;
  padding: 1em;
  margin-bottom: 1.5em;
  .document-title-size {
    float: left;
  }
  .document-size-text {
    p {
      margin: 0;
    }
  }
  .remove-document-button {
    float: right;
    > button {
      margin: 0;
    }
  }
}

#content .section {
  .document-title-header > .title {
    padding: 0;
  }
}

.disability-claims-warning {
  background-color: #FAC922;
  text-align: left;
  font-weight: bold;
}

.claims-unavailable {
  margin-bottom: 1.5em;
}

.claims-upload-modal {
  .va-modal-body {
    padding: 0;
  }

  .claims-status-upload-header {
    font-size: 1.35em;
    line-height: 1.5;
    font-weight: bold;
    background-color: $color-primary-darker;
    color: $color-white;
    padding: .5em .75em;
  }

  .claims-status-upload-inner {
    padding: 1em;
    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.claims-upload-input {
  h5 {
    padding-bottom: 0 !important;
  }
  .usa-input-error-message {
    margin-bottom: 1em;
  }
}

.claim-container {
  margin: 0;
  margin-bottom: 2em;
}

.claims-alert {
  position: relative;
  margin-bottom: 0.5em;
  &.usa-alert {
    background-size: 4.1rem;
    background-position: 1rem 1.9rem;
  }
  .usa-alert-heading {
    padding-bottom: 0 !important;
  }
  > .usa-alert-body {
    padding-left: 4.2rem;
  }
  a.usa-button {
    position: absolute;
    top: .75em;
    right: 1em;
    width: auto;
    margin: 0;
  }
}

.claims-header {
  margin: 0;
}
