// Variables

@import "shared-variables";
@import "modules/m-process-list";
@import "modules/m-form-process";
@import "modules/m-progress-bar";
@import "modules/m-schemaform";
// @import "modules/m-modal";
// @import "modules/m-omb-info";
@import "modules/m-form-confirmation";


.dashed-bullet {
  list-style-type: none;
}

.dashed-bullet:before {
  content: "-";
  padding-right: 10px;
}

.treatment-centers {
  font-weight: bold;
}

.repose {
  font-weight: normal;
}

.disability-list {
  padding: 0 0 0 0;
  list-style: disc;
}