@import "shared-variables";

.discharge-wizard {
  padding-bottom: 3em;

  fieldset {
    margin: 0;
    padding: 0 1.5em;
    margin-top: 2em;

    &.dischargeMonth, &.dischargeYear {
      margin-top: 0;
    }

    .legend-label {
      max-width: 100%;
    }

    label {
      max-width: 100%;
    }
  }

  .va-introtext {
    p {
      margin-top: 0;
      color: $color-primary-darker;
    }
  }

  .review-answers {
    margin-top: 3em;
    padding: 0 1.5em;
  }
}
