// Variables

@import "shared-variables";
@import "modules/m-process-list";
@import "modules/m-form-process";
@import "modules/m-progress-bar";
@import "modules/m-schemaform";
@import "modules/m-modal";
@import "modules/m-omb-info";
@import "modules/m-form-confirmation";

// Privacy agreement?
.form-required-span {
  font-size: 1.7em;
  line-height: 0;
  position: relative;
  top: 10px;
}

.edu-benefits-dependents-desc {
  margin-top: 5px;
}

.edu-dd-warning {
  margin-top: 3rem;
}

.row .edu-intro-spacing {
  margin-bottom: 7rem;
}

.edu-benefits-alert {
  margin-top: 0;
  margin-bottom: 23px;
}

.edu-warning-single-line {
  margin-top: 0;
  > .usa-alert-body {
    padding-left: 4rem;
  }
}

@media screen and (min-width: 600px) {
  .edu-warning-single-line {
    background-size: 4.2rem;
    background-position: 1.3rem 1.5rem;
    > .usa-alert-body {
      padding-left: 5rem;
    }
  }
}


