// Variables

@import 'style';
@import 'modules/m-form-process';

$button-stroke: inset 0 0 0 1px;

@media screen and (min-width: 600px) {
  form {
    max-width: 32em;
  }
}

// TODO: Look into why svgs aren't rendering
select {
  background-image: url('/img/arrow-down.svg');
  background-image: url('/img/arrow-down.png');
}

.loading-message {
  text-align: center;
  padding: 2em 0;
}

legend {
  @extend h4;
}

.form-indent {
  padding-left: 2rem;
}

.form-checkbox-group-label {
  margin-top: 3rem;
}

.inset {
  margin: 4rem;
  padding: 2rem;
  border: 1px solid #eee;
}

.claim-list{
  list-style: none;
  margin-left: none;
  li {
    margin-bottom: 1rem;
  }
}

.edu-benefits-info-no-icon {
  background-image: none;
}

.edu-benefits-no-top-margin {
  label:first-child {
    margin-top: 0;
  }
}

.edu-benefits-pre {
  white-space: pre;
}
.edu-benefits-list {
  margin-top: 0;
  margin-bottom: 1em;
  list-style: disc;
  > li {
    line-height: 1.5;
    margin-bottom: 0.5em;
  }
}
