@import 'style';

h1{
  color: grey;
}

.leaflet-container {
    height: 500px;
    width: 100%;
}

.facility-phone-table
{
   border-collapse:collapse;
}

.facility-phone-table td
{
   border:none;
   outline:none;
}

.facility-result {
  padding: 1rem;
  border-bottom: solid 1px $color-va-gray-medium;
}

.facility-search-results {
  padding: 1rem;
}
