@import "shared-variables";
@import "modules/m-form-process";
@import "modules/m-progress-bar";
@import "modules/m-schemaform";

.letters {
  h5 {
    padding-top: 1.5em;
  }

  .form-process-total {
    padding-left: 4px;
  }

  .feature {
      min-height: 0;
      margin-top: 1em;

    &.help-desk {
      margin-top: 2em;
    }
  }

  .step-content {
    margin-left: 2em;
  }

  .letters-progress-bar {
    width: 6em;
  }

  .address-block {
    background-color: $color-gray-lightest;
    padding: 1em;

    h5 {
      color: $color-primary-darker;
      padding: 0;
    }

    button {
      margin-top: 2em;
    }
  }

  .letters-address {
    text-transform: capitalize;
  }

  .view-letters-button {
    margin: 2em;
  }

  .accordion-header > button {
    min-height: 6rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .download-button {
    margin: 1.5em 0 1em;

    > button:disabled {
      background-color: $color-gray-lighter;
      color: $color-black;
    }
  }

  .service-info {
    text-transform: capitalize;
  }

table > tbody > tr {
  vertical-align: middle;

  th {
    input, label {
      cursor: pointer;
    }

    label {
      // The USWDS label controlling the checkbox enforces an 8px margin-bottom
      // We are adding an equivalent top margin so that vertical-align works
      // correctly without using !important to over-ride margin-bottom
      margin-top: 8px;
      text-align: center;
    }
  }

  td > label {
    margin: 0;
    cursor: pointer;
  }
}

  th[scope="row"] {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-expanding-group {
    margin-left: initial;
    margin-top: 1.5em;
  }

  .form-expanding-group-open {
    border-left: 0;
    padding-left: initial;
  }
}

#invalidAddress {
  margin-bottom: 4em;
}

div.usa-alert {
  
  #warning-address-block {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}