$color-primary-darkest:      #112e51;
$color-primary-alt-light:    #9bdaf1;

.sign-in-link {
  color: white;

  a {
    color: $color-primary-alt-light;
    text-decoration: none;

    &:visited {
      color: $color-primary-alt-light;
    }

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
};

.signin-spacer {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 0.6em;
}

.signin-greeting {
  display: none;

  @media(min-width: 768px) {
    display: inline;
  }
}