// Variables

@import 'style';

.sign-in-link {
  a {
    color: $color-base;
    text-decoration: none;
    &:visited{
      color: $color-base;
    }
    &:hover{
      text-decoration: none;
      color: $color-base;
      background: none;
    }
  }
};

.signin-spacer{
  margin: 0 1rem;
}
