.sign-in-link {
  a {
    color: #fff;
    text-decoration: none;

    &:visited {
      color: #fff;
    }

    &:hover {
      text-decoration: none;
    }
  }
};

.signin-spacer {
  margin: 0 1rem;
}
