@import "style";

h3 {
  border-bottom: 1px solid #aeb0b5;
}

h4 {
  margin-top: 1em;
}

hr {
  border-style: solid;
  border-color: #aeb0b5;
  border-width: 1px 0 0 0;
  margin-bottom: 0;
}

.section-line {
  margin-bottom: 1em;
}

.usa-alert {
  margin: 1em 0 1em 0;
}

.feature {
  min-height: 0;

  &.help-desk {
  	margin-top: 2em;
  }
}