@import "shared-variables";

h3 {
  border-bottom: 1px solid $color-gray-light;
  margin: 0 0 .5em 0;
  padding: 0 0 .25em 0;
}

hr {
  border-style: solid;
  border-color: $color-gray-light;
  border-width: 1px 0 0 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.section-line {
  margin-bottom: 1em;
}

.usa-alert {
  margin: 1em 0 1em 0;
}

.feature {
  min-height: 0;

  &.help-desk {
  	margin-top: 2em;
  }
}

.usa-accordion {
    margin-top: 16px;
}

.facility {
    text-transform: capitalize;
}
