@import "shared-variables";
@import "modules/m-process-list";
@import "modules/m-form-process";
@import "modules/m-progress-bar";
@import "modules/m-schemaform";
@import "modules/m-modal";
@import "modules/m-omb-info";
@import "modules/m-form-confirmation";

#supporting-documents-description {
  p {
    &:first-child {
      margin-top: 0;
    }
  }
  .form-expanding-group {
    margin-bottom: 1em;
  }
}

.schemaform-radio-indent {
  margin: 0;
}

.mail-or-fax-message,
.mail-or-fax-steps {
  margin-bottom: 1rem;
  margin-top: 0;
}

.mail-or-fax-steps {
  padding: 0 0 0 1rem;
}

.mail-or-fax-step {
  margin-bottom: 0.75rem;
  padding-left: 1rem;
}

.mail-fax-address {
  border-left: 3px solid $color-primary;
  padding-left: 1rem;
}
