// Variables

@import "shared-variables";
@import "modules/m-modal";

.user-profile-row {
  margin-bottom: 6em;
}

.profile-section {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0;

  h4 {
    border-bottom: 2px solid $color-primary;
    margin-bottom: 0.5em !important;
  }

  p {
    padding: 0;
    margin-top: 0;
  }

  .columns {
    padding: 0;
  }

  .label {
    font-weight: bold;
  }

  .success {
    color: $color-green;
  }

  .error {
    color: $color-secondary-darkest;
  }

  .va-callout {
    color: $color-primary-darker;

    &.grey {
      background-color: $color-gray-lighter;
    }

    p {
      margin: 0;
    }
  }

  .info-container {
    span.label {
      margin-right: 5px;
    }
  }

  .card {
    .resume-saved-application-container {
      @include media($medium-large-screen) {
        padding-left: 8px;
      }
    }
  } 
  
  .saved-form-information {
    margin: 0;
    
    .saved-form-metadata-container {
      margin-bottom: 8px;
    }
    
    .saved-form-item-metadata {
      display: block;
      margin-right: 5px;
    }
  }

  .saved-form-title {
    color: $color-primary;
  }

  .remove-saved-application-container {
    margin-bottom: 16px;
    float: right;
    @include media($medium-large-screen) {
      float: left;
    }
  }

  .remove-saved-application-label {
    display: inline;
    margin-left: 5px;
  }

  .resume-saved-application {
    margin-top: 0;
    margin-right: 0;
    float: right;
  }

  .saved-form-item-expires {
    color: $color-secondary-dark
  }
  .va-expired-item-close {
    float: right;
    top: initial;
    right: initial;
    position: relative;
  }
}
