// Variables

@import 'style';

.profile-section {
  margin-top: 1.5em;
  h4 {
    border-bottom: 2px solid $color-primary;
    margin-bottom: 0.5em !important;
  }
  p {
    padding: 0;
    margin-top: 0;
  }
  button {
    width: 100%;
    margin-top: 0;
  }
  .columns {
    padding: 0;
  }
  .label {
    font-weight: bold;
  }
  .talk {
    margin: .5em 0;
    padding: 0;
  }
  .phone-number {
    margin: 0.5em 0;
    a {
      font-weight: bold;
      text-decoration: none;
      margin: 0.5em 0;
    }
  }
}