@import "shared-variables";
@import "modules/m-form-process";
@import "modules/m-progress-bar";
@import "modules/m-schemaform";

h5 {
    padding-top: 1.5em;
}

.form-process-total {
    padding-left: 4px;
}

.step-content {
    margin-left: 2em;
}

