.schemaform-title h1 {
    flex: 0 0 100% !important;
    width: 100% !important;
    padding-right: 0;
}

.change-subheader{
    flex: 0 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
}

legend.schemaform-label {
    max-width: 100%;
}

.progress-box-schemaform {
    max-width: 50rem;
}

.form-panel {
    max-width: 100%;
}