<div data-template="paragraphs/alert_single">
{% case entity.fieldAlertSelection %}

  {% comment %} Reusable {% endcomment %}
  {% when "R" %}
    {% include "src/site/paragraphs/alert.drupal.liquid" with entity = entity %}

  {% comment %} Non-reusable {% endcomment %}
  {% when "NR" %}
    {% include "src/site/paragraphs/alert.drupal.liquid" with entity = entity.fieldAlertNonReusableRef.entity %}

  {% else %}
    {% comment %} Do nothing {% endcomment %}
{% endcase %}
</div>
