{% comment %}
    Example data:
    {
    "entity": {
    "entityType": "paragraph",
    "entityBundle": "alert",
    "fieldAlertType": "information",
    "fieldAlertHeading": null,
    "fieldAlertBlockReference": {
    "entity": {
    "fieldAlertTitle": "You'll need to go to eBenefits to authorize us to share your health information through the Veterans Health Information Exchange.",
    "fieldAlertType": "information",
    "fieldReusability": "reusable",
    "fieldAlertContent": {
    "entity": {
    "fieldWysiwyg": {
    "processed": "<p>To use this feature, you'll need a Premium <strong>DS Logon</strong> account. Your My HealtheVet or ID.me credentials won’t work on the eBenefits website. Go to eBenefits to sign in, register, or upgrade your <strong>DS Logon</strong> account to Premium.<br /><a class=\"usa-button-primary\" href=\"https://www.ebenefits.va.gov/ebenefits/vapii\">Go to eBenefits</a>\n</p>"
    }
    }
    }
    }
    },
    "fieldVaParagraphs": []
    }
{% endcomment %}
{% assign alertType = entity.fieldAlertType %}
{% if alertType = "information" %}
    {% assign alertType = "info" %}
{% endif %}

{% if entity.fieldAlertBlockReference != empty %}
    {% assign alertBlock = entity.fieldAlertBlockReference.entity %}
    {% include "src/site/blocks/alert.drupal.liquid" with alert = alertBlock %}
{% else %}
    <div date-template="paragraphs/alert" data-entity-id="{{ entity.entityId }}" class="usa-alert usa-alert-{{ alertType }}" role="alert">
        <div class="usa-alert-body">
            <h3 class="usa-alert-heading">
                {{ entity.fieldAlertHeading }}
            </h3>
            {% for paragraph in entity.fieldVaParagraphs %}
                {% assign bundleComponent = "src/site/paragraphs/" | append: paragraph.entity.entityBundle | append: ".drupal.liquid" %}
                {% include {{ bundleComponent }} with entity = paragraph.entity %}
            {% endfor %}
        </div>
    </div>
{% endif %}

