<div data-template="paragraphs/alert_single">
{% case entity.fieldAlertSelection %}

  {% comment %} Reusable {% endcomment %}
  {% when "R" %}
    {% include "src/site/paragraphs/alert.drupal.liquid" with entity = entity %}

  {% comment %} Non-reusable {% endcomment %}
  {% when "NR" %}
    {% if {{entity.fieldAlertNonReusableRef.entity | isEmptyObject }} %}
      {% include "src/site/paragraphs/alert.drupal.liquid" with entity = entity.fieldAlertNonReusableRef.entity %}
    {% endif %}
  {% else %}
    {% comment %} Do nothing {% endcomment %}
{% endcase %}
</div>
