{% comment %}
  Example data:
  {
    block: {
      entity: {
        entityBundle: "collapsible_panel"
        entityRendered: "  <div class="paragraph paragraph--type--collapsible-panel paragraph--view-mode--full">...</div>"
        entityType: "paragraph"
      }
    }
  }
{% endcomment %}

{{ entity.entityRendered }}
