{% comment %}
Example data:
    "entity": {
    "entityId": "3887",
    "entityBundle": "expandable_text",
    "fieldWysiwyg": {
    "processed": "<p>Test Test</p>"
    },
    "fieldTextExpander": "Test Expander"
    }
{% endcomment %}

{% if entity.fieldTextExpander %}
    <div data-template="paragraphs/expandable_text" data-entity-id="{{ entity.entityId }}"
    class="form-expanding-group borderless-alert additional-info-container">
        <div class="additional-info-title">{{ entity.fieldTextExpander }}</div>

        {% if entity.fieldWysiwyg %}
            <div class="additional-info-content usa-alert-text" hidden>{{ entity.fieldWysiwyg.processed }}</div>
        {% endif %}
    </div>
{% endif %}
