<li class="vads-u-background-color--primary-alt-lightest usa-width-one-third vads-u-padding-y--1p5 vads-u-padding-x--1">
    {% assign link = linkTeaser.fieldLink | featureSingleValueFieldLink %}
    {% if link.title != empty %}
        <h4 class="va-nav-linkslist-title">{{ link.title }}</h4>
    {% endif %}
    {% if linkTeaser.fieldLinkSummary != empty %}
        <p class="va-nav-linkslist-description">{{ linkTeaser.fieldLinkSummary }}</p>
    {% endif %}
    <a href="{{link.url.path}}" {% if linkTeaser.options["target"] %}target="{{ linkTeaser.options["target"] }}"{% endif %} onClick="recordEvent({ event: 'nav-linkslist' });">
        <span>Read More <i class="fa fa-chevron-right"></i></span>
    </a>
</li>