{% comment %}
    Example data:
    {
        "fieldTitle":"Related links",
        "fieldVaParagraphs":[...]
    }
{% endcomment %}
{% if paragraph != empty %}
<section data-template="paragraphs/list_of_link_teasers_facility" data-entity-id="{{ paragraph.entityId }}"
  class="feature vads-u-padding-x--2 small-screen:vads-u-padding-x--4 vads-u-padding-top--3 vads-u-padding-bottom--2">
    <h3 class="vads-u-margin-bottom--2">
        {{ paragraph.fieldTitle }}
    </h3>

    <div class="va-c-list-link-teasers">
        <div class="usa-grid usa-grid-full vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row">
        {% comment %}
            If there are less than or exactly 6 links, 3 items per column
            If there are more than 6 links, 4 items per column
        {% endcomment %}
        {% if paragraph.fieldVaParagraphs.length > 6 %}
            {% assign linkWrapperStartIndex = 5 %}
            {% assign linkWrapperEndIndex = 4 %}
        {%  else %}
            {% assign linkWrapperStartIndex = 4 %}
            {% assign linkWrapperEndIndex = 3 %}
        {% endif %}
        {% for linkTeaser in paragraph.fieldVaParagraphs %}
            {% assign link = linkTeaser.entity.fieldLink %}

            {% assign everyStartItem = forloop.index | genericModulo: linkWrapperStartIndex %}
            {% assign everyEndItem = forloop.index | genericModulo: linkWrapperEndIndex %}
            {% if forloop.first || everyStartItem == 0 %}
                <div class="usa-width-one-half vads-u-display--flex vads-u-flex-direction--column">
            {% endif %}
                    <a onClick="recordEvent({ event: 'nav-featured-content-link-click', 'featured-content-header': 'In the Spotlight' });" class="vads-u-margin-bottom--2" href="{{link.url.path}}">
                        {{ link.title }}
                    </a>
            {% if forloop.last || everyEndItem == 0 %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>

</section>
{% endif %}
