{% comment %}
    Example data:
    {
        "fieldTitle":"Related links",
        "fieldVaParagraphs":[...]
    }
{% endcomment %}
{% if paragraph != empty %}
<section class="feature">
    <h3>
        {{ paragraph.fieldTitle }}
    </h3>
    <div class="va-c-list-link-teasers">
        {% assign even = true %}
        {% for linkTeaser in paragraph.fieldVaParagraphs %}
            {% for link in linkTeaser.entity.fieldLink %}
                {% if even %}
                    <div class="usa-grid usa-grid-full">
                {% endif %}
                <div class="usa-width-one-half vads-u-margin-bottom--2">
                <a href="{{link.url.path}}">
                        {{ link.title }}
                    </a>
                </div>
                {% if !even %}
                    </div>
                {% endif %}
                {% if even %}
                    {% assign even = false %}
                {% else %}
                    {% assign even = true %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if !even %}
      </div>
    {% endif %}
</section>
{% endif %}
