{% comment %}
    Example data:
    {
        "entity": {
        "entityType": "paragraph",
        "entityBundle": "media",
        "fieldAllowClicksOnThisImage": true,
        "fieldMedia": {
            "entity": {
                "entityBundle": "image",
                "image": {
                    "url": "https://dev.cms.va.gov/sites/default/files/2019-08/UD-sitemap.gif",
                    "alt": "university drive site map",
                    "title": ""
                }
            }
        }
    }
}
{% endcomment %}
<div data-template="paragraphs/media" data-entity-id="{{ entity.entityId }}" class="vads-u-display--block">
    <div class="va-c-position--relative vads-u-display--inline-block vads-u-margin-y--1p5">
        {% if entity.fieldAllowClicksOnThisImage %}
            <a
                aria-label="Open image in new tab"
                class="vads-u-margin-right--1p5 vads-u-margin-top--1p5 vads-u-text-decoration--none vads-u-display--flex vads-u-align-items--center expand-image-button va-c-position--absolute va-c-position-top-right-corner vads-u-justify-content--center"
                href="{{ entity.fieldMedia.entity.image.url }}"
                target="_blank">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        {% endif %}
        <img src="{{ entity.fieldMedia.entity.image.url }}" alt="{{ entity.fieldMedia.entity.image.alt }}"/>
    </div>
</div>
