{% comment %}
  Example data:
    "entity": {
        "entityBundle": "number_callout",
        "entityId": "938",
        "fieldShortPhraseWithANumber": "Less than 1 week",
        "fieldWysiwyg": {
            "processed": "..."
        }
    }
{% endcomment %}

<div data-template="paragraphs/number_callout" data-entity-id="{{ entity.entityId }}" class="card information">
  <span class="number">{{ entity.fieldShortPhraseWithANumber }}</span>
  <span class="description">{{ entity.fieldWysiwyg.processed }}</span>
</div>
