{% comment %}
  Example data:
  {
    block: {
      entity: {
        entityBundle: "process"
        entityRendered: "  <div class="paragraph paragraph--type--process paragraph--view-mode--full"></div>"
        entityType: "paragraph"
      }
    }
  }
{% endcomment %}

{{ block.entity.entityRendered }}
