{% comment %}
  Example data:
  {
    block: {
      entity: {
        entityBundle: "process"
        entityRendered: "  <div class="paragraph paragraph--type--process paragraph--view-mode--full"></div>"
        entityType: "paragraph"
      }
    }
  }
{% endcomment %}

<div data-template="paragraphs/process" data-entity-id="{{ entity.entityId }}" class="process schemaform-process">
    <ol>
    {% assign count = 1 %}
        {% for item in entity.fieldSteps %}
           <li class="process-step list-{{ count | numToWord }}"> {{ item.processed }} </li>
           {% assign count = count | plus: 1 %}
        {% endfor %}
    </ol>
</div>
