{% comment %}
  Example data:
  {
    block: {
      entity: {
        entityBundle: "q_a_section"
        entityRendered: "  <div class="paragraph paragraph--type--q-a-section paragraph--view-mode--full"></div>"
        entityType: "paragraph
      }
    }
  }
{% endcomment %}

{{ entity.entityRendered }}
