{% comment %}
  Example data:
  "entity": {
    "entityType": "paragraph",
    "entityBundle": "q_a_section",
    "fieldSectionHeader": "More Information about VA Mental Health Services",
    "fieldSectionIntro": "Get answers to other questions you may have about our services.",
    "fieldAccordionDisplay": true,
    "fieldQuestions": [
        QA PARAGRAPHS GO HERE
    ]
  }
{% endcomment %}
<div data-template="paragraphs/q_a_section" data-entity-id="{{ entity.entityId }}">
  {% if entity.fieldSectionHeader != empty %}
    <h2>{{ entity.fieldSectionHeader }}</h2>
  {% endif %}
  {% if entity.fieldSectionIntro != empty %}
    <p>{{ entity.fieldSectionIntro }}</p>
  {% endif %}
  {% if entity.fieldAccordionDisplay %}
      {% include "src/site/paragraphs/q_a.collapsible_panel.drupal.liquid" %}
  {% else %}
      {% for question in entity.fieldQuestions %}
        {% assign sectionHeader = entity.fieldSectionHeader %}
        {% include "src/site/paragraphs/q_a.drupal.liquid" entity = question.entity sectionHeader = sectionHeader %}
      {% endfor %}
  {% endif %}
</div>
