<table class="service-hours" data-template="paragraphs/service_hours">
  <colgroup>
    <col class="day" />
    <col class="hours" />
  </colgroup>
  <thead class="vads-u-visibility--screen-reader"><th>day</th><th>hours</th></thead>
  {% for hours in serviceHours %}
    {% if hours %}
      <tr>
        <td>{{ hours.0 }}.</td>
        <td>{{ hours.1 }}</td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
