{% comment %}
  Example data:
  "entity": {
    "entityType": "paragraph",
    "entityBundle": "spanish_translation_summary",
    "entityId": "937",
    "fieldWysiwyg": {
      "processed": "..."
    },
    "fieldTextExpander": "Obtenga instrucciones para esta solicitud en Español. "
  }
{% endcomment %}

<div data-template="paragraphs/spanish_translation" data-entity-id="{{ entity.entityId }}" class="form-expanding-group additional-info-container">
  <span class="additional-info-title">{{ entity.fieldTextExpander }}</span>
    <span id="spanishhelptext-{{ entity.entityId }}">
      <div class="additional-info-content">
        {{ entity.fieldWysiwyg.processed }}
      </div>
    </span>
</div>
