{% comment %}
  Example data:
  {
    block: {
      entity: {
        entityBundle: "wysiwyg"
        entityRendered: "  <div class="paragraph paragraph--type--wysiwyg paragraph--view-mode--full">...</div>"
        entityType: "paragraph"
      }
    }
  }
{% endcomment %}

{{ block.entity.fieldWysiwyg.processed }}
