{% comment %}
  Example data:
  {
    entity {
    entityBundle: "wysiwyg"
      fieldWysiwyg: {
        processed:
          "<h3>What if I’m just separating from active duty and don’t know where to start?</h3>"
      }
    }
  }
{% endcomment %}

{{ fieldWysiwyg.processed }}
