{% comment %}
  Example data:
  entity: {
      fieldWysiwyg: {
          entityBundle: "wysiwyg",
          entityType: "paragraph",
          processed: 'Test'
      }
  }
{% endcomment %}

<div data-template="paragraphs/wysiwyg" data-entity-id="{{ entity.entityId }}" class="processed-content">
    {{ entity.fieldWysiwyg.processed | drupalToVaPath | outputLinks }}
</div>

