{
  // Javascript settings.
  "presets": [
    ["env", {
      "targets": {
        "uglify": true,
        /* This is the full list of browsers we support, but we are not using it because we want babel-polyfill
         * to include only polyfills for more modern browsers. 
         * Older browser polyfills are in preESModulesPolyfills.js
         */
        /* "browsers": ["Chrome 60", "Firefox 57", "iOS 9", "Edge 14", "ChromeAndroid 64", "Safari 10", "ie 11"] */
        /*
         * This is the list of browers we support that all also have support for the nomodule script
         * attribute, meaning we can make them ignore a file that includes polyfills for older browsers
         */
        "browsers": ["Chrome 61", "Firefox 60", "iOS 11", "Edge 16", "ChromeAndroid 67", "Safari 11"]
      },
      "useBuiltIns": true,
      "modules": false,
      "debug": false
    }],
    "react",
    "stage-2",
  ],
  "plugins": [
    "lodash"
  ],
  // Share polyfills between files.
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ 
        "istanbul",
        "dynamic-import-node",
        "transform-react-remove-prop-types"
      ]
    },
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "removeImport": true
        }]
      ]
    },
    "hot": {
      "plugins": [
        [
          "react-transform",
          {
            "transforms": [
              {
                "transform": "react-transform-hmr",
                // see transform docs for "imports" and "locals" dependencies
                "imports": [
                  "react"
                ],
                "locals": [
                  "module"
                ]
              },
              {
                "transform": "react-transform-catch-errors",
                "imports": [
                  "react",
                  "redbox-react"
                ]
              }
            ]
          }
        ],
      ]
    }
  },
}
