# Directories to ignore
node_modules/
/build/
logs/
tmp/

# Files to ignore
._*
.cache
.config
.DS_Store
.env
npm-debug.log
*.log

config/config.proxy.js

.babelcache
jsconfig.json
typings.json
typings/
coverage
/cypress
/pacts
.nyc_output
.yalc
yalc.lock
/test-results.xml
package-lock.json
src/applications/proxy-rewrite/tests/__image_snapshots__/__diff_output__/
temp

# Ignore user's editor/IDE prefs
.vscode/
.idea/
.nova/
.swp
.swo
all-links.csv
.tern-port
*.iml

# Track shared IDE config
!.vscode/extensions.json
!.vscode/launch.json

# Ignore the hashed build files for comparison
standaloneContentBuildHash.txt
websiteContentBuildHash.txt

cms.diff

