---
layout: home
body_class: home
title: Vets.gov
majorlinks:
  - url: /disability-benefits/
    title: Disability Benefits
    description: Help with service-related medical conditions.
  - url: /education/
    title: Education Benefits
    description: Tuition assistance, training programs, and more.
  - url: /employment/
    title: Careers and Employment
    description: Meaningful employment and career development for Veterans and their families.

---

<div class="splash">
  <div class="row">
    <div class="small-12 columns">
      <div class="pitch">
        <h2 class="tagline"><span>How can we help?</span></h2>
      </div>
    </div>
  </div>
</div>


<div class="main" role="main">

  <div class="section main-menu">
    {% include main-navigation.html %}
  </div>

    {% include common-and-popular.html %}
</div>
