@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.process ul.vads-u-margin-bottom--0 {
  margin-bottom: 0 !important; // Override .process ul
}

// Review Page
.fry-dea-review-page-only {
  display: none;
}
.form-review-panel-page .fry-dea-review-page-only {
  display: block;
}
.review-row .fry-dea-review-page_selected-sponsors {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.review .fry-dea-sponsors-labels_label--secondary {
  display: none;
}

.information-border {
  border-left: .5rem solid $color-primary-alt-dark;
}


// Benefit Selection Page
$border-width: 4px;
$error-left-padding-width: 1.5rem;
#root_favoriteanimal-label,
#root_favoriteAnimal-label + .schemaform-widget-wrapper {
  border-left: $border-width solid $color-primary-alt-dark;
}
.usa-input-error #root_favoriteAnimal-label {
  border-color: $color-secondary-dark;
  margin-left: calc(-#{$error-left-padding-width} - #{$border-width});
}
.usa-input-error .fry-dea-labels_label--main,
.usa-input-error .fry-dea-input-message {
  padding-left: $error-left-padding-width !important; // Override vads spacing units
}
#root_favoriteAnimal-label {
	display: flex !important; // Override label styling
	flex-flow: row wrap;
}
.fry-dea-labels_label--main {
	flex: 0 1 auto;
	order: 0;
}
.usa-input-error .fry-dea-labels_label--main {
  font-weight: bold;
}
.fry-dea-labels_label--secondary {
	flex: 1 1 100%;
	order: 2;
}
#root_favoriteAnimal-label + .schemaform-widget-wrapper {
  padding-left: 13px;
}
#root_favoriteAnimal-label + .schemaform-widget-wrapper .form-radio-buttons label {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 1em;
}
#root_favoriteAnimal-label + .schemaform-widget-wrapper .form-radio-buttons:last-child label {
  padding-bottom: .65em;
}
// END - Benefit Selection Page
