@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.compose-container {
  #shadow-root .va-modal-body {
    padding: 0;
  }
  va-select.composeSelect::part(label)::after {
    content: " (*Required)";
    color: $color-secondary-dark;
  }
  va-select.composeSelect::part(select) {
    max-width: 100%;
  }
  @media (min-width: $medium-screen) {
    padding: 0;
    label {
      max-width: 100%;
    }
  }
  @media (min-width: $large-screen) {
    padding: 0;
  }
  .breadcrumb > i {
    margin-right: 6px;
    font-size: 1.1rem;
  }
  .edit-input-button {
    padding: 0;
    margin: 0;
    width: fit-content;
  }

  .message-body-draft-preview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .compose-form {
    background-color: $color-white;
    .required {
      color: $color-secondary-dark;
    }
    .compose-form-div {
      margin-bottom: 24px;
    }
    va-text-input#message-subject::part(input) {
      max-width: 100%;
    }
    va-textarea#compose-message-body::part(textarea) {
      max-width: 100%;
      resize: vertical;
      box-sizing: border-box;
    }

    .attachments-section {
      .compose-attachments-heading {
        margin: 27px 0 8px;
      }
    }
    .last-save-time {
      margin-top: 12px;
    }
  }
  .reply-form {
    margin: 2rem 0 1rem 0;
    background-color: $color-white;
    .required {
      color: $color-secondary-dark;
    }
    .compose-form-div {
      margin-bottom: 24px;
    }
    va-text-input#message-subject::part(input) {
      max-width: 100%;
      // background-color: $color-gray-dark;
    }
    va-textarea#reply-message-body::part(textarea) {
      max-width: 100%;
      resize: vertical;
      box-sizing: border-box;
    }

    .compose-inputs-container {
      border: 2px solid $color-gray-lightest;
      border-radius: 0 0 4px 4px;
      padding: 0 14px 14px;
      @media (min-width: $medium-screen) {
        padding: 0 36px 36px;
      }
      .message-subject {
        max-width: 100%;
        width: 100%;
        padding: 1.2rem;
        margin: 0.4rem 0px;
      }
      .message-body {
        min-height: 5.2rem;
        max-width: 100%;
        width: 100%;
        padding: 1.2rem;
        margin: 0.4rem 0px;
        resize: none;
      }

      .attachments-section {
        .compose-attachments-heading {
          margin: 27px 0 8px;
        }
      }

      .compose-form-actions {
        display: flex;
        flex-direction: column;
      }
    }
    .last-save-time {
      margin-top: 12px;
    }
  }
}

#remove-attachment-modal {
  va-button::part(button) {
    width: 100%;
    margin-right: 0;

    @include media($small-screen) {
      width: auto;
      margin-right: 24px;
    }
  }
}

.edit-preferences-button {
  box-shadow: inset 0 0 0 2px $color-gray-dark;
  color: $color-gray-dark;
  height: 36px;

  &:hover {
    color: $color-gray-dark;
    background-color: $color-gray-cool-light !important;
  }
  @media (max-width: $small-screen) {
    width: 100%;
  }
}

.file-input {
  .attach-file-button {
    display: block;
    margin: 16px 0px 24px 0;
    width: 100%;
  }

  .attach-file-button::part(button) {
    box-shadow: inset 0 0 0 2px $color-gray-dark;
    color: $color-gray-dark;
    height: 36px;
    width: 100%;

    @media (min-width: $small-screen) {
      width: auto;
    }
  }

  .how-to-attach-files {
    list-style: square;
    * {
      line-height: 24px;
      margin: 16px 0;
    }
  }
}

.compose-form-actions {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  va-button {
    display: block;
    height: 36px;
    padding: 0;
  }

  button {
    height: 36px;
  }

  @media (min-width: $medium-screen) {
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      margin-bottom: auto;
    }
  }

  va-button::part(button) {
    height: 36px;
    width: 100%;
    margin: 0;
    white-space: nowrap;
  }

  i {
    margin-right: 4px;
  }
}
