@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.dashboard {
  max-width: 80%;
  .unread-messages {
    margin-top: 20px;
    padding: 5px 0 12px 15px;
    background-color: $color-gray-lightest;

    h2 {
      margin: 0;
    }
    p {
      margin: 8px 0;
    }
  }
  .welcome-message {
    .text-placeholder {
      border: 1px solid rgba(255, 255, 255, 1);
      opacity: 1;
      background-color: rgba(231, 228, 228, 1);
      height: 10px;
      margin-bottom: 20px;
      &-upper {
        width: 100%;
      }
      &-lower {
        width: 90%;
      }
    }
  }
}
