@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.dashboard {
  @media (min-width: $medium-screen) {
    max-width: 80%;
  }

  .unread-messages {
    margin-top: 20px;
    padding: 5px 0 12px 15px;
    background-color: $color-gray-lightest;

    h2 {
      margin: 0;
    }
    p {
      margin: 8px 0;
    }
  }
  .welcome-message {
    .text-placeholder {
      border: 1px solid rgba(255, 255, 255, 1);
      opacity: 1;
      background-color: rgba(231, 228, 228, 1);
      height: 10px;
      margin-bottom: 20px;
      &-upper {
        width: 100%;
      }
      &-lower {
        width: 90%;
      }
    }
  }

  .dashboard-search {
    margin-bottom: 10px;
    &-card {
      margin-top: 20px;
      padding: 5px 15px;
      background-color: $color-gray-lightest;
    }
    #select-search-folder-dropdown {
      @media (max-width: $small-screen) {
        width: 100%;
      }
      @media (min-width: $medium-screen) {
        padding-right: 10px;
        margin-right: 13px;
        min-width: 110px;
        width: 20%;
      }
    }
    #search-keyword-text-input {
      @media (max-width: $medium-screen) {
        width: 100%;
      }
    }
    .search-button {
      margin-bottom: 3px;
    }

    .search-additinoal-info-adv {
      margin-top: 8px;
    }
  }

  .dashboard-folders {
    &-card {
      padding: 33px;
      margin: 14px 0 25px 0;
      background-color: $color-gray-lightest;
      font-weight: $font-bold;
      font-size: 16px;
      .folder-link {
        padding: 0;
        margin-bottom: 30px;
      }
      @media (min-width: $medium-screen) {
        padding: 18px 25px 1px 25px;
        min-width: 260px;
        width: fit-content;
      }
    }
  }
}
