@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.message-count {
  font-weight: normal;
}
.thread-list-draft {
  color: $color-secondary-darkest;
  font-weight: 700;
}
.thread-list {
  width: 100%;
  // @media (max-width: $small-screen) {
  word-wrap: break-word;
  //   }

  .unread-column {
    max-width: 15px;
    padding-top: 10px;
  }

  .unread-icon {
    position: absolute;
    font-size: 12px;
    margin-left: 5px;
  }

  .message-list-item-line-1 {
    display: flex;
    align-items: center;
  }

  .keyword-highlight {
    background-color: $color-gold-lightest;
  }

  .thread-list-item {
    width: 100%;
    a.message-subject-link:visited {
      color: $color-primary;
    }
    p.received-date {
      color: $color-gray-medium;
      i {
        color: $color-black;
      }
    }
    .keyword-highlight {
      background-color: $color-gold-lightest;
    }
  }
}

.thread-list-sort {
  width: 100%;
  flex-wrap: wrap;

  va-select {
    margin-right: 16px;
    max-width: 225px;
    min-width: 220px;
  }

  va-button {
    display: contents;
    height: 37px;
    padding: 0;
    align-self: flex-end;
  }

  va-button::part(button) {
    height: 4.2rem;
    width: fit-content;
    min-width: 78px;
    margin-bottom: 3px;
    align-self: flex-end;
  }
}

#sort-order-dropdown::part(label) {
  margin-top: 12px;
}
