.side-menu-nav {
  height: 600px;
  display: flex;
  justify-content: center;
  width: 232px;
  height: 600px;
  a{
    font-size: 17px;
  }
  ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    border: 0px;
  }
  li{
    border: 0px;
  }
  .messages-list-open{
    background-color: $color-gray-lightest;
    a.list-parent {
        border-left: 4px solid;
      }
  }
  .messages-list-close{
    li{
      display: none;
    }
  }
  .no-close-btn {
    position: absolute;
    left: -3000;
  }
  .nav-title {
    display: flex;
    flex-direction: row;
    height: 54px;
    i.fa-medkit {
      color: $color-white;
      background-color: $color-primary;
      margin-left: 32px;
      margin-top: 9px;
      margin-bottom: 11px;
      height: 34px;
      width: 32px;
      padding: 8px 8px 10px;
      border-radius: 100%;
    }
    h4 {
      color: $color-gray-dark;
      width: 88px;
      height: 20px;
      margin-left: 5px;
      margin-top: 15px;
      margin-right: 61px;
    }
    button:hover {
      background-color: $color-gray-lightest;
    }
  }
  .side-nav-content {
    .messages{
      .messages-list{
        background-color: $color-gray-lightest;
      }
    }
    .usa-sidenav-list {
      border-bottom: 0px;
      ul {
        li {
          margin-top: 4px;
          margin-bottom: 4px;
          padding-left: 16px;
          list-style-type: none;
          a {

            padding-top: 4px;
            padding-bottom: 4px;
            font-weight: 400;
            margin-top: 0px;
            margin-bottom: 0px;
            color: $color-link-default;
            &:focus, &:hover, &:active  {
              padding-left: 9px;
              background-color: transparent;
              border-left: 4px solid ;
              font-weight: 700;
            }
          }
        }
      }
    }
    a.list-parent {
      font-weight: 700;
      &:active, &:focus, &:hover {
        background-color: transparent;
        border-left: 4px solid;
        padding-left: 8px;

      }
      &:visited {
        color: $color-link-default;
      }
    }

  }
}

@media (max-width: $small-screen) {
  .va-btn-sidebarnav-trigger{
    z-index: 0;
    margin-right: 15px;
    .button-wrapper {
    left: 0px;
    &:hover{
      background-color: $color-white;
    }
    }
  }
  .side-menu-nav {
    width: 264px;
    height: 1925px;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    border: 1px solid $color-gray;
    background-color: $color-white;
    a{
      font-size: 15px;
    }
    .nav-title {
      i.fa-medkit {
        padding-bottom: 4px;
      }
    }
    button{
      background-color: $color-gray-lightest;
      height: 46.64px;
    }
    .fa-times {
      width: 14px;
      color: $color-black;
    }
    ul{
      margin: 0px;
      padding: 0px;
    }
    .side-nav-content {
        padding: 0px;
        padding-left: 15px;
        padding-right: 15px;
        a.list-parent {
          color: $color-black;
          border-left: 4px solid $color-black;
          &:hover, &:active, &:focus {
            padding-left: 12px;
            border-left: 4px solid $color-black;
          }
        }
        .messages-list{
          background-color: $color-white;
        }
        ul.usa-sidenav-list {

          border-top: 1px solid $color-gray;
          padding-top: 4px;
          li {

            display: none;
          }
          .messages {
            display: contents;
            .messages-list {
              background-color: $color-white;
              display: block;
              li{
                display: block;

              }
            }
          }
        }
    }
  }
}