@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.message-box {
  background-color: $color-gray-lightest;
  border-radius: 4px;
}

.send-button-top,
.reply-button-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: $color-link-default;
  font-weight: normal;
  line-height: 24px;
  width: fit-content;
  margin: 0;
  padding: 0;
  .send-button-top-text {
    text-decoration: underline;
  }
}

.message-action-buttons {
  margin-top: 20px;
  .message-action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: $color-link-default;
    font-weight: normal;
    line-height: 24px;
    width: fit-content;
    margin: 0;
    padding: 0;
    i {
      width: 20px;
      height: 20px;
    }
    .message-action-button-text {
      text-decoration: underline;
    }
  }
}

.messages-nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 13px;
  line-height: 1.5;
  border-color: $color-link-default;
  * {
    color: $color-link-default;
  }
}

.breadcrumb > i {
  margin-right: 6px;
  font-size: 1.1rem;
}

.save-button {
  background-color: transparent;
  color: $color-link-default;
  .save-button-text {
    text-decoration: underline;
    font-weight: normal;
  }
}

.send-and-save {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.message-title {
  font-size: 20px;
  padding: 12px;
  justify-content: space-between;
}

.message-input {
  min-height: 5.2rem;
  max-width: 100%;
  width: 100%;
  padding: 1.2rem;
  margin: 0.4rem 0px;
  resize: none;
}

.message-body {
  background-color: $color-white;
  font-size: 16px;
  border-radius: 0px 0px 4px 4px;
  margin-top: 1px;
  margin-bottom: 1px;
  .message-body-text {
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

.attachment-body {
  display: flex;
  background-color: $color-white;
  font-size: 16px;
  border-radius: 0px 0px 4px 4px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.attachment-icon {
  padding-top: 6px;
  margin-right: 4px;
}

.remove-attachment {
  background-color: transparent;
  color: $color-link-default;
  .remove-attachment-text {
    text-decoration: underline;
    font-weight: normal;
  }
}

.older-messages {
  margin-top: 24px;
}

.expand-messages {
  align-items: right;
}

.nav-links {
  margin-left: 8px;
  margin-right: 8px;
  .nav-links-text {
    margin-left: 8px;
    margin-right: 8px;
  }
}

.compose-container {
  margin-top: 16px;
  va-text-input.composeInput::part(input) {
    max-width: 100%;
  }
  @media (min-width: $medium-screen) {
    padding: 0;
    label {
      max-width: 100%;
    }
  }
  .breadcrumb > i {
    margin-right: 6px;
    font-size: 1.1rem;
  }
  .link-button {
    background-color: transparent;
    color: $color-link-default;
    font-weight: normal;
    text-decoration: underline;
    border: none;
  }
  .edit-input-button {
    padding: 0;
    margin: 0;
    width: fit-content;
  }

  .messages-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding: 11px 16px 11px 13px;
    line-height: 1.5;
    border-color: $color-link-default;
    * {
      color: $color-link-default;
    }
    width: 100%;
    @media (min-width: $medium-screen) {
      display: none;
    }
  }
  .page-title {
    margin: 24px 0;
  }
  .compose-block {
    margin: 2rem 0 4rem 0;
    background-color: $color-white;
    .required {
      color: $color-secondary-dark;
    }
    .compose-header {
      border-radius: 4px 4px 0 0;
      background-color: $color-gray-lightest;
      justify-content: space-between;
      align-items: center;
      padding: 17px 12px 28px;
      display: flex;

      @media (min-width: $medium-screen) {
        padding: 24px 36px 25px;
      }
      h3 {
        margin: 0;
      }
    }
    .my-class {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .send-button-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: transparent;
      color: $color-link-default;
      font-weight: normal;
      line-height: 24px;
      width: fit-content;
      margin: 0;
      padding: 0;
      .send-button-top-text {
        text-decoration: underline;
      }
    }
    .compose-form {
      border: 2px solid $color-gray-lightest;
      padding: 0 14px 36px;
      @media (min-width: $medium-screen) {
        padding: 0 36px 74px;
      }
      .message-category {
        label {
          margin: 0 0 6px 0;
          line-height: 1.5;
          @media (min-width: $medium-screen) {
            margin: 0 0 13.9px 0;
          }
        }
      }
      .message {
        min-height: 5.2rem;
        max-width: 100%;
        width: 100%;
        padding: 1.2rem;
        margin: 0.4rem 0px;
        resize: none;
      }
      .send-button-bottom-text {
        margin-right: 8px;
      }
      .radio-button > label {
        margin-left: 2.85rem;
        text-indent: -2.85rem;
      }
      .attachments-section {
        margin-bottom: 3rem;
        li,
        .compose-attachments-input {
          display: flex;
          i {
            margin: 5px 8px 0 0;
          }
        }
        .compose-attachments-list {
          list-style: none;
          margin: 0;
          padding: 0;
        }
        .compose-attachments-input {
          label {
            padding: 0.5rem 0.5rem 0.5rem 0;
            border-radius: 0.3rem;
            margin: 1rem 0 1rem 0;
            cursor: pointer;
            text-decoration: underline;
            color: $color-link-default;
          }
        }
        .how-to-attach-files {
          margin: 0;
          padding: 0;
        }
        .remove-attachment-button {
          padding: 0;
          margin: 0;
          width: fit-content;
          position: relative;
          padding-left: 1rem;
          margin-left: 1rem;
          i::before {
            position: absolute;
            top: 1px;
            left: 3px;
          }
        }
      }
      .compose-form-actions {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "top" "bottom";
        .send-button-bottom {
          grid-area: top;
        }
        .save-draft-button {
          grid-area: bottom;
        }
        @media (min-width: $medium-screen) {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          grid-template-areas: "left right";
          .send-button-bottom {
            grid-area: right;
            justify-self: end;
          }
          .save-draft-button {
            grid-area: left;
            justify-self: start;
          }
        }
      }
    }
  }
}

.message-detail-container {
  p {
    margin-top: 2px;
    margin-bottom: 1px;
  }
  .message-detail-block {
    margin: 2rem 0 4rem 0;
    background-color: $color-white;
    .message-detail-content {
      border: 2px solid $color-gray-lightest;
      padding: 18px;
    }

    .message-detail-header {
      border-radius: 4px 4px 0 0;
      background-color: $color-gray-lightest;
      justify-content: space-between;
      align-items: center;
      padding-right: 6px;
      padding-top: 8px;
      padding-bottom: none !important;
      padding-left: 12px;
      display: flex;
      h3 {
        margin: none;
      }
    }
    .message-body {
      margin-top: 30px;
    }

    .message-attachments {
      margin-top: 1em;
    }

    .message-detail-note {
      margin-top: 3em;
    }
  }
}

.search-messages-input {
  max-width: 480px;
}
