.homepage-banner, .maintenance-banner {
  .usa-alert {
    align-items: flex-start;
    display: flex;
    font-size: 1.6rem;
    padding: 12px 16px;

    &::before {
      color: unset;
      margin-right: -22.5px;
    }

    .usa-alert-heading {
      font-size: 1.6rem;
      margin-top: 5px;
      margin-left: 30.5px;
    }

    .usa-alert-text {
      margin-top: 1rem;
    }

    .va-alert-close {
      margin-top: 4px;
    }
  }

  .va-alert-close {
    position: relative;
    margin: 0;
  }
}
