.hca-dependent-list { list-style: none !important; margin: 0; max-width: 26em; padding: 0; }
.hca-dependent-list--tile { border-radius: 0.25em; margin-bottom: 1em; padding: 0.75em; }
.hca-dependent-list--tile .fas { font-size: .875em; }
.hca-dependent-list--tile .hca-button-action { text-decoration: none; }

legend.schemaform-block-title:focus { outline: none !important; }