// stylelint-disable color-no-hex

.benefit-type-page {
  va-radio[tile] va-radio-option {
    border: 1px solid #d6d7d9;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 8px;
    display: block;

    &:hover {
      border-color: #565c65;
    }

    &[checked] {
      border-color: #005ea2;
      border-width: 2px;
      background-color: #f0f9ff;
    }
  }
}
