/*****

  New homepage hero banner with a CTA to Sign In. This component displays 3 out of 8 Veteran portraits, randomly chosen on page load.

  TODO:
  - refactor vets-website/src/platform/site-wide/sass/modules/_m-homepage.scss

  Date: April 2022
  Author: allison@cityfriends.tech

******/

@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.homepage-hero {
  // gradient background from left to right
  &__wrapper {
    background: linear-gradient(to right, $color-old-browser-background-start 37%, $color-old-browser-background-end);
  }

  &__container {
    display: flex;
  }

  &__image {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center bottom;
  }
}