<div id="announcement-root"></div>
<footer class="footer" role="contentinfo">
  <div id="footerNav"></div> <!-- let's try this React thing -->
</footer>

<!-- End mobile crisis line overlay. See desktop overlay at end of footer -->
<div id="modal-crisisline" class="va-overlay va-modal va-modal-large" role="alertdialog">
  <div class="va-crisis-panel va-modal-inner">

    <button class="va-modal-close va-overlay-close va-crisis-panel-close" type="button">
      <i class="fa fa-times-circle-o va-overlay-close" aria-hidden="true"></i>
      <span class="usa-sr-only va-overlay-close">Close this modal</span>
    </button>

    <div class="va-overlay-body va-crisis-panel-body">
      <h3 class="va-crisis-panel-title">We're here anytime, day or night</h3>
      <p>Whatever you're struggling with, our responders can offer confidential help 24/7. Many of them are Veterans themselves.</p>
      <ul class="va-crisis-panel-list">
        <li>
          <i class="fa fa-phone va-crisis-panel-icon" aria-hidden="true"></i>
          <a href="tel:18002738255">Call <strong>1-800-273-8255 (Press 1)</strong></a>
        </li>
        <li>
          <i class="fa fa-mobile va-crisis-panel-icon" aria-hidden="true"></i>
          <a href="sms:838255">Text <strong>838255</strong></a>
        </li>
        <li>
          <i class="fa fa-comments-o va-crisis-panel-icon" aria-hidden="true"></i>
          <a class="no-external-icon" href="https://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Veterans%20Chat">Start a confidential chat</a>
        </li>
        <li>
          <i class="fa fa-deaf va-crisis-panel-icon" aria-hidden="true"></i>
          <a href="tel:18007994889">Call TTY if you have hearing loss <strong>1-800-799-4889</strong></a>
        </li>
      </ul>

      Get more resources at <a class="no-external-icon" href="https://www.veteranscrisisline.net/">VeteransCrisisLine.net</a>.
    </div>
  </div>
</div>
<!-- End mobile crisis line overlay -->

<!-- Begin generic overlay modal -->
{% if modal %}
  {% include "va-gov/includes/modal.html" %}
{% endif %}

<!-- htmllint attr-bans="[]" -->
{% if buildtype === 'development' %}
  <script>
    recordEvent({ environment: '{{ buildtype }}' });
  </script>
  <script async src="/js/google-analytics-dev.js"></script>
{% else %}
  <!-- Google Tag Manager -->
  <script>
    // Always use push with GTM: https://www.simoahava.com/gtm-tips/datalayer-declaration-vs-push/
    recordEvent({ environment: '{{ buildtype }}' });
    // We want to know if we are being iframed
    if ( self !== top ) {
      recordEvent({ event: 'iframed', embeddedIn: document.referrer});
    }
  </script>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFJWBD"
  height="0" width="0" class="csp-inline-patch-footer"></iframe></noscript>
  <script async src="/js/google-analytics.js"></script>
  <!-- End Google Tag Manager -->
{% endif %}
<!-- htmllint attr-bans="$previous" -->

<!--
“To care for him who shall have borne the battle and for his widow, and his orphan.”
- Abraham Lincoln
-->
<script type="text/javascript">
  function footerNavClick(elem) {
    var eventLabel = 'nav-' + elem.parentElement.parentElement.id;
    recordEvent({
      event: eventLabel,
      navlabel: elem.innerText
    });
  }
</script>
{% if widgets %}
<script type="text/javascript">
(function() {
  var widgets = {{ widgets | json }};
  var module = {};
  {% include "assets/js/static-page-widgets.js" %}
  mountWidgets(widgets);
})();
</script>
{% endif %}

<script type="text/javascript" src="/js/vendor/uswds.min.js"></script>

</body>
</html>
