.vads-l-facility-detail {
  .clinicalHours {
    ul {
      list-style-type: none;
      padding: 0;
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      list-style-position: inside;
    }
  }
  .vads-c-list-link-teasers {
    .usa-grid {
      padding: 0;
      .usa-width-one-half {
        padding-bottom: 16px;
      }
    }
  }
}