.va-c-event-info {
  display: flex;
  flex-wrap: wrap;
  > dt {
    width: 45px;
  }
  > dd {
    width: 75%;
  }

}

.va-c-social-icon {
  color: $color-link-default;
}

.va-c-btn-group {
  font-size: 0;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  .usa-button {
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 0;
    };
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}