//=============================
// Up To Top Button Styles
//=============================
.vsa-top-button-container {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  width: 100%;
  &.va-top-button-container-relative {
    position: relative;
    .vsa-top-button {
      bottom: 6px;
    }
  }

  .usa-width-three-fourths.va-top-button-container-relative {
    width: 100%;
  }

  .usa-content {
    position: relative;
  }

  .vsa-top-button {
    align-items: center;
    bottom: 0;
    background-color: $color-gray-dark;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    height: 44px;
    justify-content: center;
    margin: 0;
    opacity: 0;
    padding: 0;
    pointer-events: none;
    position: absolute;
    transition: all 250ms ease-in;
    right: 0;
    width: 44px;
    &:hover {
      background-color: $color-black;
    }
    &.va-top-button-transition-in {
      pointer-events: all;
      opacity: 1;
      transform: translateY(-12px);
    }
    &.va-top-button-transition-out {
      opacity: 0;
      transform: translateY(2px);
    }
    &.va-top-button-transition-reset {
      transform: translateY(0px);
    }
    i {
      font-size: 24px;
    }
    @include media($medium-screen) {
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
    }

    @include media($medium-screen) {
      display: block;
      padding: 1rem 2rem;
      width: auto;
    }
  }
}
