@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-action-link";

.schemaform-intro {
  padding: 0 0 2rem 0;

  .process-step:last-child {
    padding-bottom: 0;
  }

  .omb-info--container {
    margin-top: 1em;
  }
}

/* Contested issue cards (contested issue page & review/submit page) */
dl.review {
  border-bottom: 0;

  .widget-wrapper {
    position: relative;

    h4 {
      margin-top: 0;
    }
  }

  .widget-outline {
    background: transparent;
    border: solid 4px $color-primary-alt-light;
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: auto; /* IE11 */
    max-width: unset;

    &.selected {
      border-color: $color-primary;
    }

    &::before {
      position: absolute;
      margin-left: 1.5rem;
      margin-top: 1.5rem;
    }
  }

  dt.widget-checkbox-wrap {
    margin: 0;
    width: 0;
    min-width: auto; /* IE11 */
    min-width: unset;

    [type="checkbox"] {
      width: 1.8rem;
      height: 1.8rem;
      margin: 1.8rem;
    }
  }

  .widget-title {
    margin: 1.5rem 2rem 0 5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 7rem);
  }

  dd.widget-content {
    width: 100%;
    margin-inline-start: 0; /* override user agent */
    text-align: left;
    margin: 3rem 3.5rem 0 5rem;
  }

  dd.widget-content.widget-edit {
    margin-top: 0;
    margin-right: 0;
    display: flex;

    .widget-content-wrap {
      margin-top: 3rem;
      width: 100%;
    }

    .edit {
      margin-top: 2rem;
      /* position the edit button above the overlapping label */
      position: relative;
      z-index: 1;
      align-self: center;
    }
  }

  .checkbox-hidden {
    dt.widget-checkbox-wrap {
      width: 0;
    }

    .widget-title {
      margin-left: 0;
      width: 100%;
      overflow: visible;
      white-space: normal;
    }

    .widget-content {
      margin: 2rem 0 0 2rem;
    }
  }
}

.additional-issues {
  .schemaform-label,
  .usa-input-error {
    margin-top: 0;
  }
}

.form-checkbox.usa-input-error {
  margin-top: 0;
}

/* extend red error border */
article.error .additional-issues-wrap {
  border-left: 4px solid #cd2026;
  padding: 0 0 .8rem 1.5rem;
  position: relative;
  top: -2rem;
  right: 1.9rem;
}

/* Rep info */
article[data-location="representative-info"] {
  .schemaform-field-container.schemaform-block {
    margin-top: 0;
  }
}

/* additional evidence */
article[data-location$="/upload"] {
  #root_evidence_add_label {
    margin-top: 0;
  }
  .schemaform-file-list {
    p {
      margin: 0;
    }
    strong {
      display: block;
      margin-bottom: 0.5em;
    }
  }
}

article[data-location="review-and-submit"] {
  /* hide when reviewing content. Shows when editing */
  dt .hide-on-review, dd .hide-on-review {
    display: none;
  }
  dt strong.opt-in-title {
    font-weight: normal;
  }
}
