@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";

.schemaform-intro {
  padding: 0 0 2rem 0;

  .process-step:last-child {
    padding-bottom: 0;
  }

  .omb-info--container {
    margin-top: 1em;
  }
}

/* Contestable issue cards (contestable issue page & review/submit page) */
dl.review {
  .widget-wrapper {
    display: flex;

    dt.widget-checkbox-wrap {
      margin: 0;
      width: 5rem;
      min-width: 5rem;

      [type="checkbox"] {
        width: 1.8rem;
        height: 1.8rem;
        margin: 0;
      }
    }

    dt label {
      margin-top: 0;
    }

    .widget-title {
      margin: 0;
      white-space: nowrap;
      text-transform: capitalize;
      text-overflow: ellipsis;
      overflow: hidden;
      width: calc(100% - 7rem);
    }

    dd.widget-content {
      width: 100%;
      margin-inline-start: 0; /* override user agent */
      text-align: left;
      margin: 0;
    }
    dd.widget-content.widget-edit {
      margin-top: 0;
      margin-right: 0;
      display: flex;

      .widget-content-wrap {
        margin-top: 3rem;
        margin-right: 0.5rem;
        width: 100%;
      }

      .edit {
        margin-top: 2rem;
        /* position the edit button above the overlapping label */
        position: relative;
        z-index: 1;
        align-self: center;
      }
    }
    .change-issue-link:visited {
      color: inherit;
    }
  }

  .checkbox-hidden {
    dt.widget-checkbox-wrap {
      width: 0;
    }

    .widget-title {
      margin-left: 0;
      width: 100%;
      overflow: visible;
      white-space: normal;
    }

    .widget-content {
      margin: 2rem 0 0 2rem;
    }
  }
}

@media screen and (min-width: 481px) {
  .va-profile-wrapper button {
    width: auto;
  }
}

/* IE11 hack to fix edit button placement, see
 * https://github.com/department-of-veterans-affairs/va.gov-team/issues/25108
 */
 _:-ms-fullscreen, :root dl.review dd.widget-content.widget-edit .widget-content-wrap {
  width: calc(100% - 175px); /* 175px ~= width of the edit button x2.5 */
}
/* IE11 fix legend not wrapping on small screens */
legend.schemaform-block-title {
  width: 100%;
}

/* empty header on additional-issues-intro page */
.schemaform-block-header:empty {
  margin: 0;
}

.additional-issue {
  .schemaform-label,
  .usa-input-error {
    margin-top: 0;
  }
}

.form-checkbox.usa-input-error {
  margin-top: 0;
}

/* contact info page */
article[data-location="contact-information"] {
  div[data-field-name="mobilePhone"] h3 {
    margin-top: 0;
  }
  /* address modal is very tall and won't scroll without this fix */
  .va-modal-body {
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
  }
}

article[data-location="add-issue"] {
  /* Hide extra "Required" label */
  p.label-description + span {
    display: none;
  }
  .usa-input-error,
  label {
    margin-top: 0;
    padding-top: 0;
  }
}

/* Area of disagreement */
.area-of-disagreement-label {
  margin-top: 0;
}
.area-of-disagreement-label .usa-input-error-message {
  display: none;
}
.area-of-disagreement-label[data-submitted="true"].usa-input-error {
  .usa-input-error-message {
    display: block;
  }
  .input-section {
    margin-bottom: 0;
  }
}
.area-of-disagreement-label:not(.usa-input-error) {
  margin: 2rem 0;
}

article[data-location^="area-of-disagreement"],
article[data-location="review-and-submit"] div[name="areaOfDisagreementFollowUp0ScrollElement"] + form {
  .schemaform-block-header,
  .schemaform-block-header + .usa-input-error {
    margin-top: 0;
    margin-bottom: 0;
  }
  .area-of-disagreement-label.usa-input-error ~ div {
    /* add left red border to 2 associated divs */
    border-left: 4px solid var(--color-secondary-dark);
    position: relative;
    right: 1.9rem;
    padding-left: 1.9rem;

    .vads-u-margin-y--2 {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
    #root_otherEntry-label {
      margin-top: 0 !important;
      padding-top: 2rem;
    }
    label[for="root_disagreementOptions_evaluation"] {
      margin-bottom: 0;
    }
  }
}

/* override formation to maintain margin between checkboxes */
.usa-input-error label {
  margin-top: 3rem;
}
#root_otherEntry-label {
  margin-top: 2rem;
}
.usa-input-error > label {
  margin-top: 0;
}

/* Show issues list */
.capitalize {
  text-transform: capitalize;
}

/* additional evidence */
article[data-location$="/upload"] {
  #root_evidence_add_label {
    margin-top: 0;
  }
  .schemaform-file-list {
    p {
      margin: 0;
    }
    strong {
      display: block;
      margin-bottom: 0.5em;
    }
  }
}

article[data-location="review-and-submit"] {
  /* hide when reviewing content. Shows when editing */
  dt .hide-on-review, dd .hide-on-review {
    display: none;
  }
  dt strong.opt-in-title {
    font-weight: normal;
  }
  dd {
    word-break: break-all;
  }
}
