@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";

.schemaform-intro {
  padding: 0 0 2rem 0;

  .process-step:last-child {
    padding-bottom: 0;
  }

  .omb-info--container {
    margin-top: 1em;
  }
}

/* Global */
.nowrap {
  white-space: nowrap;
}

/* Step 2 */
/*** Contested issues block ***/

/* global definitions */
// hide Required label (added to description)
#root_contestedIssues-label {
  display: none;
}

#root_additionalDocuments_add_label {
  margin-top: 0;
}

/* Contested issue cards (contested issue page & review/submit page)
 * This could go in the schemaform css, it's used in form 526 & HLR
 */
.issues {

  .widget-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .widget-checkbox-wrap {
      margin: 0;
      width: 5rem;
      min-width: 5rem;

      label {
        margin-top: 0;
      }

      [type="checkbox"] {
        width: 1.8rem;
        height: 1.8rem;
        margin: 0;
      }
    }

    .widget-content {
      width: 100%;
      margin-inline-start: 0; /* override user agent */
      text-align: left;
      margin: 0;
    }
    .widget-content.widget-edit {
      margin-top: 0;
      margin-right: 0;
      display: flex;

      .widget-content-wrap {
        margin-top: 3rem;
        margin-right: 0.5rem;
        width: 100%;
      }

      .edit {
        margin-top: 2rem;
        /* position the edit button above the overlapping label */
        position: relative;
        z-index: 1;
        align-self: center;
      }
    }
    .edit-issue-link:visited {
      color: inherit;
    }
  }

  .checkbox-hidden {
    .widget-content {
      margin: 2rem 0 0 0;
    }
  }
}

.usa-accordion-content .issues .checkbox-hidden .widget-content {
  margin-left: 0; /* remove card margin on review & submit page */
}

.usa-input-error #root_additionalIssues_0_decisionDate-label {
  font-weight: bold;
}

.review-row > dd {
  word-break: break-word;
}

ul.issues-summary,
ul.evidence-summary,
.usa-accordion-bordered ul li ul.evidence-summary,
ul.issues,
.usa-accordion-bordered ul li ul.issues {
  list-style: none;
  padding: 0;
}

/* add/update & cancel buttons on edit contact info page */
@media screen and (min-width: 481px) {
  .va-profile-wrapper button {
    width: auto;
  }
}

@media screen and (max-width: $small-screen) {
  dl.review .review-row > dd {
    text-align: left;
  }
}

#root_form5103Acknowledged-label {
  display: none !important;
}

/* Hide home & mobile phone extension entry, per design */
article[data-location="edit-mobile-phone"] .schemaform-field-template:not(.schemaform-first-field),
article[data-location="edit-home-phone"] va-text-input[name="extension"] {
  display: none;
}

article[data-location="issue-summary"] {
  font-size: 1.5rem;
  font-weight: 400;
}

article[data-location="review-and-submit"],
article[data-location="primary-phone-number"],
article[data-location$="request-va-medical-records"],
article[data-location$="request-private-medical-records"],
article[data-location$="upload-evidence"] {
  va-radio::part(header) {
    font-family: "Bitter", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    line-height: 1.3;
    font-size: 2rem;
    font-weight: 700;
  }

  span.schemaform-required-span,
  va-radio::part(required) {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

article[data-location="supporting-evidence/private-medical-records"] {
  /* Add margin for error messages, otherwise the label + error + input take up
   * the same space
   */
  va-select[error],
  va-text-input[error] {
    margin-top: 3rem;
  }
}

article[data-location$="va-medical-records"] {
  /* editing location card */
  label#root_locations_0_locationAndName-label,
  .va-growable-expanded h3 {
    margin-top: 0;
  }
  .va-growable-background {
    border-bottom: solid 1px $color-gray-light;
  }
}

article[data-location="review-and-submit"] {
  /* Add actual phone number to radio option */
  va-radio-option:after {
    margin-left: 3rem;
  }

  .review-fieldset {
    legend {
      border-top: 1px solid $color-gray-light;
      padding-top: 2rem;
    }
  }
}

article[data-location$="private-medical-records-authorization"] {
  /* hide duplicate single checkbox label; !important needed to override
     _inputs.scss using !important */
  label#root_privacyAgreementAccepted-label {
    display: none !important;
  }
}
