@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";
@import "../../shared/sass/appeals";

/* Fix long labels on VA & non-VA evidence pages, see
 * https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/2830
 */
va-checkbox[name="issues"]::part(label) {
  word-break: break-all;
}

.hipaa-privacy-agreement {
  background-color: $vads-color-base-lightest;
}

.error-bolding {
  font-weight: bold;
}

#evidence-title {
  color: $vads-color-base;
}

/* Array builder style adjustments */
.schemaform-block-title {
  padding-bottom: 0;

  h3 {
    margin-bottom: 0;
    color: $vads-color-base !important;
  }
}

#limited-consent {
  padding-left: 1rem;
  border-left: 7px solid $vads-color-primary-alt-light;
}