@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";
@import "../../shared/sass/appeals";

/* global definitions */
// hide Required label (added to description)
#root_contestedIssues-label {
  display: none;
}

#root_additionalDocuments_add_label {
  margin-top: 0;
}

.usa-input-error #root_additionalIssues_0_decisionDate-label {
  font-weight: bold;
}

.review-row > dd {
  word-break: break-word;
}

/* Fix long labels on VA & private evidence pages */
va-checkbox[name="issues"]::part(label) {
  word-break: break-all;
}

ul.issues-summary,
ul.evidence-summary,
.usa-accordion-bordered ul li ul.evidence-summary,
ul.issues,
.usa-accordion-bordered ul li ul.issues {
  list-style: none;
  padding: 0;
}

/* add/update & cancel buttons on edit contact info page */
@media screen and (min-width: 481px) {
  .va-profile-wrapper button {
    width: auto;
  }
}

@media screen and (max-width: $small-screen) {
  dl.review .review-row > dd {
    text-align: left;
  }
}

#root_form5103Acknowledged-label {
  display: none !important;
}

article[data-location="issue-summary"] {
  font-size: 1.5rem;
  font-weight: 400;
}

article[data-location="review-and-submit"],
article[data-location="primary-phone-number"],
article[data-location$="request-va-medical-records"],
article[data-location$="request-private-medical-records"],
article[data-location$="upload-evidence"] {
  va-radio::part(header) {
    font-family: "Bitter", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    line-height: 1.3;
    font-size: 2rem;
    font-weight: 700;
  }

  span.schemaform-required-span,
  va-radio::part(required) {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

article[data-location="supporting-evidence/private-medical-records"] {
  /* Add margin for error messages, otherwise the label + error + input take up
   * the same space
   */
  va-select[error],
  va-text-input[error] {
    margin-top: 3rem;
  }
}

article[data-location$="va-medical-records"] {
  /* editing location card */
  label#root_locations_0_locationAndName-label,
  .va-growable-expanded h3 {
    margin-top: 0;
  }
  .va-growable-background {
    border-bottom: solid 1px var(--vads-color-base-light);
  }
}

article[data-location="review-and-submit"] {
  /* Add actual phone number to radio option */
  va-radio-option:after {
    margin-left: 3rem;
  }

  .review-fieldset {
    legend {
      border-top: 1px solid var(--vads-color-base-light);
      padding-top: 2rem;
    }
  }
}

article[data-location$="private-medical-records-authorization"] {
  /* hide duplicate single checkbox label; !important needed to override
     _inputs.scss using !important */
  label#root_privacyAgreementAccepted-label {
    display: none !important;
  }
}
