<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  </head>
  <body style="padding: 1em;">
    <section-name>Headings</section-name>
    <div>
      <h1>h1. heading</h1>
      <h2>h2. heading</h2>
      <h3>h3. heading</h3>
      <h4>h4. heading</h4>
      <h5>h5. heading</h5>
      <h6>h6. heading</h6>
    </div>
    <hr/>
    <div>
      <h1>h1. heading <small>Secondary text</small></h1>
      <h2>h2. heading <small>Secondary text</small></h2>
      <h3>h3. heading <small>Secondary text</small></h3>
      <h4>h4. heading <small>Secondary text</small></h4>
      <h5>h5. heading <small>Secondary text</small></h5>
      <h6>h6. heading <small>Secondary text</small></h6>
    </div>
    <hr/>
    <div>
      <h6 class="usa-heading-alt">Body Copy</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <u>This line of text will render as underlined</u>

      <p><small>This line of text is meant to be treated as fine print.</small></p>

      <p>The following snippet of text is <strong>rendered as bold text</strong></p>

      <p>The following snippet of text is <em>rendered as italicized text</em></p>

      <del>This line of text is meant to be treated as deleted text.</del>

      <p>You can use the mark tag to <mark>highlight</mark> text.</p>
    </div>
    <hr/>
   <div class="preview">
  <h6 class="usa-heading-alt">Alignment</h6>
  <div class="alignment-example">
    <h4>The Grand Canyon</h4>
    <p>Grand Canyon National Park is the United States' 15th oldest national park. Named a UNESCO World Heritage Site in 1979, the park is located in Arizona.</p>
  </div>
    <h6 class="usa-heading-alt">Line length - Desktop</h6>
    <div class="usa-line-length-example">
      <p>Yosemite National Park is set within California’s Sierra Nevada mountains. It’s famed for its giant, ancient sequoias, and for Tunnel View, the iconic vista of towering Bridalveil Fall and the granite cliffs of El Capitan and Half Dome.</p>
      <p class="help-text">75 characters max on desktop</p>
    </div>
    <h6 class="usa-heading-alt">Spacing</h6>
    <h1>Section heading</h1>
    <p class="usa-font-lead">Great Smoky Mountains National Park straddles the border of North Carolina and Tennessee.</p>
    <h2>Section heading</h2>
    <h3>Section of the page</h3>
    <p>The sprawling landscape encompasses lush forests and an abundance of wildflowers that bloom year-round. Streams, rivers and waterfalls appear along hiking routes that include a segment of the Appalachian Trail.</p>
    <h4>Subsection of the page</h4>
    <p>World renowned for its diversity of plant and animal life, the beauty of its ancient mountains, and the quality of its remnants of Southern Appalachian mountain culture, this is America's most visited national park.</p>
    <p>Right now scientists think that we only know about 17 percent of the plants and animals that live in the park, or about 17,000 species of a probable 100,000 different organisms.</p>
    <h5>Subsection of the page</h5>
    <p>Entrance to Great Smoky Mountains National Park is free. The park is one of the few national parks where no entrance fees are charged.</p>
  </div>
  <div>
    <p><a href="#">This</a> is a text link on a light background.</p>

    <p><a class="usa-color-text-visited" href="#">This</a> is a visited link.</p>

    <p>This is a link that goes to an <a class="usa-external_link" href="http://media.giphy.com/media/8sgNa77Dvj7tC/giphy.gif">external website</a>.</p>

    <div class="usa-background-dark">
      <p><a href="#">This</a> is a text link on a dark background.</p>
    </div>
  </div>

  <script src="//localhost:35729/livereload.js"></scrip>
  </body>
</html>