@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";
@import "./m-review-box-field";

/* Form Styling Overrides
---------------------------------------------------------------------*/
.schemaform-block-header > p {
	// Overriding generated !importants.
	margin-bottom: 24/16 + 0em !important;
	margin-top: 1em !important;
}
.schemaform-block-header {
	margin-bottom: 1em;
}
.meb-additional-considerations-title {
	margin-top: 0;
}
.schemaform-field-template,
fieldset.schemaform-field-template {
	margin-top: 24/16 + 0rem; // 24px
}
.form-checkbox label:not([name="privacyAgreementAccepted-label"]),
.schemaform-block {
	margin-top: 0;
}
[type=checkbox] + label,
[type=radio] + label {
	margin-bottom: 1em;
}
/* END Form Styling Overrides ---------------------------------------*/

.process p {
	margin-bottom: 0;
}


// USA Alert
.usa-alert,
.usa-alert.background-color-only {
	padding: 1em;
}

.usa-alert h3 {
	margin-top: 0;
}
.usa-alert p {
	margin-bottom: 0;
}

// @media only screen and (min-width: 40.0625em) {
@media only screen and (min-width: 64.0625em) {
	.usa-alert {
		margin-left: -2rem;
		width: calc(117.1875% + 2rem);
	}
	.usa-alert,
	.usa-alert.background-color-only {
		padding-left: 30/16 + 0em;
		padding-right: 30/16 + 0em;
	}
}
/* Service History
----------------------------------------------------------------------*/
va-accordion {
	margin-bottom: 2em;
}
va-accordion-item .service-history-details {
	margin-bottom: 0;
}
.accordion-toggle-button {
	background: transparent;
	color: $color-link-default;
	font-weight: normal;
	padding-left: 0;
	padding-right: 0;
	text-decoration: underline;
}
.progress-box .accordion-toggle-button {
	width: auto;
}
.accordion-toggle-button:hover {
	background: transparent;
	color: $color-primary-alt-darkest;
}
.service-history-details {
	display: flex;
	flex-wrap: wrap;
}
.service-history-details_term,
.service-history-details_definition {
	align-self: flex-start;
	box-sizing: border-box;
	flex: 1 1 100%;
	margin: 0;
}
.service-history-details_term {
	border-top: 1px solid $color-gray-medium;
	padding-top: 1em;
}
.service-history-details_definition {
	font-weight: bold;
	padding-bottom: 1em;
	padding-left: 1em;
	text-align: right;
}
.va-growable-review .va-growable-background:not(:nth-last-child(3)) .service-history-details_definition:last-child {
	padding-bottom: 1em;
}
:not(.va-growable-review) .service-history-details_term:nth-last-child(2),
:not(.va-growable-review) .service-history-details_definition:last-child,
.va-growable-review .va-growable-background:last-child .service-history-details_term:nth-last-child(2),
.va-growable-review .va-growable-background:last-child .service-history-details_definition:last-child,
.va-growable-review .va-growable-background:nth-last-child(3) .service-history-details_term:nth-last-child(2),
.va-growable-review .va-growable-background:nth-last-child(3) .service-history-details_definition:last-child {
	padding-bottom: 0
}
.service-history-details_period {
	display: block;
}
.form-review-panel-page .service-history-details {
	margin: 0;
}
.form-review-panel-page .service-history-details_term:first-of-type {
	border-top-color: $color-gray-dark;
	border-top-width: 2px;
}
@media (min-width: $small-screen) {
	.service-history-details_term,
	.va-growable-background .service-history-details_term:last-child {
		padding-bottom: 1em;
	}
	.service-history-details_term {
		flex: 0 1 40%;
	}
	.service-history-details_definition {
		border-top: 1px solid $color-gray-medium;
		flex: 1 1 60%;
		padding-top: 1em;
	}
	.form-review-panel-page .service-history-details_definition:first-of-type {
		border-top-color: $color-gray-dark;
		border-top-width: 2px;
	}
}
@media only screen and (min-width: 40.0625em) {
	.service-history-details_term {
		flex: 0 1 auto;
		max-width: 40%;
		padding-left: 1em;
	}
	.service-history-details_definition {
		padding-top: 1em;
		padding-right: 1em;
	}
}

#LiveOnMilitaryBaseTooltip {
	margin-top: 3rem;
}

// Additional Considerations page - BEGIN
.form-field-footer-additional-info {
	margin-top: 1em;
	max-width: 425px;
}
// Additional Considerations page - END

// Review Page
.review {
	margin-bottom: 0;
}
dl.review {
	border-bottom: 0;
}
.review-row {
	margin: 0;
}
dl.review .review-row {
	padding: 1em 0;
}
dl.review .review-row:last-child {
	padding-bottom: 0;
}
@media only screen and (min-width: 40.0625em) {
	dl.review .review-row {
		padding-left: 1em;
		padding-right: 1em;
	}
}

.form-review-panel-page form.rjsf {
	margin: 0;
}
.va-growable-review {
	margin-top: 0;
}
.va-growable-review .va-growable-background {
	background-color: transparent;
	margin-bottom: 0;
	padding: 0;
}
.form-review-array .add-btn {
	display: none;
}
.form-review-panel-page .input-section div:last-child fieldset {
	margin-bottom: 0;
}
.form-review-panel fieldset {
	margin-bottom: 2em;
}
.form-review-panel fieldset fieldset {
	margin-bottom: 0;
}
.review-row .form-expanding-group {
	display: none;
}

// Confirmation Page
.meb-feature--secondary {
	background-color: $color-gray-lightest;
}
.meb-feature--secondary h2 em {
	border-bottom: 1px solid $color-gray-dark;
	font-style: normal;
}
.meb-confirmation-page .feature h3 {
	font-weight: normal;
	line-height: 34/20 + 0em;
	margin-bottom: 14/20 + 0em;
}
.meb-confirmation-page button {
	display: block;
	margin: 24px 0;
	width: auto;
}
.meb-confirmation-page button:last-child {
	margin-bottom: 0;
}
@media only screen and (min-width: 64.0625em) {
	.meb-confirmation-page .feature {
		padding: 30/16 + 0em;
	}
}
.meb-confirmation-page .help-footer-box{
	padding-top: 2em;
}
// END - Confirmation Page
