@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";
@import "./m-review-box-field";

/* Form Styling Overrides
---------------------------------------------------------------------*/
.schemaform-block-header > p {
	// Overriding generated !importants.
	margin-bottom: 24/16 + 0em !important;
	margin-top: 1em !important;
}
.schemaform-block-header {
	margin-bottom: 1em;
}
.meb-additional-considerations-title {
	margin-top: 0;
}
.schemaform-field-template,
fieldset.schemaform-field-template {
	margin-top: 24/16 + 0rem; // 24px
}
.form-checkbox label,
.schemaform-block {
	margin-top: 0;
}
[type=checkbox] + label,
[type=radio] + label {
	margin-bottom: 1em;
}
/* END Form Styling Overrides ---------------------------------------*/

.review-row {
	margin: 0;
}

.process p {
	margin-bottom: 0;
}


// USA Alert
.usa-alert,
.usa-alert.background-color-only {
	padding: 1em;
}

.usa-alert h3 {
	margin-top: 0;
}
.usa-alert p {
	margin-bottom: 0;
}

// @media only screen and (min-width: 40.0625em) {
@media only screen and (min-width: 64.0625em) {
	.usa-alert {
		margin-left: -2rem;
		width: calc(117.1875% + 2rem);
	}
	.usa-alert,
	.usa-alert.background-color-only {
		padding-left: 30/16 + 0em;
		padding-right: 30/16 + 0em;
	}
}
/* Service History
----------------------------------------------------------------------*/
va-accordion {
	margin-bottom: 2em;
}
.accordion-toggle-button {
	background: transparent;
	color: $color-link-default;
	font-weight: normal;
	padding-left: 0;
	padding-right: 0;
	text-decoration: underline;
}
.progress-box .accordion-toggle-button {
	width: auto;
}
.accordion-toggle-button:hover {
	background: transparent;
	color: $color-primary-alt-darkest;
}
.service-history-details {
	display: flex;
	flex-wrap: wrap;
}
.service-history-details_term,
.service-history-details_definition {
	align-self: flex-start;
	border-top: 1px solid $color-gray-medium;
	box-sizing: border-box;
	margin: 0;
	padding: 1em 0;
}
.service-history-details_term {
	flex: 0 1 auto;
	max-width: 40%;
}
.service-history-details_definition {
	flex: 1 1 60%;
	font-weight: bold;
	padding-left: 1em;
	text-align: right;
}
.service-history-details_period {
	display: block;
}
@media only screen and (min-width: 40.0625em) {
	.service-history-details_term {
		padding-left: 1em;
	}
	.service-history-details_definition {
		padding-right: 1em;
	}
}

#LiveOnMilitaryBaseTooltip {
	margin-top: 3rem;
}

// Additional Considerations page - BEGIN
.form-field-footer-additional-info {
	margin-top: 1em;
	max-width: 425px;
}
// Additional Considerations page - END
