@import "~@fortawesome/fontawesome-free/scss/variables";

@mixin make-status-styles($status,
  $color,
  $icon: $fa-var-exclamation,
  $top: 1px,
  $left: 7.5px,
  $size: 13px) {

  &-#{$status} section.status {
    border-color: $color;

    .status-icon-container i {
      background-color: $color;

      &::before {
        content: fa-content($icon);
        font-size: $size;
        margin-top: $top;
        margin-left: $left;
      }
    }
  }
}

.dashboard-alert {
  background: none;
  background-color: $color-gray-lightest;
  font-family: $font-sans;
  padding: units(2);

  @include media($medium-screen) {
    padding: units(4);
  }

  header > .heading-desc {
    text-transform: uppercase;
  }

  section.status {
    margin: units(3) 0;
    padding: units(2) 0;
    border-top: 1px solid;
    border-bottom: 1px solid;

    .status-icon-container {
      width: units(4);
      padding-top: 3px;

      i {
        display: inline-block;
        width: units(2.5);
        height: units(2.5);
        color: $color-white;
        border-radius: 50%;

        &::before {
          font-family: "Font Awesome 5 Free";
          font-style: normal;
          font-weight: 900;
          position: absolute;
        }
      }
    }

    h3 {
      font-family: $font-sans;
      font-weight: $font-bold;
      font-size: 1.25em;
      margin: 0;
    }

    p {
      font-family: $font-sans;
      margin: 0;
    }
  }

  section.content p:last-child {
    margin-bottom: 0;
  }

  @include make-status-styles(
    $status: "closed",
    $color: $color-black,
  );

  @include make-status-styles(
    $status: "decision",
    $color: $color-red,
  );

  @include make-status-styles(
    $status: "enrolled",
    $color: $color-green,
    $icon: $fa-var-check,
    $top: 1px,
    $left: 2.5px,
    $size: 14px,
  );

  @include make-status-styles(
    $status: "in-progress",
    $color: $color-light-blue,
    $icon: $fa-var-file,
    $top: 2px,
    $left: 6px,
    $size: 11px,
  );

  @include make-status-styles(
    $status: "update",
    $color: $color-gold-light,
  );

  section.content {
    padding: 0;

    .remove-notification-link {
      display: block;
      margin-top: units(2);
    }

    .remove-notification-label {
      margin-left: units(1);
    }
  }
}
