@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-nav-linkslist";
@import "../../../../platform/forms/sass/_m-applications";

$symbol-exclamation-circle: "\f06a";
$symbol-info-circle: "\f05a";
$symbol-checkmark-circle: "\f058";
$symbol-pause-circle: "\f28b";

.dashboard-alert {
  background: none;
  background-color: $color-gray-lightest;
  font-family: $font-sans;
  padding: 1.25em;

  @include media($medium-large-screen) {
    padding: 2em;
  }

  header {
    h4 {
      border: none;
      font-family: $font-sans;
      font-weight: $font-normal;
      font-size: 1em;
      margin: 0;
      text-transform: uppercase;
    }
    h3 {
      font-family: $font-serif;
      font-size: 1.25em;
      margin: 0;
    }
  }

  section.status {
    margin: 1.5em 0;
    padding: 1em 0 1em 2em;
    border-top: 1px solid;
    border-bottom: 1px solid;

    h3 {
      font-family: $font-sans;
      font-weight: $font-bold;
      font-size: 1.25em;
      margin: 0;

      &::before {
        background: none;
        font-family: "Font Awesome 5 Free";
        font-size: 1em;
        margin-left: -1.5em;
        position: absolute;
        font-weight: 900;
      }
    }

    p {
      font-family: $font-sans;
      margin: 0;
    }
  }

  &-closed section.status {
    border-color: $color-black;

    h3::before {
      content: $symbol-exclamation-circle;
      color: $color-black;
    }
  }

  &-decision section.status {
    border-color: $color-red;

    h3::before {
      content: $symbol-exclamation-circle;
      color: $color-red;
    }
  }

  &-enrolled section.status {
    border-color: $color-green;

    h3::before {
      content: $symbol-checkmark-circle;
      color: $color-green;
    }
  }

  &-in-progress section.status {
    border-color: $color-light-blue;

    h3::before {
      content: $symbol-pause-circle;
      color: $color-light-blue;
    }
  }

  &-update section.status {
    border-color: $color-gold-light;

    h3::before {
      content: $symbol-exclamation-circle;
      color: $color-gold-light;
    }
  }

  section.content {
    padding: 0;

    .remove-notification-link {
      display: block;
      margin-top: 1em;
    }

    .remove-notification-label {
      margin-left: .5em;
    }
  }
}
