.onsite-notification {
    filter: drop-shadow(5px 5px 10px var(--color-gray-cool-light));
}

.onsite-notification-close {
    margin: 1rem;
    padding: 0px;
    width: auto;
    color: var(--color-gray-dark);
    font-size: 16px;
    appearance: none;
    border: 0px;
    cursor: pointer;
    background: transparent;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
}

.onsite-notification-close:hover {
    color: var(--color-base);
    background-color: transparent;
}

.onsite-notification-close:active, .onsite-notification-close:focus {
    color: var(--color-base);
    background-color: transparent;
    outline: 2px solid var(--color-gold-light);
    outline-offset: 2px;
}