.record-list-items {
  list-style: none;
}

.record-list-item {
  line-height: 1.5;

  h3 {
    margin: 0;
  }
  h4 {
    line-height: 1.5;
  }

  .details-link-icon {
    margin-left: 8px;
    text-decoration: none;
  }
  .location-collapsed {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

@media print {
  .record-list-item {
    break-inside: avoid;
    border-bottom: 2px solid var(--vads-color-black) !important;
    border-radius: 0px;
    background-color: var(--vads-color-white) !important;
    max-width: none;
    padding: 16px 0px 24px;
    h3 {
      margin-bottom: 16px;
    }
  }
}
