@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/functions" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../platform/forms/sass/m-schemaform" as *;
@use "../../../../platform/forms/sass/m-form-confirmation" as *;

/* conditions autocomplete styles */
.cc-autocomplete {
  position: relative;

  &__list {
    position: absolute;
    width: 100%;
    max-width: 30rem;
    background-color: var(--vads-color-white);
    padding: 0;
    margin: 0;
    overflow-y: auto;
    z-index: 100;
    max-height: 20rem;
    border: 1px solid var(--vads-color-black);
  }

  &__option {
    display: block;
    padding: units(1);
    margin: 0;
    cursor: pointer;

    &--active {
      background-color: var(--vads-color-primary);
      border-color: var(--vads-color-primary);
      color: var(--vads-color-white);
    }

    &:first-child {
      border-bottom: 1px solid var(--vads-color-gray-warm-light);
    }
  }

  // Adjusts spacing on label inside web component text input.
  va-text-input::part(label) {
    margin-top: 0;
  }
}
