@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

$facility-locator-shadow: rgba(0, 0, 0, 0.5);

// Conflict in some global CSS means {box-sizing: inherit} was being passed to some elements inside VADS components
*,
*::before,
*::after {
  box-sizing: border-box;
}

// Overrides form system width restriction
.form-panel {
  max-width: unset;
}

.form-checkbox > input[type="checkbox"] + .schemaform-label {
  margin-top: 0.625rem;
}

.schemaform-label {
  display: inline;
  max-width: 30rem;
}

.schemaform-description {
  max-width: 30rem;
}

.schemaform-widget-wrapper {
  max-width: 480px;
}

.schemaform-intro {
  padding: 0;
}

#root_aboutYourself_socialOrServiceNum_ssn-label,
#root_aboutYourself_socialOrServiceNum_serviceNumber-label {
  margin-top: 0.625rem;
}

.empty-message {
  width: 50%;
  padding: 0.78125rem;
  font-weight: 600;

  @media (max-width: $small-screen) {
    width: 92%;
    padding: 0.78125rem;
    font-weight: 400;
  }
}

.no-messages {
  margin: 3.125rem 0;
}

.attachment-box {
  padding: 0.78125rem 1.5625rem;
  margin: 0.625rem 0;
  align-items: center;

  @media (max-width: $small-screen) {
    flex-direction: column;
    align-items: flex-start;
    p {
      margin: 0;
    }
  }
}

.multiline-ellipsis-1 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  font-size: 16px;
}

.multiline-ellipsis-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.2rem * 2);
  line-height: 1.5;
  font-size: 16px;
}

.multiline-ellipsis-3 {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.5rem * 3);
  line-height: 1.5;
  font-size: 16px;
}

.multiline-ellipsis-4 {
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 93px;
  line-height: 1.5;
  font-size: 16px;
}

.no-attachments {
  background-color: var(--vads-color-base-lightest);
  padding: 5px;
}

.attachments-list {
  list-style: none;
  padding: 0;
}

.attachment-file {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.remove-attachment-button-wrapper {
  color: var(--vads-color-secondary-dark);
}

.header-breadcrumbs {
  font-size: 16px !important;
  font-weight: normal !important;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
    "Arial", sans-serif !important;
}

.facility-locator {
  .facility-introtext {
    padding: 0 15px 15px;
  }

  label {
    margin-top: 0;
  }

  .clearfix {
    content: "";
    display: block;
    clear: both;
  }

  .search-controls-container {
    padding: 24px 16px 0 12px;
    border: solid thin var(--vads-color-base-lightest);
    background: var(--vads-color-base-lightest);
    max-width: 100%;

    select:disabled {
      background: var(--vads-color-base-lightest);
    }

    #facility-search-controls {
      display: flex;
      flex-direction: column;

      input,
      textarea,
      select,
      .input-container {
        max-width: none;
        margin-bottom: 24px;
        padding: 0 0.7em;

        @media (min-width: $small-desktop-screen) {
          max-width: 418px;
          width: 418px;
          margin-right: 18px;
        }
      }

      .input-container {
        padding: 0;
      }

      input[type="submit"] {
        width: 100%;
        padding: 0 0.625rem;
        margin-top: 0;

        @media (min-width: $small-desktop-screen) {
          margin-top: 27px;
          min-width: 67px;
          width: auto;
        }
      }

      #location-input-field {
        display: flex;
        flex-direction: row;
        margin: 0;

        label {
          min-width: 62%;
        }

        @media (min-width: $small-desktop-screen) {
          flex-direction: row;
        }

        @media (max-width: $small-screen) {
          display: block;
        }
      }

      .search-input {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        margin-bottom: 2.5rem;

        #facility-search {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
          width: 35%;
          height: auto;
          margin: 0;

          .button-text {
            @media (max-width: $small-screen) {
              display: none;
            }
          }

          .button-icon {
            @media (min-width: $small-screen) {
              display: none;
            }
          }
        }

        input {
          margin: 0;
          width: 100%;
          height: 3.28125rem;
        }
      }

      .location-loader {
        max-height: 2rem;
        overflow: hidden;
      }

      .use-my-location-link {
        text-decoration: none;
        background-color: transparent;
        color: var(--vads-color-link);
        font-weight: normal;
        padding: 0;
        margin: 0;
        text-align: left;

        @media (max-width: $small-desktop-screen) {
          text-align: left;
        }

        @media (max-width: $small-screen) {
          margin-top: 1.25rem;
        }
      }

      #search-controls-bottom-row {
        @media (min-width: $small-desktop-screen) {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }

  .clear-button {
    font-size: 16px;
    position: absolute;
    float: right;
    background-color: rgba(255, 255, 255, 0);
    color: var(--vads-color-black);
    max-width: 1.25rem;
    left: 65%;
    padding-left: 0.3125rem;

    &:hover {
      background-color: unset;
      color: unset;
    }

    @media (max-width: $small-screen) {
      left: 64%;
    }
  }
}

.ava-progress-bar {
  border: 1px solid var(--vads-color-base-lightest);
  background-color: var(--vads-color-base-lightest);
  border-radius: 3px;
  height: 1rem;
  width: 100%;
  display: block;
  margin: 2rem 0 4rem 0;
}

.ava-progress-bar-inner {
  height: 100%;
  background-color: var(--vads-color-orange);
  border: 1px solid var(--vads-color-orange);
  border-radius: 3px;
  display: block;
}

.ava-progress-bar-text {
  font-weight: 600;
  display: block;
}

.progress-box {
  padding-left: 0;
}

.health-facility-label {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media($medium-screen) {
    flex-direction: row;
  }
}

// ---- Inbox ----- //

#inbox {
  margin-bottom: 40px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: flex-end;
  margin-bottom: 1rem;

  > div {
    flex: 1;
  }

  @media screen and (max-width: $medium-screen) {
    flex-direction: column;
    align-items: stretch;
  }
}

.inbox-tab-container {
  border: 1px solid var(--vads-color-gray-light-alt);
  border-top: 0;
  padding: 0;
  margin: 0;
}

.inbox-tab-list {
  display: flex;
  justify-content: stretch;
  padding: 0;
  margin: 0;
  border-top: none;
}

.inbox-tab {
  flex: 1;
  background: var(--vads-color-gray-light-alt);
  border: 0;
  border-top: solid 3px var(--vads-color-gray-light-alt);

  list-style: none;
  margin: 0;
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;

  &.react-tabs__tab--selected {
    border-top-color: var(--vads-color-primary);
    background: var(--vads-color-white);
  }
}

#search-description {
  margin: 0;
  margin-top: 16px;
  padding: 8px;
  padding-top: 0;
  border-bottom: solid 1px var(--vads-color-base-light);
  font-weight: normal;
}

.inbox-tab-container #search-description {
  margin-left: 20px;
  margin-right: 20px;
}

.inquiries-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  padding: 20px 0 0;
}

.inbox-tab-container .inquiries-list {
  padding: 20px;
}

.inquiry-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  padding: 24px;

  h3 {
    margin: 0 0 4px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;

    > span {
      margin: 0;
    }

    .created-date {
      white-space: nowrap;
    }
  }

  .reference-number {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4px;
  }

  .submitter-question {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    height: 4.5rem;
    padding: 0;
    margin: 0;
  }

  .conversation-link {
    align-self: flex-start;
    margin-top: 16px;
  }
}

// Actually on Conversation page
.dashboard-dl {
  margin-top: 0;
  margin-bottom: 24px;
}

.custom-review-dl {
  margin: 16px auto;
}

.search-hint-text {
  color: var(--vads-color-base-dark);
}

.ask-va-modal-content {
  margin-bottom: 2rem;
}

.va-file-input.no-file {
  margin: 0;
}

va-radio-option#facility-not-listed
  .usa-radio__label[for="facility-not-listedinput"][role="radio"] {
  font-weight: 600;
}

.school-info-bar {
  border-left: 4px solid var(--vads-color-primary);
}

.school-state-error {
  border-left: 0.25rem solid var(--vads-color-secondary-dark);
  padding-left: 1rem;
  position: relative;

  [error]:not([error=""]) {
    border-left: none;
  }
}

div.form-review-array > div[name="fileUpload"] {
  display: none;
}

div.form-review-array:has(> div[name="fileUpload"]) {
  margin-top: 0;
}

div.review-row:has(> div.review-page-attachments) {
  flex-direction: column;
}

.review-page-attachments {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
}

// fix cancel button in edit mode - review page
div.vads-u-display--flex > button#cancel {
  @include media($medium-screen) {
    margin: 26px 9px 9px 0;
  }
}
