@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";


.dashboard-card {
    background-color: $color-gray-lightest;
    border: none;
}

.card-heading {
    font-weight: 600;
}

.form-panel {
    min-width: 100%;
}

.form-checkbox > input[type="checkbox"] + .schemaform-label {
    margin-top: 1rem;
}

#root_aboutYourself_socialOrServiceNum_ssn-label,
#root_aboutYourself_socialOrServiceNum_serviceNumber-label {
    margin-top: 1rem;
}

.inbox-replies,
.attachment-box {
    width: 70%;

    @media (max-width: $small-screen) {
        width: 100%;
    }
}

.empty-message {
    width: 50%;
    padding: 1.25rem;
    font-weight: 600;

    @media (max-width: $small-screen) {
        width: 92%;
        padding: 1.25rem;
        font-weight: 400;
    }
}

.no-messages {
    margin: 5rem 0;
}

.attachment-box {
    padding: 1.25rem 2.5rem;
    margin: 1rem 0;
    align-items: center;

    @media (max-width: $small-screen) {
        flex-direction: column;
        align-items: flex-start;
        p {
            margin: 0;
        }
    }
}

.need-help-footer {
    margin: 3rem 0;
}