@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.margin{
  margin-top: 24px;
}

.connect-device{
  background: rgb(241,241,241);
  margin: 2em 0em;
  padding: 1em;

  h3 {
    margin-bottom: 0;
  }
}


.connect-button{
  color: rgb(0, 71, 149);
  text-decoration: underline;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: color, background-color, border-color;
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-weight: normal;
}