// Styles for application modals
// Used in prescriptions, messaging.

.rx-modal {
  &-drug, &-dosage {
    color: $color-primary;
    font-size: 2.4rem;
    font-weight: bold;
  }
  
  &-title {
    background: $color-primary-darkest;
    color: $color-white;
    font-size: 2.4rem;
    margin: 0;
    // Abusing important until #content .section h3 is cleared up.
    padding: .5rem 2rem !important;
  }
  
  &-rxnumber {
    font-weight: bold;
  }
    
  .rx-glossary {
    margin: 0 auto;
  }
}

