/* Prescription cards for Active page. */

.rx-prescription-items {
  padding-top: 3rem;
}

.rx-prescription {
  border-color: $color-white;
  border-style: solid;
  border-width: 1rem 0;

  @media (min-width: $medium-screen) {
    float: left;
    width: 50%;

    &:nth-child(odd) {
      border-right-width: 1rem;
    }

    &:nth-child(even) {
      border-left-width: 1rem;
    }
  }
}

.rx-prescription-inner {
  background: $color-gray-lightest;
  height: 25.7rem;
  padding: 2rem;
  position: relative;
}

.rx-prescription-title {
  color: $color-primary;
  font-size: 1.4em;
  line-height: 1;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 0;

  a {
    text-decoration: none;
    
    &:hover {
      background: transparent;
      border-bottom: 2px solid currentColor;
    }
  }
}

.rx-prescription-refilled {
  margin-bottom: 5rem;
}

.rx-prescription-button {
  white-space: nowrap;
}

button.rx-prescription-button,
[type=submit].rx-prescription-button {
  background: transparent;
  display: inline-block;
  font-weight: bold;
  margin: 0;

  @media (max-width: $small-screen) {
    padding: 1rem;
  };
}

.rx-prescription-count {
  bottom: 0;
  display: inline-block;
  &-zero {
    color: $color-secondary;
  }
}

.rx-prescription-count-number {
  font-size: 3rem;
  font-weight: bold;
  &::after {
    content: '\a0';
  }
}

.rx-prescription-action {
  bottom: 0;
  position: absolute;
  right: 0;
}

.rx-prescription-countaction {
  bottom: -2rem;
  line-height: 2rem;
  padding-top: 2rem;
  position: relative;
}

.rx-prescription-status span,
.rx-prescription-refill-requested {
  font-weight: bold;
}

.rx-prescription-status,
.rx-call-provider {
  margin-top: .75rem;
  text-align: right;
}

.rx-prescription-refill-requested {
  margin-bottom: .75rem;
  text-align: right;
} 

.rx-track-package-link {
  display: block;
  margin: 0 0 1rem;  
}

//====== Prescription group
.rx-prescription-group {
  padding-bottom: 2rem;
}

// Abusing !important because #content .section h* is causing problems.
.rx-pgroup-title {
  padding-bottom: .5rem !important;
  margin-bottom: 1rem !important;
}


// "Do not print" styles
// Contributed .va-header-logo a block to vets-website.
// TODO: Remove when these land in "core"
@media print {
  // TODO: Refactor when `form button` and `form
  // [type=submit]` selectors are refactored out of USWDS
  .va-dnp,
  button.rx-prescription-button.va-dnp,
  [type=submit].rx-prescription-button.va-dnp {
    display: none !important;
  }

  .va-header-logo a {
    background: none;
    color: #000;
    text-indent: 0;
  }

  .rx-prescription {
    float: left;
    width: 50%;
  }

  .rx-prescription-count {
    display: block;
    float: none;
  }
  .rx-prescription-count-number {
    display: inline;

    &::after {
      content: '\a0';
    }
  }
}
