.rx-table {
  th, td {
    border-color: $color-gray-light;
  }
  th.sortable {
    cursor: pointer;
  }

  a {
    color: $color-primary;

  }

  td {
    &:nth-child(1) {
      a {
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}

.rx-table-list {
  @media (max-width: $medium-screen) {
    tr {
      padding: 1.5rem 0;
    }

    td {
      &:before {
        font-weight: bold;
      }
    }
  }
}
