// Styles for application modals
// Used in prescriptions, messaging.

.rx-modal {
  &-drug {
    font-weight: bold;
    text-transform: uppercase;
  }

  .rx-glossary {
    margin: 0 auto;
  }

  .modalTitle {
    display: inline-block;
    &dl {
      display: inline-block;
    }
  }
}
