.rx-sort {
  display: block;

  label, select, ul, li {
    display: inline-block;
  }

  ul {
    margin: 0 0 0 .75rem;;
    padding: 0;
  }

  li {
    margin: 0 .75rem;

    & + li {
      &:before {
        content: '|';
        margin-right: .75rem;
        margin-left: -.75rem;
      }
    }
  }

  label {
    margin: 0 1.5rem 0 0;
  }

  @media (max-width: $medium-screen) {
    label, ul {
      display: block;
      margin: 0;
    }

    li:first-child {
      margin-left: 0;
    }

    select {
      display: block;
      margin: 1.4rem 0;
    }
  }
}

.rx-sort-active {
  font-weight: bold;
  text-decoration: none;
}
