@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/formation-overrides/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins" as *;

form[name="yellow-ribbon-form"] {
  .form-expanding-group-open {
    margin-left: -1rem;
    padding-left: 0.25rem;
  }
}

@media (min-width: 768px) {
  .school-program {
    margin-top: 36px !important;
  }
}

.va-u-outline--none:focus {
  outline: none;
}

@include media($small-desktop-screen) {
  form[name="yellow-ribbon-form"] {
    .form-expanding-group-open {
      margin-left: -2rem;
      padding-left: calc(2rem - 7px);
    }
  }
}
