@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "../../../../platform/forms/sass/m-schemaform";
@import "../../../../platform/forms/sass/m-form-confirmation";

.form-10297-introduction-page {
  padding-bottom: 0 !important;
  .additional-info-content {
    width: 40% !important;
  }
}

@media screen and (max-width: 768px) {
  .form-10297-introduction-page {
    .additional-info-content {
      width: 100% !important;
    }
  }
}
.need-help-container {
  width: 642px;
  @media (max-width: $small-screen) {
    width: 100%;
    padding-inline: 8px !important;
  }
}

.eligibility-summary .icon-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit;
}

.eligibility-summary .duty-ul {
  list-style-type: disc;
}

.eligibility-summary .eligibility-ul {
  list-style-type: none;
}
