<div class="footer" role="contentinfo">
  <div class="row wow fadeIn animated">
    <div class="small-12 columns text-center">

      <ul class="small-block-grid-1 medium-block-grid-6 large-block-grid-6">
        <li><a href="https://www.va.gov/"><abbr title="Department of Veterans Affairs">VA</abbr>.gov</a></li>
        <li><a href="https://www.va.gov/landing2_vetsrv.htm">Services</a></li>
        <li><a href="https://www.va.gov/landing2_business.htm">Business</a></li>
        <li><a href="https://www.va.gov/landing2_about.htm">About <abbr title="Department of Veterans Affairs">VA</abbr></a></li>
        <li><a href="https://www.va.gov/landing2_media_room.htm">Media Room</a></li>
        <li><a href="https://www.va.gov/landing2_locations.htm">Locations</a></li>

      </ul>

  </div>
</div>

  <div class="row secondary wow fadeIn animated">
    <div class="small-12 columns">

      <div class="row">
        <div class="small-12 medium-8 address columns">
          <dl class="vcard">
            <dt class="org fn"><abbr title="United States">U.S.</abbr> Department of Veterans Affairs</dt>
            <dd class="street-adr">810 Vermont Avenue <abbr title="North West">NW</abbr></dd>
            <dd class="locality">Washington <abbr title="District of Columbia">DC</abbr></dd>
            <dd class="postal-code">20420</dd>
          </dl>
        </div>

        <div class="small-12 medium-4 text-right social columns">
          <a href="{{ site.url }}/blog/" class="blog">Blog</a>
          <a href="https://www.va.gov/landing2_contact.htm" class="contact">Contact Us</a>
        </div>

    </div>

  </div>

</div>



</div>


<!--
"To care for him who shall have borne the battle and for his widow, and his orphan."
- Abraham Lincoln
-->

</body>
</html>
