<footer role="contentinfo">
  <div class="row">
    <div class="small-12 columns">

      <ul class="small-block-grid-1 large-block-grid-7">
        <li><a href="#"><abbr title="Department of Veterans Affairs">VA</abbr>.gov</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">About <abbr title="Department of Veterans Affairs">VA</abbr></a></li>
        <li><a href="#">Media Room</a></li>
        <li><a href="#">Locations</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>

  </div>
</div>

  <div class="row">
    <div class="small-12 large-6 large-centered columns">
    <dl class="vcard">
      <dt class="org fn">U.S. Department of Veterans Affairs</dt>
      <dd class="street-adr">810 Vermont Avenue</dd>
      <dd class="locality">NW Washington DC</dd>
      <dd class="postal-code">20420</dd>
  </div>
</div>

<div class="post-script">
  <div class="row">
    <div class="small-12 columns">
      <blockquote>
        &ldquo;To care for him who shall have borne the battle and for his widow, and his orphan.&rdquo;
      </blockquote>
      <span class="source">Abraham Lincoln</span>
    </div
  </div>
</div>

</footer>


</body>
</html>
