<div class="disclaimer">
  <div class="row">
    <div class="small-12 columns">

      <p>Please note: Content on this Web page is for informational purposes only. It is not intended to provide legal advice or to be a comprehensive statement or analysis of applicable statutes, regulations, and case law governing this topic. Rather, it’s a plain-language summary. If you are seeking claims assistance, your local VA regional office, a VA-recognized Veterans Service Organization, or a VA-accredited attorney or agent can help. <a href="http://www.va.gov/ogc/apps/accreditation/index.asp">Search for help near you</a>.</p>

    </div>
  </div>
</div>


<div class="footer" role="contentinfo">
  <div class="content">
    <div class="wow row fadeIn animated">
      <div class="small-12 medium-12 columns">
        <div class="footer-logo"><a href="/">Vets.gov</a></div>
      </div>

    </div>
  </div>

  <div class="row wow fadeIn animated">
    <div class="small-12 medium-3 columns">
      <ul>
        <li><b>Benefits</b></li>
        <li><a href="/disability-benefits/">Disability Benefits</a></li>
        <li><a href="/education/">Education &amp; Training</a></li>
      </ul>
    </div>
    <div class="small-12 medium-4 columns">
      <ul>
        <li><b>Resources</b></li>
        <li><a class="vets-app" href="/facility-locator">Facility Locator</a></li>
        <li><a class="vets-app" href="/gi-bill-comparison-tool/">GI Bill® Comparison Tool</a></li>
      </ul>
    </div>
    <!--Use with Signup <div class="small-12 medium-2 columns"> -->
    <div class="small-12 medium-3 columns">
      <ul>
        <li><b>Creating Vets.gov</b></li>
        <li><a href="/playbook/">Playbook</a></li>
        <li><a href="/experience/">Blog</a></li>
      </ul>
    </div>
    <div class="small-12 medium-2 columns">
      <ul>
        <li><b>Connect</b></li>
        <!-- <li><a href="/contact/">Contact Us</a></li> -->
        <li>
          <div class="usa-social-links">
            <a href="https://www.facebook.com/VeteransAffairs">
              <svg width="26" height="39" role="img" aria-label="Facebook">
                <title>Facebook</title>
                <image xlink:href="/assets/images/social-icons/svg/facebook25.svg" src="/assets/images/social-icons/png/facebook25.png" width="26" height="39" />
              </svg>
            </a>
            <a href="https://twitter.com/DeptVetAffairs/">
              <svg width="26" height="39" role="img" aria-label="Twitter">
                <title>Twitter</title>
                <image xlink:href="/assets/images/social-icons/svg/twitter16.svg" src="/assets/images/social-icons/png/twitter16.png" width="26" height="39" />
              </svg>
            </a>
          </div>
        </li>
      </ul>
    </div>
</div>
<div class="footer-address">
  <div class="row secondary wow fadeIn animated">

        <div class="large-7 columns">
          <div class="large-5 columns footer-seal">
            <abbr>VA</abbr> | U.S. Department of Veterans Affairs
          </div>
          <div class="large-7 columns text-center">
            <ul class="final-list">
              <li><a href="http://va.gov/">VA.gov</a></li>
              <li><a href="http://www.section508.va.gov/">Accessibility</a></li>
              <li><a href="http://www.va.gov/privacy/">Privacy</a></li>
              <li><a href="http://usa.gov">USA.gov</a></li>
            </ul>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="footer-crisis text-center">
            <span>Veterans Crisis Line</span> <a href="tel:1-800-273-8255">1-800-273-8255 (Press 1)</a>
          </div>
        </div>
      </div>

</div>
</div>

</div>

<div data-alert class="alert-box coda">
	<div class="row full">
    <div class="small-12 medium-6 columns">
    	<a href="/2015/11/11/why-we-are-designing-in-beta.html" class="usa-button usa-button-outline-inverse">Help Us Create vets.gov: A Message from Secretary Robert McDonald</a>
    </div>
    <div class="small-12 medium-6 columns feedback">
     We need your feedback to make Vets.gov better.<br/>
     <a href="https://veterans.uservoice.com/">Feedback Forum</a>
   </div>
 </div>
</div>


<script>

// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/NDkEKHU7ZuU64RQKkUL9Q.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

//
// UserVoice Javascript SDK developer documentation:
// https://www.uservoice.com/o/javascript-sdk
//

// Set colors
UserVoice.push(['set', {
  accent_color: '#808283',
  trigger_color: '#0F3D73',
  trigger_background_color: '#0F3D73',
  trigger_style: 'icon', // icon or tab
  trigger_background_color: 'white'
}]);

// Identify the user and pass traits
// To enable, replace sample data with actual user traits and uncomment the line
UserVoice.push(['identify', {
  //email:      'john.doe@example.com', // User’s email address
  //name:       'John Doe', // User’s real name
  //created_at: 1364406966, // Unix timestamp for the date the user signed up
  //id:         123, // Optional: Unique id of the user (if set, this should not change)
  //type:       'Owner', // Optional: segment your users by type
  //account: {
  //  id:           123, // Optional: associate multiple users with a single account
  //  name:         'Acme, Co.', // Account name
  //  created_at:   1364406966, // Unix timestamp for the date the account was created
  //  monthly_rate: 9.99, // Decimal; monthly rate of the account
  //  ltv:          1495.00, // Decimal; lifetime value of the account
  //  plan:         'Enhanced' // Plan name for the account
  //}
}]);


// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', {trigger_position: 'bottom-right', strings: {suggestion_category_label: 'General' },}]);

// Or, use your own custom trigger:
//UserVoice.push(['addTrigger', '#id']);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>

<script src='/assets/js/vendor/jquery-accessible-simple-tooltip-aria.min.js'></script>
<script src="/assets/js/vendor/classie.js"></script>
<script src="/assets/js/vendor/menu.js"></script>

<!--<script>
     // manually trigger the tooltip so that it works on mobile
     $('.helpTooltip').tipsy({trigger: 'manual'});
     var visible = false;
     function hideTooltip() {
       $('.helpTooltip').tipsy("hide");
       visible = false;
     }
     function showTooltip() {
       $('.helpTooltip').tipsy("show");
       visible = true;
     }
     $('.helpTooltip').hover(showTooltip, hideTooltip);
     $('.helpTooltip').click(function() {
       visible ? hideTooltip() : showTooltip();
       return false;
     });
     $(document).click(hideTooltip)
     $(document).bind("touchstart", hideTooltip);
</script>-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50123418-3', 'auto');
  ga('send', 'pageview');

</script>


<!--
"To care for him who shall have borne the battle and for his widow, and his orphan."
- Abraham Lincoln
-->

</body>
</html>
