<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js ie-good" lang="en"><![endif]-->

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Veterans.gov</title>

<!-- Fonts -->

<!-- Icons -->
<link href="/images/design/icons/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed" />
<link href="/images/design/icons/apple-touch-icon-72x72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
<link href="/images/design/icons/apple-touch-icon-114x114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
<link href="/images/design/icons/apple-touch-icon-144x144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
<link rel="shortcut icon" href="/images/design/icons/favicon.png" />

<!-- CSS -->
<link rel='stylesheet' href='/assets/css/style.css?v={{ site.github.build_revision }}'>

<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>

<!-- JavaScript -->
<script src="/assets/js/vendor/modernizr.custom.js"></script>
<script src="/assets/js/vendor/jquery-1.11.0.min.js"></script>

</head>
<body>

<div class="header">
	<div class="row">
		<div class="small-12 medium-4 medium-centered large-uncentered columns">
			<h1 role="banner"><a href="/">Veterans.gov</a></h1>
		</div>
	</div>
</div>
