<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta content="Vets.gov" property="og:site_name">
{% if page.title %}
<meta content="{{ page.title }}" property="og:title">
{% else %}
<meta content="https://www.vets.gov" property="og:title">
{% endif %}
{% if page.title %}
<meta content="article" property="og:type">
{% else %}
<meta content="website" property="og:type">
{% endif %}

{% if page.url %}
<meta content="https://www.vets.gov/{{ page.url }}" property="og:url">
{% endif %}
{% if page.date %}
<meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
<meta content="https://www.vets.gov/about/" property="article:author">
{% endif %}
<meta content="https://www.vets.gov/assets/images/design/logo/og-image.jpg" property="og:image">

{% if page.categories %}
{% for category in page.categories limit:1 %}
<meta content="{{ category }}" property="article:section">
{% endfor %}
{% endif %}
{% if page.tags %}
{% for tag in page.tags %}
<meta content="{{ tag }}" property="article:tag">
{% endfor %}
{% endif %}

{% if page.title == 'Home' %}
<title>{{site.name}}</title>
{% else %}
<title>{{ page.section-title }} {{ page.title }}: {{site.name}}</title>
{% endif %}


<!-- Header Javascript and CSS for animation-->
<link rel="stylesheet" href="/assets/css/vendor/animate.css">
<script src="/assets/js/vendor/jquery-1.11.0.min.js"></script>
<!-- <script src="/assets/js/vendor/jquery.tipsy.js"></script> -->
<script src="/assets/js/components.js"></script>
<script src="/assets/js/vendor/modernizr.custom.js"></script>
<script src="/assets/js/vendor/wow.min.js"></script>


<script>
new WOW().init();
</script>


<!--[if lt IE 9]>
<script src="/assets/js/vendor/html5shiv.js"></script>
<![endif]-->



<!-- Icons -->
<link href="/assets/images/design/icons/apple-touch-icon.png" rel="apple-touch-icon-precomposed" />
<link href="/assets/images/design/icons/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
<link href="/assets/images/design/icons/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
<link href="/assets/images/design/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
<link rel="shortcut icon" href="/assets/images/design/icons/favicon.ico" />

<meta name="msapplication-TileImage" content="/assets/images/design/icons/apple-touch-icon-114x114">
<meta name="msapplication-TileColor" content="#144073">


<!-- CSS -->
<link rel='stylesheet' href='/assets/css/style.css'>

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700|Roboto+Slab' rel='stylesheet' type='text/css'>

<!-- Old IE -->

<!--[if lt IE 9]>
<link rel='stylesheet' href='/assets/css/ie.css'>
<![endif]-->

<!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
<script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=VA" id="_fed_an_ua_tag"></script>
<script src="/assets/js/vendor/modernizr.custom.js"></script>

</head>
<body class="{{ page.layout }}">
<div class="header">
	<div data-alert class="alert-box notice">
		<div class="row full">
			<div class="small-12 message">
                <p><strong>This site is a <a href="https://www.vets.gov/playbook/design/">work in progress.</a></strong> If you don&rsquo;t find what you need, visit <a href="http://www.va.gov">VA.gov</a>.</p>
			</div>
		</div>
	 </div>

<!-- /header alert box -->
	<div class="row full">
		<div class="small-6 medium-4 columns">
			<h1 role="banner"><a href="/">Vets.gov</a></h1>
		</div>

		<!-- Mobile search button -->
		<div class="hide-for-medium-up search-button">
			<button id="trigger-overlay" type="button" class="usa-button usa-button-outline-inverse" aria-controls="mobile-menu" aria-hidden="true">Search</button>
		</div>


		<div id="mobile-menu" class="overlay overlay-fullscreen" role="dialog">
			<button type="button" class="overlay-close">Close</button>
				<div class="menu">
    		 <form accept-charset="UTF-8" action="https://search.usa.gov/search" id="search_form" method="get">
				 <div style="margin:0;padding:0;display:inline">
				 <input name="utf8" type="hidden" value="&#x2713;" /></div>
				 <input id="affiliate" name="affiliate" type="hidden" value="vets.gov_staging" />
				 <label for="mobile-query">Search:</label>
				 <div class="row collapse">
					 <div class="small-9 columns">
						 <input autocomplete="off" class="usagov-search-autocomplete" id="mobile-query" name="query" type="text" />
					 </div>
					 <div class="small-3 columns">
						 <input name="commit" type="submit" value="Search" />
					 </div>
				 </div>
				</form>
			</div>
		</div>


        {% if include.search != 'false' %}
		<div class="medium-5 medium-offset-3 text-right columns show-for-medium-up">
			<form accept-charset="UTF-8" action="https://search.usa.gov/search" id="search_form" method="get">
				<div style="margin:0;padding:0;display:inline">
				<input name="utf8" type="hidden" value="&#x2713;" /></div>
				<input id="affiliate" name="affiliate" type="hidden" value="vets.gov_staging" />
				<label for="query">Search:</label>
				<div class="row collapse">
					<div class="small-9 columns">
						<input autocomplete="off" class="usagov-search-autocomplete" id="query" name="query" type="text" />
					</div>
					<div class="small-3 columns">
						<input name="commit" type="submit" value="Search" />
					</div>
				</form>
			</div>
		</div>
        {% endif %}
	</div>
</div>

<h2 class="sr-only">{{ page.title }}</h2>

<script type="text/javascript">
//<![CDATA[
      var usasearch_config = { siteHandle:"vets.gov_staging" };

      var script = document.createElement("script");
      script.type = "text/javascript";
      script.src = "https://search.usa.gov/javascripts/remote.loader.js";
      document.getElementsByTagName("head")[0].appendChild(script);

//]]>
</script>
