<div class="row">
	<div class="small-12 columns services">
	  <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 cards">
	    <li>
	      <a href="/health-care/types">
	        <div>
	          <h4>Types of Care</h4>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="/health-care/affordable-care-act">
	        <div>
	          <h4>Affordable Care Act</h4>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="/health-care/vet-center">
	        <div>
	          <h4>Vet Centers</h4>
	        </div>
	      </a>
	    </li>
	    <li>
	      <a href="/health-care/family">
	        <div>
	          <h4>Spouses, Dependents, and Survivors Eligibility</h4>
	        </div>
	      </a>
	    </li>
	  </ul>
  </div>
</div>
