<div class="main" role="main">
  <div class="section one">
    <div class="primary">
      <div class="row">
        <div class="small-12 columns usa-content">
        <!-- Page content begins -->
        {{ content }}        
        <!-- Page content ends -->
        </div>
      </div>
    </div>
    {% include main-navigation.html %}
  </div>
</div>

{% if page.collection == 'disability-benefits' %}
  {% include action-bar.html action_text="Apply for Disability Benefits" action_url="/disability-benefits/apply-for-benefits/" action_class="va-action-bar--footer" %}
{% endif %}

{% if page.collection == 'education' %}
  {% include action-bar.html action_text="Apply for Education Benefits" action_url="/education/apply-for-education-benefits/" action_class="va-action-bar--footer" %}
{% endif %}

