
<main class="va-layout-l2">
<!-- Action button bar -->
{% if page.collection == 'disability-benefits' %}
  {% include action-bar.html action_text="Apply for Disability Benefits" action_url="/disability-benefits/apply-for-benefits/" action_class="va-action-bar--header" %}
{% endif %}

{% if page.collection == 'education' %}
  {% include action-bar.html action_text="Apply for Education Benefits" action_url="/education/apply-for-education-benefits/" action_class="va-action-bar--header" %}
{% endif %}

<!-- Breadcrumbs -->  
 
<!-- Main article begins -->  
  <div class="usa-grid va-grid">
    {% include breadcrumbs.html %}
    
    <article class="va-article-l2 usa-width-two-thirds">
    <h1>{{ page.title }}</h1>
    {{ content }}
    </article>
    
    <!-- END ARTICLE BEGIN SIDEBAR -->
    <div class="usa-width-one-third">
      <aside class="va-supplement">
      {% if page.collection == 'disability-benefits' %}
        {% include layout-l2/disability-benefits.html %}
      {% endif %}
      
      {% if page.collection == 'education' %}
        {% include layout-l2/education-benefits.html %}
      {% endif %}


      </aside>
    </div>
    
  </div>
</main>
