<div class="navigation">
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 cards">

        <li>
          <a href="/disability-benefits/">
            <h3 class="alternate">Disability Benefits</h3>
            Help with service-related medical conditions.
          </a>
        </li>

        <li>
          <a href="/education/" >
            <h3 class="alternate">Education Benefits</h3>
             Tuition assistance, training programs, and more.
          </a>
        </li>

        <!--

        <li>
          <div class="coming-soon" >
            <h3>Dependent and caretaker benefits</h3>
            <p>Coming soon</p>
          </div>
        </li>

        <li>
          <div class="coming-soon">
            <h3>Travel reimbursement</h3>
            <p>Coming soon</p>
          </div>
        </li>

        <li>
          <div class="coming-soon">
            <h3>Jobs and employment</h3>
            <p>Coming soon</p>
          </div>
        </li>

        <li>
          <div class="coming-soon" >
            <h3>Mental health</h3>
            <p>Coming soon</p>
          </div>
        </li>

        <li>
          <div class="coming-soon">
            <h3>Loss of a family member</h3>
            <p>Coming soon</p>
          </div>
        </li>


        <li>
          <div class="coming-soon">
            <h3>Spouses and dependents</h3>
            <p>Coming soon</p>
          </div>
        </li>

        <li>
          <div class="coming-soon">
            <h3>Homeless resources</h3>
            <p>Coming soon</p>
          </div>
        </li>

        <li>
          <div class="coming-soon">
            <h3>Medical records</h3>
            <p>Coming soon</p>
          </div>
        </li>

        <li>
          <div class="coming-soon">
            <h3>Service records</h3>
            <p>Coming soon</p>
          </div>
        </li>

      -->

      </ul>
    </div>
  </div>
</div>