{% unless page.majorlinks.size <= 2 %}
  {% assign gridnum = 3 %}
{% else %} 
  {% assign gridnum = 2 %}
{% endunless %}


<div class="navigation--major">
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-{{gridnum}} cards">
        {% for link in page.majorlinks %}
        <li>
          <a href="{{link.url}}">
            <h3>{{link.title}}</h3>
            <span>{{link.description}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
