<div class="navigation">
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-1 medium-block-grid-2 cards">
        <li>
          <a href="/disability-benefits/">
            <h3 class="alternate">Disability Benefits</h3>
            Help with service-related medical conditions.
          </a>
        </li>
        <li>
          <a href="/education/">
            <h3 class="alternate">Education Benefits</h3>
            Tuition assistance, training programs, and more.
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>