{% if page.relatedlinks %}
  <div class="navigation">
    <div class="row">
      <div class="small-12 columns">
        <ul class="va-nav-category">
        {% for link in page.relatedlinks %}
          <li>
            <a href="{{link.url}}">
              <h5>{{link.title}}</h5>
              {% if link.description %}
              <span>{{link.description}}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
        </ul>
        
      </div>
    </div>
  </div>
{% endif %}
