@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/functions";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/utilities";

$menu-width--desktop: 275px;

@mixin mhv-nav-item-styles($line-height: 1) {
  display: block;
  box-sizing: border-box;
  line-height: $line-height;
  margin: units(0.5) 0;
  padding: units(1.5);
  text-align: left;
  text-decoration: none;
  width: 100%;

  color: var(--vads-color-white);
  border-radius: 2px;

  &:visited, &:active, abbr {
    color: var(--vads-color-white);
    border-radius: 2px;
  }

  &:hover {
    text-decoration: none;
    color: var(--vads-color-primary-darker);
    background-color: rgba(255, 255, 255, 0.6);
  }

}

.mhv-c-sec-nav-bar-row {
  max-width: $site-max-width !important;
}

#mhv-nav-menu {
  display: flex;
  height: auto;
  margin: 0;

  list-style: none;
  padding-left: 0;

  > li {
    margin-bottom: 0;
  }
}

.mhv-nav-item {
  @include mhv-nav-item-styles();

  va-icon {
    padding-right: 0.25rem;
    padding-bottom: 0.25rem;
    vertical-align: middle;
  }
}

.mhv-dropdown {
    // va-icon size 3 line-height affects nav-item height, so button needs to compensate
    @include mhv-nav-item-styles($line-height: 1.5);
    padding-right: units(4);
    padding-bottom: 0.91rem; // Hack to make button same height as nav-items
    font-weight: 400;

    background-position: right units(1) center;
    background-repeat: no-repeat;
    background-size: 0.8125rem auto;

    &[aria-expanded="true"] {
      background-image: url(/img/arrow-up.svg);
    }

    &[aria-expanded="false"] {
      background-image: url(/img/arrow-down-white.svg);
    }

    &:hover {
      background-image: url(/img/arrow-down.svg);
    }
}

.mhv-dropdown-menu {
  width: $menu-width--desktop;
  z-index: 100;

  a {
    @include no-sr-content;

    background-image: none;
    color: var(--vads-color-white);
    display: block;
    text-decoration: none;

    padding: units(1) units(3);


    @include media($medium-screen) {
      color: var(--vads-color-link);

      &:hover {
        background: transparent;
        text-decoration: underline;
      }
    }
  }

  @include media($medium-screen) {
    box-shadow: 0 5px 9px -5px var(--vads-color-base);
    background: var(--vads-color-white);
    padding-bottom: 1rem;
    position: absolute;
  }
}
