@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";

// On custom file upload pages, this removes extra space between
// the 'upload' button and its associated label text.
.upload-button-label.vads-u-display--inline-block {
  margin-top: initial;
}

/* a11y - Change gray box to white box with gray border. Needed because when
   a web component has gray color hint text the hint text compared to the
   background color is too low contrast.
   This only applies to applicant tiles in list loop */
form {
  [id*="root_applicants_"].va-growable-background {
    border: 1px solid var(--vads-color-gray-medium);
    background-color: var(--vads-color-white);
    padding: 0rem 3rem 0rem 3rem;
  }
}
