---
layout: experience
body_class: index
title: Vets.gov Experience
---

<div id="experience" class="{{ page.id }}" role="main">
  <div class="splash">
    <h2><a href="/experience/">Experience</a></h2>
  </div>

  <div class="primary">
    <div class="row">
      <div class="small-12 medium-8 medium-offset-4 large-offset-2 small-centered columns">
        <div class="post">
          <!-- This loops through the paginated posts -->
          {% for post in paginator.posts %}
            <h3><a class="title" href="{{ post.url }}">{{ post.title }}</a></h3>
            <div class="meta">
              <div class="post-author"><span class="sr-only">Author: </span>{{ post.author }}</div>
              <div class="post-date"><span class="sr-only">Post date: </span>{{ post.date | date: "%-d %B %Y" }}</div>
            </div>
            <div class="post-preview">
            <div class="content">
              {{ post.excerpt }}
              <a href="{{ post.url }}">Read more...<span class="sr-only"> on this blog post: &ldquo;{{ post.title }}&rdquo;</span></a>
            </div>
          </div>
          {% endfor %}
          <!-- Pagination links -->
          {% if paginator.total_pages > 1 %}
            <div class="pagination">
              <div class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }} <span class="sr-only"> blog posts</span></div>
              <div class="blog-navigation">
                {% if paginator.previous_page %}
                  <a href="{{ paginator.previous_page_path }}" class="previous">Previous <span class="sr-only">page of blog posts</span></a>
                {% endif %}
                {% if paginator.next_page %}
                  <span class="next "><a href="{{ paginator.next_page_path }}" class="next">Next<span class="sr-only">page of blog posts</span></a></span>
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>