.ezr-listloop--list { list-style: none !important; margin: 0; max-width: 26em; padding: 0; }
.ezr-listloop--tile { margin-bottom: 1em; padding: 1em; }
.ezr-listloop--tile .fas { font-size: .875em; }

legend.schemaform-block-title:focus { outline: none !important; }