@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.arp-header {
  .mobile {
    .usa-banner-header {
      display: flex;
    }

    .va-crisis-line-container {
      margin: 0px;
    }

    .arp-logo {
      width: 320px;
    }

    @media (min-width: $medium-screen) {
      display: none !important;
    }
  }

  .wider-than-mobile {
    display: none;

    @media (min-width: $medium-screen) {
      display: block;

      .arp-logo {
        width: 496px;
      }

      .vet-toolbar {
        display: flex;
        flex-basis: 198px;
      }
    }
  }
}
