@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

form [type=submit] {
  width: auto;
}


/* Review Page */
.review-page {
  &--page-heading--text {
    color: var(--color-primary-darker);
  }
  &--page-heading--link {
    text-align: right;
    margin-top: 1.8em;
  }
  &--page-info--label-text {
    color: var(--color-gray);
  }
  &--page-info--value-text {
    color: var(--color-gray-dark);
    font-size: 18px;
  }
}

.inset {
  margin: 2rem 0rem;
  padding: 2rem 3rem;
  line-height: 2.2rem;
  background-color: hsl(193, 63%, 93%);
}

ul.claim-list {
  list-style: none;
  padding-left: 0;
}
