// TODO: properly incorporate usds web standards for this
body .row {
  max-width: 62.5em;
}

.form-panel {
  @include media($medium-screen) {
    max-width: $usa-form-width;
  }
}

.main-form,
.progress-box {
  button {
    width: 100%;
  }
}

.button-icon{
  font-size: 1.7rem;
}

.progress-box {
  padding: 1rem 2rem;
  margin: 1.5rem 0  ;
  border: 1px solid #eee;
}

.form-section {
  display: none;
}

#content .section {
  fieldset {
    h4 {
      padding: 0;
    }
  }
}

.edit-checkbox {
  label {
    @extend a;
    display: inline-block;

    &:before {
      display: none !important;
    }
  }
}

.input-section {
  margin-bottom: 2em; 

  .row {
    margin: 0;
  }
}

.hca-datefield-month,
.hca-datefield-day {
  clear: none;
  float: left;
  margin-right: 1.5rem;
  width: 10rem;

  & select {
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
  }
}

.usa-input-error {
  select {
    border: 3px solid $color-secondary-dark;
    width: calc(100% + 1.5rem);
  }
}

.radio-buttons-inline {
  display: inline-block;

  label {
    margin-top: 1em;
    margin-right: 1em;
  }
}

.hca-process {
  li {
    h5 {
      color: $color-gray;
    }
    li {
      display: none;
    }
    &:before {
      background: $color-gray;
    }
    &.section-current {
      h5 {
        font-weight: bold;
        color: $color-primary;
      }
      li {
        display: list-item;
        &.sub-section-current {
          font-weight: bold;
          color: $color-primary;
        }
      }
      &:before {
        background: $color-primary;
      }
    }
  }
}

.review {
  tbody {
    tr {
      td {
        &:first-child {
          color: $color-primary-darker;
        }
      }
    }
  }
}

.hidden{
  display: none !important;
}
