// Veterans.gov

//Colors

$va-primary-color: #174172;
$va-secondary-color: #C08A38;
$va-tertiary-color: #444;
$va-highlight-color: #4FCEFF;
$va-body-content-color: #444;
$va-body-accent-color: #FFD43E;
$va-body-background-color: #fff;
$va-start-color: #05A48E;

// General

html, body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; font-weight: 300; color: $va-body-content-color;
  background: $va-body-background-color;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

// Screen Readers

.sr-only {
  position: absolute;
  left: -9999em;
  float: left;
  font-size: 1px;
}

// Abbr

abbr, a abbr, abbr[title] {
  border-bottom: none;
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  cursor: pointer;
}


a {
  text-decoration: none;
  &:hover {text-decoration: none;}
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: $va-body-content-color;
  &:hover {color: $va-body-content-color;}
}

// Logo and Header

.header {
  clear: both;
  padding: 0 0 .5em 0;
  border-bottom: 2px solid #ff;
  h1 {margin-bottom: 0; line-height: 1em;}
}

h1 a {
  text-indent: 180%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  background: url(../images/design/logo/logo-small.png) top center no-repeat;
  &:hover {background: url(../images/design/logo/logo-small.png) top center no-repeat; background-size: contain;}
  width: 145px;
  height: 25px;
  background-size: contain;
  @media #{$small} {
    background: url(../images/design/logo/logo.png) top center no-repeat;
    &:hover {
      background: url(../images/design/logo/logo-hover.png) top center no-repeat;
      background-size: contain;
    }
    width: 290px;
    height: 50px;
    background-size: contain;
  }
}


// Type

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

// Header

.header {
  background: $va-primary-color;
  color: #fff;
  h1, a {color: #fff;}
}

// Links

a {text-decoration: underline; background: rgba(0,0,0,.05);}
a:active {}
a:hover {text-decoration: underline; background: rgba(0,0,0,.1);}
a:visited {}

// Banner

.splash {
  padding: 1em 0;
  background: lighten($va-primary-color, 5);
  &.home {
    background: #ccc;
    background: rgba(0,0,0,.1);
  }

  @media #{$small} {padding: 1em 0;}
  @media #{$medium} {padding: 3em 0;}
  @media #{$large} {padding: 4em 0;}
  span {
    background: $va-body-accent-color;
    display: inline;
    -webkit-box-decoration-break: clone;
    line-height: 1.3em;
    white-space: pre-wrap;
    color: #333;
  }
  h2, h3, p {padding: .35em; margin: 0; display: inline-block; font-family: 'Open Sans', sans-serif;}
  h2 {
    font-size: 1em;
    @media #{$small} {font-size: 2em;}
  }
  h3 {font-weight: 500; font-size: 1.4em; color: #555;}
}

.pitch {
  @media #{$small} {padding: .5em;}
  h2, h3 {color: $va-primary-color; font-weight: 400; padding: .75em; line-height: 1.3em; display: inline-block; margin: 0;}
}

.primary {
  @media #{$small} {padding: 1em 0;}
  @media #{$small} {padding: 2em 0;}
  @media #{$medium} {padding: 2em 0;}
  h3 {
    padding: 0 0 .5em 0;
  }
}

html.no-touch .banner {
  background: url(../img/design/banner.jpg) 50% 60% no-repeat;
  background-size: cover;
}

// Headings

h1 {}
h2 {}
h3 {color: $va-primary-color; font-size: 1.8em; padding: 0 0 1em 0;}
h4 {}
h5 {}
h6 {}

// Sections

section {
  padding: 2em 0;
  &.two {
    h3 {color: darken($va-start-color, 10);}
    background: rgba($va-start-color, 0.1);
  }
}

// Action

.action {
  padding: 2em 0;
  margin: 0 auto;
  text-align: center;
  .button {
    font-size: 1.25em;
    padding: 1em 3.5em;
  }
}


// Iconic SVG icons

.icon {
  display: inline-block;
  margin: 10px;
  width: 16px;
  height: 16px;
}

.icon-account-login {
  fill: #f00;
}

.icon {
  color: red;
  fill: red;
}


// Breadcrumbs

ul.breadcrumbs {
  background: none;
  border: none;
  display: block;
  padding: 0;
  margin: 0 0 1em 0;
  border-radius: 0;
  border-radius: none;
  -webkit-border-radius: 0;


  li {
    text-transform: none;
    display: inline-block;
    @media #{$small} {padding: .25em .25em .5em .25em;}
    line-height: 1.75em;
    margin: auto;
    vertical-align: middle;
    height: auto;
    font-size: .85em;
    @media #{$small} {font-size: 1.35em; line-height: 1.5em;}
    &:hover  {border-bottom: none; text-decoration: none;}
    &.parent {
      &:before {content: none; vertical-align: middle;}
      &:after {content:" › "; display: inline-block; color: #fff; padding: 0 .5em;}

    }

    &.active {
      line-height: 1em;
      background: $va-body-accent-color;
      color: #444;
      font-size: 1.25em;
      margin: 0 0 0 0;
      padding: .25em;
      @media #{$small} {font-size: 2em; margin: 0;}
      vertical-align: bottom;
      &:before {content: ""; padding: 0; margin: 0;}
    }


  }
  a {
    border-bottom: 3px solid #fff;
    background: none;
    text-decoration: none !important;
    color: #fff;
    &:hover {text-decoration: none; background: rgba(0,0,0,.1); border-bottom: 3px solid $va-body-accent-color;}
  }
}

// General List Styles

ul
  {
  li {
    list-style-type: square;
    list-style: square;
  }
}

ol {
  margin: 0 0 0 1.25em;
  li {
    list-style-position: outside;
  }
}

li {
  span.meta {
    display: inline-block;
    padding: .5em;
    color: $va-primary-color;
    background: rgba($va-primary-color,.05);
    font-weight: bold;
    float: right;
    margin: .5em 0 1em 1em;
  }
}



// Checklists

ul.checklist, ol.checklist {
  margin: 0 0 0 1.35em; padding: 0;
  li {
    font-weight: 500;
    span {font-weight: normal; font-size: 1em; display: block; margin-left: 2.25em; color: #555;}
    padding: 1em 0;
    border-bottom: 1px solid #ccc;
    &:last-of-type {border-bottom: none;}
    h5 {font-size: 1.35em;}
    ul li {
      border-bottom: none;
      padding: .5em 0;
      span {background: rgba(0,0,0,.1); display: block; padding: 1em .5em; text-align: center;}
    }

    ul.small-block-grid-2,
    ul.small-block-grid-3,
    ul.small-block-grid-4 {
      margin: 0 !important;
      padding: 0;
      li {padding: 0; margin: 0;}
      &:before {margin: 0; padding: 0;}
      span {margin: .25em .25em 1em .25em; }
      }
  }
}

// Informational Content

.informational-content, .introductory-content {
  padding: 2em 0 2em 0;
  background: rgba(0,0,0,.05);
}

.introductory-content {background: #fff; p {font-size: 1.35em;}}

// Navigation

.navigation {
  @media #{$small} {padding: 3em 0.9375em;}
  background: rgba(0,0,0,.05);
  margin: 0 auto;
}

// Flexbox

.list
{


    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
    .list__item
    {
      /*width: 25%; */
      float: left;
      overflow: hidden;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid green;
    }

// Cards



.cards {
  margin: 0;

/*  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

*/

   li {
     /*
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;

     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;

     -webkit-align-items: top;
     align-items: top;
*/
   }


  a, .coming-soon {

    padding: 1em .5em;
    display: block;
    /*
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-align-items: top;
    -webkit-justify-content: top;

    -webkit-flex-direction: column;
    flex-direction:         column;

    display: flex;
    align-items: top;
    -webkit-align-items: top;
    justify-content: top;
    */

    width: 100%;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    @media #{$small} {border-bottom: 6px solid lighten($va-primary-color, 15);}
    background: lighten($va-primary-color, 15);

    h4 {-webkit-align-self: flex-start; align-self: flex-start; }

    p {
    /*  display: -webkit-inline-flex;
      display: inline-flex;
      */
      margin: .5em 0;
      /*
      -webkit-align-self: flex-start;
      align-self: flex-start;
      */
    }

    &:hover, &:active, &:focus {
      background: darken($va-primary-color, 5);
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
      @media #{$small} {border-bottom: 6px solid lighten($va-primary-color, 15);}
      }

    h2, h3, h4, h5, h6 {padding: 0 0 .25em 0; margin: 0; color: #fff; display: block; clear: both; width: 100%;}

    &:hover div {
      a {color: $va-body-accent-color; p {color: $va-body-accent-color;}}
    }
  }

  .coming-soon {
    background: #eee;
    background: rgba(0,0,0,.05);
    color: #454545;
    border-bottom: #bbb;

    h4 {color: #444;}

    &:hover, &:active, &:focus {
      background: #eee;
      background: rgba(0,0,0,.05);
      color: #888;
      border-bottom: #bbb;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

[class*="block-grid-"] {
  margin: 0; padding: 0;
}

[class*="block-grid-"]>li {
  padding: 0;
  margin: 0;
  @media #{$small} {border-bottom: none; margin: inherit; padding: 0 0.625rem 1.25rem;}
}

ul.navigation-list {
  margin: 0;
  padding: 0;


  li {

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;


    background: green;
    border-bottom: #ccc;
    border: 1px solid red;
    a {

     }
  }

}


// Buttons

a.button {
  background: $va-primary-color;
  border-bottom: 4px solid $va-highlight-color;
  &:hover, &:active, &:focus {background: lighten($va-primary-color, 10);}
  padding: 1em 2.5em;
  &.start {
    background: $va-start-color;
    &:hover {
      background: darken($va-start-color, 10);
    }
    color: #fff;
    border-bottom: 6px solid darken($va-start-color, 10);
  }
}


// Footer

footer {
  // background: $va-primary-color url(../img/design/seal/seal.png) bottom center no-repeat;
  background: $va-primary-color;
  padding: 2em 0;
  li, p, a {color: #fff;}
  .row.secondary {
    padding: 2em 0;
    @media #{$small} {background: $va-primary-color url(../images/design/seal/stars.png) 2% 50% no-repeat; background-size: 50px;}

  }

  a {
    border-bottom: 2px solid rgba(0,0,0,.25);
    display: block;
    background: none;
    font-size: 1em;
    text-decoration: none;
    border-bottom: 2px solid rgba(255,255,255,.15);
    padding: .65em 0;
    @media #{$small} {display: inline-block; padding: .25em 0;}

    &:hover {color:#fff; text-decoration: none; border-bottom: 2px solid $va-highlight-color;}

    &.contact {
      margin: 1.5em auto; padding: .65em; font-size: 1em; text-align: center; border: 2px solid #fff;
      @media #{$small} {margin: 1em auto; display: inline-block; }
      &:hover, &:focus, &:active {
        background: lighten($va-primary-color, 20);
      }

    }
  }
  ul {margin: 0; padding: 0 0 2em 0;}
  li {list-style: none; padding: 0 1em; margin: 0 auto; text-align: center; display: block; a {}}
  padding: 2em 0 0 0;
  dl.vcard {
    display: block;
    background-size: 50px;
    text-align: left;
    border: none;
    font-size: .85em;
    color: #fff;
    margin: 0 0 .5em 10%;
    background: rgba(0,0,0,.1);
    @media #{$small} {background: none;}
    }
  dd {
    padding: 0; margin: 0; text-align: center;
    @media #{$small} {
    &:after {
      content: " / ";
      color: $va-secondary-color;
    }

    &:last-of-type:after {
      content: "";
    }
  }
    @media #{$small} {display: inline;}
  }

  .post-script {
    font-size: .85em;
    margin: 0;
    padding: 0 0 1em 0;
    background: darken($va-primary-color, 5);
  }


  blockquote {
    border-left: 0;
    padding: 1em 1em 0 1em;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-style: italic;
  }

  span.source {
    color: #fff;
    color: rgba(255,255,255,.8);
    text-align: center;
    margin: 0 auto;
    display: block;
    }

}
