// Vets.gov

@import "components/va-pianokeys";


// Pieces of elements/typography we need
// TODO: properly incorporate elements/typography
$base-font-size: rem(16px);

html {
  font-family: $font-sans;
  font-size: $em-base;
}

body {
  font-size: $base-font-size;
}

// TODO: look into alert / error spacing issues
.usa-input-error {
  right: 1rem;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}

// Skip link

.show-on-focus {
  position: absolute;
  top: -10em;
  background: #fff;
  padding: 1em;
  color: $color-primary-darkest;
  display: block;
  font-weight: 600;
  &:hover {background: #fff;}
  &:focus {
    position: inherit;
    top: auto;
    outline: 2px solid $color-gold;
  }
}

// Other Colors
$polar:#E8F5FA;
$wild-sand:#f6f6f6;
$green-white:#eff0e6;
$olso-gray:#849097;

// VA Fonts
$roboto-slab: 'Roboto Slab', serif;



// General
html, body {
  padding: 0;
  margin: 0;
  // font-size: 17px;
  font-family: $font-sans;
  font-weight: 500;
  color: $color-gray-dark;
}

body, body.home {
  background: $color-primary-darkest url(../images/design/background/thread.png) top left no-repeat;
  background-size: contain;
  color: #fff;
}


// row
body .row.full {
  width: 100%;
  max-width: 100%;
}

body.home .row {
  // max-width: 62.5em;
}

// Screen Readers

.sr-only {
  position: absolute;
  left: -9999em;
  float: left;
}

// Abbr

abbr, a abbr, abbr[title] {
  border-bottom: none;
  text-decoration: none;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  cursor: pointer;
}


a {
  background: rgba(0,0,0,0.05);
  text-decoration: none;
  &:hover {text-decoration: none;}
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: $color-gray-dark;
  &:hover {
    color: $color-gray-dark;
  }
}

// Figure / Caption

figcaption {
  color: $color-primary-darker;
}

// Interior rows

// #content.interior .row {
//   max-width: 52em;
// }


#content.interior a[href^="http://"],
#content.interior a[href^="https://"] {
  position: relative;
}




// Logo and Header

.header {
  clear: both;
  padding: 0 0 .5em 0;
  margin: 0;

  h1 {margin: 0; line-height: 1em; @media #{$small} {margin: .25em 0 0 0;} }
  color: #fff;
}

h1 {
  color: #fff;
  a {
    text-indent: 180%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    color: #fff;
    background: $color-primary-darkest url(../images/design/logo/logo.png) top left no-repeat;
    width: 180px;
    height: 30px;
    background-size: contain;
    border-bottom: none;
    text-decoration: none;
    &:hover, &:active, &:focus {background: $color-primary-darkest url(../images/design/logo/logo-hover.png) top left no-repeat; background-size: contain;}
  @media #{$small} {
    background: $color-primary-darkest url(../images/design/logo/logo.png) top left no-repeat;
    width: 263px;
    height: 50px;
    background-size: contain;
    &:hover {
      background: $color-primary-darkest url(../images/design/logo/logo-hover.png) top left no-repeat;
      background-size: contain;
    }
  }
}
}

// Type

h1, h2 {
  font-family: $font-sans;
  font-weight: 600;
}
h3, h4, h5, h6 {
  color:$color-primary-darkest;
  font-weight: 600;
}

// Links

a {text-decoration: underline; background: rgba(0,0,0,.05);}
a:hover {text-decoration: underline; background: rgba(0,0,0,.1);}

// Banner

#content {margin: 0; padding: 0; color: $color-gray-dark;}

#content .splash {
  padding: 0 0 .5em 0;
  margin: 0;
  @media #{$small} {padding: .5em 0;}

  p {color: #fff; font-family: $font-sans;}

  &.app {
    padding: 0;
    p {color: #fff; font-family: $font-sans;}
    ul.breadcrumbs {
      display: inline-block;
      margin: 0 0 .5em 0; padding: 0;
      @media #{$small} {margin-right: 1em;}
      h2 {margin: 0; padding: .2em; line-height: 1em; display: block;}
      li {overflow: hidden; padding: 0;}
    }
    p {margin: .5em 0 1em 0;}
  }

  @media #{$small} {padding: 1em 0;}
  @media #{$medium} {padding: 2em 0;}
  @media #{$large} {padding: 2.5em 0;}

  span, h2 {
    padding: 0;
    display: inline;
    line-height: 1.3em;
    margin: .5em 0 0 0;
      white-space: pre-wrap;
    color: #333;
    a {background: $color-gold; color: #444;}
  }

  h2 span {clear: both; padding: .04em; display: inline-block; background: $color-gold; font-weight: normal;}
  h2, h3, p {/*padding: .35em; */ margin: 0; display: inline-block; font-family: $roboto-slab;}
  h2 {
    font-size: 1em;
    display: inline-block;
    @media #{$small} {font-size: 2em;}
  }

  h3 {font-weight: 500; font-size: 1.4em; color: #555;}

  &.alternate {
    li a {
      color: $color-primary-darkest;
      border-bottom: 2px solid $secondary-color;
    }

    li.parent:after {color: #ccc;}
  }
}

.pitch {
  @media #{$small} {padding: .5em 0;}
  h2, h3 {color: $color-primary-darkest; font-weight: 400; padding: .75em; line-height: 1.3em; display: inline-block; margin: 0;}
}

#experience {background: #fff;}

#experience .splash {padding: 0; margin: 0;}

#experience .splash h2 {
  margin: .5em 0; padding: 0;
  a {
    margin: 0;
    color: #444;
    background: $color-gold;
    line-height: 1.4em;
    font-size: .9em;
  }
}

.feature-list ul {
  margin: 0; padding: 0;
  li {
    a {font-weight: bold;}
    list-style-position: outside;
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
    &:last-of-type {border-bottom: none;}
  }
}

.primary {
  @media #{$small} {padding: 1em 0;}
  @media #{$small} {padding: 2em 0;}
  @media #{$medium} {padding: 2em 0;}

  p {padding-top: 0; margin-top: 0; padding-bottom: 1em;}

  h3 {
    padding: 0 0 .5em 0; font-size: 1.25em;
    @media #{$small} {font-size: 1.8em;}
  }
}

// TODO: Integrate USWDS and elements/_typography.scss
// and eliminate this declaration
.usa-content {
  p {
    max-width: $text-max-width;
  }
}

html.no-touch .banner {
  background: url(../img/design/banner.jpg) 50% 60% no-repeat;
  background-size: cover;
}

// Headings

h3 {color: $color-primary-darkest; font-weight: bold; font-size: 1.8em; padding: 0 0 1em 0;}
h4 {font-size: 1.5em; font-weight: normal;}
h5 {font-size: 1.25em; font-weight: normal;}
h6 {font-size: 1.15em; font-weight: bold;}

// tagline

#content .tagline-content {
  p {
    font-size: 2.15em;
    border-bottom: 2px solid white;
    padding: 0 0 1em 0;
    margin: 0 0 2em 0;
    color: rgba(255,255,255,.7);
    line-height: 1.2em;
  }
}

// Content Callouts

#content .main .section.one {
  ol {
    margin: 0;
    list-style-position: outside;
    li {
      margin: 0 0 1em 0;
    }
    ul, ol {
      margin: .5em 0 .5em 1.2em;
    }
  }

  ul {
  margin: 0 0 1em 1.2em;
    padding: 0;
    list-style-position: outside;
    li {
      list-style: square;
    }
  }

  ul.plain {
    margin: .5em 0 1em 0;
    li {list-style: none; padding: .35em 0; display: block;}
  }

  ul[class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0;
    @media #{$small} {margin: 0 -0.625rem;}
  }
}

.call-out {
  background: $color-primary-alt-lightest;
  padding: 1em;
  clear: both;
  margin: 0 0 1.5em 0;
  p {margin-bottom: 0; padding-bottom: .5em}
  p:nth-child(1) {
    font-size: 1em;
    color: #333;
    padding-bottom: inherit;
  }
  h3 {@media #{$small} {font-size: 1.65em;}}
  ul {
    margin: 0 0 .5em 1.5em; padding: 0;
    li {
      list-style: square;
      margin: 0;
    }
  }
}

// Content lead paragraphs

#content.interior .primary {
  li p:first-of-type,
  ul+p
   {
    font-weight: normal !important;
    color: #333;
    font-size: 1em;
    padding-bottom: 0;
  }
  p:nth-child(1) {
    font-size: 1.25em;
    color: $color-primary-darker;
    letter-spacing: normal;
    font-weight: normal;
    padding-bottom: 1em;
  }
}

#content .main.interior {
  background: #fff;
  a {text-decoration: underline;}
}

// Home page specific

.home #content {
  h2, h3, h4, h5, h6, p, ul, li, ol, a {color: $color-gray-dark;}
  .post-date {font-size: .5em; color: $color-gold;}
  h3 {
    border-bottom: 1px solid #fff;
    line-height: 1.2em;
    border-bottom: 6px solid $color-primary-darker;
    font-size: 1.65em;
    color: $color-primary;
    margin: 0 0 2.5em 0;
    padding: 0 0 .2em 0;
  }

  h4 a {
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid #fff;
      color: $color-gold;
    }
  }

  .read-more {
    font-size: .5em;
    display: inline-block;
    border-bottom: 1px solid $secondary-color;
    color: $secondary-color;
    &:hover {
      background: none;
      color: $color-primary-darkest;
      background: rgba(1,1,1,.1);
      border-bottom: 1px solid $secondary-color;
    }
  }

  ul.plain {
    margin: 0;
    padding: 0;
    li {list-style: none; border-bottom: none;}
    /*a {background: none;}*/
  }

  .section {
    padding: 4em 0 2em 0;
    text-align: left;
  }

  .section.main-menu {
    padding: .5em .5em 2.35em .5em;
    overflow: hidden;
    @media #{$small} {padding: 1em 0 1.5em 0;}
    .navigation {
      padding: 1.5em 0 0 0;
      background: none;
      ul li a {
        h3 {border-bottom: none;}
        }
      }
    }


  .section.one, .section.two {
    a {
      color: $color-gray-dark;
      &:hover {
        color: $color-primary-darkest;
        background: rgba(0,0,0,.15);
      }
    }
  }

  .home #content .section h3.alternate {
    margin: 0 0 2em 0 !important; padding: 0;
  }

  .section.one {
    padding: 0 0 1.5em 0;
      @media #{$small} {padding: 2em 0 4em 0;}
  }

  .section.two {
    padding: 2em 0;
    a, h3 {color: #fff;}
    h3 {border-bottom: none;}
    background: rgba(0,0,0,.1);
  }

  .section.three {
    background: #fff;
    padding: 5em 0;
    h2, h3, h4, h5, h6, p, li {color: #444;}
    h4 {font-size: 1em; margin: 0; padding: 0; line-height: 1.2em;}
    a {color: $color-primary-darkest;}
  }
}

#content .section.primary {
  background: none;
  padding: 2em 0;
  background: $color-primary;
  h1, h2, h3, h4, h5, h6, p, li {color: #fff;}
  p {color: rgba(255,255,255,1);}
  a {color: #fff;}
  ul li {list-style: square;}
}

#content .section.secondary {
background: rgba(255,255,255,.85);
}

#content .section.tertiary {
  background: $polar;
}

#content .section.quaternary {
  background: #dcddde;
  h1, h2, h3, h4, h5, h6, p, li {color: #fff;}
  h4 {font-weight: 700;}
  .cards {
    a {
      height:12em;
    }
  }
  .feature {background: none;}
}

#content .section.coda {
  background: $color-primary-darker;
  color: #fff;
  h2, h3, h4, h5, h6, a {color: #fff;}
  h4 {font-size: 1.5em;}
}

#content .section {
  h2, h3, h4, h5, h6 {margin: 0; padding: 0 0 .5em 0;}
  h2 {line-height: 1.2em;}
}

#content .section .feature {min-height: 11em;}

#content .panel {
  background: $color-gray-lightest;
  padding: 1em;
  margin-bottom: 1.5em;
  clear: both;
}

#content .section.do {
  background: #efefef;
  padding: 2em 0;
  h2, h3, h4, h5, h6, p, li {color: #444;}
  h4 {font-size: 1em; margin: 0; padding: 0; line-height: 1.2em;}
  a {color: #fff;}
  a.usa-button-primary {background: $color-green;}
}

#content {
  a.usa-button-primary.start {background: $color-green; text-decoration: none;}
}

#content .section.secondary,
#content .section.tertiary,
#content .section.quaternary,
#content .section.coda {
  padding: 3em 0;
  h3 {font-size: 2.2em;}
}

#content .section.start {
  background: $color-green-lightest;
  padding: 3em 0;
  border-bottom: 3px solid #fff;
}

// Sections

.section {
  background: #fff;
  &.one {
    padding: 2em 0 0 0;
  }
  &.two {
    padding: 0 0 4em 0;
    h3 {color: darken($color-green, 10);}
    clear: both;
  }
  &.three {clear: both; padding: 2em 0;}
}


// Action

.action {
margin: 0 auto;
text-align: left;
.button {
  font-size: 1.25em;
  padding: 1em 3.5em;
}
}

// Breadcrumbs

#content ul.breadcrumbs {
  background: none;
  border: none;
  margin: 0 0 1em 0;
  h2 {font-size: 1em;}
  padding: 0;
  @media #{$small} {margin: 0 0 1em 0;}
  border-radius: 0;
  border-radius: none;
  -webkit-border-radius: 0;

  li {
  text-transform: none;
  margin: .25em 0;
  padding: .1em;
  display: inline-block;
  line-height: 1.15em;
  height: auto;
  vertical-align: middle;
  font-size: .85em;
  @media #{$small} {font-size: 1.35em;}
  &:hover  {border-bottom: none; text-decoration: none;}
  &.parent {
    a {background: none;}
    padding-top: .5em;
    margin: 0 0 .75em 0;
    @media #{$small} {display: inline-block;}

    &:before {content: none; vertical-align: middle;}
    &:after {content:" › "; display: inline-block; color: #fff; padding: 0 .5em;}
    }

    &.active {
      background: $color-gold;
      color: #000;
      font-family: $roboto-slab;
      font-weight: 400;
      margin: .5em 0;
      padding: .2em;
      font-size: 1.35em;
      @media #{$medium} {font-size: 1.8em;}
      &:before {content: ""; padding: 0; margin: 0;}
      }
    }
  a {
    border-bottom: 3px solid #fff;
    background: none;
    text-decoration: none !important;
    color: #fff;
    &:hover {text-decoration: none; background: rgba(0,0,0,.1); border-bottom: 3px solid $color-gold;}
  }
}

// General List Styles

ul {
  li {
  list-style: inside;
  }
}

ol {
  margin: 0 0 0 1.25em;
li {
    list-style-position: outside;
  }
}

li {
  span.meta {
    display: inline-block;
    padding: .5em;
    color: $color-primary-darkest;
    background: rgba($color-primary-darkest,.05);
    font-weight: bold;
    float: right;
    margin: .5em 0 1em 1em;
  }
}
.inline-list {
  > li {
    float: left;
  }
  > * {
    display: block;
  }
}

// Tables
table {

  caption {
    text-align: left;
    padding: 0 0 .25em 0;
    font-weight: bold;
    font-size: 1.25em;
  }
  border: 0;
  text-align: left;
  @media #{$small-only} {
    font-size: .5em;
  }
}
td,th {
  padding-top:.8em;
  padding-bottom: .8em;
  padding-left: .8em;
}

th{
  &[colspan] {
    background: #E8F5FA;
    font-size: 1.19rem;
    padding-top:.8em;
    padding-bottom: .8em;
    padding-left: .8em;
    color:$color-primary-darkest;
  }
  span {
    font-weight: normal;
  }
}
  tr {
  background: #fff!important;
  }

// Definition lists

dl.simple {
  margin: 0;
  padding: 0 0 1em 0;
  &.feature {padding: .25em .5em;}
  dd {padding: 0; margin: 0; border-bottom: 1px solid #eee; &:last-of-type {border-bottom: none;}}
}

// Checklists

ul.checklist, ol.checklist {
margin: 0 0 0 1.35em; padding: 0;
li {
  font-weight: 500;
  span {font-weight: normal; font-size: 1em; display: block; margin-left: 2.25em; color: #555;}
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  &:last-of-type {border-bottom: none;}
  h5 {font-size: 1.35em;}
  ul li {
    border-bottom: none;
    padding: .5em 0;
    span {background: rgba(0,0,0,.1); display: block; padding: 1em .5em; text-align: center;}
  }

  ul {
    margin: 0 !important;
    padding: 0;
    text-align: center;
    svg {display: block; margin: .25em auto;}

    li {padding: 0; margin: 0;}
    &:before {margin: 0; padding: 0;}
    span.type {margin: .25em .25em 1em .25em; color: $color-primary-darkest;  @media #{$small} {padding: 2.5em 1em;}  background: rgba($secondary-color, .15);}
    }
  }
}

// Informational Content

.informational-content, .introductory-content {
  padding: 2em 0 2em 0;
  background: rgba(0,0,0,.05);
}

.introductory-content {
  padding: 1em  0;
  @media #{$small} {/*padding: 3em 0.9375em;*/ padding: 3em 0;}
  background: #efefef;
  margin: 0 auto;
  p {
    font-size: 1em;}
    @media #{$small} {font-size: 1.35em;}
}

// Navigation

#content.interior .navigation,
#content #playbook .navigation {
  padding: 1em  0;
  @media #{$small} {padding: 1em 0 3em 0;}
  background: $color-gray-lightest;
  color: $color-primary-darkest;
  border-bottom: 2px solid #fff;
  margin: 0 auto;

  ul.small-block-grid-1 {
    margin: 0;
    padding: 0;
    li {
      width: 100%;
      margin: 0;
      padding: 0;
      h4, h5 {font-size: 1em; }
      span {color: $color-gray-dark;}
    }
  }

  ul.cards li {
    margin: 0;
    height: auto;
    h3, h4, h5, h6 {color: $color-primary-darkest; font-weight: 700; font-family: $font-sans; font-size: 1.35em;}
    h4 {font-size: 1.3em;}
    border-bottom: 1px solid rgba(0,0,0,.2);
    &:last-of-type { border-bottom: none;}
    a {
    color: $color-primary-darkest;
    -webkit-box-shadow: none;
    border-bottom: none;
    box-shadow: none;
    text-decoration: none;
    border-radius: none;
    border-radius: 0;
    padding: 1em .5em;
    height: auto;
    margin: 0;
    background: none;
    &:hover {padding-left: .5em; background: rgba(0,0,0,.1); border-left: 4px solid $color-primary;}
    }
  }
}


body.home .navigation, body.fourohfour .navigation {
  background: none;
  padding: 3em 0;
}

body.fourohfour #content {
  h3 {margin-top: 1em; font-size: 1.4em;}
}

body.home .main-navigation {
  padding: 2em 0;
  background: rgba(0,0,0,.2);
}

.draft {
  position: absolute;
  top: -3.5em;
  right: -5em;
  z-index: 1000;
  background: rgba(#a91d28, .9);
  color: #fff;
  font-size: .85em;
  position: fixed;
  padding: 2.5em 4em 1em 4em;
  -ms-transform: rotate(45deg); /* IE 9 */
  -ms-transform-origin: 20% 40%; /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  -webkit-transform-origin: 20% 40%; /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  transform-origin: 20% 40%;

}

// Cards

[class*="block-grid-"]>li {
  padding: 0;
  @media #{$small} {padding: 0 0.625rem 1.25rem 0.625rem;}
}

#content  .cards {
-webkit-backface-visibility: hidden;
backface-visibility: hidden;

  a, .coming-soon {
    padding: 1em 1.15em;
    margin: 0 -0.9375rem;
    border-bottom: 2px solid rgba(255,255,255,.3);
    color: #fff;
    display: block;
    font-weight: normal;
    text-decoration: none;
    background: $color-primary-darker;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.1);
    @media #{$small} {padding: .45em .75em; border-bottom: none; text-align: left; border-radius: .2em; margin: 0 0 .25em 0}
    @media #{$medium} {height: 10em;}

    h3 {
      text-decoration: none;
      margin: 0;
      padding: 0;
      @media #{$small} {margin: 0 0 1em 0;}
    }

    h3, h4, h5 {font-size: 1.35em; font-weight: 700;}

    h4 {margin: 0; padding: 0;}

    p {
      @media #{$small} {padding: 0m 0 1em 0;}
      line-height: 1.5em;
      @media #{$small} {margin: 0;}
    }

    &:hover, &:active, &:focus {
      background: $color-primary;
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,.35);
      -moz-box-shadow: 0 0 5px rgba(0,0,0,.35);
      box-shadow: 0 0 5px rgba(0,0,0,.35);
    }

    h2, h3, h4, h5, h6 {padding: 0 0 .25em 0; margin: 0; color: #fff; display: block; clear: both; width: 100%;}

    &:hover div {
      a {color: $color-gold; p {color: $color-gold;}}
    }
}

.coming-soon {
  background: rgba(255,255,255,.05);
  color: #fff;
  border-bottom: 2px solid rgba(0,0,0,0);

  h3 {color: #fff; color: rgba(255,255,255,.7);}

  &:hover, &:active, &:focus {
    background: rgba(255,255,255,.05);
    color: #fff;
    p {color: #fff;}
    border-bottom: 2px solid rgba(0,0,0,0);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
}

// Telephone numbers

span.tel {
background: rgba(0,0,0,.05);
padding: .2em;
display: inline-block;
}

// Information Grid

ul.information-grid {

li {

  strong {
    font-size: 1.3em;
    color: $color-primary-darkest;
  }

  p {
    font-size: .9em;
  }

  div {
    padding: .75em;
    margin: 0 0 .5em 0;
    @media #{$small} {min-height: 12em;}
    background: #eee;
    background: rgba(0,0,0,.05);
    &:hover, &:focus, &:active {background: rgba(0,0,0,.1);}
  }
  a {

    text-decoration: none;
    border-bottom: 2px solid $color-primary-darkest;

  }
}

}


// Blog / Playbook

body.page-playbook {
background:#fff url(../images/design/background/thread.png) top left no-repeat;
background-size: contain;

  h1 a {
    text-indent: 180%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    border-bottom: none;
    text-decoration: none;
    width: 180px;
    height: 30px;
    background: #fff url(../images/design/logo/logo-alt.png) top left no-repeat;
    background-size: contain;
    &:hover, &:active, &:focus {
      background: #fff url(../images/design/logo/logo-alt-hover.png) top left no-repeat;
      border-bottom: none;
      background-size: contain;
      text-decoration: none;}

      @media #{$small} {
        width: 263px;
        height: 50px;
        background: #fff url(../images/design/logo/logo-alt.png) top left no-repeat;
        background-size: contain;
        &:hover {
          background: #fff url(../images/design/logo/logo-alt-hover.png) top left no-repeat;
          background-size: contain;
        }
      }
    }

  .main {background: white;}
}

// posts

#experience.Designing .splash {
    padding: 4em 0;
    @media #{$small} {padding: 6.1em 0;}
    background: url(../images/content/posts/utah.jpg) top center no-repeat;
    background-size: cover;
    margin-bottom: 1em;
}

#experience.When .splash {
    padding: 4em 0;
    @media #{$small} {padding: 6.1em 0;}
    background: url(../images/content/posts/exit.jpg) 50% 50% no-repeat;
    background-size: cover;
    margin-bottom: 1em;
}

.post-date, .post-author {color: #444;}

.post-date {
  margin-bottom: 2.5em;
  font-size: .85em;
}

.blog-navigation {padding: 2em 0;}

span.next {
  float: right;
  display: inline-block;
}


#experience .splash {
  margin: 0;
  @media #{$small} {margin: .5em 0 0 0; padding: 1em 0 0 0;}
  h2 {
    &.tagline {padding: 0;}
    padding: 0; margin: 0 0 2em 0; background: none; color: $color-primary-darkest;
    a {text-decoration: none; margin: 0; color: $color-primary-darkest; background: $color-gold; border-bottom: none; padding: .5em .25em; &:hover {padding: .5em .65em;}}
    @media #{$medium} {position: fixed; margin: 1.35em 0 0 0; z-index: 100;}
  }
}

// small-12 medium-8 medium-offset-4 large-offset-2 small-centered columns

#experience {

  .main {
    @extend .small-12;
    @extend .small-centered;
    @extend .medium-8;
    @extend .medium-offset-4;
    @extend .large-offset-2;
    @extend .columns;
  }
  .post img {
    width: 100%;
  }
}

figure {
  font-size: .85em;
  margin-left: -$column-gutter/2;
  margin-right: -$column-gutter/2;
  @media #{$small} {
    margin-left: inherit;
    margin-right: inherit;
  }

  @media #{$large} {
      margin-left: -16.66667%;
      margin-right: -16.66667%;
  }
}

.post-preview {
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 0 0 3em 0;
  margin: 0 0 3em 0;
  &:last-of-type{border-bottom: none;}
}

.related-posts {
  border-top: 1px solid $color-gold;
  padding: 2em 0 1em 0;
  margin: 2em 0 0 0;
  h6 {line-height: 1.2em; margin: 0; padding: 0; font-size: 1.15em;}
  ul.plain.posts {
    margin: 1em 0; padding: 0;
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid rgba(0,0,0,.1);
      &:last-of-type{border-bottom: none;}
      a {
        padding: .5em .2em; margin: 0; text-decoration: none;
        display: block;
        &:hover {
          background: rgba(0,0,0,.08);
          border-left: 4px solid $color-primary;
          padding-left: .5em;
        }
        .post-title {color: $color-primary-darker; font-size: 1em; font-weight: bold; margin: 0; padding: 0;}
        .post-date {color: #444; margin: 0; padding: 0 0 1em 0;}
      }
    }
  }
}

.post {
  a, p, li, h1, h2, h3, h4, h5, h6, dl, dd, dt, caption, figure, blockquote {color: #444; line-height: 1.65em;}
  a {
    text-decoration: underline;
    color: $color-primary-darker;
  }

  .page-number {
    color: #444;
  }

  span.previous {
    float: left;
    display: inline-block;
  }

  h3 {
    text-decoration: none;
    background: none;
    padding: 0;
    font-size: 1.5em;
    @media #{$small} {font-size: 2em;}
    margin: 0;
    display: block;
    &.title {
      color: $color-primary-darker;
      background: none;
      display: block;
      a {text-decoration: none;}
    }
  }
}


// Footer

.footer {
  color:#fff;
  padding: 0 !important;
  margin: 0;
  background: darken($color-primary-darkest, 02);

  .coda .row {
    max-width: 70em;
  }

  .text-right {
    text-align: right;
  }

  dl {
    margin: 2em 0 0 0;
    @media #{$small} {
      margin: 2em 0 1.5em 0;
    }
  }

  dt {
  font-weight: 700;
  display: block;
  font-size: .95em;
  padding: 0 0 1em 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  }

  dd {
    display: block;
    margin: 0;
    padding: 0;
  }

  dd {padding: .25em 0;}

  a.usa-button {text-decoration: none; margin-bottom: 1em;}

  .usa-social-links {
    dd {
      display: inline-block;
      margin: 0 1em 0 0;
    }
    a {
    border-bottom: none;
    float: left;
    margin: 0;
    padding: 0;
    display: inline-block;
    &:hover {
      border-bottom: none;
      }
    }
  }

  ul {
    margin: 0;
    padding: .5em 0;
    border-bottom: 1px solid $color-primary;
    @media #{$small} {
      border-bottom: none;
      padding: 0;
      margin: 1.5em 0 2em 0;
    }
  }
  li, p, a {
    color: #fff;
    font-size: 1em;
  }

  a {
    text-decoration: underline;
    display: block;
    background: none;
    font-weight: 400;
    @media #{$small} {display: inline-block; margin: .25em 0;}
    &:hover {color: $color-gold;}
    &.contact, &.blog {
      padding: .65em; font-size: 1em;  text-align: center; border: 2px solid $secondary-color;
      @media #{$small} {margin: 1.5em auto; display: inline-block;}
      &:hover, &:focus, &:active {
        background: $secondary-color; color: #fff;
      }
    }

    &.contact {
      @media #{$small} {margin: 0 0 0 1em;}
    }
    &.blog {border: none; &:hover {background: none; color: $color-primary-alt;}}
  }

  .footer-logo a {
    display: none;
    @media #{$medium} {padding: 0; display: block;}
    @media #{$medium} {background:url(../images/design/logo/logo.png) 102% 102% no-repeat!important;border-bottom:0!important;width: 112px; height:32px; display: block;background-size: 160px!important; text-indent:180%; overflow:hidden}
  }

  .footer-seal {
    background:url(../images/design/sprites/sprite.png)  no-repeat 0 -23px;
    background-size: 215px 72px;
	  width: 215px;
	  height: 49px;
    text-indent: -999em;
    overflow: hidden;
    margin: 0 auto;
    @media #{$small} {margin: 0;}
  }

.footer-crisis {
  background:$color-gold;
  margin: 2.5em 0;
  padding: .25rem 0;
  border-radius: .2em;
  color: $color-gray-dark;
  font-size: .85em;
  text-align: center;
  span {
    font-weight: bold;
  }
  a {
    display:inline;
    text-decoration: none;
    color:rgb(0,0,0);
    &:hover {
      border-bottom: none;
      text-decoration: none;
    }
    @media #{$small-only} {
      padding: .25em 0;
    }
    @media #{$medium-only} {
      display:block
    }
  }
}
ul.final-list {
  text-align: center;
  @media #{$large} {text-align: left;}
  padding: 1.5em 0 0 0;
  width: 100%;
  border-bottom: none !important;
  display: block;
  margin: 0 auto;

  &:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }


  li {
      padding: 0;
      display: inline-block;
      text-align: center;
      &:last-child {
        margin-right: 0;
      }
      &:after {
        content:"|";
        padding: 0 .15em;
      }
      &:last-of-type:after {
        padding:0;
        content: "";
      }
    a {
        display:inline-block;
        padding: .35em;
    }
  }
}

li {
  list-style: none;
  padding: .5em 0;
  font-weight: 300;
  @media #{$small}
  {} margin: 0 auto; text-align: left; display: block;}
  padding: 2em 0 0 0;

  .post-script {
    font-size: .85em;
    margin: 0;
    padding: 0 0 1em 0;
    background: darken($color-primary-darkest, 5);
  }

  blockquote {
    border-left: 0;
    padding: 1em 1em 0 1em;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-style: italic;
  }

  span.source {
    color: #fff;
    color: rgba(255,255,255,.8);
    text-align: center;
    margin: 0 auto;
    display: block;
  }


}

// Footer icon sprite


a.facebook {
	background: url('../images/design/sprites/sprite.png') no-repeat -22px 0;
  background-size: 215px 72px;
  width: 17px;
  height: 17px;
  text-indent: -999em;
  overflow: hidden;
}

a.twitter {
	background: url('../images/design/sprites/sprite.png') no-repeat 0 0;
  background-size: 215px 72px;
	width: 20px;
	height: 16px;
  text-indent: -999em;
  overflow: hidden;
}


.primary blockquote {
  margin: 0 0 1em 0;
  padding: 0 0 0 1em;
  border-left: 2px solid $color-gray-lighter;
  p {
  color: $color-primary-darker;
  }
}

.footer .content {
  @media #{$small} {padding: 2em 0 0 0;}
  margin: 0;

}

// Alerts

.alert-box {
  border-bottom: none;
  margin: 0;
  padding: 1.25em .4em 0 0;

&:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
   }

  @media #{$small-up} {padding: 1em .4em 0 .4em;}
  margin-bottom: 0;
  a {color: #fff; background: none;}

  &.notice {
    font-size: .9em;
    font-weight: 700;
    clear: both;
    padding: .5em;
    @media #{$small} {padding: .5em .85em;}
    margin-bottom: .75em;
    background: $color-primary-darker;
    &:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
       }
  }

  &.coda {
    font-size: .9em;
    font-weight: 500;
    clear: both;
    padding: 1.25em 0 1.5em 0;
    border-top: none;
    background: $color-primary-darker;
    @media #{$xlarge-up} {
      padding: 0;
    }

  }

  // Feedback widget

  .feedback {
    color: #fff;
    text-align: center;
    @media #{$medium-up} {
      text-align: left;
    }
  }

  .feedback-widget {
    color: #fff;
    background: none;
    overflow: hidden;
    text-decoration: underline;
      @media #{$small-only} {
        text-align: center;
      }

    &:nth-child(even) {
      opacity: .5;
      padding-left: 1em;

      &:hover {
        opacity: 1;
      }
    }
    
    span.icon {
      background: url('../images/design/sprites/sprite.png') no-repeat -43px 0;
      background-size: 215px 72px;
      display: inline-block;
      width: 19px;
      height: 17px;
      vertical-align: middle;
      margin: 0 .5em 0 0;
      @media #{$medium-up} {float: left;}
    }

  @media #{$xlarge-up} {
    position: fixed;
    width: 12em;
    padding: .5em;
    display: inline-block;
    text-decoration: none;
    background: $color-primary-darker;
    bottom: .85em;
    right: 0;
    -webkit-border-top-left-radius: .3em;
    -webkit-border-bottom-left-radius: .3em;
    -moz-border-radius-topleft: .3em;
    -moz-border-radius-bottomleft: .3em;
    border-top-left-radius: .3em;
    border-bottom-left-radius: .3em;
    span.icon {
      margin-top: .75em;
      margin-right: .5em;
    }
    span.text {
      width: 100%; text-decoration: underline;
      @media #{$medium-up} {float: left; width: 80%; text-decoration: none;}

    }
    &:hover, &:active, &:focus {
      background: $color-primary-darkest;
      color: #fff;
      padding: .5em .65em;
      width: 12.5em;
    }
  }
}

.message {
  font-size: 1.7rem;
  font-weight: 700;
  span {
    background-position: 0 4px;
    background-repeat: no-repeat;
    background-size: 16px 14px;
    display:inline-block;
    padding-left: 1.5em;

  }
  p {
    font-size: 1.44rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
  }
}

.text-right {
  padding: 0 .5em 0 0;
  line-height: 1em;
  margin: 0;
  text-align: right !important;
  a.usa-button {margin-top: 0; margin-bottom: .75em;}
  }
}

// Search

#search_form {
  padding: 1.1em 0;
  text-align: right;
  label {
    position: absolute;
    left: -9999em;
    font-size: 1px;
    overflow: hidden;
    float: left;
  }
  input[type="text"] {
    height: 3em;
    margin: 0;
    width: 100%;
    color: $color-gray-dark;
    padding: .2em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  input[type="submit"] {
    margin: 0;
    height: 3em;
    text-align: center !important;
    width: 100%;
    padding: 0;
    border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -webkit-border-radius: 0px 3px 3px 0px;
  }

}

.search-button {
  margin: 0.1em .5em 0 0;
  padding: 0;
  float: right;
  a {
    line-height: 1em;
    display: inline-block;
    padding: .41em;
    font-size: .85em;
    border-radius: .2em;
    text-decoration: none;
    background: $color-primary;
    color: #fff;
  }
}

.reveal-modal #search_form {
  margin-bottom: 1em;
}

.reveal-modal .close-reveal-modal {
  font-size: 1em;
  clear: both;
  text-decoration: none;
  color: $color-gray-dark;
  text-align: center;
  margin: 1em 0;
  position: relative;
  top: auto;
  display: block;
  padding: 1em 0;
  right: auto;
  width: 100%;
  bottom: auto;
}

// Plain lists

#content.interior .primary ul.plain {
  margin: 0 0 1.5em 0;
  padding: 0;
  li {
    list-style: none;
    display: block;
    .post-date {padding: 0; margin: 0; color: $secondary-color;}
    padding: .5em 0;
    border-bottom: 1px solid rgba(255,255,255,.2);
    &:last-of-type {border-bottom: none;}
  }
  &.posts {
    font-size: 1.65em;
    a {
      text-decoration: none;
      background: none;
      color: #fff;
      .post-date {font-size: .65em;}
      &:hover {
        background: rgba(255,255,255,.2);
      }
    }
  }
  p:nth-child(1) {font-size: inherit; color: inherit;}
}

// byline

p.byline {font-size: .8em; color: #fff; color: rgba(255,255,255,.9);}



// Simple List

ul.simple-list, ol.simple-list {
margin: 0 0 1em 1.25em;
padding: 0;
display: block;
li {
  padding: .35em 0;
  list-style: square;

}
}

// Info cards

.card {
position: relative;
margin: 0 0 1.5em 0;
padding: 1em;
border: 1px solid #eee;
dt {font-weight: 700;}
dd {
  padding: 0;
  margin: 0;
}
&.templates {
  height: 338px;
}
&:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

span {
  display: block;
}

.number {
  font-size: 3.25em;
  font-weight: 700;
  float: left;
  margin: 0;
  color: #003E73;
  line-height: .65em;
  display: inline-block;
  padding: 0 .125em 0 0;
}

.heading, .description {
  display: block;
}

.heading {
  color:#006699;
  font-size: .8em;
  padding: 0;
}

.description {
  font-size: 1.25em;
  font-weight: 400;
  padding: .2em 0;
  text-align: left;
  display: inline-block;
  width: 100%;
  text-transform:uppercase;
}

&.information {
  background: rgba(0,0,0,.05);
}

&.info-graphic {
  border: 1px solid #fff;
  background: none;
  padding: 1em 1em 0;
  line-height: 2.5;
  span.number {
    color: #fff;
    display: inline-block;
  }
}



}

// Actions

.actions {
  margin: 1em 0;
}


#playbook {
h2 {background: none; font-size: 2.5em;}
/*a {text-decoration: none; background: none;}*/

.card a {
  border-bottom: 2px solid $secondary-color;
  display: inline-block;
  background: rgba(0,0,0,.03);
  &:hover {background: rgba(0,0,0,.1);}
}
}

// Dividers

.divider {
&.margin {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
&.top {
  border-top: 1px solid #f0f0f0;
}
&.bottom {
  border-bottom: 1px solid #f0f0f0;
}
}

// Steps

.feature {
background: $polar;
padding: 1em;
margin: 0;
}

// Process line

.process {
  padding: 1em 0;
  position: relative;
  h2, h3, h4, h5, h6 {padding: .2em 0 0 0;}
  h5 {
    font-size: 1.3em; 
    margin: 0; padding: 0;
  }
  h6 {font-size: 1.1em; margin: 0; padding: 0;}
  p:nth-child(1) {
    font-size: 1em;
    color: #333;
    padding-bottom: 0;
  }
  list-style: none;
  li {

    p:nth-child(1) {
      font-size: 1em;
      color: #333;
      padding-bottom: inherit;
    }

      list-style-type: none;
      list-style: none;
      ol {
        margin: 0 0 1em 1.5em;
        padding: 0;
        li {list-style: decimal; padding: .25em 0;}
      }
      ul {
        margin: 0 0 1em 1.25em !important;
        padding: 0;
        li {list-style: square;}
      }
  &.step {
    border-left: 8px solid #ccc;
    padding: 0 0 2em 2em;
    margin: 0 !important;
  &.last {
    border-left: 0;
  }
      a {
        /*background-color: #D9C799;*/
      }
  }
  &.step.three.last,
  &.step.four.last,
  &.step.five.last,
  &.step.six.last,
  &.step.seven.last
   {
    &:before {
    margin-left: -2.4em
    }
  }


  /*&.va {border-left: 8px dashed #ccc;}*/

  ul {
    margin: .25em 0 1em 0;
    padding: 0;
    li {
      margin: 0;
      padding: .1em 0;

    }
  }
  ol {
    margin-top: .25em;
    margin-bottom: 1em;
    li {
      margin-left: .2em;
    }
  }

  &:before {
    color:#fff;
    float: left;
    font-size: 1.3em;
    font-weight: 700;
    text-align: center;
    width: 2em;
    top: -.2em;
    margin-left: -2.7em;
    display: block;
    border: 4px solid #fff;
    background: $olso-gray;
    border-radius: 4em;
    position: relative;
  }
}

#content.interior .primary .process li p:nth-child(1) {
  font-size: 1em;
  color: #333 !important;
  padding-bottom: 0;
}

li.one:before {content: "1";}
li.two:before {content: "2";}
li.three:before {content: "3";}
li.four:before {content: "4";}
li.five:before {content: "5";}
li.six:before {content: "6";}
li.seven:before {content: "7";}
li.eight:before {content: "8";}
li.nine:before {content: "9";}
li.ten:before {content: "10";}
li.eleven:before {content: "11";}
li.twelve:before {content: "12";}
li.thirteen:before {content: "13";}
li.fourteen:before {content: "14";}
li.fifteen:before {content: "15";}
li.sixteen:before {content: "16";}
li.seventeen:before {content: "17";}
li.eighteen:before {content: "18";}
li.nineteen:before {content: "19";}
li.twenty:before {content: "20";}
}
.methodology {
.medium-3 {
  padding-top: 1.5em;
  @media #{$small-only} {
    padding-left: 1.5em;
    h4 {
      font-size: 1.4em;
    }
  }

  ul {
    margin: 0 0 1.5em 0; padding: 0;
    li {
    margin: 0;
    padding: 0;
    }
  }

  &.hcd {
    h4 {
      color: $secondary-color;
    }
  }

}
.medium-9 {
  background: white;
}
ol:nth-child(n+2) {
  li {
    list-style-type:decimal;
  }
}
li {
  &.step {
    padding-top: 1.5em;
    border-left:4px solid $olso-gray;
  }
  h4 {
    display: inline-block;
    span {
      font-family: $font-sans;
    }
  }
  .interactive {
    display: inline-block;
    background: rgba(0,0,0,0.05);
    padding: .2em .6em;
    border-radius: 3px;
    margin-left: 1.25em;
    text-transform: uppercase;
    font-size: .85em;
    vertical-align: 15%;
    letter-spacing: .05em;
    @media #{$small-only} {
      margin-left: 0;
      margin-bottom: 1em;
    }
    @media #{$medium-only} {
      margin-left: 0;
      margin-bottom: 1em;
    }
  }
  &:before {
    background:white;
    border: 4px solid $olso-gray;
    color:$olso-gray;
    font-size: 1.3em;
    font-weight:700;
    position: relative;
    padding: 0;
    margin-left: -2.6em;
    top: -.1em;
    width: 2em;
  }

  &.step.four,
  &.step.five,
  &.step.seven,
  &.step.nine
   {
    &:before {
      background:white url(../images/icons/SVG/loop2.svg)center center no-repeat;
      display:inline-block;
      width:3.4em;
      height:2.2em;
      background-size:contain;
      border:none;
      margin-left: -3.3em;
      padding-top: .25em;
    }
  }
}

&.page {
  .discover {
    background: none;
  }
  .medium-3 {
    padding-top: 0;
    ul {
      margin-left: 0;
    }
  }
  .medium-9 {
      li {
          list-style-type: disc;
      }
  }
}
}

.human-centered {
.discover,
.design,
.deliver {
  border-top: 4px solid #fff;
  border-bottom:4px solid #fff;
  div:nth-child(1) {
    border-right:8px solid #fff;
    @media #{$small-only} {
      border-right: 0;
    }
  }
  div:nth-child(2) {
    /*border-left:4px solid #fff;*/
    padding: 1.5em 1.5em .2em;
  }
  .graphic {
    -webkit-background-size: 138px 138px;
    background-size: 165px 165px;
    padding: 0;
    height: 209px;
    @media #{$medium-only} {
      background-position: 0 center;
    }
  }
}
}
.discover {
  background:$polar;
  li {
    &.step.one {
      @media #{$small-only} {
        margin-top: 1.3em!important;
      }
      @media #{$medium-up} {
        margin-top: -2.7em!important;
      }
      padding-top: 0;
    }
  }
  .graphic {
    background: url(../images/design/playbook/discover-process.svg) 40% center no-repeat;
  }
}

.tap-to-close {
  color:$color-gold!important;
  font-size: .8em!important;
  padding-top: .75em!important;
}
.design {
  background:$wild-sand;
  li {
    &.step.four {
      @media #{$small-only} {
        padding-top: 0;
        margin-top: 1em!important;
      }
    }
  }
  .graphic {
    background :url(../images/design/playbook/design-process.svg) 40% center no-repeat;
  }
}
.deliver {
  background:$green-white;
    li {
    &.step.six {
      @media #{$small-only} {
        padding-top: 0;
        margin-top: 1em!important;
      }
    }
    &.step.nine {
      padding-top:0;
      &:before {
        margin-left: -3.1em;
      }
    }
  }
  .graphic {
    background: url(../images/design/playbook/deliver-process.svg) 40% center no-repeat;
  }
}


// Visual Guide

span.color-chip {
height: 3em;
width: 3em;
margin: .5em 1em .5em 0;
border-radius: 10em;
vertical-align: middle;
display: inline-block;

&.primary-color {background: $color-primary;}
&.color-primary-darker {background: $color-primary-darker;}
&.color-primary-darkest {background: $color-primary-darkest;}
&.color-gray-dark {background: $color-gray-dark;}
&.color-gray-lightest {background: $color-gray-lightest;}
&.color-gold {background: $color-gold;}
&.color-green {background: $color-green;}
&.color-green-lightest {background: $color-green-lightest;}
}


// Icons

.icon-images {width: 1.125em;}
.icon-connection {width: 1.25em;}
.icon-books {width: 1.125em;}
.icon-library {width: 1.0625em;}
.icon-price-tags {width: 1.25em;}
.icon-history {width: 1.0625em;}
.icon-keyboard {width: 1.125em;}
.icon-bubbles {width: 1.125em;}
.icon-bubbles2 {width: 1.125em;}
.icon-bubbles3 {width: 1.125em;}
.icon-bubbles4 {width: 1.125em;}
.icon-users {width: 1.125em;}
.icon-menu2 {width: 1.375em;}
.icon-menu3 {width: 1.375em;}
.icon-menu4 {width: 1.375em;}
.icon-volume-high {width: 1.0625em;}
.icon-embed2 {width: 1.25em;}
.icon-youtube4 {width: 2.5087890625em;}

// Citation

.citation {
border-top: 1px solid #eee;
padding: 1em 0 0 0;
h5, h6 {font-size: .85em; font-family: $font-sans; color: $color-gray-dark;}
p, ul, li {font-size: .7em;}
font-style: italic;
}

// Panel list

.panel-list {
background: rgba(0,0,0,.05);
padding: 1em;
position: relative;
min-height: 12em;
dt {color: $color-primary-darkest; padding: 0; font-weight: 700; font-size: 1.2em;}
dd {padding: 0; margin: 0;}
a {
  @extend .usa-button-primary;
  margin: .5em 0;
}
&.plain {
  height: auto;
  dt {font-size: 1.45em;}
  margin: 0 0 1em 0;
  min-height: 0;
}
}

// Buttons

#content .usa-button,
#content .usa-button-primary,
#content .usa-button-outline
{text-decoration: none !important;}

#content .usa-button-primary.expand {
  width: 100%;
}


// Highlight headings

h4.highlight {
  border-bottom: 3px solid $primary-color;
  display: block;
  padding-bottom: .25em;
  font-weight: 700;
  line-heighgt: 1.2em;
  margin-bottom: .75em;
  font-famiy: $font-sans;
}

// bumps text down to align with panel or highlighted text
#content .section h4.bump {
  margin-top: 0.7rem;
}

// Action banner

.action-bar {
text-align: right;
background: $color-gray-lightest;
padding: .5em 0;
  a.usa-button-primary {
    background: $color-green;
  }
}

// TODO: Deprecate .action-bar a.usa-button-primary.
// Use .va-button-primary and .va-button-secondary 
// going forward.
// Drop !important from the lines below when everything
// is refactored.
.va-button-primary {
  background: $color-green !important;
 
  &:hover,
  &:focus {
    background-color: $color-green-darker !important;
  }
} 

.va-button-secondary {
  background-color: $color-primary-darker !important;
  
  &:hover,
  &:focus {
    background-color: $color-primary-darkest !important;  
  }
}


// USDS component styles
// Accordion
.usa-accordion-content[aria-hidden=true] {
    display: none !important;
}
button[class*="usa-button-"] {
  font-weight:500;
  span {
    font-weight:700
  }
}

// Disclaimer

.disclaimer {
  padding: 1em 0;
  border-top: 1px solid #ddd;

  z-index:500;
  color: #444;
  background: #fff;

  &.minimal {
    border-top: none;
    padding: .25em 0;
  }

  p {
    font-size: 0.8em;
  }
}

// Info block

.info-block {
  p {
    padding: 0;
    margin: 0;
  }
}

body.home .disclaimer, body.page-playbook .disclaimer {
  display: none;
}


// Mobile menu

/* Overlay style */

@media #{$small-only} {

  .overlay {
  	position: fixed;
  	width: 100%;
  	height: 100%;
  	top: 0;
  	left: 0;
    z-index: 800;
  	background: rgba($color-primary-darkest, .95);
  }

  /* Overlay closing cross */
  .overlay .overlay-close {
    display: block;
    border: none;
  	outline: none;
  	z-index: 100;
  }


  button#trigger-overlay {
    padding: .5em;
    margin-top: 0;
    border-radius: .15em;
  }

  /* Effects */
  .overlay-fullscreen {
  	opacity: 0;
  	visibility: hidden;
  	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  	transition: opacity 0.5s, visibility 0s 0.5s;

    button {
      border-radius: 0;
      display: block;
      width: 100% !important;
      margin: 0;
      width: auto;
      background: $color-primary;

    }

    input[type="text"] {
      border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      -webkit-border-radius: 3px 0 0 3px;
      -webkit-appearance: none;
    }

  }

  .overlay-fullscreen.open {
  	opacity: 1;
  	visibility: visible;
  	-webkit-transition: opacity 0.5s;
  	transition: opacity 0.5s;
    .columns {
      padding: 0;
    }
  }

  .overlay-fullscreen .menu {
  	-webkit-perspective: 1200px;
  	perspective: 1200px;
    padding: 1em 1em;
  }

  .overlay-fullscreen form {
  	opacity: 0.4;
  	-webkit-transform: translateY(-25%) rotateX(35deg);
  	transform: translateY(-25%) rotateX(35deg);
  	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  	transition: transform 0.5s, opacity 0.5s;
  }

  .overlay-fullscreen.open form {
  	opacity: 1;
  	-webkit-transform: rotateX(0deg);
  	transform: rotateX(0deg);
  }

  .overlay-fullscreen.close form {
  	-webkit-transform: translateY(25%) rotateX(-35deg);
  	transform: translateY(25%) rotateX(-35deg);
  }

  @media screen and (max-height: 30.5em) {
  	.overlay form {
  		height: 70%;
  	}

  }

}

.overlay-close {
  display: none;
}

// List overrides

ul li p {
  margin: 0;
  padding: 0;
}


// vets.gov branded apps

a.vets-app {
  border-left: 3px solid $color-gold;
  display: inline-block;
  padding: 0 0 0 .5em !important;
}

// Tooltip
button.js-simple-tooltip {
  font-family: 'Courier New', 'Courier', serif;
  font-weight:bold;
  cursor: pointer;
  display:inline-block;
  padding: 0;
  border-radius: 1.75em;
  background: $color-gray-dark;
  margin: 0 0 0 .5em;
  color: white;
  height: 1.75em;
  font-size: .8em;
  width: 1.75em;
  text-align: center;
  vertical-align: middle;
}
.simpletooltip[aria-hidden="true"] {
  display: none;
}
.simpletooltip_container {
  position: relative;
}
.simpletooltip {
  position: absolute;
  z-index: 777;
  width: 11em;
  border-radius: .3em;
  background: $color-gray-dark;
  color: $color-white;
  padding: .6em;
  text-align: left;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.3;
}
.simpletooltip {
  right: auto;
  left: 100%;
  margin-left: .8em;
}
.simpletooltip:before {
  border-bottom: 10px solid transparent;  /* left arrow slant */
  border-top: 10px solid transparent; /* right arrow slant */
  border-right: 10px solid $color-gray-dark;
  content:"";
  font-size: 0;
  position: absolute;
  top: 3px;
  left: 0px;
  line-height: 0;
  margin-left: -10px;
  width:0;
  height:0
}
@media (max-width: 40.063em) {
  .simpletooltip {
    top: 100%;
    left: 45%;
    right: 0;
    margin: 0;
    margin-top: .7em;
    margin-left: -5em;
  }
  .simpletooltip:before {
    top: -10px;
    right: auto;
    left: 45%;
    margin-left: -5px;
    margin-top: -10px;
    border: 10px solid transparent;
    border-bottom: 10px solid rgba( 0, 0, 0, .9 );
  }
}

html.no-touchevents {
  .touch {display: none;}
  .no-touch {display: block;}
}

html.touchevents {
  .touch {display: block;}
  .no-touch {display: none;}
}

// Animate CSS components


.animated {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}




@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


