.breadcrumbs {
  color: $color-primary;
  font-size: inherit;
  margin: 0 0 1em 0;
  padding-left: 0;


  li {
    display: inline-block;
    margin: .25em 0;
    //outline: 1px dashed #6c6;
    padding: .25em 0 .25em 0;
    vertical-align: middle;

    &:after {
      content: " › "; 
      display: inline-block; 
      padding: 0 .35em;
    }

    &.active {
      font-weight: bold;
      padding: .3em 0;

      &:after {
        content: '';
      }
    }
  }
  a {
    color: $color-primary;
    display: inline-block;
    padding: 2px;

    &:hover {
      background: rgba(0,0,0,.1); 
    }
  }
}

.breadcrumbs--inline {
  display: inline-block;
  
  @media #{$small} {
    margin-right: 1em !important;
  }
  
  li.active::before {
    display: none;
  }
}