{% comment %}
=====================
Level 2 Index (Merger)
=====================

Used for index pages in top-level paths (e.g. /healthcare/index.html)

{% endcomment %}

<main>
  <div class="usa-grid usa-grid-full">
    <article class="usa-width-two-thirds">
      <div class="inline hub-main-icon">
        <i class="icon-large white hub-icon-{{hub}} hub-background-{{hub}}"></i>
      </div>
      <div class="inline hub-main-title">
        <h1>
          {{ title }}
        </h1>
      </div>
      {{ contents }}

      {% if hublinks != empty %}
        {% include "components/hub-page-link-list.html" %}
      {% endif %}


      {% if crosslinks != empty %}
        {% include "components/merger-crosslinks.html" %}
      {% endif %}

    </article>

    <div class="usa-width-one-third" id="hub-rail">

      {% if administration != empty %}
        {% include "components/merger-administration.html" %}
      {% endif %}

      {% if promo != empty %}
        {% include "components/merger-promo.html" %}
      {% endif %}

      {% if social != empty %}
        {% include "components/merger-social.html" %}
      {% endif %}

      {% if mobile != empty %}
        {% include "components/merger-mobile.html" %}
      {% endif %}

    </div>

  </div>


  {% include "includes/veteran-banner.html" %}
  {% include "includes/social-accordion.html" %}
</main>
