@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.collapsible {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-gray-dark;
  cursor: pointer;
  width: 530px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  padding: 8px;
  margin: 0;
  line-height: 1.5;
  background-color: transparent;
  border-radius: 0;

  @media (max-width: $small-screen) {
    width: 100%;
  }
}

.collapsible:hover {
  color: $color-gray-dark;
  background-color: transparent;
}

.collapsible:active {
  color: $color-gray-dark;
  background-color: transparent;
}

.status-label {
  text-decoration: underline $color-light-blue dotted;
  text-underline-position: under;

  &:active {
    pointer-events: none;
  }
}

.content {
  width: 530px;
  display: none;
  overflow: hidden;

  @media (max-width: $small-screen) {
    width: 100%;
  }
}

.alert-icon-base {
  width: 20px !important;
  height: 18px !important;
  pointer-events: none !important;
  font-size: unset !important;
  display: unset !important;
  align-self: flex-start;
  margin-right: 5px;
  margin-top: 5px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  // IE fix for icon padding
  //https://stackoverflow.com/questions/11173106/apply-style-only-on-ie
  .alert-icon-base {
    width: 20px !important;
    height: 18px !important;
    pointer-events: none !important;
  }
}

.more-info {
  margin: 0;
  padding: 0 12px 12px 12px;
}

.more-icon {
  pointer-events: none;
  margin-right: 15px;
}

.limited {
  background-color: $color-gold-lightest !important;

  span.status-label:hover {
    background-color: $color-gold-lighter !important;
  }

  span.status-label:active {
    background-color: $color-gold-lighter !important;
  }
}

.closed {
  background-color: $color-red-lightest !important;

  span.status-label:hover {
    background-color: $color-secondary-light !important;
  }

  span.status-label:active {
    background-color: $color-secondary-light !important;
  }
}

.notice {
  background-color: $color-aqua-lightest !important;

  span.status-label:hover {
    background-color: $color-primary-alt-light !important;
  }

  span.status-label:active {
    background-color: $color-primary-alt-light !important;
  }
}
