@import "~@department-of-veterans-affairs/jean-pants/sass/shared-variables";

.va-profile-hero {
  h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid $color-gray-light;
    margin-bottom: 15px;
  }
  h2 {
    margin-top: 0;
  }
}

.va-profile-heading {
  padding-bottom: 5px;
  border-bottom: 1px solid $color-gray-light;
  margin-bottom: 10px;
}

.va-profile-btn {
  text-decoration: none;
}

// @todo Should this be a global change?
.va-profile-wrapper .va-modal-inner {
  max-height: 100%;
  overflow-y: auto;
}
