$teamsite-large-screen: 1008px;

.usa-banner-header {
  .usa-banner-inner p {
    font-size: 1.2rem;
    font-family: inherit;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .usa-banner-header-expanded {
    .usa-banner-button-text {
      display: none;
    }
    .usa-banner-inner p {
      font-size: 1.5rem;
    }
  }
}

.header {
  text-align: left;
}

.login .container h1 {
  color: $color-black !important;
}

.usa-banner-content p {
  font-family: inherit;
  font-size: 1.5rem;
}

.login-container {
  line-height: 0;

  div.row:first-child {
    display: inline-block;
    max-width: 100%;
  }
}

#va-header-logo-menu {
  padding-top: 2em;
}

@media (min-width: $teamsite-large-screen) {
  .usa-grid {
    width: $teamsite-width;
    padding-left: 1px;
    padding-right: 1px;
  }
  .usa-grid-full {
    width: $teamsite-width;
  }
}

header.merger {
  width: 100%;
  margin: auto;

  .va-crisis-line-container {
    box-sizing: border-box;
    button.va-crisis-line {
      background-image: none;

      // HACK: override rules from benefits.va.gov
      .va-crisis-line-text {
        color: $color-white;
      }
    }
  }

  #vetnav-menu {
    // HACK: To override `content-box` on benefits site
    button.vetnav-level1 {
      box-sizing: border-box;
    }
  }

  @media (min-width: $teamsite-large-screen) {
    .va-notice--banner-inner,
    .va-crisis-line-container {
      width: $teamsite-width;
      padding-left: 1rem;
    }
  }

  .mega-menu,
  #mega-menu {
    .panel-bottom-link {
      width: 468px;
    }

    .vetnav-panel {
      box-sizing: border-box;
      .mm-links {
        font-family: $font-stack;
      }
    }
  }

  @media (min-width: $large-screen) {
    .mega-menu,
    #mega-menu {
      .vetnav-panel {
        width: 487px;

        .mm-link-container {
          width: 220px;
        }

        &.column-one {
          .mm-link-container {
            width: 200px;
          }
        }

        &.column-two {
          left: 240px;
        }

        &.column-three {
          left: 487px;
        }
      }

      .panel-bottom-link {
        width: 657px;
      }
    }
  }

  @include media($medium-screen) {
    .vetnav-panel .mm-link-container .vetnav-level2 {
      line-height: 1em;
      font-family: $font-sans;
    }
  }

  @media (max-width: $large-screen - 1) {
    #vetnav-va-benefits-and-health-care,
    #vetnav-about-va {
      width: 100%;
    }

    .mega-menu,
    #mega-menu {
      .column-three {
        display: none;
      }
    }
  }

  #login-root {
    .profile-nav {
      box-sizing: border-box;
      .va-dropdown {
        span,
        p {
          font-family: "Source Sans Pro";
          font-size: 16px;
        }
        p {
          padding-bottom: 0;
        }
      }
    }
  }
}

#vetnav-va-benefits-and-health-care.vetnav-panel {
  width: 250px !important;

  @include media($medium-screen) {
    &.vetnav-submenu--expanded {
      width: 768px !important;
    }
  }
  @include media($small-desktop-screen) {
    &.vetnav-submenu--expanded {
      width: 1008px !important;
    }
  }
}

footer.footer {
  font-size: 16px;
  width: 100%;
}

.footer-lastupdated {
  background: $color-white;
  color: $color-gray-dark;
  font-size: 1em;
  border: 2px solid $color-gray-light;
  padding: 5px 0;
}

.sign-in-nav {
  .sign-in-links {
    color: $color-white;
  }
}

// HACK: Added this new utility class to remove horizontal padding from the
// mobile menu. .usa-grid-full cannot be used for this purpose as its width has
// now been hard-coded
.padding-h-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vetnav-panel--submenu {
  h3 {
    background-color: transparent;
  }
}
