@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";

.poa-requests {
    &__list {
        list-style-type: none;
        padding: 0;
        display: block;
    }
    &__card {
        margin-bottom: 20px;

        @media (min-width: $small-desktop-screen) {
            max-width: 600px;
        }

        &-name,
        &-group {
            margin: 0;
        }

        &-label {
            font-weight: 700;
            margin-bottom: 0;
            display: flex;
            align-items: center;
        }

        &-data {
            margin-top: 0;
        }

        &-icon {
            margin-right: 4px;

            &--green {
                color: var(--vads-color-success);
            }

            &--red {
                color: var(--vads-color-error);
            }
        }
    }
    &__row {
        @media (min-width: $small-desktop-screen) {
            display: flex;
            flex-wrap: wrap;
        }
    }
    &__col {
        @media (min-width: $small-desktop-screen) {
            flex: 33%;
        }
    }
}