@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.limitations-row {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  &__warning-icon {
    color: var(--vads-color-action-focus-on-light);
  }
}

.relationship-row {
  display: block;
  font-size: 1.4rem;
  line-height: 1;
}