@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/formation-overrides/variables" as *;

// hacky fix for address save button sizing
[data-action="save-edit"] {
  line-height: .9;
  padding: 0.75rem 1.25rem !important;
}

// form panel is only 32em wide, so we need to override the default width
// was originally set in the shame.scss file
.form-panel {
  min-width: 100%;
}

.nav-tabs li {
  flex: 1 1 auto;
}

[data-location="2/task-blue/veteran-information/edit-home-phone"] {
  .schemaform-first-field {
    margin-top: 1.875rem !important;
  }
}

[data-location="2/task-blue/veteran-details"], [data-location="2/task-blue/veteran-information"], [data-location="2/task-blue/veteran-information/edit-mailing-address"]{
.schemaform-chapter-progress {
padding-left: 0;
}
}

.contact-info-card {
  @include media($medium-screen) {
    width: 18.8rem;
    // height: 8.8rem;

    &.gray-task {
      height: unset;
    }
  }
  &:nth-of-type(4) {
    @include media($medium-screen) {
      height: 11.4rem;
    }
  }
}

#form-26-1880 {
  margin-top: 2rem;

  .schemaform-chapter-progress {
    padding-left: 0;
  }
}

.task-gray-card {
  width: 18.8rem;
}

[data-dd-action-name="street"] {
  margin-bottom: 1rem;
}
// custom styles for the dev panel stdout
.fade-enter {
  opacity: 0 !important;
}

.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.fade-enter-done {
  opacity: 1;
}

// fixes for pattern 2 Orange task
[data-location="2/task-orange/applicant-information"] {
  .schemaform-chapter-progress {
    padding-left: 0;
    span {
      font-size: 18px !important;
    }
  }
}

// post study page
#locked-card {
  @include media($medium-screen) {
    width: 21rem;
  }
}

#gray-locked-card {
  @include media($medium-screen) {
  width: 23rem;
  }
}


// PATTERN 6 MARITAL STATUS
[data-location="6/marital-information/current-marital-status"] {
  va-radio::part(legend) {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Bitter", serif !important;
  }
  va-radio::part(required) {
    font-size: 1.06rem;
    font-weight: normal;
    font-family: "Source Sans Pro Web", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
}

[data-location="6/marital-information/current-marital-status-simple"] {
  va-radio::part(legend) {
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Bitter", serif !important;
  }
  va-radio::part(required) {
    font-size: 1.06rem;
    font-weight: normal;
    font-family: "Source Sans Pro Web", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
}

.masked-ssn {
  margin-bottom: 1.875rem;
}

[data-location="6/marital-information/spouse-personal-information"] {
  va-checkbox {
    margin-top: 1.5rem;
  }
}

[data-location="6/marital-information/current-spouse-marriage-history"] {
  va-radio::part(legend) {
    margin-top: 0 !important;
  }
}

[data-location="6/marital-information/veteran-marriage-history"] {
  va-radio::part(legend) {
    margin-top: 0 !important;
  }
}

[data-location*="/reason-former-marriage-ended"] {
  va-radio::part(legend) {
    display: none;
  }

  .schemaform-field-template.schemaform-first-field {
    margin-top: 1.25rem !important;
  }

  .rjsf-web-component-field {
    margin-top: 0 !important;
  }

.form-expanding-group {
  .vads-u-padding-left--4 {
    padding-left: 0 !important;
  }
}
}

[data-location*="/current-spouse-marriage-history"] {
  .rjsf-object-field {
    margin-top: 0 !important;
  }
}

[data-location*="/veteran-marriage-history"] {
  .rjsf-object-field {
    margin-top: 0 !important;
  }
}

[label="Has your spouse been married before?"]{
  margin-top: 0 !important;
}

[label="Do you have any previous marriages?"]{
  margin-top: 0 !important;
}

[name="root_view:previousSpouseIsDeceased"]{
margin-top: 1.5rem;
}

[name="root_view:marriedOutsideUS"] {
  margin-top: 1.5rem;
}

[name="root_view:marriageEndedOutsideUS"] {
  margin-top: 1.5rem;
}

[data-location="6/marital-information/additional-living-situation"] {
legend.schemaform-label {
  font-size: 1.25rem;
  font-weight: 700;
}
span.schemaform-required-span {
  font-size: 1.06rem;
  font-weight: normal;
}
}

[data-location="6/marital-information/marriage-type"] {
  legend.schemaform-label {
    font-size: 1.25rem;
    font-weight: 700;
  }
  span.schemaform-required-span {
    font-size: 1.06rem;
    font-weight: normal;
  }
}

.end-title-span {
  color: rgb(181, 9, 9) !important;
  font-size: 1.06rem;
  font-weight: normal;
  font-family: "Source Sans Pro Web", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.schemaform-block-title {
  h3 {
    color: var(--vads-color-black) !important;
  }
}

#root_marriageType-label {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Bitter", serif !important;
}

span.schemaform-required-span {
  font-size: 1.06rem;
  font-weight: normal;
  font-family: "Source Sans Pro Web", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

va-radio[label="Do you have any other previous marriages?"]::part(required) {
  font-size: 1.06rem !important;
  font-weight: normal !important;
  font-family: "Source Sans Pro Web", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

va-radio[label="Does your spouse have any other previous marriages?"]::part(required) {
  font-size: 1.06rem !important;
  font-weight: normal !important;
  font-family: "Source Sans Pro Web", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}


#react-root > div.vads-u-margin-top--4 > div:nth-child(1) > div.form-app > div > div > div.progress-box.progress-box-schemaform > div > form > div.vads-u-margin-y--2.rjsf-object-field > div > fieldset > p {
color: var(--vads-label-hint-text-color-on-light);
}