.messaging-subject-group {
   > div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  
  label {
    position: absolute;
    left: -999em;
  }  
  
  legend {
    font-size: inherit;
    float: left;
    // Vertically centering with input fields.
    line-height: 2.9;
    margin-right: 1rem;
    text-align: right;
    width: $messaging-label-width;
  }
}


.messaging-from,
.messaging-category {
  -webkit-flex: none;
  flex: none;
  margin-right: 1rem;
  width: 25rem;
}

.messaging-subject {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.messaging-recipient {
  > div {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center; 
  }
  label {
    font-weight: bold;
    margin: 0 1rem 0 0;
    width: $messaging-label-width;
    text-align: right;
  }
}

.messaging-from-label {
  display: inline-block;
  font-weight: bold;
  margin: 0 1rem 0 0;
  width: $messaging-label-width;
  text-align: right;
}

.messaging-from,
.messaging-recipient,
.messaging-subject-group {
  margin-bottom: 1.5rem;
}

.messaging-btn-delete {
  margin: 0;
}
  
.messaging-send-group {
  background: $color-gray-lightest;
  border: 1px solid $color-gray;
  border-top-width: 0;
  padding: 1rem;
 
  [type="button"] {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
    
  .messaging-btn-delete {
    float: right;
    margin-right: 0;
  }
}
.messaging-btn-save {
  background: transparent !important;
}

.messaging-write {
  label {
    font-weight: bold;
  }
  textarea {
    margin: 0;
    max-width: 100%;
    resize: vertical;
  }
}