#messaging-folder-controls {
  margin: 0;  
  position: relative;
  width: 100%;

  .messaging-compose-button {
    margin: 2rem 0;
  }

  @media (max-width: $medium-screen) {
    padding: 0 2rem;
  }

  @media (min-width: $medium-screen) {
    &::after {
      content: '\A0';
      display: block;
      clear: both;
    }

    padding: 0;

    .messaging-compose-button {
      display: none;
      margin-bottom: 4.5rem;
    }
  }
}

.msg-nomessages {
  margin: 0;
}

.messaging-message-row {
  &--unread {
    font-weight: bold;
  }

  a {
    color: $color-black;
    display: block;
    padding: 1.5rem;
    text-decoration: none;

    &:hover {
      background: transparent;
    }

    &:visited {
      color: $color-black;
    }
  }

  td {
    padding: 0;
  }
}
