.messaging-thread-header {
  border-bottom: 2px solid $color-black;
}

.messaging-thread-subject {
  display: inline-block;
  font-weight: normal;
  // Overriding `#content .section h*`.
  padding: 2.25rem 2rem !important;
  vertical-align: middle;
  width: 60%;
}

.messaging-thread-controls {
  display: inline-block;
  padding-right: 1rem;
  text-align: right;
  vertical-align: middle;
  width: 40%;

  button {
    background: transparent;
    color: $color-black;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    padding: 0.5rem 1rem;

    &:hover,
    &:focus {
      background: transparent;
      color: $color-primary;
    }

    &:active,
    &:focus {
      outline: 0;
    }

    i {
      font-size: 1.8rem;
    }
  }

  span {
    margin-left: 0.5rem;
  }
}

.messaging-thread-message {
  padding: 1.5rem 2rem;
  border-bottom: 1px solid $color-black;

  &--collapsed {
    background: $color-gray-lightest;

    p {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.messaging-message-details-control {
  color: $color-black;
  display: inline-block;
  margin-left: 1rem;
  position: relative;

  button {
    background: transparent;
    box-shadow: none;
    color: $color-black;
    margin: 0;
    outline: 0;
    padding: 0;

    &:active,
    &:focus {
      color: $color-gray;
    }

    i {
      font-size: 1.8rem;
    }
  }

  table {
    margin: 0;
  }

  td, th {
    border: none;
    padding: 0.25rem 0.75rem;
    white-space: nowrap;
  }

  th {
    font-weight: bold;
    text-align: right;
  }
}

.messaging-message-details {
  background: $color-white;
  border: 1px solid $color-black;
  font-size: 1.5rem;
  padding: 1rem;
  position: absolute;
  z-index: 100;
}

.messaging-message-sender {
  width: 75%;
}

.messaging-message-sent-date {
  text-align: right;
  width: 25%;
}

.messaging-message-sender,
.messaging-message-sent-date {
  display: inline-block;
  font-weight: bold;
  vertical-align: top;
}

.messaging-message-recipient {
  color: $color-gray-medium;
}

.messaging-thread-reply {
  font-size: 1.8rem;
  padding: 3rem 2rem;

  .messaging-write label {
    display: none;
  }

  &-recipient {
    border: 1px solid $color-black;
    border-bottom-width: 0;
    padding: 1rem 1.5rem;

    label {
      display: inline-block;
      font-weight: bold;
      margin: 0 1rem 0 0;
    }
  }

  textarea {
    padding: 1rem 1.5rem;
  }
}

.messaging-notice-box {
  background: $color-primary-alt-lightest;
  padding: 1.5rem 2rem;

  i {
    width: 3rem;
  }

  span {
    display: inline-block;
    vertical-align: top;
    width: 95%;
  }
}
