.messaging-subject-field {
  padding: 1.5rem 0;
  position: relative;

  label {
    position: absolute;
    left: -999em;
  }
  
  legend { 
    font-size: inherit;
  }

  @media (min-width: $medium-screen) {    
    legend {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    } 
  }
}

.messaging-subject-group {
   display: inline-block;
   width: 100%;

  @media (min-width: $medium-screen) {
    legend {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    } 
  }
}

.messaging-subject-group {
   display: inline-block;
   width: 100%;

  @media (min-width: $medium-screen) {
    > div {
      display: flex;
      margin-left: 10rem;
      width: 80%;
    }

    legend {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    } 
  }

}


.messaging-recipient > div,
.messaging-from,
.messaging-subject-field {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 0;
}

.messaging-recipient > div,
.messaging-from,
.messaging-subject-field {
  padding: 1.5rem;

  @media (min-width: $medium-screen) {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }
}

.messaging-subject-field legend {
  // Should match padding above;
  @media (max-width: $medium-screen) {
    padding-top: 1.5rem;
  }
}

.messaging-from,
.messaging-recipient,
.messaging-subject-field {
  @media (max-width: $medium-screen) {
    border-bottom: 1px solid $color-gray;
  }
}

[id=messaging-compose] {
  @media (min-width: $medium-screen) {
    margin-bottom: 3rem;
  }
}

[id=messaging-compose] label,
.messaging-from-label {
  margin: 0;
  font-weight: bold;
}

.messaging-recipient label,
.messaging-from-label {
  padding-right: 1rem;

  @media (min-width: $medium-screen) {
    -webkit-flex: 0 0 10rem;
    flex:  0 0 10rem;
    text-align: right;
  }
}

.messaging-send-group {
  background: $color-gray-lightest;
  border: 1px solid $color-gray;
  border-top-width: 0;
  padding: 1rem;
  position: relative;

  @media (max-width: $medium-screen) {
    border-width: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1.5rem;
  }

  [type="button"] {
    margin: 0 1rem 0 0;

    @media (max-width: $medium-screen) {
      -webkit-flex: 0 0 48%;
      flex: 0 0 48%;
      margin: 1.5rem 0rem .5rem;
    }

    &[disabled] {
      background: $color-gray;
    }
  }

  .messaging-btn-delete {
    @media (max-width: $medium-screen) {
      display: none;
    }

    float: right;
    line-height: 3.5rem;
    margin: 0 0 0 1rem;
    padding: 0 1rem;
  }
}

.messaging-btn-save {
  background: transparent !important;

  &[disabled] {
    color: $color-gray !important;
    box-shadow: inset 0 0 0 2px $color-gray !important;
  }
}

.messaging-write {
  textarea {
    border: 0;
    padding: 0;
    margin: 1rem 0 0;
    max-width: 100%;
    resize: none;

    @media (min-width: $medium-screen) {
      border-color: $color-base;
      border-style: solid;
      border-width: 1px 1px 0 1px;
      padding: 1rem;
    }
  }

  @media (max-width: $medium-screen) {
    margin: 0;
    padding: 1rem 1rem 0;
  }
}

.messaging-write-group {
  clear: both;
}

.msg-attachments {
  margin: 0 1rem;

  @media (min-width: $medium-screen) {
    border-width: 0 1px;
    border-style: solid;
    border-color: $color-base;
    margin: 0;
    padding: 1rem;
  }

  &-title {
    border-top: 2px solid $color-gray-light;
    font-size: inherit;
    font-weight: bold;
    padding: 1rem 0;
  }
}

.messaging-characters {
  @media (max-width: $medium-screen) {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
    -webkit-order: -1;
    order: -1;
    text-align: right;
  }

  @media (min-width: $medium-screen) {
    float: right;
    line-height: 3.5rem;
  }

  &.isnegative {
    color: $color-secondary;
  }
}

.msg-attach {
  display: inline-block;
  position: relative;

  @media (max-width: $medium-screen) {
    display: inherit;
    -webkit-flex: 1 1 50%;
    flex: 0 0 50%;
    -webkit-order: -2;
    order: -2;
  }

  label {
    background-color: inherit;
    cursor: pointer;
    font-weight: inherit;
    left: 0;
    margin: 0;
    position: relative;
    top: 0;
    white-space: nowrap;
    width: auto;
    z-index: 1;

    &:focus span,
    &:hover span {
      color: $color-primary-darker;
    }
  }

  .fa {
    padding-right: .5ex;
  }

  span {
    color: $color-primary;
    text-decoration: underline;
  }
  
  input {
    border: 0;
    height: auto;
    left: -9999rem;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: auto;
  }
}

@media (min-width: $medium-screen) {
  .messaging-from {
    padding: 0 1.5rem;
    margin-top: 1.5rem;
  }

  .messaging-category {
    margin-right: 1rem;
    -webkit-flex: 0 1 40%;
    flex: 0 1 40%;
  }

  .messaging-subject {
    -webkit-flex: 1 1 60%;
    flex: 1 1 60%;
  }
}

.msg-attachment {
  @include clearfix;
  background: $color-gray-lightest;
  border: 1px solid $color-gray;
  line-height: 2;
  margin-bottom: .5rem;

  span {
    display: inline-block;
    font-weight: bold;
  }

  &-name {
    padding: .5rem .75rem;
  }

  &-size {
    padding: .5rem 0;
  }
}

.msg-attachment-close {
  color: rgba($color-base, .7);
  background: transparent;
  font-size: 1.25em;
  float: right;
  margin: 0;
  padding: 1rem;

  &:focus,
  &:hover {
    background: inherit;
    color: $color-base;
  }
}

.msg-attachments-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}