#messaging-app {
  margin: auto;
  max-width: $site-max-width;
  padding: 3rem 0;
}


#messaging-app-header {
  padding: 0 1.5rem;
}

#messaging-main {
  padding: 0 1.5rem;

  @media (max-width: $medium-screen) {
    padding: 0;
  }
}

// TODO: Refactor these styles so that they're
// reusable across projects.
#messaging-nav {
  display: inline-block;
  width: 20%;

  .messaging-folder-nav-close {
    background: transparent;
    color: $color-black;
    display: none;
    font-size: 2.5rem;
    margin: 0 0 2rem 0;
    text-align: right;
    width: 100%;
  }

  .messaging-compose-button {
    margin: 0 0 2rem 0;
    width: 100%;
  }

  @media (max-width: $medium-screen) {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);

    -webkit-transition: -webkit-transform 250ms;
    transition: transform 250ms;

    background: $color-white;
    height: 100%;
    left: 0;
    padding: 5rem;
    position: fixed;
    overflow-y: auto;
    top: 0;
    width: 100%;
    z-index: 1;

    .messaging-compose-button {
      display: none;
    }

    .messaging-folder-nav-close {
      display: block;
    }
  }

  &.opened {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

// Override square bullets and excessive padding
// when only using .usa-sidenav-sub_list.
.messaging-folder-subnav {
  list-style: none;
  padding: 0;
}

.messaging-folder-nav-link {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.messaging-my-folders {
  span {
    display: inline-block;
    width: 90%;
  }

  i {
    display: inline-block;
    font-size: 1.8rem;
    text-align: right;
    width: 10%;
  }
}

// TODO: Refactor so that these styles are more reusable.
button.msg-btn-newfolder[type="button"],
.messaging-folder-nav-actions button {
  background: transparent;
  border-radius: 0;
  color: $color-primary;
  font-weight: normal;
  line-height: 1.3;
  margin: 0;
  text-align: left;
  text-decoration: underline;

  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;

  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;

  // Transition only these properties.
  -webkit-transition-property: color, background-color, border-color;
          transition-property: color, background-color, border-color;

  &:hover {
    background: $color-gray-lightest;
  }

  i {
    display: inline;
    font-size: 1.8rem;
  }
}

.messaging-folder-nav-actions .msg-btn-newfolder {
  padding: 1rem 2rem;
  width: 100%;
}

#messaging-content {
  @media (min-width: $medium-screen) {
    display: inline-block;
    padding-left: 3rem;
    vertical-align: top;
    width: 80%;
  }
}

#messaging-content-header {
  position: relative;

  @media (max-width: $medium-screen) {
    background: $color-gray-lightest;
    text-align: center;

    .messaging-cancel-link,
    .messaging-menu-button,
    .messaging-send-button {
      display: block;
    }

    h2 {
      padding: 1rem !important;
    }
  }
}

.messaging-cancel-link,
.messaging-menu-button,
.messaging-send-button {
  display: none;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  width: auto;
}

.messaging-cancel-link {
  color: $color-primary;
  left: 0;
  padding: 1.25rem 1.5rem;
}

.messaging-menu-button,
.messaging-send-button {
  background: $color-primary;
  border-radius: 0;
  padding: 1rem;
}

.messaging-menu-button {
  left: 0;
}

.messaging-send-button {
  right: 0;
}

.messaging-modal {
  .va-modal-inner {
    @media(min-width: $medium-screen) {
      max-width: 40rem;
    }
  }

  form [type=submit] {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.messaging-modal-title {
  margin: 0;
  + * {
    margin-top: 0;
  }
}
