/********************
 * Thread (General) *
 ********************/

.messaging-thread-content {
  @media (max-width: $medium-screen) {
    display: none;

    &.opened {
      display: block;
    }
  }
}

.messaging-thread-form-trigger {
  display: none;

  & > button {
    display: block;
    width: 100%;
  }

  @media (max-width: $medium-screen) {
    background: $color-gray-lightest;
    display: block;
    padding: 1rem 2rem;
  }
}

/*****************
 * Thread Header *
 *****************/

.messaging-thread-header {
  border-bottom: 2px solid $color-black;
  padding: 0 0 2.25rem 0;

  .messaging-toggle-thread,
  .msg-btn-print {
    background: transparent;
    color: $color-black;
    float: none;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0 1rem;
    padding: 0;
    vertical-align: middle;
    width: auto;

    &:hover,
    &:focus {
      background: transparent;
      color: $color-primary;
    }

    &:active,
    &:focus {
      outline: 0;
    }

    i {
      font-size: 1.8rem;
    }

    span {
      padding-left: 0.5rem;
    }
  }
}

.messaging-thread-nav {
  border-bottom: 1px solid $color-black;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  position: relative;

  button {
    width: auto;
  }

  a {
    margin-right: 1rem;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
  }

  i {
    margin-left: .5rem;
    font-size: inherit !important;
  }

  .msg-btn-delete,
  .msg-btn-print {
    display: none;
  }

  @media (max-width: $medium-screen) {
    background: $color-gray-lightest;
    border: none;
    padding: 1rem;
    text-align: right;

    .msg-btn-delete,
    .msg-btn-print {
      display: inline-block;
    }

    a {
      float: left;
      margin: .5rem 1rem;
    }
  }
}

.messaging-thread-subject {
  font-weight: normal;
  // Overriding `#content .section h*`.
  padding: 0 2rem !important;
}

.messaging-thread-controls {
  float: right;
  margin: .25rem 1rem;

  @media (max-width: $medium-screen) {
    .msg-btn-delete,
    .msg-btn-print {
      display: none;
    }
  }
}

/****************
 * Thread Reply *
 ****************/

.messaging-thread-form {
  .messaging-thread-header {
    border: none;
    display: none;
    padding: 0;
  }

  @media (max-width: $medium-screen) {
    display: none;

    &.opened {
      display: block;
    }

    .messaging-thread-header {
      display: block;
    }
  }
}

.messaging-notice-box {
  background: $color-primary-alt-lightest;
  padding: 1.5rem;

  i {
    width: 3rem;
  }

  span {
    display: inline-block;
    vertical-align: top;
    width: 90%;
  }
}
