.messaging-subject-group {
  
  > div {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  
  label {
    position: absolute;
    left: -999em;
  }  
  
  legend {
    font-size: inherit;
    float: left;
    // Vertically centering with input fields.
    line-height: 2.9;
    padding-right: 1rem;
  }
}

.messaging-category {
  -webkit-flex: none;
  flex: none;
  margin-right: 1rem;
  width: 25rem;
}

.messaging-subject {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
