.messaging-btn-delete {
  background: transparent;
  color: $color-base;
  
  .fa-trash {
    font-size: 1.5rem;
  }
  
  span {
    padding-left: .5rem;
  }
  
  &:hover,
  &:focus {
    // Copies styles from the usa-button-outline class
    background: transparent;
    box-shadow: inset 0 0 0 2px $color-primary;
    color: $color-primary;
  }
}