{% comment %}

=====================
 Hub Page link-list
=====================

Used to display a list of links for use in the hub page

needs A title, and an array of links
each link
- url:
  label:
  description:
  external: true/false

{% endcomment %}
{% for hublink in hublinks %}
  <section class='usa-grid'>
    <div class="va-h-ruled--stars"></div>
  </section>
  <h2 class="hub-page-link-list__title">
   {{ hublink.title }}
  </h2>
  <ul id="{{ hublink.id }}" class="hub-page-link-list">
  {% for link in hublink.links %}
    <li class="hub-page-link-list__item">
        <a href="{{ link.url }}" {% if link.external %} class="no-external-icon" {% endif %} {% if link.target %} target="{{ link.target }}" {% endif %} />
        <span class="hub-page-link-list__header">
         {{ link.label }}
          {% if link.external %}
            <i class="external-link-icon-black"></i>
          {% else %}
            <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow" /> 
          {% endif %}
        </span>
        <p class="hub-page-link-list__description">
        {{ link.description }}
        </p>
      </a>
    </li>
    {% endfor %}
  </ul>
{% endfor %}
