{% comment %}
=====================
Mobile Apps - R. Rail
=====================

See https://help.shopify.com/themes/liquid/tags/theme-tags#include
{% endcomment %}

<div class='merger-r-rail'>

  {% for group in mobile %}

    {% comment %}
      Only add <section> if there are heading titles.
    {% endcomment %}

    {% if group.heading != empty %}
      <section>
        <p class="heading va-nav-linkslist-heading">{{ group.heading }}</p>
    {% endif %}

    {% if group.links.length > 0 %}
      <ul class="va-nav-linkslist-list">
      {% for link in group.links %}
        {% if link.url != empty %}
          <li>
            <p><b>{{ link.label }}:</b>
              <a href="tel:{{link.url}}">
              {% if link.label != empty %}
                {{link.url}}
              {% endif %}
              </a>
            </p>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}

  {% endfor %}

  {% if group.heading != empty %}
    </section>
  {% endif %}

</div>
