Skip to content

Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @phiden Sign out
92
112 56 department-of-veterans-affairs/vets-website
 Code  Issues 16  Pull requests 79  Projects 0  Insights
vets-website/va-gov/components/merger-social.html
7ee39ab  7 days ago
@phiden phiden fixed missing right rail content

Executable File  60 lines (44 sloc)  1.32 KB
{% comment %}
======================
Social Media - R. Rail
======================

See https://help.shopify.com/themes/liquid/tags/theme-tags#include
{% endcomment %}

<div class='merger-r-rail'>

  {% for group in social %}

    {% if group.heading != empty %}
      <div class='rail-heading'>
        <h4>{{ group.heading }}</h4>
      </div>
    {% endif %}

    <h4 class='va-nav-linkslist-list'>
      <a href="{{group.url}}">{{group.admin}}</a>
    </h4>


    {% if group.subsections.length > 0 %}

      {% for subs in group.subsections %}

      <section>
        <ul class="va-nav-linkslist-list social">
          <h4>{{ subs.subhead }}</h4>
          {% for link in subs.links %}
            {% if link.url != empty %}
              <li>
                <a href="{{link.url}}">
                  {% if link.icon != empty %}
                    <i class="fa fab {{link.icon}}"></i>
                  {% endif %}

                  {% if link.label != empty %}
                    {{link.label}}
                  {% else %}
                    <span>{{link.title}}</span><br>
                    <span>{{link.number}}</span>
                  {% endif %}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </section>

      {% endfor %}

    {% endif %}


  {% endfor %}

</div>
