@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-action-link" as *;

dt{
  font-weight: bold;
}

.check-in-back-button {
  float: none !important;
  padding: 1em 0.5em 0;
  a {
    display: inline-block;
    padding: 0.5em 0.5em 0.5em .25em;
  }
}

.check-in-eyebrow {
  display: block;
  text-transform: uppercase;
}

ul.check-in--definition-list {
  list-style: none;
  padding: 0;
}

ul.check-in--appointment-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .check-in--appointment-item{
    width: 100%;
    div.check-in--appointment-summary{
      div.check-in--label{
        margin-top: 0;
        font-weight: bold;
        display: inline;
      }
      div.check-in--value {
        display: inline;
        &::after {
          content: "";
          display: block;
        }
      }
    }
  }
}

// Unified Appointments list
.check-in--appointment-item:first-child {
  div {
    border-top: 0 !important;
  }
}

// check-in specific
.appointment-check-in{
  h1{
    font-size: 2rem;
  }
}

ul.appointment-list{
  list-style: none;
}// DS removes label margin now, this maintains it.
va-text-input[error]:not([error=""])::part(label) ,
va-text-input[error]:not([error=""])::part(span)  {
  margin-top: 1.5rem;
}
.appointment-details--container {
  position: relative;
}
.appointment-details--icon {
  height: 40px;
  width: 40px;
  background: var(--vads-color-primary-darker);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--vads-color-white);
  font-size: 20px;
  position: absolute;
  top: -20px;
  left: calc(50% - 20px);
}