@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-action-link";


dt{
  font-weight: bold;
}

h1.question:focus {
  outline: none;
}

.update-information {
  h1{
    font-size: 3.2rem;
  }
  h2{
    font-size: 2.4rem;
    margin-top: 0;
  }
  legend p{
    font-size: initial;
    font-weight: initial;
  }
  fieldset{
    margin-bottom: 1rem;
  }
}


.help-heading{
  border-bottom: 3px solid $color-blue;
}

dl.appointment-summary{
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto auto;
  dd.appointment-details{
    font-size: 24px;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}