@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.find-a-representative {
  // @media (max-width: $large-screen) {
  //   margin: 0 12px;
  // }

  // @media (max-width: $small-screen) {
  //   margin: 0;
  // }

  margin: 0 1.5rem;

  .title-section {
    padding: 0.5rem 0;
  }
  h1:first-child {
    margin-top: 0;
  }

  .clearfix {
    content: "";
    display: block;
    clear: both;
  }

  .va-accordion__button {
    visibility: hidden !important;
  }

  .search-page-container {
    .rep-type-selector {
      margin-top: 1em;
    }

    .search-controls-container {
      select:disabled {
        background: $color-gray-lightest;
      }

      #representative-search-controls {
        display: flex;
        flex-direction: column;
        position: relative;

        label#street-city-state-zip-label {
          margin-top: 1rem !important;
        }

        .location-input-container {
          position: relative;
        }
        .use-my-location-button-container {
          @media (min-width: $large-screen) {
            position: absolute;
            left: 30em;
            top: 2em;
            min-width: 10em;
          }
        }

        .use-my-location-button {
          text-decoration: none;
          background-color: transparent;
          color: $color-link-default;
          font-weight: normal;
          padding: 0 0 0 1.5em;
          margin: 0.4em 0 0 0;
          background-image: url("/img/location-arrow-solid.svg");
          background-repeat: no-repeat;
          background-color: transparent;
        }

        #representative-search {
          max-width: 8em;
        }
      }
    }

    .representative-result {
      div {
        line-height: 2em;
      }

      hr {
        margin: 2em 0 2em;
      }
    }

    .rep-type-info {
      margin: 20px 0px;
    }
  }

  .primary {
    color: $color-primary;
  }
  .primary-darker {
    color: $color-primary-darker;
  }
}
