@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.find-a-representative {
  @media (max-width: $large-screen) {
    margin: 0 12px;
  }

  @media (max-width: $small-screen) {
    margin: 0;
  }

  margin: 0 1.5rem;

  .title-section {
    padding: 0.5rem 0;
  }
  h1:first-child {
    margin-top: 0;
    // padding: 0 0 0 1.5rem;
  }

  .clearfix {
    content: "";
    display: block;
    clear: both;
  }

  .search-page-container {
    .rep-type-selector {
      va-checkbox-group {
        margin-top: -30px;
      }
    }

    .search-controls-container {
      margin-top: 24px;
      // padding: 24px 16px 0 12px;
      // border: solid thin $color-gray-lightest;
      // background: $color-gray-lightest;

      select:disabled {
        background: $color-gray-lightest;
      }

      #representative-search-controls {
        display: flex;
        flex-direction: column;

        input,
        textarea,
        select,
        .input-container {
          max-width: none;
          margin-bottom: 24px;
          padding: 0 0.7em;

          @media (min-width: $small-desktop-screen) {
            max-width: 418px;
            width: 418px;
            margin-right: 18px;
          }
        }

        .input-container {
          padding: 0;
        }

        input[type="submit"] {
          width: 100%;
          padding: 0 1rem;
          margin-top: 0;

          @media (min-width: $small-desktop-screen) {
            margin-top: 27px;
            min-width: 67px;
            width: auto;
          }
        }

        #location-input-field {
          display: flex;
          flex-direction: column;

          @media (min-width: $small-desktop-screen) {
            flex-direction: row;
          }
        }

        .use-my-location-link {
          text-decoration: none;
          background-color: transparent;
          color: $color-link-default;
          font-weight: normal;
          padding: 0;
          margin: 0 0 0 20px;

          @media (max-width: $small-desktop-screen) {
            margin: 1em 0;
            text-align: left;
          }
        }

        .use-my-location-button {
          width: 18px;
          height: 18px;
          background-image: url("/img/location-arrow-solid.svg");
          background-repeat: no-repeat;
          background-color: transparent;
          padding: 0 1.5em 0 0;
        }

        #search-controls-bottom-row {
          @media (min-width: $small-desktop-screen) {
            display: flex;
            flex-direction: row;
          }
        }

        #representative-search {
          max-width: 8em;
        }
      }

      // button.use-my-location-link {
      //   text-decoration: none;
      //   background-color: transparent;
      //   color: $color-link-default;
      //   font-weight: normal;
      //   padding: 0;
      //   margin: 0 0 0 200px;

      //   @media (max-width: $small-desktop-screen) {
      //     margin: 1em 0;
      //     text-align: left;
      //   }
      // }

      // #location-input-field {
      //   display: flex;
      //   flex-direction: column;

      //   @media (min-width: $small-desktop-screen) {
      //     flex-direction: row;
      //   }
      // }

      // .use-my-location-button {
      //   width: 18px;
      //   height: 18px;
      //   background-image: url("/img/location-arrow-solid.svg");
      //   background-repeat: no-repeat;
      //   background-color: transparent;
      //   padding: 0 1.5em 0 0;
      // }
    }

    .rep-type-info {
      margin: 20px 0px;
    }
  }

  .primary {
    color: $color-primary;
  }
  .primary-darker {
    color: $color-primary-darker;
  }
}
