@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
ol.pre-check-in--appointment-list{
  list-style: none;
  margin: 0;
  padding: 0;
  .pre-check-in--appointment-item{
    width: 100%;
    dl.pre-check-in--appointment-summary{
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: auto auto auto;
      dt.pre-check-in--label{
        margin-top: 0;
        font-weight: bold;
       }
    }
  }
}