@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

dt{
  font-weight: bold;
}

ol.check-in--appointment-list{
  list-style: none;
  margin: 0;
  padding: 0;
  .check-in--appointment-item{
    width: 100%;
    dl.check-in--appointment-summary{
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "header header";
      .appointment-type-label{
        grid-area: header;
        align-self: center;
      }
      dt.check-in--label{
        margin-top: 0;
        font-weight: bold;
       }
    }
  }
}
.va-nav-breadcrumbs-list li{
  display: initial;
}

.va-nav-breadcrumbs-list li::before{
  content: " \2039 ";
  display: inline-block;
  padding: 0 0.15em;
}