ol.check-in--appointment-list{
  .check-in--appointment-item{
    dl.check-in--appointment-summary{
      grid-template-areas: "header header";
      .appointment-type-label{
        grid-area: header;
        align-self: center;
      }
    }
  }
}