@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.va-table-connected-acct {
 margin-top: 40px;
 margin-bottom: 100px;
}


.va-connected-acct-null {
   padding-bottom: 40px;

   .feature {
     margin-top: 100px;
   }
}
