@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.va-connected-acct {
  margin-bottom: 6em;
}

.va-connected-acct-list {
  margin-top: 40px;
  margin-bottom: 100px;
  width: 100%;
  padding: 0;
}

.va-connected-acct-null {
  padding-bottom: 40px;

  .feature {
    margin-top: 100px;
  }
}

$connected-acct-border: 1px solid #5b616b;

.va-connected-acct-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  border-top: $connected-acct-border;
  margin-bottom: 0;

  &.va-connected-acct-details-toggled {
    flex-wrap: wrap;
  }

  &.va-connected-acct-last-row {
    border-bottom: $connected-acct-border;
  }

  &:hover {
    background: $color-gray-lightest;
  }

  > * {
    margin: 1rem;

    @include media-maxwidth($medium-screen) {
        margin: .5em 0;
    }
  }

  .va-connected-acct-account-logo {
    @include media-maxwidth($small-screen) {
      display: none;
    }
  }

  .va-connected-acct-app-title {
    margin-top: 0;
    font-size: 2rem;
  }

  .va-connected-acct-row-details {
    i {
      padding-left: .5em;
    }
  }

  .va-modal-inner {
    max-width: 60rem;
  }

  .va-connected-acct-row-details-toggle {
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
  }
}

.va-connected-acct-details-toggled {
  background: $color-gray-lightest;
}

.va-connected-acct-row-details-block {
  flex-basis: 100%;

  @include media-maxwidth($medium-screen) {
    margin: .5em;
  }
  .va-connected-acct-row-details-block-content {
    background: $color-white;
    padding: 0 1em 1em;

      p {
        padding-top: .5em;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 3.5;
      }

      button {
        float: right;

        @include media-maxwidth($small-screen) {
            float: none;
        }
      }

      ul {
        margin-left: 3em;
        padding-bottom: 1em;
      }
  }
}
