@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../../platform/forms/sass/m-form-confirmation" as *;

.schemaform-field-template {
  &:has(label[id="root_studentRatioCalcChapter_studentPercentageCalc_calculatedPercentage-label"]) {
    display: none;
  }
}

va-accordion-item[data-chapter="submissionInstructionsChapter"] {
  display: none;
}

@media (max-width: $small-screen) {
  body[data-location="confirmation"] .form-22-10216-container {
    padding-inline: 1rem;
  }

  .form-22-10216-container {
    padding-inline: 0.5rem;
  }

  .form-22-10216-container .schemaform-buttons,
  .form-22-10216-container .form-progress-buttons {
    display: flex;
    flex-direction: column !important;

    div {
      width: 100%;
    }

    div:first-of-type {
      order: 2;
    }
  }

  va-need-help {
    margin: 0 0.5rem;
  }
}
