.devtools-panel {
  transition: all 0.3s ease-in-out;
  position: fixed;
  pointer-events: none;
  left: 1vw;
  top: 1vw;
  overflow: scroll;
  max-height: 75vh;
}


.devtools-panel--hidden {
  opacity: 0;
}

.devtools-panel--shown {
  padding: 1rem 2rem;
  display: block;
  z-index: 999999999999;
  pointer-events: all;
  opacity: 1;
  border-radius: 1rem;
  pointer-events: all;
}

.devtools-container {
  position: relative;
  right: 0;
  bottom: 0;
}

.devtools-show-icon .devtools-container .devtools-show-button {
  position: absolute;
  right: -1rem;
  bottom: -3rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50%;
  padding: .8rem .7rem;
}

