.devtools-active {
  outline: 2px solid rgba(255, 0, 0, 0.50);
}

.devtools-panel {
  transition: all 0.3s ease-in-out;
  position: fixed;
  pointer-events: none;
  left: 1vw;
  top: 1vw;
  overflow: scroll
}

.devtools-container pre {
  max-height: 75vh;
  overflow: scroll;
}

.devtools-panel--hidden {
  opacity: 0;
}

.devtools-panel--shown {
  padding: 1rem 2rem;
  display: block;
  z-index: 999999999999;
  pointer-events: all;
  opacity: 1;
  border-radius: 1rem;
  pointer-events: all;
}

.devtools-container {
  position: relative;
  right: 0;
  bottom: 0;
}

.devtools-show-icon .devtools-container .devtools-show-button {
  position: absolute;
  right: -1rem;
  bottom: -1rem;
  font-size: 1rem;
  color: rgb(186, 190, 216) !important;
  cursor: pointer;
  background: rgb(41, 45, 62);
  border-radius: 50%;
  padding: .8rem .7rem;
}

