@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.preferences-grid {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: 0 -1rem;

  .preference-item-wrapper {
    display: flex;
    width: 313.75px;

    .preference-item {
      margin: 1rem;
      padding: 1.5rem;
      background: $color-gray-lightest;
      cursor: pointer;
      width: 100%;
      .title-container {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        .title-item {
          margin: 0;
          padding-right: 0.5em;
          &:first-child {
            flex: 1 1 auto;
          }
        }
        .form-checkbox {
          margin: 0;
          margin-right: -0.3em;
          flex: 0 1 auto;
          input[type=checkbox] {
            cursor: pointer;
          }
          label {
            margin-top: 0;
          }
        }
      }
      p {
        margin: 0.5em 0 0.25em;
      }
    }
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  a.usa-button {
    margin-right: 0;
  }
  .va-button-link {
    text-decoration: none;
  }
  h2 {
    margin-top: 0.5em;
  }
  h3 {
    margin-top: 1em;
  }
}

.preference-item-title {
  border-bottom: 1px solid $color-gray-light;
}

.form-expanding-group {
  margin-bottom: 2rem;
}

.va-introtext {
  font-size: 1.6rem;
}

.preferences-alert {
  max-width: 77rem;
  margin-bottom: 1.5em;
}

.preference-faq-item .additional-info-title {
  font-size: $h5-font-size;
}
