
@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;

#root_GI-Bill-Chapters-AccountType-label {
    font-size: medium !important;
    font-weight: normal  !important;
  }

.schemaform-required-span{
    color: var(--vads-color-secondary);
}

.direct-deposit-form-container{
    position: relative;
    .ach-submit-btn-auto-width{
        width: auto !important;
        padding: 12px 30px !important;
        font-size: 16.96px !important;
        @media (max-width: $small-screen) {
            width: 100% !important;
        }
    }
    .loader{
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255,255,255,0.7);
        z-index: 1000;
    }
}
.button-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
@media (max-width: $small-screen) {
      flex-direction: column;
    }
  }
