@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "../../../../platform/forms/sass/m-schemaform";
@import "../../../../platform/forms/sass/m-form-confirmation";

.layout-wrapper {
  padding-inline: 8px;

  @media (min-width: $medium-screen) {
    padding-inline: 0;
    padding-left: 16px;
  }
  @media (min-width: $large-screen) {
    padding-inline: 0;
  }
}

.acknowledgements-page {
  va-text-input::part(label) {
    margin-top: 0;
  }
}

@media (max-width: $small-screen) {
  .form-22-0839-container {
    padding-inline: 0.5rem;
     fieldset{
      min-width: 100%
     }
    .yellow-ribbon-program-description{
      padding-inline: 0.5rem;
    }
  }

  .form-22-0839-container .schemaform-buttons,
  .form-22-0839-container .form-progress-buttons {
    display: flex;
    flex-direction: column !important;

    div {
      width: 100%;
    }

    div:first-of-type {
      order: 2;
    }
  }
}
.yellow-ribbon-title {
  color: lab(0% 0 0) !important;
  width: fit-content;
  display: inline-block;
  margin: 0;
  padding: 0;
}
legend.yellow-ribbon-title {
  width: 698px !important;
  @media (max-width: $small-screen) {
    width: 100%;
    padding-inline: 0.5rem;
  }
}
.yellow-program-list {
  p {
    margin-bottom: 16px;
  }

  ul {
    width: 100%;
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: block;

    li {
      display: block;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      padding-left: calc(var(--vads-spacing-1) + 12px);
      margin-bottom: var(--vads-spacing-1);
      position: relative ;
      margin-left: var(--vads-spacing-1);

      &::before {
        content: "•" ;
        position: absolute ;
        left: 0 ;
        top: 0;
        color: rgb(0, 0, 0);
        font-weight: bold;
      }
    }
  }
}

.eligible-individuals-note p {
  color: hsl(0, 0%, 46%) !important;
  @media (max-width: $small-screen){
    width: 100%;
    padding-inline: 0.5rem;
  }
}
.academic-year-title {
  color: lab(0% 0 0) !important;
  width: fit-content;
  display: inline-block;
  margin: 0;
  padding: 0;
}
legend:has(.academic-year-title) {
  width: 389px;
  @media (max-width: $small-screen){
    width: 100%;
    padding-inline: 0.5rem;
  }
}
label[id="root_unlimitedIndividuals-label"] {
display: none !important;
}
.college-or-professional-school, .degree-level{
  p{
  color: hsl(0, 0%, 46%);
  }
}
.eligible-individuals-note input {
      border: 0;
        font-weight: bold;
        pointer-events: none;
        margin-left: -10px;
}

.container{
  width: 332px;
}
.eligible-individuals-input::part(label) span{
  background-color: hsl(180, 100%, 50%);
}
 