{% comment %}
=====================
Contact Us - R. Rail
=====================

See https://help.shopify.com/themes/liquid/tags/theme-tags#include
{% endcomment %}

<div class='merger-r-rail'>

  {% for group in contact %}

    {% if group.heading != empty %}
      <div class='rail-heading'>
        <h4>{{ group.heading }}</h4>
      </div>
    {% endif %}

    {% if group.links.length > 0 %}
      <ul class="va-nav-linkslist-list">
      {% for link in group.links %}
        {% if link.url != empty %}
          <li>
            <p><b>{{ link.title }}</b>
              <a href="tel:{{link.url}}">
              {% if link.title != empty %}
                {{link.url}}
              {% endif %}
              </a>
            </p>
          </li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}

  {% endfor %}

</div>
