{% comment %}
======================
Social Media - R. Rail
======================

See https://help.shopify.com/themes/liquid/tags/theme-tags#include
{% endcomment %}

  <va-accordion bordered multi class="social">
  {% for group in social %}
    <va-accordion-item level="3" open="true" header="{{ group.heading }}">
      {% if group.url != empty %}
      <h4 class='va-nav-linkslist-list'>
        <a href="{{group.url}}">{{group.admin}}</a>
      </h4>
      {% endif %}

      {% if group.subsections.length > 0 %}

        {% assign navPath = group.heading %}

        {% for subs in group.subsections %}

        <section>
          {% if subs.subhead != empty %}
          <h4>{{ subs.subhead }}</h4>
          {% endif %}
          <ul class="va-nav-linkslist-list social">
            {% assign is_social_media_links = false %}
            {% if subs.subhead == 'Follow us' %}
              {% assign is_social_media_links = true %}
            {% endif %}


            {% for link in subs.links %}
              {% if link.url != empty %}
                {% if navPath == 'Connect with us' %}
                <li>
                {% else %}
                <li class="vads-u-margin-bottom--0 vads-u-margin-top--0">
                {% endif %}
                  {% if navPath == 'Ask questions' %}
                  <h4 class='va-nav-linkslist-list'>
                  {% endif %}
                    <a href="{{link.url}}"
                      onclick="recordEvent({ 'event': 'nav-hub-rail', 'nav-path': '{{ navPath }}' });"
                      {% if link.external == true %}
                        target="_blank" rel="noopener noreferrer"
                      {% endif %}
                      >
                      {% if link.icon != empty %}
                        {% if is_social_media_links %}
                          <i class="fab {{link.icon}} social-icon vads-u-padding-right--1"></i>
                        {% else %}
                          <i class="fas {{link.icon}} social-icon vads-u-padding-right--1"></i>
                        {% endif %}
                      {% endif %}

                      {% if link.label != empty %}
                        {{link.label}}
                      {% else %}
                        <span>{{link.title}}</span><br>
                        <span>{{link.number}}</span>
                      {% endif %}
                    </a>
                  {% if navPath == 'Ask questions' %}
                  </h4>
                  {% endif %}
                </li>
              {% else %}
                {% if forloop.first == true %}
                <li class="vads-u-margin-top--0">
                {% else %}
                <li>
                {% endif %}
                  {{link.title}}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </section>

        {% endfor %}

      {% endif %}
    </va-accordion-item>
    {% endfor %}
  </va-accordion>
