{% comment %}
    Example data:
    {
        "tid": 6,
        "name": "Health Care",
        "fieldIcon": "healthcare",
        "fieldNavItemLink": null,
        "reverseParentTaxonomyTerm": {
            "entities":
                [
                    {
                        "name": "Get Benefits",
                        "fieldIcon": null,
                        "fieldNavItemLink": null,
                        "reverseParentTaxonomyTerm": {
                            "entities": [
                                {
                                    "name": "Eligibility",
                                    "fieldIcon": null,
                                    "fieldNavItemLink": null
                                },
                                {
                                    "name": "How to Apply",
                                    "fieldIcon": null,
                                    "fieldNavItemLink": null
                                },
                                {
                                    "name": "Apply Now",
                                    "fieldIcon": null,
                                    "fieldNavItemLink": null
                                },
                                {
                                    "name": "After You Apply",
                                    "fieldIcon": null,
                                    "fieldNavItemLink": null
                                },
                                {
                                    "name": "Family and Caregiver Benefits",
                                    "fieldIcon": null,
                                    "fieldNavItemLink": null
                                }
                            ]
                        }
                    },
                    {
                                "name": "About VA Health Benefits",
                                "fieldIcon": null,
                                "fieldNavItemLink": {
                                "uri": "entity:node/29",
                                "url": {
                                "path": "/about-va-health-benefits"
                                }
                                },
                                "reverseParentTaxonomyTerm": {
                                "entities": []
                                }
                                },
                                {
                                "name": "Manage Benefits",
                                "fieldIcon": null,
                                "fieldNavItemLink": null,
                                "reverseParentTaxonomyTerm": {
                                "entities": [
                                {
                                "name": "Refill and Track Prescriptions",
                                "fieldIcon": null,
                                "fieldNavItemLink": null
                                }
                            ]
                        }
                    }
                ]
        }
    }
{% endcomment %}

<nav class="usa-width-one-fourth va-sidebarnav">
    <ul class="usa-sidenav-list">

    </ul>
</nav>