{% comment %}

=====================
 Navigation side bar
=====================

Used to display a side navigation bar of pages in a collection.

1. To define a collection, edit `build.js`.
2. Look for the line that begins `smith.use(collections` and edit as desired.
3. OR add a `collection` property to those pages you wish to group into a
   collection.

{% endcomment %}

{% assign relatedPages = collections | get: collection %}

{% if relatedPages.metadata.spokes != empty %}
  {% assign spokes = relatedPages.metadata.spokes %}
{% else %}
  {% assign spokes = "Get benefits,Manage benefits,More resources" | split: ',' %}
{% endif %}

<nav {% if relatedPages != empty %}class="usa-width-one-fourth va-sidebarnav {%  if newGrid == true %} new-grid{% endif %}"{% endif %} id="va-detailpage-sidebar">
  <div>
    <button type="button" aria-label="Close this menu" class="va-btn-close-icon va-sidebarnav-close"></button>

    {% if relatedPages != empty %}
      {% if relatedPages.metadata.name != empty %}
        <div class="left-side-nav-title {% if newGrid %}vads-u-padding-x--0{% endif %}"><i class="icon-small white hub-icon-{{ relatedPages.metadata.hub }} hub-background-{{ relatedPages.metadata.hub }}"></i><h4>{{ relatedPages.metadata.name }}</h4></div>
      {% endif %}

        <div class="sidenav-previous-page">
          <a href="/{{previous.path}}">
            {% if previous.display_title != empty %}
              {{previous.display_title}}
            {% else %}
              {{previous.title}}
            {% endif %}
          </a>
        </div>
        <ul class="usa-sidenav-list">
          {% for page in relatedPages %}
            {% unless relatedPages.metadata.name == page.display_title or relatedPages.metadata.name == page.title or page.hideFromSidebar %}
              <li {% if page.path == path %}class="active-level"{% endif %}>
                {% if page.href != empty %}
                  <a href="{{ page.href }}"{% if page.target != empty %}target="{{page.target}}"{% endif %} onClick="recordEvent({ event: 'nav-sidenav' });">
                    {% if page.display_title != empty %}
                      {{ page.display_title }}
                    {% else %}
                      {{ page.title }}
                    {% endif %}
                  </a>
                {% else %}
                  <a {% if page.path == path %}class="usa-current"{% endif %}
                      href="/{{ page.path }}" onClick="recordEvent({ event: 'nav-sidenav' });">
                    {% if page.display_title != empty %}
                      {{ page.display_title }}
                    {% else %}
                      {{ page.title }}
                    {% endif %}
                  </a>
                {% endif %}
                {% if page.children != empty and path contains page.path %}
                  {% assign childPages = collections | get: page.children %}
                    <ul class="usa-sidenav-sub_list">
                    {% for cpage in childPages %}
                      {% unless cpage.hideFromSidebar %}
                        <li {% if cpage.path == path %}class="active-level"{% endif %}>
                          {% if cpage.href != empty %}
                            <a href="{{ cpage.href }}"{% if cpage.target != empty %}target="{{cpage.target}}"{% endif %} onClick="recordEvent({ event: 'nav-sidenav' });">
                              {% if cpage.display_title != empty %}
                                {{ cpage.display_title }}
                              {% else %}
                                {{ cpage.title }}
                              {% endif %}
                            </a>
                          {% else %}
                            <a {% if cpage.path == path %}class="usa-current"{% endif %}
                                href="/{{ cpage.path }}" onClick="recordEvent({ event: 'nav-sidenav' });">
                              {% if cpage.display_title != empty %}
                                {{ cpage.display_title }}
                              {% else %}
                                {{ cpage.title }}
                              {% endif %}
                            </a>
                          {% endif %}
                        </li>
                      {% endunless %}
                    {% endfor %}
                    </ul>
                {% endif %}
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
    {% endif %}
  </div>
</nav>
