{% if numbers.length > 0 %}
  <div class="vads-u-display--flex vads-u-flex-direction--column">
    {% assign phoneNumberObj = numbers | phoneNumberArrayToObject %}
    {% if phoneNumberObj.tel %}
      {% for number in phoneNumberObj.tel %}
        {% include "src/site/components/phone-number.drupal.liquid" with number = number phoneLabel = 'Phone' %}
      {% endfor %}
    {% endif %}

    {% if phoneNumberObj.fax %}
      {% for number in phoneNumberObj.fax %}
        {% include "src/site/components/phone-number.drupal.liquid" with number = number phoneLabel = 'Fax' %}
      {% endfor %}
    {% endif %}

    {% if phoneNumberObj.sms %}
      {% for number in phoneNumberObj.sms %}
        {% include "src/site/components/phone-number.drupal.liquid" with number = number phoneLabel = 'SMS' %}
      {% endfor %}
    {% endif %}

    {% if phoneNumberObj.tty %}
      {% for number in phoneNumberObj.tty %}
        {% include "src/site/components/phone-number.drupal.liquid" with number = number phoneLabel = 'TTY'%}
      {% endfor %}
    {% endif %}
  </div>
{% endif %}