{% if !loadingMessage %} {% assign loadingMessage = 'Please wait while we load the application for you.' %} {% endif %}
{% if in_maintenance == true %}
  <div class="row">
      <div class="small-12 columns">
        <div class="csp-inline-patch-page-react">
        <h3>{{ maintenance_line1 }}</h3>
        <h4>{{ maintenance_line2 }}</h4>
        <a href="/"><button>Go back to VA.gov</button></a>
        </div>
      </div>
    </div>
{% elsif custom_react_root != true %}
  {{ contents }}
  <div class="section">
    <div id="react-root">
      <div class="vads-u-margin-y--5">
        <div class="loading-indicator-container">
          <div class="loading-indicator" role="progressbar" aria-valuetext="{{ loadingMessage }}" tabIndex="0">
          </div>
          {{ loadingMessage }}
        </div>
      </div>
    </div>
  </div>
{% else %}
  {{ contents }}
{% endif %}
