{% comment %}

=====================
Up To Top Button
=====================

Used as quick navigate back to top for long article pages.

1. To import button, use {% include "src/site/components/up_to_top_button.html" %}.
2. It needs to be imported as the last component within the div with the "usa-content" class.

{% endcomment %}

<div id="back-to-top-container">
  <div class="usa-grid usa-grid-full">
    <div class="usa-width-three-fourths">
      <div class="usa-content">
        <button type="button" className="usa-button">
          <span>
            <i aria-hidden="true" class="fas fa-arrow-up" role="img"></i>
          </span>
          <span>Back to top</span>
        </button>
      </div>
    </div>
  </div>
</div>
