@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;

.edu-certi-eligibility {
  background: var(--vads-color-base-lightest);
  padding: 1em;
}

#your-edu-benf-letter {
  margin-top: 0.625rem;
}

