@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.edu-certi-eligibility {
  background: var(--vads-color-base-lightest);
  padding: 1em;
}

#your-edu-benf-letter {
  margin-top: 0.625rem;
}

