@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.discover-your-benefits .confirmation-page p,
.discover-your-benefits article p {
  @media (min-width: $medium-screen) {
    width: 75ch !important;
  }
}

.benefit-card p {
  white-space: pre-line;
  max-width: 65ch;
}

.category-eyebrow {
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.5;
}

.hidden {
  display: none;
}

.discover-your-benefits .schemaform-subtitle {
  @media (min-width: $medium-screen) {
    width: 100%;
    white-space: pre-line;
  }
}

.usa-width-two-thirds:has(#results-container) {
  width: auto !important;
}

#filters-section-desktop {
  flex: 0 0 300px;
  max-width: 300px;
  margin-right: 2rem;

  @media (max-width: $medium-screen) {
    flex: 1 1 100% !important;
    max-width: 100% !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 2rem;
  }
}

#filters-section-desktop select {
  margin-bottom: 35px;
}

#save-your-results {
  @media (max-width: $small-screen) {
    width: 100%;
  }
}

#url-input,
#copy-button {
  display: inline-block;
}

#url-input {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80%;
}

#root_characterOfDischarge-label .schemaform-required-span {
  display: none;
}

#root_characterOfDischarge-label p .schemaform-required-span {
  display: inline;
}

#copy-alert {
  margin-top: 20px;
  & > p {
    margin-bottom: 0 !important;
  }
}

.benefit-list {
  padding-left: 0 !important;
  margin-left: 0 !important;
  list-style-type: none !important;
}

.all-benefits {
  margin-top: 1rem;

  span {
    margin-bottom: 1rem;
  }
}

@media (max-width: $small-screen) {
  .vads-l-grid-container {

    .progress-box {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .form-progress-buttons {
    display: flex;
    flex-direction: column-reverse;

    .columns {
      width: 100%;
    }
  }
}

.blue-heading {
  padding: 0.5rem 1rem;
  color: var(--vads-color-white);
  background: var(--vads-color-primary-darker);
  height: 26px;
  margin: -16px;
  margin-bottom: 1rem;
}

.recommended-label {
  font-weight: normal !important;
}

.link-container {
  margin-top: 16px;
}

.link-container a {
  margin: 16px 0;
}

#results-container > .vads-l-row {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $medium-screen) {
    flex-direction: column;
  }

  @media (min-width: $medium-screen) {
    flex-wrap: nowrap;
  }
}

#results-section {
  flex: 1 1 auto;
}

#filter-text {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--vads-color-base-light);
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.description-padding-btm {
  padding-bottom: 2rem;
}

.description-article {
  max-width: 648px;
}

.schemaform-intro {
  padding: 0 !important;
}
