@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
.pact-act-app {
  h1:focus {
    outline: none;
  }

  .pact-act-breadcrumbs {
    &:focus {
      outline: none;
    }
  }

  article {
    padding: 0;
  }

  va-on-this-page {
    @media screen and (min-width: 768px) {
      margin-left: 8px;
    }
  }

  #paw-orange-2-2-2-info {
    margin-top: -12px;
  }

  va-button-pair {
    margin-left: 4px;
  }

  .usa-hint {
    color: var(--vads-color-gray-medium);
  }
}