<nav aria-label="Breadcrumb" aria-live="polite" class="va-nav-breadcrumbs" id="va-breadcrumbs">
  <ul class="row va-nav-breadcrumbs-list columns" id="va-breadcrumbs-list">
    {% for crumb in entityUrl.breadcrumb %}
        <li>
          {% if forloop.last == true %}
              {{ crumb.text }}
          {% else %}
              <a href="{{ crumb.url.path }}">{{ crumb.text }}</a>
          {% endif %}
        </li>
    {% endfor %}
  </ul>
</nav>
