{% comment %}

=====================
 Detail Page with side navigation, next + previous links,
 and related links.
=====================

- Use for interior detail pages that do not have child content. (i.e va.gov/education/about-gi-bill-benefits/)

{% endcomment %}

<main class="va-l-detail-page">
  <div class="vads-l-grid-container large-screen:vads-u-padding-x--0">
    <div class="vads-l-row vads-u-margin-x--neg2p5">
      {% if hidesidenav == empty %}
        <div class="vads-l-col--12 vads-u-padding-x--2p5 medium-screen:vads-l-col--4 large-screen:vads-l-col--3">
          {% include "src/site/components/navigation-sidebar.html" with newGrid = true %}
        </div>
      {% endif %}
      <div class="vads-l-col--12 vads-u-padding-x--2p5 medium-screen:vads-l-col--8 large-screen:vads-l-col--9">
      {% if no_article_bottom_padding %}
        <article class="usa-content new-grid vads-u-padding-bottom--0">
          <h1>{{ heading }}</h1>
          {{ contents }}
        </article>
      {% else %}
        <article class="usa-content new-grid">
          <h1>{{ heading }}</h1>
          {{ contents }}
        </article>
      {% endif %}

        {% if majorlinks != empty %}
          {% include "src/site/components/navigation-links-list.html" %}
        {% endif %}

        {% if relatedlinks != empty %}
          {% include "src/site/components/navigation-links-list.html" with isRelated = true %}
        {% endif %}

        {% include "src/site/includes/last-update.html" %}
      </div>
    </div>
  </div>
</main>
