{% comment %}
=====================
Education SCO (Merger)
=====================
{% endcomment %}

<main>
    <div class="vads-l-grid-container large-screen:vads-u-padding-x--0">
      <div class="vads-l-row medium-screen:vads-u-margin-x--neg2p5">
         <div class="vads-l-col--12 medium-screen:vads-u-padding-x--2p5 medium-screen:vads-l-col--8">
        <article class="new-grid">
          <div class="medium-screen:vads-u-display--flex">
            {% if hub != empty %}
            <div class="hub-main-icon vads-u-margin-right--1p5 vads-u-margin-top--1">
              <i class="icon-large white hub-icon-{{hub}} hub-background-{{hub}}"></i>
            </div>
            {% endif %}
            <div class="hub-main-title">
              <h1>
              {{ heading }}
              </h1>
            </div>
          </div>
          {{ contents }}

          {% if hublinks != empty %}
            {% include "src/site/components/hub-page-link-list.html" %}
          {% endif %}


          {% if crosslinks != empty %}
            {% include "src/site/components/merger-crosslinks.html" %}
          {% endif %}

          {% include "src/site/includes/last-update.html" %}

        </article>
      </div>

      <div class="vads-l-col--12 medium-screen:vads-u-padding-x--2p5 medium-screen:vads-l-col--4" id="hub-rail">

        {% if administration != empty %}
          {% include "src/site/components/merger-administration.html" %}
        {% endif %}

        {% if promo != empty %}
          {% include "src/site/components/merger-promo.html" %}
        {% endif %}

        {% if social != empty %}
          {% include "src/site/components/merger-social-sco.html" %}
        {% endif %}

        {% if mobile != empty %}
          {% include "src/site/components/merger-mobile.html" %}
        {% endif %}

      </div>

    </div>
  </div>


  {% include "src/site/includes/veteran-banner.html" %}
</main>
