<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]> <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% if drupalTags %}
  {% include "src/site/includes/metatags.drupal.liquid" %}
{% else %}
  {% include "src/site/includes/metatags.liquid" %}
{% endif %}

{% if buildtype == 'vagovstaging' %}
<!-- Verification of site-ownership to the Insight App Sec Scanner -->
<meta name="insight-app-sec-validation" content="ec59f99e-d869-4e3f-82d2-a61d32c65776">
{% endif %}

<!-- Icons -->
<link href="/img/design/icons/apple-touch-icon.png" rel="apple-touch-icon-precomposed" />
<link href="/img/design/icons/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72" />
<link href="/img/design/icons/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114" />
<link href="/img/design/icons/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="144x144" />
<link rel="shortcut icon" href="/img/design/icons/favicon.ico" />

<meta name="msapplication-TileImage" content="/img/design/icons/apple-touch-icon-114x114">
<meta name="msapplication-TileColor" content="#144073">

<!-- CSS -->
<link rel="stylesheet" href="/generated/brandConsolidation.css">
{% if entryname %}
<link rel="stylesheet" href="/generated/{{ entryname }}.css">

{% else %}
<link rel="stylesheet" href="/generated/static-pages.css">
{% endif %}

<!-- Old IE -->

<!--[if lt IE 9]>
<link rel='stylesheet' href='/assets/css/ie.css'>
<![endif]-->

<script src="/js/record-event.js"></script>
<script src="/js/settings.js"></script>

<script defer nomodule src="/generated/polyfills.entry.js"></script>
<script defer src="/generated/vendor.entry.js"></script>
{% if entryname %}
<script defer src="/generated/{{ entryname }}.entry.js"></script>
{% else %}
<script defer src="/generated/static-pages.entry.js"></script>
{% endif %}

<!-- We participate in the US government’s analytics program. See the data at analytics.usa.gov. -->
<script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=VA" id="_fed_an_ua_tag"></script>

<script type="text/javascript">
  window.VetsGov = window.VetsGov || {};
  window.VetsGov.headerFooter = {{ headerFooterData }};
</script>

</head>
<body class="{{ body_class }} merger">
  <a class="show-on-focus" href="#content">Skip to Content</a>

{% if !noHeader %}
  {% include "src/site/includes/top-nav.html" %}
{% endif %}

{% if path == '' and banner and banner.visible %}
  <div class="usa-alert-full-width usa-alert-full-width-{{ banner.type }}">
    <div aria-live="polite" role="alert" class="usa-alert usa-alert-{{ banner.type }}">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">{{ banner.title }}</h3>
        <div class="usa-alert-text">
          {{ banner.content }}
        </div>
      </div>
    </div>
  </div>
{% endif %}

<script async src="/js/incompatible-browser.js"></script>
