{% if false %}
  <section class="vads-u-padding-top--3 vads-u-display--flex vads-u-flex-direction--column vads-u-padding-x--1 large-screen:vads-u-padding-x--0"
    data-template="includes/how-do-you-rate">
    <!-- Section title -->
    <h2 class="vads-u-margin-top--0 vads-u-font-size--h3">How do you rate your experience on this page?</h2>

    <!-- Links -->
    <div class="vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row">
      <input type="checkbox" value="Good" />
      <input type="checkbox" value="Bad" />
    </div>
  </section>
{% endif %}
