<!-- this template needs to be included inside a <dl/> -->
<!-- media list -->
{%if images.size != 0%} 
    {% assign pageSize = 10 %}
    {% assign remainingImages = images | sliceArrayFromStart: pageSize, images.size %}
        {% for mediaImage in images %}
            {% assign recordsCount = recordsCount | plus: 1 %}
            {% unless recordsCount > pageSize %}
                {% include "src/site/includes/image_detail_mobile_responsive.drupal.liquid" 
                with mediaImage = mediaImage  %}
            {% endunless %}
        {% endfor %}
    {% if recordsCount > pageSize %}
        <div class="form-expanding-group additional-info-container vads-u-margin-y--2p5">
            <span class="additional-info-title">Show more</span>
            <span>
                <div class="additional-info-content">
                {% for remainingImage in remainingImages %}
                    {% include "src/site/includes/image_detail_mobile_responsive.drupal.liquid" 
                    with mediaImage = remainingImage  %}
                {% endfor %}
                </div>
            </span>
        </div>
    {% endif %}
{%endif %}