<div class="usa-grid usa-grid-full">
  <div class="usa-width-three-fourths">
    <div class="usa-content">
      <div class="last-updated usa-content vads-u-padding-x--1 large-screen:vads-u-padding-x--0">
        Last updated: <time
          datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
      </div>
    </div>
  </div>
</div>
