{% if isPreview %}
  <div data-template="includes/preview-edit" class="vads-u-padding-x--1 medium-screen:vads-u-padding-x--2">
    <div class="usa-grid-full">
      <div class="usa-width-one-whole">
        <div class="vads-u-margin-top--2">
          <a data-same-tab href="{{ drupalSite }}/node/{{ entityId }}/edit">« Edit this page in the CMS (requires a CMS account with appropriate permissions)</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}
