{% if fieldRelatedBenefitHubs != empty %}
  <section class="vads-u-display--flex vads-u-flex-direction--column" data-template="includes/related-benefit-hubs">
    <h2 class="vads-u-margin-top--0">Need more help?</h2>

    <ul class="usa-unstyled-list">
      {% for relatedBenefitHub in fieldRelatedBenefitHubs %}
        {% for supportService in relatedBenefitHub.entity.fieldSupportServices %}
          <li>
            <p class="vads-u-margin-top--0"><strong>{{ supportService.entity.title }}</strong> <a href="{{ supportService.entity.fieldLink.url.path }}"
                rel="noreferrer noopener">{{ supportService.entity.fieldPhoneNumber }}</a></p>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </section>
{% endif %}
