{% if buildtype == 'vagovprod' %}
  <script defer nonce="**CSP_NONCE**">
    {% include "src/site/assets/js/foresee/vagovprod.js" %}
  </script>
  <script defer type="text/javascript" nonce="**CSP_NONCE**" src="https://resource.digital.voice.va.gov/wdcvoice/2/onsite/embed.js" async></script>
{% endif %}

{% if buildtype == 'vagovstaging' %}
  <script defer nonce="**CSP_NONCE**">
    {% include "src/site/assets/js/foresee/vagovstaging.js" %}
  </script>
  <script defer type="text/javascript" nonce="**CSP_NONCE**" src="https://resource.digital.voice.va.gov/wdcvoice/5/onsite/embed.js" async></script>
{% endif %}
