{% comment %}

=====================
 Topic Landing page with side navigation, main links, and related links.
=====================

- Used for interior landing pages, at a third-level hierarchy (i.e. va.gov/disability/eligibility/special-claims)

{% endcomment %}

<main class="va-l-detail-page">
  <div class="usa-grid usa-grid-full">
    {% include "src/site/components/navigation-sidebar.html" %}

    <div class="usa-width-three-fourths">
      {% include "src/site/components/navigation-sidebar-trigger.html" with menuId = "va-detailpage-sidebar" %}
      <article class="usa-content">
        <h1>{{ heading }}</h1>
        {{ contents }}
      </article>
      {% if majorlinks != empty %}
        {% include "src/site/components/navigation-links-list.html" %}
      {% endif %}

      {% if relatedlinks != empty %}
        {% include "src/site/components/navigation-links-list.html" with isRelated = true %}
      {% endif %}

      {% include "src/site/includes/last-update.html" %}
    </div>
  </div>
</main>
