{% assign pittCheck = path | isPitt %}
{% if pittCheck == true %}
<div class="usa-alert-full-width usa-alert-full-width-info">
  <div aria-live="polite" role="alert" class="usa-alert usa-alert-info">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">You're on a preview of the new VA Pittsburgh
        health care website
      </h3>
      <div class="usa-alert-text">
        <p>We're building a new online experience to make it easier for
          Veterans to manage their health care. And we're building it with input
          from you
          — Veterans, family members, caregivers, and patient advocates —
          through user
          research and feedback.
        </p>
        <p>
          <strong>Please note:</strong> This site is still in development.
          You'll see new content and features added every day because we work
          iteratively
          using agile design and development practices.
        </p>
        <p>
          <strong>Not ready to use the new site yet?</strong>
          <a onClick="recordEvent({ event: 'nav-alert-link-click' });" href="https://www.pittsburgh.va.gov/">Go to the official
            Pittsburgh.VA.gov</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}
