@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info";
@import "../../../../../platform/forms/sass/m-form-confirmation";
@import "../../../../../platform/forms/sass/m-schemaform";

.schemaform-block-override {
  div {
    margin-top: 0;
  }
}

.coe-loan-input,
.usa-input-error input.coe-loan-input {
  width: 35%;
}

.file-input-disabled {
  pointer-events: none;
  opacity: 0.3;
}

// This is to override the `.process ul` rule
#sos-info-list {
  margin-bottom: 4px !important;
}
