@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

#btnAcceptDisclaimer {
  @include media($medium-screen) {
    margin-left: 23px;
  }
}

.merger {
  article {
      &.webchat__basic-transcript__activity:last-of-type {
        padding-bottom: 0;
    }
  }
}
.webchat__suggested-actions__item-box {
  padding: 0 !important;
  margin: 5px !important;
}

.webchat__suggested-actions__button {
  width: 83% !important;
  margin: 0 0 0 2.9em !important;
}

.webchat__send-box-text-box {
  margin: 0;
}

.webchat__suggested-actions__stack {
  margin-bottom: 1em !important;
  overflow-y: hidden !important;
  .webchat__suggested-action__text {
    line-height: 2em !important;
  }
}

button.webchat__suggested-actions__button:hover {
  background: rgb(0, 62, 115) !important;
}

button.webchat__suggested-actions__button:active {
  background: rgb(17, 46, 81) !important;
}

.jumplink {
    color: rgb(0, 62, 115);
    margin: 20px 0px;
    text-decoration: underline;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    //transition-property: color, background-color, border-color;
}

.fixed-header-chatbot {
  // font-size: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  margin: 1%;
  // background-color: green;
  // border: 2px solid #4caf50;
  z-index: 1;
}

.chatbot-icon {
  position: fixed;
  width: 140px;
  bottom: 0;
  right: 0;
  margin: 1%;
  padding-bottom: 20px;
  // background-color: #4caf50;
  // border: 2px solid #4caf50;
  // border-radius: 50%;
  z-index: 1;
}

.hide {
  display: none;
}

.unhide {
  display: block;
}

.close-chatbot-button {
  width: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  margin: 3px;
  background-color: rgb(255, 255, 255);
}

#corner-bot {
  z-index: 999;
}
.webchat__microphone-button.webchat__microphone-button--dictating .webchat__microphone-button__button:hover .webchat__microphone-button__icon{
  fill: rgb(118, 118, 118) !important;
}
.webchat__microphone-button--dictating {
  .webchat__icon-button:not(:disabled):not([aria-disabled="true"]):not(:active):hover .webchat__icon-button__shade {
    background:
    linear-gradient(to top left,
      rgba(227, 28, 61, 0) 0%,
      rgba(227, 28, 61, 0) calc(50% - 2px),
      rgba(227, 28, 61, 1) 50%,
      rgba(227, 28, 61, 0) calc(50% + 2px),
      rgba(227, 28, 61, 0) 100%),
  }
  button {
    background: rgb(227, 28, 61) !important;
    &:not([disabled]):focus {
      outline: 2px solid rgb(227, 28, 61) !important;
      outline-offset: 2px;
      height: 31.4px;

    }
  }
}

.ac-textBlock {
  color: rgb(0, 0, 0) !important;
}