@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../../platform/forms/sass/m-form-confirmation" as *;

legend:first-child > h3 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

va-textarea[name="root_otherHousingRisks"]::part(input-type-textarea) {
  height: 4.0625rem;
  resize: none;
}

va-accordion-item[data-chapter="preparerTypeChapter"]
  .form-review-panel-page-header {
  display: none;
}
