@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";

legend:first-child > h3 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

va-textarea[name="root_otherHousingRisks"]::part(input-type-textarea) {
  height: 6.5rem;
  resize: none;
}
