.vaos-flex-break {
  flex-basis: 100%;
  height: 0;
}

.vaos-appts__tabs {
  padding: 0;
  border-bottom: 1px solid $color-gray-light;
  display: flex;
}

.vaos-appts__tabs li {
  width: 50%;
  display: flex;

  @include media($medium-screen) {
    width: 200px;
  }
}

.vaos-appts__tab {
  width: 100%;
  font-size: 14px;
  border: solid 1px $color-gray-light;
  border-radius: 0 !important;
  position: relative;
  list-style: none;
  padding: 6px 0px;
  cursor: pointer;
  bottom: -1px;
  text-decoration: none;
  background-color: $color-gray-light-alt;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus,
  &:active {
    color: $color-gray-dark;
    text-decoration: none;
    background: $color-gray-lighter;
  }

  &.vaos-appts__tab--current {
    border-top: solid 3px $color-primary;
    background: $color-white !important;
    border-bottom: solid 1px $color-white;
    margin: 0;
  }

  @include media($medium-screen) {
    font-size: 16px;
  }
}

.vaos-appts__date-time {
  margin: 0 0 16px;
}

.vaos-appts__card {
  position: relative;
  border-radius: 10px;
  background-color: $color-gray-lightest;
  padding: 16px;
  margin-bottom: 16px;

  @include media($medium-screen) {
    padding: 24px;
    margin-bottom: 24px;
  }
}

.vaos-appts__card-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  @include media($medium-screen) {
    position: static;
  }
}

.vaos-appts__breadcrumbs {
  padding: 2em 0;
}
.vaos-appts__breadcrumbs li {
  padding: 0em !important;
}

@media print {
  .vaos-hide-for-print {
    display: none !important;
  }

  .vaos-link-for-print {
    color: $color-black;
    text-align: left;
    padding-left: 0;
  }
}

span.va-action-link--disabled {
  color: $color-gray-lighter;
  &:before {
    font-family: "Font Awesome 5 Free";
    color: $color-gray-lighter;
    font-weight: 900;
    font-size: 175%;
    display: inline-block; // Remove the underline text decoration
    content: "\f138";
    padding-right: 1rem;
    transform: translateY(5px); // "Center" the circle with the text
    height: 0px; // So the height doesn't mess with the focus halo
  }
  font-weight: bold;
  padding: 8px;
}

span.va-action-link--disabled:before {
  color: $color-gray-lighter;
}
