.vaos-flex-break {
  flex-basis: 100%;
  height: 0;
}

.vaos-appts__tabs {
  padding: 0;
  border-bottom: 1px solid $color-gray-light;
  display: flex;
}

.vaos-appts__tabs li {
  width: 50%;
  display: flex;

  @include media($medium-screen) {
    width: 200px;
  }
}

.vaos-appts__tab {
  width: 100%;
  font-size: 14px;
  border: solid 1px $color-gray-light;
  border-radius: 0 !important;
  position: relative;
  list-style: none;
  padding: 6px 0px;
  cursor: pointer;
  bottom: -1px;
  text-decoration: none;
  background-color: $color-gray-light-alt;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus,
  &:active {
    color: $color-gray-dark;
    text-decoration: none;
    background: $color-gray-lighter;
  }

  &.vaos-appts__tab--current {
    border-top: solid 3px $color-primary;
    background: $color-white !important;
    border-bottom: solid 1px $color-white;
    margin: 0;
  }

  @include media($medium-screen) {
    font-size: 16px;
  }
}

.vaos-appts__date-time {
  margin: 0 0 16px;
}

.vaos-appts__card {
  position: relative;
  border-radius: 6px;
  background-color: $color-gray-lightest;
  padding: 16px;
  margin-bottom: 16px;

  @include media($medium-screen) {
    padding: 24px;
  }
}

.vaos-appts__card--clickable {
  list-style: none;
  border-radius: 6px;
  background-color: $color-gray-lightest;
  border: 2px solid $color-gray-lightest;

  &:hover {
    cursor: pointer;
    border: 2px solid $color-primary;
  }

  &:focus,
  &:focus-within,
  &:active {
    outline: 2px solid $color-feedback-warning-background;
    outline-offset: 2px;
    border: 2px solid $color-primary;
  }

  &:active {
    background-color: $color-gray-lighter;
  }
}
.vaos-appts__listItem--clickable {
  list-style: none;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    background-color: $color-gray-lightest;
    background-clip: content-box;
    // padding: 2px;
  }

  &:focus,
  &:focus-within {
    outline: 2px solid $color-feedback-warning-background;
    outline-offset: -1px;
  }

  &:active {
    // padding: 4px !important;
    box-sizing: content-box;
    background-color: $color-gray-lightest;
    background-clip: content-box;
    border: solid !important;
    border-color: $color-gold !important;
    border-width: 1px !important;
  }
}

.vaos-appts__focus--hide-outline:focus {
  outline: none;
}

.vaos-appts__breadcrumb {

  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  li {
    padding: 0em !important;
    display: inline;
  }

  li + li::before {
    display: inline-block;
    margin: 0 0.5em;
    content: "";
  }
}

.vaos-appts__breadcrumb li > a[aria-current="true"] {
  cursor: default;
  pointer-events: none;
  text-decoration: none;
  color: $color-black !important;
  font-weight: 700;
}

li.vaos-appts__listItem--clickable[data-status="upcoming"]:last-child
  div.vads-u-border-bottom--1px {
  border-bottom: none !important;
}

li.vaos-appts__listItem--clickable[data-status="pending"]:last-child {
  border-bottom: 1px solid !important;
  border-color: $color-gray-medium !important;
}

$gap-values: (
  0: initial,
  1: 8px,
  2: 16px,
  3: 24px,
  4: 32px,
  5: 40px,
);

// Standard utilitiles
@each $name, $value in $gap-values {
  .vaos-appts__column-gap--#{$name} {
    column-gap: $value !important;
  }
}
// Responsive Utilities
@each $bp_name, $bp_value in $breakpoints {
  @media (min-width: $bp_value) {
    @each $name, $value in $gap-values {
      .#{$bp_name}\:vaos-appts__column-gap--#{$name} {
        column-gap: $value !important;
      }
    }
  }
}
.vaos-appts__listItem--lineHeight {
  @include media($small-desktop-screen) {
    line-height: 3.5;
  }
}
.medium-screen\:vaos-appts__minWidth,
.medium-screen\:vaos-appts__maxWidth {
  min-width: 24px;
}
.vaos-appts__column--alignItems {
  @include media($medium-screen) {
    align-items: stretch;
  }
  @include media($small-desktop-screen) {
    align-items: center;
  }
}
.vaos-appts__column--1 {
  //
}

div[id^="vaos-appts__detail-"] {
  @include media($small-screen) {
    display: flex;
    align-items: center;
    text-align: right;
    min-width: fit-content;
    max-width: fit-content;
  }
  @include media($small-desktop-screen) {
    justify-content: right;
  }
}

.vaos-appts__display--table {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: initial;
}
.vaos-appts__display--table-cell {
  display: table-cell;
}

.vaos-appts__text--truncate > * {
  @include media($small-screen) {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }
}

.vaos-appts__text--line-through {
  position: relative;
}
.vaos-appts__text--line-through::after {
  content: "";
  display: block;
  width: 25px;
  height: 1px;
  background-color: $color-base;
  position: absolute;
  top: 49%;
  left: 0;
}

.fa-blank {
  margin-right: 0 !important;
}

.tertiary-button{
  text-decoration: none;
  background-color: transparent;
  color: $color-primary;
  border: 0;
  text-decoration: none;
  padding: 1rem !important;
  margin: 0em !important;

  &:hover,
    &:active {
      color: $color-primary-darker;
      background: $color-gray-cool-light;
    }
    &:focus {background: $color-gray-cool-light}

    &:focus,
    &:active {
      outline: 2px solid $color-gold;
      outline-offset: 2px;
    }

  }

