.health-history {
  .unstyled-list {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
  .section-link {
    a {
      color: $color-link-default;
    }
    a:visited {
      color: $color-link-default;
    }
  }
}
