.test-details-container {
  border-bottom: 1px solid $color-gray-light;
  border-top: 1px solid $color-gray-light;

  margin: 24px 0px 0px 0px;
  padding: 0px 0px 32px 0px;

  h2 {
    margin: 32px 0px 0px 0px;
  }

  h3 {
    margin: 16px 0px 0px 0px;
  }

  p {
    margin: 0px;
  }
}

.test-results-container {
  margin: 32px 0px 40px 0px;

  h2 {
    margin: 32px 0px 0px 0px;
  }

  p {
    white-space: pre-wrap;
  }
}

.time-header {
  h2 {
    margin: 0px 4px 0px 0px;
    font-size: 15px;
    display: inline-block;
  }
  p {
    margin: 0px 0px 0px 0px;
    display: inline-block;
  }
}

.make-monospace{
  font-family: monospace;
}

.set-width-486{
  max-width: 486px;
}