.test-details-container {
  border-bottom: 1px solid $color-gray-light;
  border-top: 1px solid $color-gray-light;

  margin: 20px 0px 0px 0px;
  padding: 0px 0px 32px 0px;

  h2 {
    margin: 32px 0px 0px 0px;
  }

  h3 {
    margin: 16px 0px 0px 0px;
  }

  p {
    margin: 0px;
  }
}

.test-results-container {
  margin: 32px 0px 40px 0px;

  h2 {
    margin: 32px 0px 16px;
  }

  p {
    white-space: pre-wrap;
  }
}
