.landing-page {
    section {
        h1 {
            margin: 0 0 16 0;
        }
        h2 {
            margin: 32 0 8 0;
        }
        p {
            margin: 8 0 8 0;
        }
        va-accordion {
            va-accordion-item {
                p {
                    margin: 16 0 16 0;
                }
            }
        }
    }
}