.image-div {
    @media (max-width: $small-screen) {
        min-width: 100%;
        padding: 0px;
    }

    @media (min-width: $medium-screen) {
        min-width: none;
        padding-right: 24px;
    }
}

.load-more-button {
    @media (max-width: $small-screen) {
        min-width: 100%;
        padding: 8px, 0px, 8px, 0px;
    }

    @media (min-width: $medium-screen) {
        width: 50%;
    }
}

.secondary-button {
    background-color: $color-white;
    border: 2px solid $color-primary;
    color: $color-primary;
    max-width: 210px

}
.secondary-button:hover {
    border: 2px solid $color-primary-darker;
    color: $color-primary-darker;
    background-color: $color-gray-cool-light;
}
.secondary-button:visited {
    color: $color-primary;
}
.secondary-button:visited:hover {
    color: $color-primary-darker;
}

.primary-button {
    border: 2px solid $color-primary;
    max-width: 210;
}
.primary-button:visited {
    color: $color-white;
    border: 2px solid $color-primary;
}
.primary-button:hover {
    border: 2px solid $color-primary-darker;
}