@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.vaccines {
  .breadcrumb-placeholder {
    margin: 20px 0 10px;
    span {
      text-decoration: underline;
    }
  }

  .text-placeholder {
    background-color: $color-gray-lighter;
    height: 9px;
    margin-bottom: 11px;
    &-small {
      width: 80%;
    }
    &-medium {
      width: 90%;
    }
    &-large {
      width: 100%;
    }
  }
}
