// Category navigation AKA "piano keys"
// pattern. These are the links at the bottom
// of secondary-level pages.

.va-nav-category {
  color: $color-gray-dark;
  list-style: none;
  margin: 0 !important;
  padding: 0;
  
  @media #{$small} {
    margin: 0 -0.625rem !important;
  }
  
  &::before, &::after {
    clear: both;
    content: " ";
    display: table; 
  }
  
  li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    display: block;
    height: auto;
    margin: 0;
    width: 100%;
  }
  
  a {
    color: $color-gray-dark !important;
    border-radius: 0;
    border-left: 4px solid rgba(0,0,0,0);
    border-bottom: none;
    box-shadow: none;
    display: block;
    text-decoration: none;
    padding: 1em .5em;
    height: auto;
    margin: 0;
    
    &:hover {
      background: rgba(0,0,0,0.1);
      border-left-color: $color-primary;
      text-decoration: none;
    }
  }
}  

.va-nav-category-title, 
.va-nav-category h5 {
  color: $color-primary-darkest;
  font-weight: 700;
  font-family: "Source Sans Pro","Helvetica","Arial",sans-serif;
  font-size: 1.35em;
// TODO: Remove this !important when #content .section h5 is refactored
  padding: 0 0 .25em 0 !important;
  margin: 0;
  width: 100%;
}

.va-nav-category a {
  background-image: none;
}