@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.card-balance {
  font-family: "Bitter";
  font-size: 24px;
}

.card-heading {
  font-family: "Bitter";
  font-size: 17px;
  color: $color-gray-dark;
}

.card-content {
  display: flex;
  align-items: baseline;
  margin-bottom: 16px;
  pointer-events: auto;
  i {
    padding-right: 10px;
  }
  p {
    margin: 0;
  }
}
