{% comment %}
========================
Right-rail photo callout
========================

See https://help.shopify.com/themes/liquid/tags/theme-tags#include
{% endcomment %}

<div class='merger-r-rail'>

  {% for group in photocallout %}

    {% comment %}
      Only add <section> if there are heading titles.
    {% endcomment %}

    {% if group.image != empty %}

      <img src="{{group.image}}"/>

    {% endif %}

    {% if group.heading != empty %}
      <section>
        <p class="heading"><a href="{{group.url}}">{{ group.heading }}</a></p>
    {% endif %}

    {% if group.description != empty %}
      <p>{{group.description}}</p>
    {% endif %}

  {% endfor %}

  {% if group.heading != empty %}
    </section>
  {% endif %}

</div>
