{% comment %}
======================
Social Media - R. Rail
======================

See https://help.shopify.com/themes/liquid/tags/theme-tags#include
{% endcomment %}

<div class='merger-r-rail'>

  {% for group in social %}

    {% if group.heading != empty %}
      <div class='rail-heading'>
        <h4>{{ group.heading }}</h4>
      </div>
    {% endif %}

    {% if group.administration != empty %}

      <h4><a href="{{ group.administration.url }}">{{ group.administration.title }}</a>

    {% endif %}

  {% endfor %}

</div>
