{% comment %}
======================
Social Media - R. Rail
======================

See https://help.shopify.com/themes/liquid/tags/theme-tags#include
{% endcomment %}

<div class='merger-r-rail'>

  {% for group in social %}

    {% if group.heading != empty %}
      <div class='rail-heading'>
        <h4>{{ group.heading }}</h4>
      </div>
    {% endif %}

    <h4>
      <a href="{{group.admin.url}}">{{group.admin.title}}</a>
    </h4>


    {% if group.subsections.length > 0 %}

      {{ group.admin }}
      {{ group.admin.url }}

      {% for subs in group.subsections %}

        <h4>{{ subs.subhead }}</h4>

        <ul class="va-nav-linkslist-list social">
        {% for link in subs.links %}
          {% if link.url != empty %}
            <li>
              <a href="tel:{{link.url}}">
                {% if link.icon != empty %}
                  <i class="fa fab {{link.icon}}"></i>
                {% endif %}

                {% if link.label != empty %}
                  {{link.label}}
                {% endif %}
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>

      {% endfor %}

    {% endif %}


  {% endfor %}

</div>
