@mixin arrow-before($arrow-svg) {
    &::before {
      content: "";
      display: inline-block;
      width: 2ex;
      height: 2ex;
      mask-image: $arrow-svg;
      -webkit-mask-size: contain;
      mask-size: 2ex 2ex;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      mask-position: center center;
      bottom: -0.2em;
      position: relative;
      font-size: 16.96px;
      color: rgb(27, 27, 27);
      background: var(--vads-color-gray-medium);
      rotate: 180deg;
    }
  }

.include-back-arrow {
  padding-right: 0.25em;
  &:hover {
    color: var(--vads-color-primary-dark) !important;
    background-color: unset;
  }
  &:focus {
    outline: none;
  }
  @include arrow-before(url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 viewBox%3D%220 0 24 24%22%3E%3Cpath d%3D%22M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z%22%2F%3E%3C%2Fsvg%3E"));
}
