{% if collection == 'disability-benefits' %}
  {% include action-bar.html action_text="Apply for Disability Benefits" action_url="/disability-benefits/apply-for-benefits/" action_class="va-action-bar--header" %}
{% endif %}

{% if collection == 'education' %}
  {% include action-bar.html action_text="Apply for Education Benefits" action_url="/education/apply-for-education-benefits/" action_class="va-action-bar--header" %}
{% endif %}

<div class="main" role="main">
{% include "content/includes/breadcrumbs.html" %}

<div class="section one">
  <div class="primary">
  <div class="row">	   
	   <div class="small-12 medium-8 columns">
	    <h1>{{ title }}</h1>    
      {{ contents }} 
     </div>
	</div><!-- end row-->
  </div><!-- end primary-->
</div><!-- end section one -->

{% if page.path contains 'employers/post-a-job' %}
<div class="va-action-bar--header">
  <div class="row">
    <div class="small-12 columns">
      <a class="usa-button-primary" href="https://us.jobs/postajobpartner.asp?partner=ebenefits">Post a Job on the <abbr>NLX</abbr></a>
    </div>
  </div>
</div>
{% endif %}

</div>
