{% include "content/includes/header.html" %}

{% include "content/includes/breadcrumbs.html" %}

<div id="content" class="interior {{ id }}">

  {% case template %}  
    {% when 'level2-index' %}
      {% include "content/includes/level2-index.html" %}

    {% when 'detail-page' %}
      {% include "content/includes/detail-page.html" %}

    {% when 'topic-landing' %}
      {% include "content/includes/topic-landing.html" %}

    {% when 'L2-section-landing' %}
      {% include "content/includes/L2-section-landing.html" %}

    {% when '1-topic-landing' or 'alt-1-topic-landing' %}
      {% include "content/includes/1-topic-landing.html" %}

    {% when '2-detailed-landing' %}
      {% include "content/includes/2-detailed-landing.html" %}

    {% when '3-panel-filters' %}
       {% include "content/includes/3-panel-filters.html" %}

    {% when '4-action-page' %}
      {% include "content/includes/4-action-page.html" %}

    {% when '4-action-page-pending' %}
      {% include "content/includes/4-action-page-pending.html" %}

    {% when '6-info-page' %}
      {% include "content/includes/6-info-page.html" %}

    {% when '7-get-page' or '7-get-page-alt' %}
      {% include "content/includes/7-get-page.html" %}

  {% else %}
    {{ contents }}
  {% endcase %}

  {% if path != 'employment' AND template != 'level2-index' AND template != 'topic-landing' AND template != 'detail-page' %}
  {% include "content/includes/general-related-links.html" %}
  {% endif %}
</div>
{% include "content/includes/footer.html" %}
