{% if mergedbuild %}
  {% include "content/includes/merger-header.html" %}
{% else %}
  {% include "content/includes/header.html" %}
{% endif %}

{% if gibsAlert %}
  {% include "content/includes/gibs-down.html" %}
{% endif %}

{% include "content/includes/breadcrumbs.html" %}

<div id="content" class="interior {{ id }}">

  {% case template %}
    {% when 'level2-index' %}
      {% include "content/includes/level2-index.html" %}

    {% when 'detail-page' %}
      {% include "content/includes/detail-page.html" %}

    {% when 'topic-landing' %}
      {% include "content/includes/topic-landing.html" %}

    {% if mergerbuild %}
      {% include "content/includes/level2-merger.html" %}
    {% endif %}

  {% else %}
    {{ contents }}
  {% endcase %}

</div>

{% if mergedbuild %}
  {% include "content/includes/merger-footer.html" %}
{% else %}
  {% include "content/includes/footer.html" %}
{% endif %}
