{% include "content/includes/header.html" %}

{% unless page.template == 'alt-1-topic-landing' %}

{% unless showactionbar == false %}

  {% if path contains 'disability-benefits' %}
    {% include "content/includes/action-bar.html" action_text="Apply for Disability Benefits" action_url="/disability-benefits/apply-for-benefits/" action_class="va-action-bar--header" %}
  {% endif %}

  {% if path contains 'education' %}
    {% include "content/includes/action-bar.html" action_text="Apply for Education Benefits" action_url="/education/apply-for-education-benefits/" action_class="va-action-bar--header" %}
  {% endif %}

  {% if path contains 'healthcare' %}    
    {% if showtempbar == true %}
    <div class="va-action-bar--header" style="background-color: #FAC922; text-align:center;">
      <div class="row">
        <div class="small-12 columns">
          <h6 style="margin: 0;">Are you a caregiver or on active duty? This form’s not quite ready for you yet. <a href="#additional-forms"> Find the form you need.</a></h6>
        </div>
      </div>
    </div>
    {% else %}
      {% include "content/includes/action-bar.html" action_text="Apply for VA Health Care" action_url="/healthcare/apply/application" action_class="va-action-bar--header" %}
    {% endif %}
  {% endif %}

{% endunless %}

{% endunless %}

{% include "content/includes/breadcrumbs.html" %}

<div id="content" class="interior {{ id }}">
  
  {% case template %}
    {% when 'L2-section-landing' %}
      {% include "content/includes/L2-section-landing.html" %}
  
    {% when '1-topic-landing' or 'alt-1-topic-landing' %}
      {% include "content/includes/1-topic-landing.html" %}

    {% when '2-detailed-landing' %}
      {% include "content/includes/2-detailed-landing.html" %}

    {% when '3-panel-filters' %}
       {% include "content/includes/3-panel-filters.html" %}
        
    {% when '4-action-page' %}
      {% include "content/includes/4-action-page.html" %}
      
    {% when '4-action-page-pending' %}
      {% include "content/includes/4-action-page-pending.html" %}

    {% when '6-info-page' %}
      {% include "content/includes/6-info-page.html" %}

    {% when '7-get-page' or '7-get-page-alt' %}
      {% include "content/includes/7-get-page.html" %}

  {% else %}
    {{ contents }} 
  {% endcase %}
  
  {% include "content/includes/related-links.html" %}
</div>
{% include "content/includes/footer.html" %}
