{% include "content/includes/header.html" %}
{% assign post_name = title %}
<div id="content">
  <div id="experience" role="main">
    <div class="splash splash--blog{% if splash_image %} splash--hasimg" style="background-image: url(/img/content/posts/{{splash_image}});{% endif %}">
      <h2 class="va-headingflag"><a href="/experience/">Experience</a></h2>
    </div>
    <div class="primary">
      <div class="row">
        <div class="main">
          <div class="post">
            <h3 class="title">{{ title }}</h3>
            <div class="post-author">{{ author }}</div>
            <div class="post-date">{{ date | date: "%B %d, %Y" }}</div>
            {{ contents }} 
          </div>
          <div class="related-posts">
            <h6>Related posts</h6>
            <ul class="plain posts">
              {% for post in posts %}
                {% if post.title === post_name %}
                {% else %}
                <li>
                  <a href="/{{ post.path }}">
                    <div class="post-title">{{ post.title }}</div>
                    <div class="post-date">{{ post.date | date: '%b %d, %Y' }}</div>
                  </a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "content/includes/footer.html" %}