{% include "../includes/header.html" %}
<div id="content">
  <div id="experience" role="main">
    <div class="primary">
      <div class="row">
        <div class="main">
          <div class="post">
            <h3 class="title">{{ title }}</h3>
            <div class="post-author">{{ author }}</div>
            <div class="post-date">{{ date | date('F d, Y') }}</div>
            {{ contents | safe }}
          </div>
          <div class="related-posts">
            <h6>Related posts</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "../includes/footer.html" %}