@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../../platform/forms/sass/m-form-confirmation" as *;

#root_previousSahApplicationDate-label,
#root_previousSahApplicationAddress__title,
#root_previousHiApplicationDate-label,
#root_previousHiApplicationAddress__title,
#root_careFacilityAddress__title {
  font-size: 1rem;
}

#root_previousSahApplicationDate-label,
#root_previousHiApplicationDate-label {
  margin-bottom: 0.25rem;
}

#root_previousSahApplicationAddress__title,
#root_previousHiApplicationAddress__title,
#root_careFacilityAddress__title {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
    "Arial", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: -1.5rem;
  padding-bottom: 0;
}

#root_careFacilityAddress__title {
  padding-top: 0.9375rem;
}
