.events {
  form {
    .filter-by {
      @media (max-width: 481px) {
        max-width: unset;
      }

      @media (min-width: 481px) {
        max-width: 198px;
      }
    }

    button[type="submit"] {
      @media (min-width: 481px) {
        max-width: fit-content;
      }
    }
  }
}
