@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.charge-detail-group {
  display: flex;
  margin-bottom: 25px;
}

.charge-detail-col {
  margin-right: 20px;
  @media (min-width: $small-screen) {
    margin-right: 100px;
  }
}

.charge-detail-value {
  font-family: "Bitter";
  font-size: 22px;
  font-weight: 900;
}
