@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.collapsible {
  display: flex;
  align-items: center;
  text-align: left;
  color: $color-gray-dark;
  width: 100%;
  padding: 20px;
  margin: 0;
  background-color: transparent;
}

.collapsible:hover,
.collapsible:active {
  color: $color-gray-dark;
  background-color: transparent;
}

.status-label {
  text-decoration: underline $color-light-blue dotted;
  text-underline-position: under;
  line-height: 24px;
  &:active {
    pointer-events: none;
  }
}

.content {
  display: none;
  overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
}

.alert-icon-base {
  width: 20px !important;
  height: 18px !important;
  pointer-events: none !important;
  font-size: unset !important;
  display: unset !important;
  align-self: flex-start;
  display: flex;
  margin-right: 10px;
  margin-top: 5px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  // IE fix for icon padding
  // https://stackoverflow.com/questions/11173106/apply-style-only-on-ie
  .alert-icon-base {
    width: 20px !important;
    height: 18px !important;
    pointer-events: none !important;
  }
}

.more-info {
  margin: 0;
  padding: 0 12px 12px 12px;
}

.more-icon {
  pointer-events: none;
  margin-right: 15px;
}

.warning {
  background-color: $color-gold-lightest !important;
  span.status-label:hover {
    background-color: $color-gold-lighter !important;
  }
  span.status-label:active {
    background-color: $color-gold-lighter !important;
  }
}

.error {
  background-color: $color-red-lightest !important;
  span.status-label:hover {
    background-color: $color-secondary-light !important;
  }
  span.status-label:active {
    background-color: $color-secondary-light !important;
  }
}

.info {
  background-color: $color-aqua-lightest !important;
  span.status-label:hover {
    background-color: $color-primary-alt-light !important;
  }
  span.status-label:active {
    background-color: $color-primary-alt-light !important;
  }
}
