@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "./partials/expandable-alert";

.no-wrap {
  white-space: nowrap;
}

.no-bullets {
  list-style: none;
}

h1:focus {
  outline: none !important;
}

.debt-letters-table {
  tr {
    td {
      border-right: 0;
      border-left: 0;
    }
  }
}

.on-this-page-links {
  display: block;
  border: 1px solid var(--color-gray-light);
  border-radius: 4px;
  padding: 1em;
  dl {
    margin: 0;
  }
}
@media (min-width: 768px) {
  .on-this-page-links {
    border: none;
    padding: 1em 1em 1em 0;
  }
}
.on-this-page-links dd a {
    max-width: 285px;
  i {
    font-size: 0.75em;
  }
}

.fa-angle-right {
  vertical-align: middle;
}
