// Variables

@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.pensions-disclosure-title {
  padding-bottom: 0;
  font-size: 1.1em;
  line-height: 1;
}

.pensions-disclosure-name {
  border-bottom: 3px solid $color-primary;
  margin: 0 0 0.8em;
}

.pensions-sources-adding {
  max-width: 46rem;
  margin-top: 3rem;
}

.pensions-sources-add-btn {
  margin-top: 3rem !important;
}

.pensions-heading {
  margin-top: 0;
  &:focus {
    outline: none;
  }
}

p.pension-employment-desc,
.pension-dd-warning {
  margin-top: 3rem;
}

.pensions-disclosure-warning {
  margin-bottom: 1em;
}

// a11y - Change gray box to white box with gray border.
// Needed because when using a web component which
// has a gray color hint text, the hint text compared to
// the background color is too low contrast.
.rjsf-array-field .va-growable-background {
  border: 1px solid $color-gray-medium;
  background-color: $color-white;
}

// The '(*Required)' indicator is included in the question title
.special-monthly-pension-question .schemaform-required-span {
  display: none !important;
}
