// Variables

@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/formation-overrides/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../platform/forms/sass/m-form-confirmation" as *;

$font-size: 16.96px;

.schemaform-date-input-v3 {
  &.schemaform-first-field {
    margin-top: 8px !important;
  }
  legend {
    font-size: $font-size;
  }
}

.rjsf-web-component-field[error]:not([error=""]) {
  margin-left: 0;
}

.usa-input-error {
  right: 0;
}

.rjsf-array-field button.edit {
  align-self: flex-end;
}

.row .row.small-collapse {
  margin: 0;
}

.progress-box {
  padding: 0;
}

.u-list-no-bullets {
  list-style-type: none;
}

.capitalize {
  text-transform: capitalize;
}

// Break long words on modals, see
// https://github.com/department-of-veterans-affairs/vets-design-system-documentation/issues/3355
va-modal {
  @include media-maxwidth($small-screen) {
    word-break: break-word;
  }
}
