{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}

<div class="interior" id="content">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% if entityUrl.breadcrumb.1.text == "Outreach and events" %}
        {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = outreachSidebar %}
      {% else %}
        {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar%}
      {% endif %}
      <div class="usa-width-three-fourths">
        {% include "src/site/components/navigation-sidebar-trigger.html" with menuId = "va-detailpage-sidebar" %}
        {% if !entityPublished %}
          <div class="usa-alert usa-alert-info">
            <div class="usa-alert-body">
              <p class="usa-alert-text">You are viewing a draft.</p>
            </div>
          </div>
        {% endif %}

        <article aria-labelledby="article-heading" class="vads-l-grid-container--full" role="region">
          <div class="vads-l-grid-container--full">
            <h1 id="article-heading">{{ title }}</h1>
            <div class="vads-l-grid-container--full">
              <div class="va-introtext">
                {% if fieldIntroText %}
                  <p class="events-show" id="office-events-description">
                    {{ fieldIntroText }}
                  </p>
                {% endif %}
              </div>
              {% if entityUrl.breadcrumb.1.text != "Outreach and events" %}
                {% include "src/site/facilities/facilities_events_toggle.drupal.liquid" with url = entityUrl.path %}
                {% assign featuredUrl = null %}
                {% assign featuredItemSet = false %}
                {% for featuredEvent in allEventTeasers.entities %}
                  {% if featuredEvent.fieldFeatured == true %}
                    {% unless entityUrl.path contains 'past-events' %}
                      {% if featuredItemSet == false %}
                        {% assign featuredUrl = featuredEvent.entityUrl.path %}
                        <div class="usa-width-two-thirds">
                          <div class="usa-grid usa-grid-full vads-u-margin-bottom--3 medium-screen:vads-u-margin-bottom--4 vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row vads-u-border-left--7px vads-u-border-color--primary-alt-lightest" id="featured-content">
                            <div class="usa-width-full vads-u-padding-left--2">
                              <div class="vads-u-margin-bottom--2">
                                <strong>In the spotlight at
                                  {{ fieldOffice.entity.title }}</strong>
                              </div>
                              {% include "src/site/teasers/event_featured.drupal.liquid" with node = featuredEvent %}
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endunless %}
                    {% assign featuredItemSet = true %}
                  {% endif %}
                {% endfor %}
                {% for event in pagedItems %}
                  {% if featuredUrl != event.entityUrl.path %}
                    <div class="usa-width-two-thirds">
                      {% include "src/site/teasers/event.drupal.liquid" with node = event %}
                    </div>
                  {% endif %}
                {% endfor %}
                {% include "src/site/includes/pagination.drupal.liquid" %}
              {% else %}
                {% include 'src/site/components/events_list.drupal.liquid' %}
              {% endif %}
            </div>
          </div>
        </article>

      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
