{% comment %}
Example data:
"entityUrl": {
"breadcrumb": [
{
"url": {
"path": "/",
"routed": true
},
"text": "Home"
}
],
"path": "/pittsburgh-health-care"
},
"entityId": "83",
"entityBundle": "health_care_region_page",
"entityPublished": true,
"title": "Pittsburgh Health Care System",
"allEventTeasers": {
"entities": [
{
"title": "Test Event",
"fieldEventDate": {
"value": "2019-03-15T08:00:00"
},
"fieldEventDateEnd": {
"value": "2019-03-15T11:00:00"
},
"fieldDescription": "This is an event to test. ",
"fieldLocationHumanreadable": "Kittery Public Library, 3rd Floor Meeting Room",
"fieldFacilityLocation": {
"entity": {
"title": "H. John Heinz III Department of Veterans Affairs Medical Center",
"entityUrl": {
"path": "/pittsburgh-health-care/locations/heinz-medical-center"
}
}
},
"entityUrl": {
"path": "/pittsburgh-health-care/events/test-event"
}
}
]
},
}
{% endcomment %}
{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true %}
<div class="interior" id="content">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
      <div class="usa-width-three-fourths">
        {% include "src/site/components/navigation-sidebar-trigger.html" with menuId = "va-detailpage-sidebar" %}
        <article class="usa-content">
          <h1>Events</h1>
          <div class="va-introtext vads-u-margin-bottom--6">
            {{ fieldIntroTextEventsPage.processed }}
          </div>

          {% include "src/site/facilities/facilities_events_toggle.drupal.liquid" with url = entityUrl.path %}

          {% assign featuredUrl = null %}
          {% if paginator.prev == null %}
            {% for featuredEvent in eventTeasers.entities %}
              {% if forloop.first == true %}
                {% unless entityUrl.path contains 'past-events' %}
                  {% assign featuredUrl = featuredEvent.entityUrl.path %}
                  <div class="usa-width-two-thirds">
                    <div class="usa-grid usa-grid-full
                                      vads-u-margin-bottom--3
                                      medium-screen:vads-u-margin-bottom--4
                                      vads-u-display--flex
                                      vads-u-flex-direction--column
                                      medium-screen:vads-u-flex-direction--row
                                      vads-u-border-left--7px
                                      vads-u-border-color--primary-alt-lightest" id="featured-content">
                      <div class="usa-width-full vads-u-padding-left--2">
                        <div class="vads-u-margin-bottom--2">
                          <strong>In the spotlight at
                            {{ regionOrOffice }}</strong>
                        </div>
                        {% include "src/site/teasers/event_featured.drupal.liquid" with node = featuredEvent %}
                      </div>
                    </div>
                  </div>
                {% endunless %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% for event in pagedItems %}
            {% if featuredUrl != event.entityUrl.path %}
              <div class="usa-width-two-thirds">
                {% include "src/site/teasers/event.drupal.liquid" with node = event %}
              </div>
            {% endif %}
          {% endfor %}
          {% include "src/site/includes/pagination.drupal.liquid" %}
        </article>
      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
