{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div id="content" class="interior">
    <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
        {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with facilitySidebar %}
        <div class="usa-width-three-fourths">
            {% include "src/site/components/navigation-sidebar-trigger.html" with menuId = "va-detailpage-sidebar" %}
            <article class="usa-content">
                <h1>A-Z services</h1>
                <div class="va-introtext">{{ fieldClinicalHealthServi.processed }}</div>

                <div class="usa-grid usa-grid-full vads-u-margin-top--2 vads-u-margin-bottom--3">
                    <div class="usa-width-one-third">
                        <a href="{{ entityUrl.path }}/appointments" class="usa-button usa-button-primary">Make an appointment</a>
                    </div>
                    <div class="usa-width-one-third">
                        <a href="{{ entityUrl.path }}/become-a-patient" class="usa-button usa-button-primary">Become a patient</a>
                    </div>
                </div>

                {% if careCoordinatorPatientFamilyServices.entites.length || socialProgramsPatientFamilyServices.entities.length || healthWellnessPatientFamilyServices.entities.length || primaryCareHealthServices.entities.length || mentalHealthServices.entities.length || specialtyCareHealthServices.entities.length %}
                    <div class="usa-grid usa-grid-full vads-u-margin-top--1p5">
                        <h3>On this page</h3>
                        <ul>
                            {% if careCoordinatorPatientFamilyServices.entities.length %}
                              <li><a href="#care-patient-family-services">Care Coordinators</a></li>
                            {% endif %}
                            {% if socialProgramsPatientFamilyServices.entities.length %}
                                <li><a href="#social-patient-family-services">Social programs and services</a></li>
                            {% endif %}
                            {% if healthWellnessPatientFamilyServices.entities.length %}
                                <li><a href="#wellness-patient-family-services">Health and wellness</a></li>
                            {% endif %}
                            {% if primaryCareHealthServices.entities.length %}
                                <li><a href="#primary-health-services">Primary care</a></li>
                            {% endif %}
                            {% if mentalHealthServices.entities.length %}
                                <li><a href="#mental-health-services">Mental health care</a></li>
                            {% endif %}
                            {% if specialtyCareHealthServices.entities.length %}
                               <li><a href="#specialty-health-services">Specialty care</a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}

                <!-- Patient and Family Services -->
                {% if careCoordinatorPatientFamilyServices.entities.length %}
                    <section class="care-patient-family-services" id="care-patient-family-services">
                        <h2>Care Coordinators</h2>
                        {% for careService in careCoordinatorPatientFamilyServices.entities %}
                            {% include "src/site/facilities/health_service.drupal.liquid" with healthService = careService %}
                        {% endfor %}
                    </section>
                {% endif %}

                {% if socialProgramsPatientFamilyServices.entities.length %}
                    <section class="social-patient-family-services" id="social-patient-family-services">
                        <h2>Social programs and services</h2>
                        {% for socialService in socialProgramsPatientFamilyServices.entities %}
                            {% include "src/site/facilities/health_service.drupal.liquid" with healthService = socialService %}
                        {% endfor %}
                    </section>
                {% endif %}

                {% if healthWellnessPatientFamilyServices.entities.length %}
                    <section class="wellness-patient-family-services" id="wellness-patient-family-services">
                        <h2>Health and wellness</h2>
                        {% for wellnessService in healthWellnessPatientFamilyServices.entities %}
                          {% include "src/site/facilities/health_service.drupal.liquid" with healthService = wellnessService %}
                        {% endfor %}
                    </section>
                {% endif %}

                <!-- Health Services -->
                {% if primaryCareHealthServices.entities.length %}
                    <section class="primary-health-services" id="primary-health-services">
                        <h2>Primary care</h2>
                        {% for primaryService in primaryCareHealthServices.entities %}
                            {% include "src/site/facilities/health_service.drupal.liquid" with healthService = primaryService %}
                        {% endfor %}
                    </section>
                {% endif %}

                {% if mentalHealthServices.entities.length %}
                    <section class="mental-health-services" id="mental-health-services">
                        <h2>Mental health care</h2>
                        {% for mentalHealthService in mentalHealthServices.entities %}
                            {% include "src/site/facilities/health_service.drupal.liquid" with healthService = mentalHealthService %}
                        {% endfor %}
                    </section>
                {% endif %}

                {% if specialtyCareHealthServices.entities.length %}
                    <section class="specialty-health-services" id="specialty-health-services">
                        <h2>Specialty care</h2>
                        {% for specialtyService in specialtyCareHealthServices.entities %}
                            {% include "src/site/facilities/health_service.drupal.liquid" with healthService = specialtyService %}
                        {% endfor %}
                    </section>
                {% endif %}

            </article>
        </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
