{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true %}
<div id="content" class="interior">
    <main class="va-l-detail-page va-facility-page">
        <div class="usa-grid usa-grid-full">
            {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
            <div class="usa-width-three-fourths">
                {% include "src/site/components/navigation-sidebar-trigger.html" with menuId = "va-detailpage-sidebar" %}

                <article class="usa-content">
                    <h1 class="vads-u-margin-bottom--2">Operating status</h1>
                    <div class="va-introtext vads-u-margin-bottom--0">
                        Check the latest operating status of services and
                        facility hours for VA
                        Pittsburgh health care.
                    </div>
                    <section class="locations clearfix">
                        {% for office in mainFacilities.entities %}
                        <h2
                            class="vads-u-font-size--xl vads-u-margin-top--3 medium-screen:vads-u-margin-top--5 vads-u-margin-bottom--0">
                            {{office.title}}
                        </h2>
                            {% if office.fieldOperatingStatusFacility == 'normal' %}
                            <span
                                class="operating-status usa-alert usa-alert-success background-color-only vads-u-margin-top--1 vads-u-padding--1p5">
                                <b><i class="fa fa-info-circle" aria-hidden="true"></i> Normal services and hours</b>
                            </span>
                            {% elsif office.fieldOperatingStatusFacility == 'limited' %}

                            <span
                                class="operating-status usa-alert usa-alert-warning background-color-only vads-u-margin-top--1 vads-u-padding--1p5">
                                <b><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Limited services and hours</b>
                            </span>

                            {% elsif office.fieldOperatingStatusFacility == 'closed' %}
                            <span
                                class="operating-status usa-alert usa-alert-error background-color-only vads-u-margin-top--1 vads-u-padding--1p5">
                                <b><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Facility Closed</b>
                            </span>
                            {% endif %}
                        {% endfor %}
                    </section>
                </article>
            </div>
        </div>
    </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
