{% include "src/site/includes/header.html" %}
<main>

  <!-- the hub -->
  <section class="homepage-hub">

    <div class="homepage-hub-container">

      <h1 class="heading-level-2 homepage-heading">{{ heading }}</h1>

      <!-- top row -->
      <div class="hub-links-row">
      {% for card in cards %}
        <div class="hub-links-container" data-e2e="bucket">
          <h2 class="heading-level-3 hub-links-title"><i class="icon-large-baseline icon-heading hub-icon-{{card.hub}} hub-color-{{card.hub}}"></i>{{ card.heading }}</h2>
          <ul class="hub-links-list">
            {% assign parentCard = card %}

            {% for link in card.links %}
              <li><a data-nav-path="{{parentCard.heading}}->{% if link.nav_path != empty %}{{link.nav_path}}{% else %}{{ link.title }}{% endif %}" href="{{link.url}}">{{link.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% if card.end_row == true and forloop.last != true %}
        </div>
        <div class="hub-links-row">
        {% endif %}
      {% endfor %}
      </div>
    </div>

    {% include "src/site/includes/veteran-banner.html" %}

  </section>
  <!-- /the hub -->

  <section id="content">

    <section id="homepage-benefits">
      <div class="usa-grid usa-grid-full homepage-benefits-row">
      {% for hub in hubs %}
        <div class="usa-width-one-third" data-e2e="hub">
          <h3 class="heading-level-4"><a href="{{ hub.url }}" onclick="recordEvent({ event: 'nav-linkslist' });"><i class="icon-small icon-heading hub-icon-{{hub.hub}} hub-background-{{hub.hub}} white"></i>{{hub.heading}}</a></h4>
          <p class="homepage-benefits-description">{{hub.description}}</p>
        </div>
        {% if hub.end_row == true and forloop.last != true %}
        </div>
        <div class="usa-grid usa-grid-full homepage-benefits-row">
        {% endif %}
      {% endfor %}
      </div>
    </section>

    <section id="homepage-popular">
      <div class="usa-grid usa-grid-full">
        <div class="usa-width-one-third">
          <a href="/find-locations/" onclick="recordEvent({ event: 'nav-main-health' });" class="homepage-button">
            <div class="icon-wrapper">
              <i class="fa fa-map-marker-alt homepage-button-icon"></i>
            </div>
            <!-- div required for alignment -->
            <div class="button-inner">
              <span>Find a VA health facility, regional office, or cemetery</span>
            </div>
          </a>
        </div>

        <div class="usa-width-one-third">
          <button onclick="recordEvent({ event: 'nav-main-vcl' });" class="homepage-button vcl va-overlay-trigger" data-show="#modal-crisisline">
            <div class="icon-wrapper vcl"></div>
            <div class="button-inner">
              <span>Talk to a Veterans Crisis Line responder now</span>
            </div>
          </button>
        </div>

        <div class="usa-width-one-third" id="myva-login">
          <button onclick="recordEvent({ event: 'nav-main-sign-in' });" class="homepage-button signin-signup-modal-trigger">
            <div class="icon-wrapper">
              <i class="fas fa-user-circle homepage-button-icon"></i>
            </div>
            <div class="button-inner">
              <span>Sign in or create an account to use more tools</span>
            </div>
          </button>
        </div>

      </div>
    </section>

    <!-- end triple column -->

  </div> <!-- end #content -->

  <section class="usa-grid usa-grid-full">
    <div class="va-h-ruled--stars"></div>
  </section>


  <section id="homepage-news">

    <div class="usa-grid usa-grid-full">
    {% for story in news %}
      <div class="usa-width-one-third homepage-news-story" data-e2e="news">
        <div class="homepage-image-wrapper">
          <img class="lazy" width="552" data-src="{{ story.img }}" alt="{{ story.alt }}"/>
        </div>
        <h4 class="homepage-news-story-title"><a class="no-external-icon" href="{{ story.href }}"
          onClick="recordEvent({ event: 'nav-footer-news-story' });"/>{{ story.title }}</a></h4>
        <p class="homepage-news-story-desc">{{ story.description }}</p>
      </div>
      {% if hub.end_row == true and forloop.last != true %}
      </div>
      <div class="usa-grid usa-grid-full">
      {% endif %}
    {% endfor %}
    </div>

  </section>

</main>

<script nonce="**CSP_NONCE**" type="text/javascript">
  var hubLinksList = document.getElementsByClassName('hub-links-list');

  for (var i=0; i < hubLinksList.length; i++) {
    hubLinksList[i].addEventListener('click', function(e) {
      var linkData = e.target.dataset;

      recordEvent({
        event: 'nav-zone-one',
        'nav-path': linkData.navPath,
      });
    });
  }
</script>

{% include "src/site/includes/footer.html" %}
