{% include "src/site/includes/header.html" with drupalTags = true %}
<script type="text/javascript">
  window.homepage = {};
  window.homepage.cards = {{ cards | json }};
  window.homepage.hubs = {{ hubs | json }};
  window.homepage.promos = {{ promos | json }};
</script>
<div data-widget-type="homepage"></div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
