{% include "src/site/includes/header.html" %}
<main>
  <div class="row">
    {{ contents }}
  </div>
</main>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.liquid" %}
