{% include "src/site/includes/header.html" %}
<main id="content">
  <div class="row">
    <h1>{{ title }}</h1>
    <div class="usa-font-lead">{{ fieldIntroText }}</div>
  </div>
</main>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
