{% include "src/site/includes/header.html" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div id="content" class="interior">
  <main>
    <div class="usa-grid usa-grid-full">
      <article class="usa-width-two-thirds">
        <h1>{{ title }}</h1>
        <div class="usa-font-lead">{{ fieldIntroText }}</div>
      </article>
      <div class="usa-width-one-third" id="hub-rail">
        {% include "src/site/blocks/promo.drupal.liquid" with entity = fieldPromo.entity %}
      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
