{% include "src/site/includes/header.html" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div id="content" class="interior">
  <main>
    <div class="usa-grid usa-grid-full">
      <article class="usa-width-two-thirds">
        <h1>{{ title }}</h1>
        <div class="va-introtext">
          <p>{{ fieldIntroText }}</p>
        </div>
      </article>

      {% include "src/site/components/hub-rail.drupal.liquid" administration = fieldAdministration.entity %}

    </div>
  </main>
<div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
