{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}

<div class="interior" id="content">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with facilitySidebar %}
      <div class="usa-width-three-fourths">
        {% include "src/site/components/navigation-sidebar-trigger.html" with menuId = "va-detailpage-sidebar" %}
        {% if !entityPublished %}
        <div class="usa-alert usa-alert-info">
          <div class="usa-alert-body">
            <p class="usa-alert-text">You are viewing a draft.</p>
          </div>
        </div>
        {% endif %}

        <article class="usa-content">
          <div class="usa-grid usa-grid-full">
            <h1>{{ title }}</h1>
            <div class="va-pagination">
              <span class="va-pagination-prev">
                <a id="pager-previous-click" aria-label="Load previous page undefined" tabindex="0">
                  <abbr title="Previous">Prev</abbr>
                </a>
              </span>
              <div id="pager-nums-insert" class="va-pagination-inner">
              </div>
              <span class="va-pagination-next">
                <a id="pager-next-click" aria-label="Load next page undefined" tabindex="0">Next</a>
              </span>
            </div>
            <div class="vads-l-grid-container--full asset-component-library"
              id="search-entry"></div>
          </div>
        </article>

      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
