{% comment %}
Example data:
"entityUrl": {
  "breadcrumb": [
    {
      "url": {
        "path": "/",
        "routed": true
      },
      "text": "Home"
    }
  ],
  "path": "/pittsburgh-health-care"
},
"entityId": "83",
"entityBundle": "health_care_region_page",
"entityPublished": true,
"title": "Pittsburgh Health Care System",
"allPressReleaseTeasers": {
  "entities": [
  "allNewsStoryTeasers": {
    "entities": [
      {
        "title": "Abdo Loquor Proprius",
        "fieldIntroText": "Abico ea euismod. Aliquam causa gravis jumentum neo paratus roto te....",
        "fieldMedia": {
          "entity": {
            "image": {
            "alt": null,
            "title": null,
            "derivative": {
              "url": "http://stg.va.agile6.com/sites/default/files/styles/3_2_medium_thumbnail/public/hub_promos/education.png?itok=Dq-jwud0",
              "width": 456,
              "height": 304
            }
          }
        }
        },
        "entityUrl": {
          "path": "/pittsburgh-health-care/stories/abdo-loquor-proprius"
        }
      },
      ...
    ]
  }
}
{% endcomment %}
{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true %}

<div id="content" class="interior">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
      <div class="usa-width-three-fourths">
       {% include "src/site/components/navigation-sidebar-trigger.html" with menuId = "va-detailpage-sidebar" %}
        <article class="usa-content">
            <h1 id="article-heading">{{ title }}</h1>
            <div class="vads-l-grid-container--full">
            {% if fieldIntroText %}
              <div class="va-introtext">
                <p class="events-show" id="office-events-description">
                  {{ fieldIntroText }}
                </p>
              </div>
            {% endif %}
          {% if paginator.prev == null %}
          {% for storyFeature in newsStoryTeasers.entities %}
            {% if forloop.first == true %}
              {% include "src/site/teasers/news_story_page_feature.drupal.liquid" with node = storyFeature %}
            {% endif %}
          {% endfor %}
          {% endif %}
          {% for story in pagedItems %}
            {% if story.fieldFeatured == false %}
              {% include "src/site/teasers/news_story_page.drupal.liquid" with node = story %}
            {% endif %}
          {% endfor %}
          {% include "src/site/includes/pagination.drupal.liquid" %}
        </article>
      </div>
    </div>
  </main>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
