{% include "src/site/includes/header.html" with drupalTags = true %}

{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}

<div class="interior" id="content">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = outreachSidebar %}
      <div class="usa-width-three-fourths">
        {% if !entityPublished %}
        <div class="usa-alert usa-alert-info">
          <div class="usa-alert-body">
            <p class="usa-alert-text">You are viewing a draft.</p>
          </div>
        </div>
        {% endif %}

        <article aria-labelledby="article-heading" class="vads-l-grid-container--full" role="region">
          <div class="vads-l-grid-container--full">
            <h1 id="article-heading">{{ title }}</h1>
            <div class="vads-l-grid-container--full">
              <div class="va-introtext">
                <p class="office-show" id="office-main-description">
                  {{ fieldDescription }}
                </p>
              </div>
              {% if fieldBody.processed %}
              <div class="office-show">
                {{ fieldBody.processed }}
              </div>
              {% endif %}
            </div>
          </div>
        </article>

      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
