{% include "src/site/includes/header.html" %}

{% if gibsAlert %}
  {% include "src/site/includes/gibs-down.html" %}
{% endif %}

{% if appealsbanner %}
  {% include "src/site/includes/appeals-banner.html" %}
{% endif %}

{% if decision_reviews_banner %}
  {% include "src/site/includes/decision-reviews-banner.html" %}
{% endif %}

{% include "src/site/includes/breadcrumbs.html" %}

<div id="content" class="interior {{ id }}">

  {% if !heading %}
    {% assign heading = title %}
  {% endif %}

  {% case template %}
    {% when 'level2-index' %}
      {% include "src/site/includes/level2-index.html" %}

    {% when 'detail-page' %}
      {% include "src/site/includes/detail-page.html" %}

    {% when 'topic-landing' %}
      {% include "src/site/includes/topic-landing.html" %}
  {% else %}
    {{ contents }}
  {% endcase %}

</div>
{% include "src/site/includes/footer.html" %}
