{% include "src/site/includes/header.html" %}

{% if gibsAlert %}
  {% include "src/site/includes/gibs-down.html" %}
{% endif %}

<div class="vads-l-grid-container large-screen:vads-u-padding-x--0">
  {% include "src/site/includes/breadcrumbs.html" newGrid=true %}
</div>

<div id="content" class="interior {{ id }}">


  {% if !heading %}
    {% assign heading = title %}
  {% endif %}

  {% case template %}
    {% when 'detail-page' %}
      {% include "src/site/includes/detail-page.html" %}

    {% when 'education-sco' %}
      {% include "src/site/includes/education-sco.html" %}
  {% else %}
    {{ contents }}
  {% endcase %}

</div>
{% include "src/site/includes/footer.html" %}
