{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with constructLcBreadcrumbs = true titleInclude = true %}

<div id="content" class="interior" data-template="node-q_a">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
      <div class="usa-width-three-fourths">
        <div class="usa-content">
          <!-- Search bar -->
          <div class="medium-screen:vads-u-border-bottom--2px vads-u-border-color--gray-light medium-screen:vads-u-margin-bottom--3">
            {% include "src/site/includes/support_resources_search_bar.drupal.liquid" %}
          </div>

          <article class="vads-u-padding-x--1 large-screen:vads-u-padding-x--0">

            <!-- Title -->
            <h1>{{ title }}</h1>

            <!-- QA -->
            {% assign bundleComponent = "src/site/paragraphs/" | append: fieldAnswer.entity.entityBundle %}
            {% assign bundleComponentWithExtension = bundleComponent | append: ".drupal.liquid" %}
            {% include {{ bundleComponentWithExtension }} with entity = fieldAnswer.entity %}

            <!-- Alert -->
            {% if fieldAlertSingle %}
              {% include "src/site/paragraphs/alert_single.drupal.liquid" with entity = fieldAlertSingle.entity %}
            {% endif %}

            <!-- Buttons -->
            <div class="vads-u-margin-top--3">
              {% for fieldButton in fieldButtons  %}
                {% include "src/site/paragraphs/button.drupal.liquid" with entity = fieldButton.entity %}
              {% endfor %}
            </div>
          </article>

          <!-- Tags -->
          {% include "src/site/includes/tags.drupal.liquid" with fieldTags = fieldTags %}

          <!-- How do you rate -->
          {% include "src/site/includes/how-do-you-rate.drupal.liquid" %}

          <!-- Related information -->
          {% include "src/site/includes/related-information.drupal.liquid" with fieldRelatedInformation = fieldRelatedInformation %}

          <!-- VA benefits -->
          {% include "src/site/includes/benefit-hubs-links.drupal.liquid" with fieldRelatedBenefitHubs = fieldRelatedBenefitHubs %}
        </div>
      </div>
    </div>

    <!-- Need more help -->
    {% include "src/site/paragraphs/contact_information.drupal.liquid" with entity = fieldContactInformation.entity %}

    <!-- Last updated -->
    {% include "src/site/includes/last-updated.drupal.liquid" %}
  </main>

  <!-- Up To Top Button -->
  {% include "src/site/components/up_to_top_button.html" %}
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
