{% include "src/site/includes/header.html" with drupalTags = true %}

{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}

<div id="content" class="interior">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
      <div class="usa-width-three-fourths">
        {% if !entityPublished %}
          <div class="usa-alert usa-alert-info" >
            <div class="usa-alert-body">
              <p class="usa-alert-text">You are viewing a draft.</p>
            </div>
          </div>
        {% endif %}
        <article class="usa-content">
          <h1>{{ title }}</h1>
          {% for block in fieldAnswer %}
            {% include "src/site/paragraphs/wysiwyg.drupal.liquid" with entity = block.entity %}
          {% endfor %}

          {% if fieldAlertSingle %}
            {% include "src/site/paragraphs/alert_single.drupal.liquid" with entity = fieldAlertSingle.entity %}
          {% endif %}

          {% for fieldButton in fieldButtons  %}
            {% include "src/site/paragraphs/button.drupal.liquid" with entity = fieldButton.entity %}
          {% endfor %}
        </article>
      </div>
    </div>
  </main>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
