{% include "src/site/includes/header.html" with drupalTags = true %}

{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}

<div itemscope itemtype="https://schema.org/FAQPage">
  <div id="content" class="interior">
    <main class="va-l-detail-page">
      <div class="usa-grid usa-grid-full">
        {{ articles }}
      </div>
    </main>
  </div>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
