{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true %}

<div id="content" class="interior">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
      <div class="usa-width-three-fourths">
        <article class="usa-content">
            <h1 id="article-heading">{{ title }}</h1>
            <div class="vads-l-grid-container--full">
              <div class="va-introtext">
                {% if fieldIntroText %}
                <p class="events-show" id="office-events-description">
                  {{ fieldIntroText }}
                </p>
                {% endif %}
              </div>
          {% if paginator.prev == null %}
          {% for storyFeature in allNewsStoryTeasers.entities %}
            {% if storyFeature.fieldFeatured == true %}
              {% include "src/site/teasers/news_story_page_feature.drupal.liquid" with node = storyFeature %}
            {% endif %}
          {% endfor %}
          {% endif %}
          {% for story in pagedItems %}
            {% if story.fieldFeatured == false %}
              {% include "src/site/teasers/news_story_page.drupal.liquid" with node = story %}
            {% endif %}
          {% endfor %}

          {% if pagedItems == false %}
          <div class="clearfix-text">No stories at this time.</div>
          {% endif %}

          {% include "src/site/includes/pagination.drupal.liquid" %}
        </article>
      </div>
    </div>
  </main>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
