{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true %}
<div class="interior" id="content">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
      <h1 id="article-heading">{{ title }}</h1>
      <div class="va-introtext">
        {% include "src/site/includes/dynamic-content.drupal.liquid" with
          entity = fieldCcIntroText.fetched
          contentType = fieldCcIntroText.fetchedBundle
        %}
      </div>

      <nav id="table-of-contents">
        <h2 class="vads-u-margin-bottom--2 vads-u-font-size--lg">On this page</h2>
        <ul class="usa-unstyled-list"></ul>
      </nav>

      {% include "src/site/includes/dynamic-content.drupal.liquid" with
        entity = fieldCcTopOfPageContent.fetched
        contentType = fieldCcTopOfPageContent.fetchedBundle
      %}

      {{ fieldVamcVisitationPolicy.processed }}

      {{ fieldVamcOtherPolicies.processed }}

      {% include "src/site/includes/dynamic-content.drupal.liquid" with
        entity = fieldCcGenVisitationPolicy.fetched
        contentType = fieldCcGenVisitationPolicy.fetchedBundle
      %}

      {% include "src/site/includes/dynamic-content.drupal.liquid" with
        entity = fieldCcBottomOfPageContent.fetched
        contentType = fieldCcBottomOfPageContent.fetchedBundle
      %}

      {% include "src/site/includes/last-update.html" %}
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
