{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = false %}

<div class="interior" id="content">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      <div class="usa-width-three-fourths">
        <article class="usa-content va-l-facility-detail">
          {% if entityLabel != empty %}
            <h1>{{ entityLabel }}</h1>
          {% endif %}

          {% if fieldIntroText != empty %}
            <div class="va-introtext">
              <p>{{ fieldIntroText }}</p>
            </div>
          {% endif %}

          <h2 class="vads-u-font-size--xl vads-u-margin-top--3 medium-screen:vads-u-margin-top--5 vads-u-margin-bottom--2p5 medium-screen:vads-u-margin-bottom--3" id="main-location">Main location</h2>
            {% include "src/site/includes/vet_center_address_phone_image.liquid" with
                vetCenter = fieldOffice.entity
            %}

        </article>
      </div>
    </div>
  </main>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
