@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../../platform/forms/sass/m-form-confirmation" as *;

.need-help-container {
  width: 642px;
  @media (max-width: $small-screen) {
    width: 100%;
  }
}

@media (max-width: $small-screen) {
  .form-22-1919-container {
    padding-inline: 0.8rem;
  }

  .form-22-1919-container .schemaform-buttons,
  .form-22-1919-container .form-progress-buttons {
    display: flex;
    flex-direction: column !important;

    div {
      width: 100%;
    }

    div:first-of-type {
      order: 2;
    }
  }

  .form-22-1919-container .schemaform-buttons,
  .form-22-1919-container .form-progress-buttons {
    display: flex;
    flex-direction: column !important;

    div {
      width: 100%;
    }

    div:first-of-type {
      order: 2;
    }
  }
  .form-22-1919-container va-button[text="Cancel adding this individual"] {
    width: 100%;
  }
}

.custom-classname {
  display: block !important;
}

va-accordion-item[data-chapter="institutionDetailsChapter"] {
  #institutionHeading {
    text-align: left;
  }

  dl.review .review-row:has(#institutionHeading) {
    flex-direction: column;
  }

  .va-address-block {
    margin-left: 0 !important;
  }
}
