{% assign isInAbout = false %}
{% assign lastMenu = sidebarData.links | last %}
{% assign aboutMenu = lastMenu.links | map: 'url' %}
{% assign deepLinksString = sidebarData.links | findCurrentPathDepthRecursive: entityUrl.path %}
{% assign deepLinksObj = deepLinksString | jsonToObj %}

{% comment %} A "depth" of 1 means that this page is the root level page. {% endcomment %}
{% assign depth = deepLinksObj.depth  %}

{% assign isInAbout = aboutMenu | isAboutItem: entityUrl.path %}
{% assign deepLinks = deepLinksObj.link.links %}

<script nonce="**CSP_NONCE**" type="text/javascript">
    window.sideNav = {{ sidebarData | json }};
</script>

{% comment %} React Widget located in `src/platform/site-wide/side-nav` {% endcomment %}
<nav data-template="navigation/facility_sidebar_nav" aria-label="secondary" data-widget-type="side-nav"></nav>
