@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins" as *;

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;

  .loading-indicator {
    margin-bottom: 1.75em;
  }

  p {
    text-align: center;
    line-height: 40px;
  }

  @include media(var(--medium-screen)) {
    max-width: 75%;
  }
}
