.caregiver-confirmation {
  .print-detials {
    display: none;
  }
}

@media print {
  .schemaform-title {
    display: none;
  }

 .caregiver-confirmation {
   .print-detials {
     display: flex;
     flex-direction: column;

     img {
       width: 240px;
       margin-bottom: 24px;
     }
   }

  .usa-alert, .usa-alert-success {
    display: none;
  }


   .claim-list {
     display: none;
   }
   .inset {
     display: none;
   }

   p {
     margin: 10px 0;
   }
  }
}
