.caregivers-intro {
  ul {
    li {
      margin: 12px 0;
    }
  }

  .call-to-action-bullet {
    display: list-item;
    flex-direction: column;

    a {
      &:visited {
        color: #004795;

        abbr {
          color: #004795;
        }
      }
    }
  }
}
