.need-help-footer {
  box-sizing: border-box;
  padding: 0 10px;

  section {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  hr {
    background: #0071bc;
    height: 2px;
    width: 600px;
  }
}
