.pdf-download-link--loading {
  display: flex;
  flex-direction: row;
  align-items: center;

  .loading-indicator {
    height: auto;
    margin: 0rem 1rem 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .loading-indicator-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.6rem;
  }

  .loading-indicator-container .loading-indicator:after {
    height: 1rem;
    width: 1rem;
    align-self: center;
  }
}

.pdf-download-link--error {
  display: flex;
  flex-direction: column;

  .error-note {
    display: flex;

    i {
      margin-top: 0.4em;
    }

    p {
      margin: 0;
      color: $color-gray-dark;
    }
  }

  a {
    display: flex;
    cursor: not-allowed;

    i {
      margin-top: 0.4em;
    }
  }
}
