.signature-container {
  .signature-box {
    background-color: #f1f1f1;
    padding: 1px 12px 12px 12px;
    margin-bottom: 55px;

    .age-clause {
      margin: 35px 0;
    }

    h3 {
      margin-top: 20px;
    }
  }
}
