.signature-box {
  .on-behalf-representative {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 10px 0 0 0;
  }

  header {
    p + p {
      margin-bottom: 0;
    }
  }

  label:first-child {
    display: flex;
  }
}
