@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;

.onramp-app {
  .onramp-list-none {
    padding: 0;
    list-style: none;
  }

  .onramp-options-overview {
    border-radius: 0.25em;
    background-color: $vads-color-primary-alt-lightest;
    border: 1px solid $vads-color-primary-alt-light;
  }

  .not-good-fit-card {
    margin-top: 1.5em;
    padding: 1em 1em 1.5em;
  }

  va-radio::part(form-header) {
    margin-bottom: 0.25em;
  }

  va-card, .not-good-fit-card {
    ul {
      list-style-type: disc;
    }
  }

  @media screen and (max-width: 479px) {
    .print-button {
      width: 100%;
    }
  }
}
