@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "../../../platform/forms/sass/m-form-confirmation";

.form-id {
  margin-top: -1.5rem;
  @media print {
    margin-top: 0;
  }
}
.signature-box--legend {
  color: inherit;
  float: left;
}
.privacy-statement-lede {
  text-transform: uppercase;
}