<div id="events-list-toggle"
     class="usa-width-two-thirds"
     role="group" aria-label="Events List Toggle">
        <div class="usa-grid usa-grid-full
        va-c-btn-group
        vads-u-margin-bottom--3
        medium-screen:vads-u-margin-bottom--4
        vads-u-display--flex
        vads-u-flex-direction--row
        medium-screen:vads-u-align-items--flex-start">
                {% if url contains 'past-events' %}
                        <a role="button" href="{{ url | regionBasePath | append: '/events' | prepend: '/' }}" class="
                        vads-u-flex--1
                        vads-u-margin-right--0
                        usa-button
                        usa-button-secondary
                        vads-u-font-weight--normal
                        no-left-button-right-radius-treatment
                        vads-u-padding--1p5"
                        >Upcoming events</a>
                        <a role="button" href="{{ url }}" class="
                        vads-u-margin-top--0
                        half-em-bottom-margin
                        vads-u-flex--1
                        usa-button
                        vads-u-font-weight--normal
                        no-right-button-left-radius-treatment
                        vads-u-padding--1p5"
                        >Past events</a>
                {% else %}
                        <a role="button" href="{{ url }}" class="
                        vads-u-flex--1
                        vads-u-margin-right--0
                        usa-button
                        vads-u-font-weight--normal
                        no-left-button-right-radius-treatment
                        vads-u-padding--1p5"
                        >Upcoming events</a>
                        <a role="button" href="{{ url | regionBasePath | append: '/events/past-events' | prepend: '/' }}" class="
                        vads-u-margin-top--0
                        half-em-bottom-margin
                        vads-u-flex--1
                        usa-button
                        usa-button-secondary
                        vads-u-font-weight--normal
                        no-right-button-left-radius-treatment
                        vads-u-padding--1p5"
                        >Past events</a>
                {% endif %}
        </div>
</div>
