<div id="events-list-toggle" class="vads-u-margin-bottom--3 medium-screen:vads-u-margin-bottom--4">
    <a href="/events" class="usa-button">Upcoming Events</a>
    <a href="/past-events" class="usa-button usa-button-disabled">Past Events</a>
</div>