{% comment %}
    This is used for Facility details pages and (A-Z) Health Services page
{% endcomment %}
<div class="usa-width-one-third">
    <a href="/{{ path }}/appointments" class="usa-button usa-button-primary">Make an appointment</a>
</div>
<div class="usa-width-one-third">
    <a href="/{{ path }}/become-a-patient" class="usa-button usa-button-primary">Become a patient</a>
</div>
<div class="usa-width-one-third">
    <a  href="/{{ path }}/pharmacy" class="usa-button">Pharmacy</a>
</div>