<div id="events-list-toggle"
     class="va-c-btn-group vads-u-margin-bottom--3 medium-screen:vads-u-margin-bottom--4"
     role="group" aria-label="Events List Toggle">
    {% if url contains 'past-events' %}
        <a role="button" href={{ url | remove_first: 'past-events' }} class="usa-button usa-button-secondary">Upcoming events</a>
        <a role="button" href={{ url }} class="usa-button">Past events</a>
    {% else %}
        <a role="button" href={{ url }} class="usa-button">Upcoming events</a>
        <a role="button" href="{{ url }}/past-events" class="usa-button usa-button-secondary">Past events</a>
    {% endif %}
</div>