{% comment %}
    This is used for Facility details pages and (A-Z) Health Services page
{% endcomment %}
<div data-template="facilities/facilities_health_services_buttons" class="vads-l-row">
    <div class="medium-screen:vads-l-col--4 vads-l-col--12 vads-u-margin-right--2p5">
        <a class="usa-button vads-u-margin-top--1 vads-u-margin--0 vads-u-width--full vads-u-font-size--md" href="/{{ path }}/make-an-appointment" onClick="recordEvent({ event: 'cta-primary-button-click' });">Make an appointment</a>
    </div>
    <div class="medium-screen:vads-l-col--4 vads-l-col--12 vads-u-margin-right--2p5">
        <a class="usa-button vads-u-margin-top--1 vads-u-margin--0 vads-u-width--full vads-u-font-size--md" href="/{{ path }}/register-for-care" onClick="recordEvent({ event: 'cta-primary-button-click' });">Register for care</a>
    </div>
    <div class="medium-screen:vads-l-col--4 vads-l-col--12 vads-u-text-align--right vads-u-flex--fill">
        <a class="usa-button vads-u-margin-top--1 vads-u-margin--0 vads-u-margin-x--0 vads-u-width--full vads-u-font-size--md" href="/{{ path }}/pharmacy" onClick="recordEvent({ event: 'cta-primary-button-click' });">Pharmacy</a>
    </div>
</div>
