{% comment %}
    This is used for Region Landing page and Contact us page
{% endcomment %}
<div class="usa-width-one-third">
    <a class="usa-button" href="/{{ path }}/appointments">Make an appointment</a>
</div>
<div class="usa-width-one-third">
    <a class="usa-button" href="/{{ path }}/health-services">View A-Z Health Services</a>
</div>
<div class="usa-width-one-third">
    <a class="usa-button" href="/{{ path }}/become-a-patient">Become a patient</a>
</div>