{% comment %}
    This is used for Region Landing page and Contact us page
{% endcomment %}
<div data-template="facilities/main_buttons" class="vads-l-row">
    <div class="medium-screen:vads-l-col--4 vads-l-col--12 vads-u-margin-right--2p5">
        <a class="usa-button vads-u-margin-top--1 vads-u-margin--0 vads-u-width--full vads-u-font-size--md" href="/{{ path }}/make-an-appointment">Make an appointment</a>
    </div>
    <div class="medium-screen:vads-l-col--4 vads-l-col--12 vads-u-margin-right--2p5">
        <a class="usa-button vads-u-margin-top--1 vads-u-margin--0 vads-u-width--full vads-u-font-size--md" href="/{{ path }}/health-services">View all health services</a>
    </div>
    <div class="medium-screen:vads-l-col--4 vads-l-col--12 vads-u-text-align--right vads-u-flex--fill">
        <a class="usa-button vads-u-margin-top--1 vads-u-margin--0 vads-u-margin-x--0 vads-u-width--full vads-u-font-size--md" href="/{{ path }}/register-for-care">Register for care</a>
    </div>
</div>
