@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

/* List styling */
ul {
    list-style-position: inside;
    list-style-type: none;
    padding-left: 0;
}

ul.bulleted-list {
    list-style-type: initial;
}

/* Miscellaneous */
hr {
    margin: 0;
}
