@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.clinic-information i {
    padding-right: 0.5em;
}

/* Lab results */
.lab-results h4 {
    margin-bottom: 0;
}

/* Miscellaneous */
hr {
    margin: 0;
}
