.gi-app {

  ul.react-autosuggest__suggestions-list {
    background: $color-white;
    border: 1px solid $color-gray;
    box-shadow: 0px 3px 3px -3px #3e94cf,
                3px 0 3px -3px #3e94cf,
                -3px 0 3px -3px #3e94cf,
                0 7px 7px -7px #3e94cf,
                7px 0 7px -7px #3e94cf,
                -7px 0 7px -7px #3e94cf;
    list-style: none;
    margin-top: -.5rem;
    max-width: 46rem;
    padding: 0;
    position: relative;

    @media(max-width: $small-screen) {
      font-size: 1.3rem;
    }
  }

  li.react-autosuggest__suggestion {
    padding: .5rem 1rem;

    &--focused {
      background-color: $color-primary-alt-light;
    }
  }

}
