.gi-app .profile-page {

  li button.usa-accordion-button {
    text-align: left;

    h2 {
      font-size: 1.35em;
      padding: 0;
    }
  }

  .calculate-your-benefits {
    h3 {
      font-size: 1.35em;
    }

    div.eligibility-details h2 {
      display: none;
      visibility: hidden;
    }

    button {
      color: $color-primary;
      margin: 0.5em 0;
      padding: 1rem 2rem;
    }

    .form-expanding-group-open {
      margin-bottom: 3rem;

      @media screen and (min-width: $small-screen) {
        border-left: none;
        padding-left: 0;
      }
    }

    .calculator-result {
      .value {
        text-align: right;
      }

      &.bold {
        font-weight: bold;
      }
    }
  }

  .programs.row {
    h3 {
      font-size: 1.35em;
    }
    .fa-check {
      color: $color-green;
    }
    .fa-remove {
      color: $color-gray-medium;
    }
  }

  .your-estimated-benefits {
    background: $color-gray-lightest;
    padding: 1.5rem;

    hr {
      border: 1px solid $color-primary-darkest;
    }
  }

  .out-of-pocket-tuition {
    margin-bottom: 1rem;
  }

  .per-term-section {
    & + .per-term-section {
      margin-top: 1.5rem;
    }
  }

  .usa-alert {
    background-size: 3rem;
  }

  .outcomes.row {
    h3 {
      font-size: 1.35em;
    }
  }

  .outcomes .lml {
    display: block;
    float: left;
    margin-left: 0.5em;
    margin-top: 0.2em;
  }

  .outcomes .column > h3 {
    display: block;
    float: left;
  }

  .outcomes .graph-component {
    clear: both;
  }

  .graph-key {
    margin-top: 1rem;

    @include media-maxwidth($medium-large-screen) {
      width: 200%;
    }
  }

  .cautionary-information {
    .table .number {
      text-align: left;
    }

    .list {
      h4 {
        padding: 0.5em 0 !important;
      }
      .number {
        text-align: right;
      }
      margin-bottom: 1em;
    }

    @media screen and (min-width: $medium-screen) {
      .list {
        display: none;
        visibility: hidden;
      }
    }

    @include media-maxwidth($medium-screen) {
      .table {
        display: none;
        visibility: hidden;
      }
    }
  }

  .student-complaints {
    margin: 1rem 0;

    @media screen and (min-width: $medium-screen) {
      h4, span {
        float: left;
        line-height: 4rem;
      }

      span {
        margin-left: 0.5em;
        margin-top: 0.2em;
      }
    }
  }

  .additional-information {
    h3 {
      font-size: 1.35em;
      padding-top: 1.5em !important;
    }

    .historical-information.list {
      div {
        margin-bottom: 0.5em;
      }
    }

    @media screen and (min-width: $medium-screen) {
      .historical-information.list {
        display: none;
        visibility: hidden;
      }
    }

    @include media-maxwidth($medium-screen) {
      .historical-information.table {
        display: none;
        visibility: hidden;
      }
    }
  }
}
