.ui-autocomplete {
  max-height: 200px;
  max-width: 50%;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
 
    @media #{$small-only} {
        max-width: 85%;
    }

}

.outcome-measure{
    margin: 1rem 1rem 1rem  0;
    padding: 1rem;
    min-height: 290px;
}
