.gi-preview-banner {
  div.outer {
    background: $color-gold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    z-index: 1000;
  }

  div.inner {
    margin: 0;
    padding: 0.8em 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100;

    h5 {
      font-size: 0.8em;
      margin: 0 !important;
      padding: 0 !important;
    }

    p {
      font-size: 0.8em;
      margin: 0;

      .actions {
        bottom: 0;
        position: absolute;
        right: 2em;
        white-space: nowrap;
      }
    }
  }
}
