@media print{

    #additional-resources{display:none;}
    #footer{display:none;}
    #horiz-filters-noprint{display:none;}
    #backtosearch-noprint{display:none;}
    .add-resources{display:none;}
}