#root_relativeSocialSecurityNumber-label {
  margin-bottom: 15px;
  margin-top: unset;
}

#root_view\:noSSN ~ .schemaform-label {
  margin-top: 3rem;
}

.process ul.vads-u-margin-bottom--0 {
  margin-bottom: 0 !important; // Override .process ul
}
