@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/va-pagination";
@import "partials/gi-vet-tec";
@import "partials/gi-preview-banner";
@import "partials/gi-autocomplete";
@import "partials/gi-compare-drawer";
@import "partials/gi-compare-page";
@import "partials/gi-modal";
@import "partials/gi-search-page";
@import "partials/gi-profile-page";
@import "partials/gi-search-controls";
@import "partials/gi-search-form";
@import "partials/gi-search-location";
@import "partials/gi-back-to-top";
@import "partials/gi-filter";

.gi-app {
  div.military-status-info {
    font-size: 0.9em;
    padding: 1em;
    margin-top: 1em;
    max-width: 460px;

    &.warning {
      background-color: $color-gold-lightest;
    }

    &.info {
      background: $color-primary-alt-lightest;
    }

    i.fa {
      padding-right: 0.4em;
    }
  }
  .about-this-tool {
    margin-top: 1em;

    a {
      // background-image: none;
      text-align: center;
      font-family: $font-sans;
      font-size: 1.36rem;
      line-height: 4rem;
      margin-right: 2.5rem;
      margin-bottom: 2rem;

      @include media-maxwidth($small-screen) {
        font-size: 1.2rem;
        text-align: left;
        margin: 0;
        line-height: 1.2rem;
      }

      a.link {
        @include media-maxwidth($small-screen) {
          margin-left: 1rem;
          padding: 0.5rem;
        }
      }
    }
  }

  .disclaimer {
    margin: 1em 0;
    padding: 0;
    border-top: 1px solid $color-gray-light;
    z-index: 500;
    color: $color-gray-dark;
    background: $color-white;
  }

  select.hide-arrows {
    background-image: none;
  }

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
    select:disabled {
      background-color: $color-gray-lightest;
    }
  }

  .search-result {
    i.fa {
      background: initial;
      color: initial;
    }
  }

  .benefit-notification {
    padding-top: 1em;
  }

  h1:focus,
  h2:focus,
  h3:focus,
  nav {
    margin-left: 0.5rem;
  }

  @media (max-width: 481px) {
    .about-this-tool-mobile {
      padding-left: 20px;
    }
  }

  .gibct-legend {
    margin-top: 1rem;
    display: block;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    max-width: 46rem;
    padding-bottom: 0;
  }

  /*
   * These styles override our overly broad accordion styles
   */
  .learn-more-button {
    background-image: none !important;
    font-weight: inherit !important;
  }

  .gids-radio-buttons {
    position: relative;
    @include media($small-screen) {
      display: flex;
    }
    padding-left: 0.5rem;
  }

  .program-description {
    margin-top: 1rem;
    margin-bottom: 1rem;
    label {
      margin-left: 1.7rem;
    }
  }

  .gids-radio-buttons-input {
    width: 40px;
  }

  .section-item {
    padding-bottom: 0.188em;
    padding-top: 0.188em;

    .section-button {
      border: 2px solid $color-gray-light !important;
      margin: 0px;
    }

    .section-button-span {
      padding-right: 2rem;
    }

    .section-content {
      max-width: 25em;
    }

    .section-content-expanded-width{
      max-width: 100%;
    }

    .section-content[aria-hidden="false"] {
      margin-bottom: 0.625em;
    }
  }

  .caution-flag-toggle {
    display: block;
    color: $color-gray-dark;
    background-color: transparent;
    padding: 0px;
    margin: 0px;

    i {
      font-size: 16px;
    }
  }
}

.section-item,
.accordion-item {
  margin-bottom: 5px;
  list-style-type: none !important;

  h2.accordion-button-wrapper {
    margin: 0;
  }
}

.school-classification {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.school-header {
  background-color: rgb(63, 87, 166);
}
.employer-header {
  background-color: rgb(34, 130, 127);
}
.vettec-header {
  background-color: rgb(162, 56, 55);
}

.preferred-provider-text {
  font-size: 14px;
}

.asterisk-text {
  font-size: 12px;
}

.capitalize-value {
  text-transform: capitalize;
}

.main-title {
  padding-right: 9em;
  @media (max-width: 1004px) {
    padding-right: 0;
    text-align: left;
  }
  @media (max-width: $small-screen) {
    text-align: center;
  }
}

.tool-description {
  text-align: center;
  padding-bottom: 2em;
  padding-right: 9em;

  @media (max-width: 1004px) {
    padding-right: 0;
    text-align: left;
  }

  @media (max-width: $small-screen) {
    padding-left: 20px;
    padding-bottom: 1em;
    padding-right: 0;
  }
}

.small-screen-font {
  @media (max-width: $small-screen) {
    font-size: 15px;
  }
}
.small-screen-header {
  @media (max-width: $small-screen) {
    font-size: 17px;
  }
}
.card-bottom-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gi-mission-filter-fieldset {
  margin-top: -30px;
  border: 0.5px;
}
