// Variables

@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";
@import "~@department-of-veterans-affairs/formation/sass/modules/va-pagination";

// Privacy agreement?
.form-required-span {
  font-size: 1.7em;
  line-height: 0;
  position: relative;
  top: 10px;
}

.edu-benefits-dependents-desc {
  margin-top: 5px;
}

.edu-dd-warning {
  margin-top: 3rem;
}

.row .edu-intro-spacing {
  margin-bottom: 7rem;
}

.search-select-school-fieldset {
  .search-controls {
    display: flex;
    flex-wrap: nowrap;
    input {
      margin-right: 10px;
    }

    button {
      max-width: 150px;
    }
  }

  .radio-button {
    input[type="radio"] {
    }

    span {
      background-color: #f1f1f1;
      display: inline-block;
      margin-left: 25px;
      width: 100%;

      &.institution-name {
        color: #0071BC;
        font-size: 35;
        font-weight: bold;
        padding: 10px 0 0 10px;
        text-decoration: underline;
      }
      &.institution-city-state {
        font-size: 30;
        font-weight: bold;
        padding: 0 0 10px 10px;
      }
    }

    label {
      margin: 0;
      &::before {
        position: relative;
        top: 45px;
      }
    }
  }
}
