// TODO: Update the paths so they import from the
// vets-website repo (or other designated common)
// elements version of these files.

@import "../style";
@import "../modules/m-modal";

// TODO: Contributed these back to core / Vanguard.
@import "_partials/va-tabs";
@import "_partials/va-pagination";

// RX-specific partials
@import "_partials/rx-contact-card";
@import "_partials/rx-detail";
@import "_partials/rx-disclaimer";
@import "_partials/rx-glossary";
@import "_partials/rx-history";
@import "_partials/rx-modal";
@import "_partials/rx-prescriptions";
@import "_partials/rx-sort-list";
@import "_partials/rx-table";

// TODO: Replace this with a clearfix mixin
// from USWDS or something
.cf {
  &::before,
  &::after {
    content: ' ';
    display: table;
    clear: both;
  }
}

/* For IE <= 10 */
[hidden] {
  display: none !important;
}

.rx-app {
  background: $color-white;
  padding: 3rem 1.5rem;
  margin: auto;
  max-width: $site-max-width;
}

// Enhances a USWDS style that has higher specificity.
// Do not refactor.
button.usa-button-outline {
  font-weight: bold;
}

// Enhances a USWDS style that has higher specificity.
// Do not refactor.
button.usa-button-outline {
  font-weight: bold;
}

.rx-header {
  margin-bottom: 3rem;
}

.rx-title {
  margin-bottom: 0;
  + p {
    margin: 0 0 3rem;
  }
}

.rx-active-disclaimer {
  margin: 0 0 3rem;
}

.rx-refill-form {
  display: inline-block;
  padding: 0;
}

// Used to make functional buttons look like links.
.rx-trigger {
  background: transparent;
  color: $color-link-default;
  font-size: inherit;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  padding: 0 !important;
  text-align: left;
  text-decoration: underline;
  width: auto !important;
  
  &:hover {
    background: rgba(0, 0, 0, 0.05);
    color: $color-link-default;
    text-decoration: inherit;
  }
}

// TODO: Contribute this back to core
.va-required-span {
  color: $color-secondary-dark;
}
