$indigo-cool-60: #3f57a6;
$red-60: #a23737;
$mint-cool-50: #21827f;
$orange-warm-50: #bd5727;
$green-cool-50: #3e8520;
$gold-50: #8e704f;
$green-warm-50: #6f7a41;
$blue-50: #357ab2;
$violet-warm-60: #864381;
$color-orange: #EB7F29;
$color-gold-darker: #988530;
$color-light-blue: #0071bb;
$color-old-browser-background-start: #0071bb;
$color-old-browser-background-end: #112e51;
$color-white: #fff;