.va-c-story-teaser {
  img {
    max-height: 150px;
  }
}

.va-c-white-box {
  width: 220px;
}

.va-c-blue-line {
  width: 40px;
}

.va-c-promo {
  min-width: 280px;
  width: 280px;
}

.va-c-link-teaser {
  min-width: 280px;
  width: 280px;
}
