// Facilities Hub
.facility-main-cta {
  margin: 8px 0;
}

.facility-main-cta-item {
  border-left: 4px solid $color-link-default;
  background-color: $color-primary-alt-lightest;
  height: 40px;
  margin-right: 24px;
  padding-top: 5px;
  padding-left: 16px;
  &:last-child {
    margin-right: 0;
  }
  a {
    color: #3f77b0;
    text-decoration: none;
  }
}
.hub-section-link {
  border-top: solid #9adaf0;
  height: 56px;
}
.hub-section-link-last-line {
  border-bottom: solid #9adaf0;
}
.usa-button-secondary>a {
  text-decoration:  none;
  padding-right: 15px;
  &:after {
    content: fa-content($fa-var-chevron-right);
  }
}
