@import "~@department-of-veterans-affairs/formation/sass/modules/va-pagination";
// Facilities Hub
.vads-facility-main-cta {
  border-left: 4px solid $color-link-default;
  background-color: $color-primary-alt-lightest;
  min-height: 40px;
  padding: 8px 14px;
  a {
    text-decoration: none;
  }
}
.vads-facility-hub-cta {
  border-top: 1px solid $color-primary-alt-light;
  height: 73px;
  line-height: 73px;
  position: relative;

  & > a {
    text-decoration: none;
    display: inline-block;
  }
}
.vads-facility-hub-cta-label {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  margin-left: 48px;
}
.vads-facility-hub-cta-circle {
  color: $color-primary-darker;
  height: 32px;
  width: 32px;
  background-color: $color-primary-alt-lightest;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  padding: 8px 10px;

  &.fa-calendar-check,
  &.fa-comments {
    padding: 8px;
  }
  &.fa-file-medical {
    padding: 8px 11px;
  }
}
.vads-facility-hub-cta-arrow {
  font-size: 10px;
  padding-left: 4px;
}

.vads-facility-hub-cta-last-line {
  border-bottom: 1px solid $color-primary-alt-light;
}

.vads-facility-hub-button > a {
  text-decoration: none;
}

dl.facility-opstatus-dl {
  .full-list-row {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-bottom: 2px solid $color-gray-light;
    &:last-child {
      border-bottom: none;
    }
    .yellow-dash {
      border-bottom: dotted 2px yellow;
    }
    .red-dash {
      border-bottom: dotted 2px red;
    }
    .half-list-row {
      display: inline-block;
      width: 50%;
    }
    .dl-legend {
      font-weight: bold;
    }
    .fa {
      color: black;
    }
    .ops-status {
      text-transform: capitalize;
      cursor: pointer;
    }
    .ops-hidden {
      display: none;
    }
    .operating-caret {
      vertical-align: text-bottom;
      font-size: 120%;
    }
  }
}
