// Facilities Hub
.facility-main-cta {
  margin: 8px 0;
}

.facility-main-cta-item {
  border-left: 4px solid $color-link-default;
  background-color: $color-primary-alt-lightest;
  height: 40px;
  margin-right: 14px;
  padding-top: 5px;
  padding-left: 14px;
  &:last-child {
    margin-right: 0;
  }
  a {
    color: #3f77b0;
    text-decoration: none;
  }
}
.facility-hub-cta-item {
  border-top: 1px solid $color-primary-alt-light;
  height: 73px;
  line-height: 73px;
  position: relative;

  span {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
    margin-left: 48px
  }
  a {
    text-decoration: none;
  }
}
.facility-hub-cta-item-circle {
  color: $color-primary-darker;
  height: 32px;
  width: 32px;
  background-color: $color-primary-alt-lightest;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  padding: 8px 10px;
}
.facility-hub-cta-item-arrow {
  font-size: 10px;
  padding-left: 4px;
}

.facility-hub-cta-item-last-line {
  border-bottom: 1px solid $color-primary-alt-light;
}
.usa-button-secondary>a {
  text-decoration:  none;
}
