/*
  Search and Common tasks hub on home page

  Homepage iteration
  Date: April 2022
  Author: allison@cityfriends.tech
*/

.homepage-common-tasks {
  &__wrapper {
    background: linear-gradient(to right, $color-gray-lightest, $color-white);
  }

  &__list {
    list-style: none;
    padding-left: 0;

    li {
      // font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__search {
    input[type="search"] {
      display: inline-block;
      height: 37px;
      padding: 0;
      width: 76%;
      border: 2px solid $color-gray-dark;
    }

    button {
      display: inline-block;
      width: 20%;
      border-radius: 0 5px ;
    }
  }

  &__search-tools {
    ul {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
}