#homepage-benefits {
  padding-top: 3em;
}

#homepage-popular {
  padding-top: 3em;
  padding-left: 0.5em;
  padding-right: 0.5em;

  @include media($medium-large-screen) {
    padding-left: 1em;
    padding-right: 1em;
  }

  @include media($large-screen) {
    padding-left: 0;
    padding-right: 0;
  }
}

// new pattern, but specific to homepage only
.homepage-button {
  width:100%;
  height: 85px;
  padding: 0;
  margin: 0 0 16px;
  display: inline-block;
  color: $color-white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  &:hover, &:focus, &:visited {
    color: $color-white;
    text-decoration: none;
  }

  .icon-wrapper {
    width: 55px;
    height: 100%;
    float: left;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    &.vcl {
      content: "";
      background: url(/img/vcl-logo-white.png) no-repeat;
      background-size: 2em auto;
      background-position: center;
    }
  }

  &-icon-sign-in.fa::before {
    left: -10.75px !important;
  }

  .button-inner {
    margin-left: 55px;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .fa {
    font-size: 1.5em;
    display:inline-block;

    &.fa-user-circle {
      font-size: 1.5em;
      padding-right: .3em;
    }

    &::before {
      position: absolute;
      margin: 0;
      top: 15px;
      left: -7.75px;
    }
  }

  // .vcl {
  //   content: "";
  //   display: block;
  //   background: url(/img/vcl-logo-white.png) no-repeat;
  //   background-size: 100%;
  //   width: 2em;
  //   height: 2em;
  //   margin-top:32.5px;
  // }

  &.primary-darker {

    .icon-wrapper {
      background-color: $color-primary-darker;
    }

    background-color: $color-primary;
  }

  &.secondary-dark {

    .icon-wrapper {
      background-color: $color-secondary-darkest;
    }
    background-color: $color-secondary-dark;
  }
}
