/*
  Search and Common tasks hub on home page

  Homepage iteration
  Date: September 2022
  Author: bryan@kindsys.us
*/

// Rename this appropriate if it gets approved.
$color-not-in-design-system-blue: rgb(196, 230, 255);

.homepage-common-tasks {
  &__wrapper {
    background: linear-gradient(
      to right,
      $color-not-in-design-system-blue 0 50%,
      $color-white 50% 100%
    );
  }

  &__list {
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  &__search-tools {
    ul {
      list-style: none;
    }
  }
}
