/*
  Email Updates Signup on home page

  Homepage iteration
  Date: September 2022
  Author: bryan@kindsys.us
*/
.homepage-email-updates-signup {
  &__wrapper {
    background: $color-not-in-design-system-blue;
  }
}
