// Override path variables for imported frameworks

$font-path: "~uswds/src/fonts";
$image-path: "~uswds/src/img";
$formation-image-path: "~@department-of-veterans-affairs/formation/assets/img";
$formation-font-path: "~@department-of-veterans-affairs/formation/assets/fonts";
