// This file can be removed post-launch, as it only exists on Vets.gov.
#preview-banner {
  color: $color-gray-dark;
  margin-top: 0;
}

#preview-screenshot {
  display: block;
  border: 1px solid $mm-gray;
  margin-bottom: 25px;
}

#preview-the-new-va-gov {
  margin-bottom: 55px;
}
