table.responsive {
  font-family: "Open Sans", sans-serif;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;

  th {
    vertical-align: bottom;
  }

  tr {
    padding: 0.35em;
  }

  td {
    word-wrap: break-word;
    vertical-align: top;
  }
}

@media screen and (max-width: $medium-screen) {
  
  table.responsive {
    border: 0;
    thead {
      border: none;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      display: block;
      border-bottom: 1px solid #757575;

      &:first-child {
        border-top: 1px solid #757575 !important;
      }
    }

    td {
      display: block;
      border: none;
      font-size: 16px;
    }

    td::before {
      /*
  * aria-label has no advantage, it won't be read inside a table
  content: attr(aria-label);
  */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      padding-right: 4px;
    }

    td:last-child {
      border-bottom: 0;
    }
  }
}
