.veteran-banner {
  @include linear-gradient-background($white, $mm-gray);
  margin: 1.5em auto 0;
  padding: 0 0.5em;
  @include media($small-desktop-screen) {
    margin-top: 2.5em;
  }
}

.homepage-hub {
  .veteran-banner {
    background: $color-old-browser-background-end;
  }
}

.veteran-banner-container {
  max-width: 1280px;
  margin: 0 auto;
}

.veteran-banner-image {
  width: 100%;
}
