@import "~@department-of-veterans-affairs/formation/sass/base/b-variables";

.veteran-banner {
  // @todo Waiting for mixin to be published in Design System
  // background-color: linear-gradient-background($white, $mm-gray);
  background: linear-gradient(to bottom, #fff 0%,#f1f1f1 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding-top: 2.5em;
}

.veteran-banner-desktop, .veteran-banner-mobile {
  margin: 0 auto;
  display: block;
}

.veteran-banner-desktop {
  display: none;
}

@include media($medium-screen) {
  .veteran-banner-desktop {
    display: block;
  }
  .veteran-banner-mobile {
    display: none;
  }
}
