@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.benefit-eligibility-questionnaire .confirmation-page p,
.benefit-eligibility-questionnaire article p,
.benefit-eligibility-questionnaire form > div:first-of-type * {
  width: 75ch !important;
}

.benefit-eligibility-questionnaire .row {
  margin-left: 0;
  margin-right: 0;
}

#filters-section-desktop {
  @media (min-width: $medium-screen) {
    border-right: 2px solid var(--vads-color-gray-medium);
    padding-right: 20px;
  }
}

#filters-section-desktop select {
  margin-bottom: 35px;
}

#filters-section-mobile-toggle {
  margin-bottom: 20px;
  @media (min-width: $small-screen) {
    display: none;
  }
}

#save-your-results {
  @media (max-width: $small-screen) {
    width: 100%;
  }
}

#url-input,
#copy-button {
  display: inline-block;
}

#url-input {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 80%;
}

#root_characterOfDischarge-label .schemaform-required-span {
  display: none;
}

#root_characterOfDischarge-label p .schemaform-required-span {
  display: inline;
}

#copy-alert {
  margin-top: 20px;
  & > p {
    margin-bottom: 0 !important;
  }
}

.benefit-list {
  list-style-type: none !important;
}

@media (max-width: 40.063em) {
  .vads-l-grid-container {

    .progress-box {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .form-progress-buttons {
    display: flex;
    flex-direction: column-reverse;

    .columns {
      width: 100%;
    }
  }
  .show-filters-section-mobile {
    padding-right: 20px;
    text-align: left;
  }
  .show-filters-section-mobile b {
    display: none;
  }
  .hide-filters-section-mobile {
    display: none;
  }

  .benefit-list {
    padding-left: 0;
  }
}
