@import '~@department-of-veterans-affairs/formation/sass/shared-variables';

.chart-box {
  background-color: transparent;
  height: 144px;
  position: relative;
  width: 144px;

  .donut {
    left: 0;
    position: absolute;
    top: 0;
  }
}

.disability-rating {
  color: $color-gray-dark;
  position: absolute;
  text-align: center;
  top: 42px;
  width: 144px;
}

.donut {
  height: 144px;
  width: 144px;
}

.donut-hole {
  fill: transparent;
}

.donut-ring {
  fill: transparent;
  stroke: $color-gray-lighter;
  stroke-width: 3;
}

.donut-data {
  fill: transparent;
  stroke: $color-link-default;
  stroke-dashoffset: 125;
  stroke-width: 3;
}
/*
@keyframes draw-stroke {
  to {
    stroke-dasharray: 80 20;
    opacity: 1;
  }
}
*/
