$formation-image-path: "~@department-of-veterans-affairs/formation/assets/img";
@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-nav-sidebar";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-nav-linkslist";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-nav-next-previous";

// Quick fix for table styling


.rated-disability-item-container {
    background-color: #f1f1f1;
    margin: 1em 0;
    padding: 1em;
}

.disability-item-label {
    font-weight: 700;
    margin: 0;
}
.disability-item-desc {
    margin: 0;
}