$formation-image-path: "~@department-of-veterans-affairs/formation/assets/img";
@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-nav-sidebar";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-nav-linkslist";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-nav-next-previous";

// Quick fix for table styling


.rated-disability-item-container {
    background-color: #f1f1f1;
    margin: 1em 0;
    padding: 0.5em 1em 1em;

    &:first-of-type {
        border-top: 1px solid $color-base;
    }
}

.disability-item-label {
    font-weight: 700;
}

.disability-item-name {
    font-weight: 700;
    margin: 3px 0 0 0;
    font-size: 1.75rem;
}

.disability-item-percentage {
    font-weight: 700;
    margin: 0;
    font-size: 2rem;
    text-align: right;
}

.disability-item-desc {
    margin: 0;
}

.disability-item-spacer {

    @media screen and (max-width: $medium-screen) {
        display: none;
    }
}