@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

@media (min-width: $medium-screen) {
  table {
    thead th {
      background-color: $color-white;
    }
    tr {
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: transparent;
    }
  }
}
