<h4 class="va-h-ruled">In-person assistance</h4>

<p>
<a href="/facility-locator/"><img src="/assets/images/map-generic.png" alt="Non-specific map image"></a>
Use the <a href="/facility-locator/">VA Facility Locator</a> to find a Veteran Service Organization or VA Office.</p>

<ul>
	<li><a href="http://www.va.gov/statedva.htm">State Veterans Affairs Offices</a></li>
	<li><a href="http://nacvso.org/find-a-service-officer/">County Veterans Affairs Offices</a></li>
</ul>

<h4 class="va-h-ruled">Phone assistance</h4>

<p>
1-800-555-1234
</p>

