<h4 class="va-supplement-title">In-person assistance</h4>
<p>
<a href="/facility-locator/"><img src="/assets/images/map-generic.png" alt="Non-specific map image"></a>
Use the <a href="/facility-locator/">VA Facility Locator</a>  to find a VA facility such as an office, medical center, and clinic. 
</p>

<ul>
  <li><a href="http://www.va.gov/statedva.htm">State Veterans Affairs Directors</a></li>
  <li><a href="http://nacvso.org/find-a-service-officer/">County Veterans Service Officers</a></li>
  <li><a href="http://www.va.gov/ogc/apps/accreditation/index.asp">Search for a Veteran Service Organizations</a>
</ul>

<h4 class="va-supplement-title">Phone assistance</h4>
<p class="va-phone-assitance">1-800-555-1234</p>

