@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
// @import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

va-alert ul {
	margin-bottom: 0;
}

.toe-form-featured-content {
	background-color: $color-gray-lightest;
	padding: 24px;
}

.toe-definition-list {
	margin: 0;
}
.toe-definition-list:after {
	clear: both;
	content: "";
	display: table;
}
.toe-definition-list_term,
.toe-definition-list_definition {
	float: left;
}
.toe-definition-list_term {
	clear: left;
	font-weight: bold;
	margin-top: 0;
}
.toe-definition-list_definition {
	margin-left: 1em;
}

// Review Page
.toe-review-page-only {
	display: none;
}
.form-review-panel-page .toe-review-page-only {
	display: block;
}
