@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../../../platform/forms/sass/m-form-confirmation" as *;
@use "../../../10182/sass/10182-nod" as *;

#main .progress-box {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  #main .form-panel,
  #main .schemaform-label {
    max-width: 40em;
  }
}

.task-list,
.chapter-list,
.issue-summary-list,
.review-pages {
  list-style: none;
}

article[data-location="task-list"] {
  li .task-list-link-wrap:first-of-type {
    border-top: 1px solid;
  }

  .help-footer-box {
    display: none;
  }
}

article[data-location="review-then-submit"] {
  .page-title {
    margin-top: 1rem;
  }
}

.form-progress-buttons {
  /* hide back button */
  .usa-button-secondary {
    display: none;
  }
  /* widen continue button */
  .small-6 {
    width: 50% !important;
  }
}

article[data-location="review-then-submit"],
article[data-location="review-then-submit2"] {
  /* Hide back/continue b/c rendering submit button */
  .form-progress-buttons {
    display: none;
  }
  /* hide when reviewing content. Shows when editing */
  dt .hide-on-review, dd .hide-on-review {
    display: none;
  }
}

.issue-title {
  text-transform: capitalize;
}

.issues .widget-wrapper .widget-checkbox-wrap {
  padding-top: 1rem;
}

/* Fix spacing */
va-radio,
va-radio::part(legend),
#root_additionalInfoUpload_add_label {
  margin-top: 0 !important;
}

.rjsf-web-component-field::part(legend) {
  margin-bottom: 2rem;
}

article[data-location="evidence-submission"] {
  .rjsf-web-component-field::part(legend) {
    margin-bottom: 0;
  }
}

.rjsf-object-field.vads-u-margin-y--2 {
  margin-top: 0 !important;
}
