@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.va-profile-btn {
  text-decoration: none;
}

// @todo Should this be a global change?
.va-profile-wrapper .va-modal-inner {
  max-height: 100%;
  overflow-y: auto;
}

.vet360-profile-field-content {
  &.usa-input-error {
    margin-top: 0;
  }
}

.button-link {
  background: $color-white;
  box-shadow: none !important;
}

.vet360-profile-field-transaction-pending {
  color: $color-primary;
  font-weight: bold;
}
