// Variables

@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../../platform/forms/sass/m-schemaform";
// @import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
// @import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";

.full-page-alert {
  margin-bottom: 2em;
}

ul.original-disability-list {
  li {
    margin-bottom: 0;
  }
}

.process-step:last-child {
  padding-bottom: 0;
}

.list-item-connector {
  display: block;
  margin: 0;
}

.blue-bar-block {
  border-left: 7px solid $color-primary;
  padding-left: 1em;

  p {
    margin: 0.5em 0;
  }
}

.progress-box .va-growable button {
  max-height: 2.3em;
}

// Bring the text of an element nested in a <label> up to the same line as the check box
.form-checkbox input[type="checkbox"] + label {
  div {
    display: inline-block;
    // Also give a little more space between the checkbox and the label
    padding-left: 0.7em;

    *:first-child {
      margin-top: 0;
    }
  }
}

// This could go in the schemaform css, but it isn't used anywhere but here for now
.widget-outline {
  padding: 1em;
  border: solid 4px $color-primary-alt-light;
  border-radius: 7px;
  margin-top: 0.5em;

  &.selected {
    border-color: $color-primary;
  }

  &:last-child {
    margin-bottom: 1em;
  }

  label {
    display: inline-block;
  }

  input[type="checkbox"] + label {
    // The former margin was to separate the checkbox from the elements above it, but now
    //  that we have the outline, we need to move the whitespace to the outside of the border.
    margin-top: 0em;
    margin-bottom: 0em;

    // Eliminate unnecessary margin inside the label component
    > div *:last-child {
      margin-bottom: 0em;
    }
  }
}

// removes gap when using multiple widget-outlines
.widget-outline-group {
  &:last-child {
    margin-bottom: 0;
  }
}

// Mimics usa-form-group-year minus the float and sets the max width so the
//  error formatting doesn't increase the size
.year-input {
  max-width: 7rem;
}

.patient-acknowldegment-help {
  max-width: 80vw;
}

.upload-completed-form .schemaform-widget-wrapper select {
  background: none;
  border: none;
  font-weight: bold;
  white-space: pre-wrap;
  height: auto;
  white-space: pre-wrap;
}

// Style fix for "Private medical records"
div.review {
  border-bottom: 1px solid $color-gray-light;
  .review-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-top: 1px solid $color-gray-light;
    padding: 1.5rem;
    padding-left: 0;
  }
  .review-row > dd {
    font-weight: bold;
    text-align: right;
  }
  .review-row > dt > p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: 481px) {
  div.review {
    .review-row {
      flex-direction: row;
    }
    .review-row > dd {
      padding-left: 5px;
      min-width: 100px;
    }
    .review-row > dt {
      max-width: 60%;
      min-width: 40%;
    }
  }
}
