<div class="financial-assessment">
  <div class="row">
    <div class="small-12 columns">
      <h3>Financial Assessment</h3>
    </div>
  </div>
{% include_relative _financial_assessment/_financial_disclosure.html %}
{% include_relative _financial_assessment/_spouse_information.html %}
{% include_relative _financial_assessment/_spouse_address.html %}
{% include_relative _financial_assessment/_children_information.html %}
{% include_relative _financial_assessment/_annual_income.html %}
{% include_relative _financial_assessment/_deductible_expenses.html %}
</div>

