/* stylelint-disable */
/* START Variables */
$small-screen: 360px;
$medium-large-screen: 750px;
$font-serif: Bitter, Georgia, Cambria, "Times New Roman", Times, serif;

$color-focus: #3e94cf;
$color-base: #212121;
$color-white: #ffffff;
$color-black: #000000;
$color-orange: #eb7f29;
$color-link-default: #004795;
$color-link-visited: #4c2c92;
$color-warning-message: #fac922;
$color-gibill-accent: #fff1d2;
$color-primary: #0071bb;
$color-primary-darker: #003e73;
$color-primary-darkest: #112e51;
$color-primary-alt: #02bfe7;
$color-primary-alt-dark: #00a6d2;
$color-primary-alt-darkest: #046b99;
$color-primary-alt-light: #9bdaf1;
$color-primary-alt-lightest: #e1f3f8;
$color-secondary: #e31c3d;
$color-secondary-dark: #cd2026;
$color-secondary-darkest: #981b1e;
$color-secondary-light: #e59393;
$color-secondary-lightest: #f9dede;
$color-gray: #5b616b;
$color-gray-dark: #323a45;
$color-gray-medium: #757575;
$color-gray-light: #aeb0b5;
$color-gray-light-alt: #eeeeee;
$color-gray-lighter: #d6d7d9;
$color-gray-lightest: #f1f1f1;
$color-gray-warm-dark: #494440;
$color-gray-warm-light: #e4e2e0;
$color-gray-cool-light: #dce4ef;
$color-green: #2e8540;
$color-green-dark: #1e5f2f;
$color-green-darker: #195c27;
$color-green-darkest: #0f3f1f;
$color-green-light: #7dbf7c;
$color-green-lighter: #94bfa2;
$color-green-lightest: #e7f4e4;
$color-gold: #fdb81e;
$color-gold-light: #f9c642;
$color-gold-lighter: #fad980;
$color-gold-lightest: #fff1d2;
$font-family-sans: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Bitter, Georgia, Cambria, "Times New Roman", Times, serif;
$font-serif: Bitter, Georgia, Cambria, "Times New Roman", Times, serif;
$font-source-sans: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
