@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

$anchor-font-size: 1.9rem;

// Font smoothing adjustment for macOS users
// https://github.com/department-of-veterans-affairs/va.gov-team/issues/54087
@media screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 2dppx) {
  h1,
  h2,
  h3 {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
}

.mhv-c-indicator::after {
  background-color: $color-red;
  content: "";
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  display: inline-block;
  margin-left: 1rem;
}

.mhv-u-list-style--none {
  list-style: none;
}

.mhv-c-navlistitem {
  margin: 0;

  &:not(:last-of-type) {
    border-bottom: 1px solid $color-gray-light;
  }

  .mhv-c-indicator::after {
    background-color: $color-red;
    border-radius: 1rem;
    content: "";
    display: inline-block;
    height: 1rem;
    margin-right: .5rem;
    width: 1rem;
  }

  > a {
    padding-bottom: units(2);
    padding-top: units(2);
  }
}

.mhv-u-grid-gap {
  &:not(:last-of-type) {
    margin-right: units(2);
  }
}

.mhv-logo {
  max-width: 262px;
}

.mhv-c-link-list {
  list-style-type: none;
  padding: 0;

  > li {
    margin: 0 0 units(2);
  }
}

.mhv-c-link {
  display: inline-block;
  font-size: $anchor-font-size;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

// Copied and adapted from va-link
.mhv-c-navlink {
  font-size: $anchor-font-size;
  display: inline-block;
  align-items: center;
  font-weight: 700;
  text-decoration: none;

  &:active,
  &:hover,
  &:visited {
    text-decoration: none;
  }

  i::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-size: 2.4rem;
    font-variant: normal;
    line-height: 1;
    margin-right: 0.8rem;
    text-rendering: auto;
  }

  i::before {
    content: "\f105"; /* fa-angle-right */
    margin-left: 0.8rem;
    margin-right: 0;
    vertical-align: middle;
  }
}

.visibility\:hidden {
  visibility: hidden;
}

@media (max-width: $medium-screen) {
  .mhv-c-navlink {
    display: flex;
    justify-content: space-between;

    i::before {
      margin-left: 4rem;
    }
  }
}
