.vass-form__button-container {
  row-gap: 16px;
}

.vass-flex-direction--column {
  flex-direction: column;
}

.vass-card-title {
  font-size: 24px;
  line-height: 31.2px;
  margin-top: 0;
}

.vass-card-container {
  padding: 36px 20px 20px 20px;
}