@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/va-tabs" as *;

$messaging-label-width: 6.25rem;

@mixin messaging-rectangular-button {
  background: var(--vads-color-white);
  border-radius: 0;
  border: 1px solid var(--vads-color-black);
  color: var(--vads-color-black);
  font-size: 0.9375rem;
  margin: 0;
  padding: 0.625rem;
  width: auto;

  &:focus,
  &:hover,
  &:active {
    background: var(--vads-color-white);
    color: var(--vads-color-black);
    border-bottom: 1px solid var(--vads-color-black);
  }

  &[disabled] {
    &,
    &:hover,
    &:active {
      color: var(--vads-color-base-dark);
      border-color: var(--vads-color-base-dark);
    }
  }
}

@use "partials/messaging-folder" as *;
@use "partials/messaging-moveto" as *;
