@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/formation-overrides/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../platform/forms/sass/m-form-confirmation" as *;

.autosuggest-list {
  max-height: 18.75rem;
}

.schemaform-title {
  display: block;
}

textarea#root_query {
  height: 25rem;
}

ul.claim-list {
  margin-bottom: 0;
  & li:last-child {
    margin-bottom: 0;
  }
}

.help-footer-box {
  @include media($medium-screen) {
    padding-top: 1.875rem;
  }
}
