table {
  border-spacing: 0;
  margin: 2em 0;
  min-width: 100%;

  thead {
    tr {
      background-colour: $colour-gray-lightest;
    }

    th {
      text-align: left;
    }
  }

  tbody {
    th {
      font-weight: $font-normal;
    }
  }

  th, td {
    border: 1px solid $colour-gray;
    padding: 1.5rem;
  }
}

.uk-table-borderless {
  thead {
    tr {
      background-colour: transparent;

      th {
        border-top: 0;
      }
    }
  }

  th, td {
    border-left: 0;
    border-right: 0;
  }
}
