// Checklists
// TODO: Remove ul.checklist, ol.checklist
// in favor of .va-list-checklist. Haven't
// found instances of any .checklist in the markup, but
// decided it was better to keep the code around, but not include it
// just in case we do need it.

ul.checklist,
ol.checklist,
.va-list-checklist {
  margin: 0 0 0 1.35em; 
  padding: 0;

  li {
    font-weight: 500;
    border-bottom: 1px solid #ccc; 
    padding: 1em 0;
      
    span {
      font-weight: normal; 
      font-size: 1em; 
      display: block; 
      margin-left: 2.25em; 
      color: $color-va-gray-cool-medium;
    }
     
    &:last-of-type {
      border-bottom: none;
    }
    
    h5 {
      font-size: 1.35em;
    }
    
    ul li {
      border-bottom: none;
      padding: .5em 0;
    
      span {
        background: rgba(0,0,0,.1); 
        display: block; 
        padding: 1em .5em; 
        text-align: center;
      }
    }

    ul {
      margin: 0 !important;
      padding: 0;
      text-align: center;
    
      svg {
        display: block; 
        margin: .25em auto;
      }

      li {
        padding: 0; 
        margin: 0;
      }
    
      &:before {
        margin: 0; 
        padding: 0;
      }
    
      span.type {
        background: rgba($secondary-color, .15);
        color: $color-primary-darkest; 
        margin: .25em .25em 1em .25em; 
         
        @media #{$small} {
          padding: 2.5em 1em;
        }    
      }
    }

    ul {
      color: $color-primary-darkest;
      margin: 0 !important;
      padding: 0;
      text-align: center;
      
      svg {
        display: block; 
        margin: .25em auto;
      }

      li {
        padding: 0; 
        margin: 0;
      }
        
      &:before {
        margin: 0; 
        padding: 0;
      }
      
      span.type {
        background: rgba($secondary-color, .15);
      }
        
      @media #{$small} {padding: 2.5em 1em;}  
    }
  }
}