@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/mixins";

#email-signup-form {
  @media screen and (min-width: 32rem) {
    min-width: 30rem;
  }

  .homepage-email-input::part(form-header) {
    font-size: 1.25rem;
  }

  form {
    margin: 0 auto;
    width: 25rem;
  }
}