@import "functions";

.usa-button,
.usa-button-primary,
.usa-button:visited,
.usa-button-primary:visited,
button,
[type=button],
[type=submit],
[type=reset],
[type=image] {
  // TO DO #1: I am not sure if i can use the 
  // TO DO #2: Part of above, but conversion function will return a blank for null values
  @include margin(scale-rem(0.5rem) scale-rem(0.5rem) scale-rem(0.5rem) null);
  padding: scale-rule(1rem 2rem);

  &.usa-button-big {
    font-size: scale-rem(2.4rem);
    padding: scale-rule(1.5rem 3rem);
  }
}