@import "functions";

$em-base:             100%; // USWDS v3 html value
$base-font-size:      16px; // USWDS v3 body value
$small-font-size:     uswds-override(1.4rem) !important;
$lead-font-size:      uswds-override(2rem) !important;
$title-font-size:     uswds-override(5.2rem) !important;
$h1-font-size:        uswds-override(4rem) !important;
$h2-font-size:        uswds-override(3rem) !important;
$h3-font-size:        uswds-override(2rem) !important;
$h4-font-size:        uswds-override(1.7rem) !important;
$h5-font-size:        uswds-override(1.5rem) !important;
$h6-font-size:        uswds-override(1.3rem) !important;

// Magic Numbers
$lead-max-width:                uswds-override(77rem) !important;
$site-margins:                  uswds-override(3rem) !important;
$site-margins-mobile:           uswds-override(1.5rem) !important;
$input-max-width:               uswds-override(46rem) !important;
$sidenav-current-border-width:  0.4rem !important; // must be in rem for math

// 44 x 44 pixels hit target following Apple iOS Human Interface
// Guidelines
$hit-area: uswds-override(4.4rem) !important;

$spacing-x-small: uswds-override(0.5rem);
$spacing-small: uswds-override(1rem);
$spacing-md-small: uswds-override(1.5rem);
$spacing-medium: uswds-override(2rem);
$spacing-large: uswds-override(3rem);
