@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
#mega-menu {
  flex: 1 0 100%;
  color: $color-primary;

  @include media($medium-large-screen) {
    #vetnav-explore {
        height: 565px;
        width: 1028px;
    }

    .vetnav-panel--submenu:not([hidden]) {
      width: 26rem;
      padding: 28px 0px 0px 28px;
      white-space: normal;
    }

    .vetnav-level1[aria-expanded="true"] {
      border-top-color: $color-gold-light;
    }

    .vetnav-level2[aria-expanded="true"] {
      box-shadow: -3px 0 $color-gold-light;
    }

    .vetnav-panel {
      left: 0;

      a {
        padding: 0.8rem 0;
      }

      li {
        width: 225px;
        margin-bottom: 0;
      }
    }

    .panel-1 {
      left: 20px;

      &.panel-white {
        background-color: $color-white;
        border-left: none;
      }
    }

    .panel-2 {
      border-left: none;
      left: 280px;

      &.panel-white {
        background-color: $color-white;
        border-left: none;
      }
    }

    .panel-3 {
      border-left: none;
      color: $color-black;
      left: 540px;
      white-space: normal;

      &.vetnav-panel--submenu:not([hidden]) {
        padding: 28px 20px 20px 14px;
        width: 26rem;
      }

      a {
        font-weight: bold;
        padding: 14px 0px 0px 0px;
      }
    }
  }

  .panel-title {
    font-weight: bold;
    color: $color-black;
  }

  .vetnav-level2 {
    width: 24.3rem;
  }

  a.vetnav-level1 {
    color: $color-white;
  }

  .panel-main {
    left: -230px;
    background-color: $color-white;
  }

  .panel-bottom-link {
    position: absolute;
    bottom: 0px;
    width: 750px;
    left: 0;
    margin-left: 14px;
    border-top: 1px solid #d0d0d0;
    z-index: 3;

    a {
      padding: 20px 0px;
    }
  }
}
