@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;

.va-connected-apps {
  margin-bottom: 6em;

  .va-modal-inner {
    max-width: 37.5rem;

    button {
      height: 37px;
      width: fit-content;
    }
  }

  ul {
    margin: 0 0 0 1.25em;
  }

  .border-box {
    border-radius: 4px;
  }

  .usa-button-secondary {
    height: 37px;
    width: fit-content;
  }

  .connected-apps-intro {
    ul {
      list-style: none;
    }
  }

  .form-expanding-group,
  .form-expanding-group-open,
  .form-expanding-group-closed {
    border-left: none;
    padding-left: 20px;
  }

  .connected-app {
    .form-expanding-group,
    .form-expanding-group-open,
    .form-expanding-group-closed {

      @media (max-width: $medium-screen) {
        margin-left: -60px;
      }
    }
  }
}

