.hub-cards {
  display: flex;
  flex-wrap: wrap;
  gap: units(4);

  > * {
    flex-basis: 100%;
  }

  @include media($medium-screen) {
    > * {
      flex-basis: calc(50% - 36px);
    }
  }

  .personal-health-care-contacts-hub-card-link {
    display: inline-block;
    max-width: 30ch;
  }

  @include media($medium-screen) {
    .personal-health-care-contacts-hub-card-link {
      display: block;
      max-width: 100%;
    }
  }
}
