// the description of the military address need to be aligned with
// the text next to the checkbox
.profile-military-domestic {
  margin-left: 1.7em;
}

.email-address-symbol::after {
  content: "\200B";
}

#root_inputPhoneNumber {
  speak-as: spell-out;
  speak: spell-out;
}
