@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/functions" as functions;
.mobile-nav {
  .menu-wrapper {
    background-color: var(--vads-color-white);
    left: 0;
    right: 0;
    margin: functions.units(1) functions.units(1) functions.units(2);
    color: var(--vads-color-primary);
    border: 1px solid var(--vads-color-primary);
    border-radius: 4px;

    button {
      margin: 0;
      background-color: var(--vads-color-white);
      color: var(--vads-color-primary);
      border: 0;
      padding: functions.units(1.5);

      &.open-menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    i {
      font-size: functions.units(2);
      margin-left: functions.units(0.5);
    }

    .menu-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      strong {
        padding: functions.units(1.5);
        line-height: functions.units(2);
      }

      button {
        font-weight: normal;
        width: auto;
      }
    }

    ul {
      padding: functions.units(1) 0;
      background-color: var(--vads-color-white);
      margin: 0 functions.units(1) functions.units(1);
      border-top: 1px solid var(--vads-color-base-lighter);

      li {
        @include subnav-item;
      }
    }
  }
}
