@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "./shared" as *;

.va-subnav {
  border-bottom: 1px solid var(--vads-color-base-lighter);
  display: block;

  h2 {
    border: 1px solid var(--vads-color-base-lighter);
    border-left: none;
    border-right: none;
    color: var(--vads-color-black);
    margin-bottom: units-px(2);
    margin-top: units-px(4);
    padding: $nav-item-padding;
  }

  ul {
    padding: 0;
  }
  li {
    @include subnav-item;
  }
}

va-sidenav-submenu {
  height: auto;
}
