.veteran-status-card-wrapper {
    padding-bottom: 32px;
}

.veteran-status-description {
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0;

    margin-bottom: 16px;
}