.veteran-status-card-wrapper {
    padding-bottom: 32px;
}

.veteran-status-card-title {
    font-family: "Source Sans Pro";
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0%;
}

.veteran-status-description {
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0;

    margin-bottom: 16px;
}