@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";

.arp-container {
  max-width: 1000px;
  width: 100%;
  margin: $units-5 auto;
  padding: 0 16px;
}

.status {
  color: $vads-color-base;

  &--processing {
    background-color: $vads-color-gray-light-alt;
    border: 1px solid $vads-color-base-dark;
  }
  &--declination,
  &--expiration {
    background-color: $vads-color-error-lighter;
    border: 1px solid $vads-color-error;
  }
  &--pending {
    background-color: $vads-color-warning-lighter;
    border: 1px solid $vads-color-warning-darker;
  }
  &--acceptance {
    background-color: $vads-color-success-lighter;
    border: 1px solid $vads-color-success;
  }
}
.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.arp-footer {
  background-color: var(--vads-color-primary-darker);
  padding: 30px 16px;
  width: 100%;

  &__container {
    max-width: 1000px;
    margin: 0 auto 20px;
  }

  h3 {
    margin: 0 0 16px 0;
  }

  .va-footer-links-bottom {
    padding: 0;
    ul {
      max-width: 720px;
      padding-bottom: 20px;
    }
  }

  a:hover {
    color: var(--vads-color-warning) !important;
  }

  p,
  p > a {
    font-family: $font-family-serif;
  }
}

// There is a div in content-build accredited-representative-portal.html that
// would require changes to platform code to remove. For now this scss hides it.
.arp-footer-hidden {
  display: none;
}

.home {
  -webkit-font-smoothing: antialiased;

  &__container {
    max-width: 1000px;
    margin: 0 auto;

    .home__full-width--portal & {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;

      @media (min-width: $small-desktop-screen) {
        padding: 0;
        flex-direction: row;
      }
    }
  }
  &__hero {
    background-position: center;
    background: linear-gradient(
        0deg,
        rgba(0, 71, 149, 0.46),
        rgba(0, 71, 149, 0.46)
      ),
      url("../../../site/assets/img/arp-hp-hero.jpg");
    background-size: cover;
    background-position: center;

    &-container {
      max-width: 1000px;
      margin: 0 auto;
      color: $vads-color-base-lightest;
      padding: 30px 16px;

      @media (min-width: $medium-screen) {
        padding: 72px 16px;
      }
    }
    &-header {
      margin-bottom: 20px;
      color: $vads-color-white;
    }

    &-sub-header {
      font-size: 24px;
      font-family: $font-family-serif;
    }

    &-bg {
      background-color: $vads-color-primary-dark;
      padding: 20px;
      border-radius: 8px;

      @media (min-width: $medium-screen) {
        max-width: 544px;
        padding: 50px;
      }
    }
  }

  &__content {
    padding: 32px 16px;
    max-width: 732px;

    @media (min-width: $medium-screen) {
      padding: 52px 16px;
    }

    h2 {
      margin: 0 0 24px 0;
    }
    &-copy {
      margin-bottom: 32px;
    }

    .vads-u-background-color--primary & {
      color: $vads-color-base-lightest;
    }
  }

  &__full-width {
    h3 {
      margin: 0;
    }
    &.is--lighter {
      background-color: $vads-color-primary-lighter;
    }
  }
  &__link {
    font-weight: 700;

    .vads-u-background-color--primary & {
      color: $vads-color-base-lightest;
    }

    &--email {
      word-break: break-all;
    }
  }

  &__overlay {
    position: relative;

    ~ div {
      @media (min-width: $medium-screen) {
        margin-left: 55px;
        width: 50%;
        padding: 60px 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($vads-color-primary-dark, 0.46);
    }
  }

  &__sub-header {
    @media (min-width: $medium-screen) {
      font-size: 20px;
    }
  }
  &__portal-img {
    width: 100%;

    @media (min-width: $small-desktop-screen) {
      width: 464px;
      height: 340px;
    }
  }

  &__banner {
    &-email {
      margin-bottom: 0;
    }
  }
}

.arp-full-width-alert {
  width: 100%;

  &__questions {
    font-weight: 700;
  }
}

.poa-requests-page-table-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.limitations-row {
  display: flex;
  align-items: center;
  gap: 8px;

  &__warning-icon {
    color: var(--vads-color-action-focus-on-light);
  }
}

.relationship-row {
  display: block;
  font-size: 14px;
  line-height: 1;
}

.arp-full-width-alert {
  width: 100%;

  &__questions {
    font-weight: 700;
  }
}

.mobile {
  @media (min-width: $medium-screen) {
    display: none !important;
  }
}
.desktop {
  @media (max-width: $medium-screen) {
    display: none !important;
  }
}
