button.logingov-button {
  background: var(--vads-color-secondary);
  width: auto;
  max-width: 244px;
  padding: 0.75rem 1.25rem;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--vads-color-secondary-darkest);
  }

  // Add the Login.gov logo directly
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 145 42'%3E%3Cpath fill='%23fff' d='M35.6 13.8c0-3.9-2.3-6.6-6.2-6.6s-6.2 2.7-6.2 6.6 2.3 6.6 6.2 6.6 6.2-2.7 6.2-6.6zm-8.7 0c0-2.4 1.1-4.1 2.5-4.1s2.5 1.7 2.5 4.1-1.1 4.1-2.5 4.1-2.5-1.7-2.5-4.1z'/%3E%3Cpath fill='%23fff' d='M51.2 13.8c0-3.9-2.3-6.6-6.2-6.6s-6.2 2.7-6.2 6.6 2.3 6.6 6.2 6.6 6.2-2.7 6.2-6.6zm-8.7 0c0-2.4 1.1-4.1 2.5-4.1s2.5 1.7 2.5 4.1-1.1 4.1-2.5 4.1-2.5-1.7-2.5-4.1z'/%3E%3Cpath fill='%23fff' d='M66.8 13.8c0-3.9-2.3-6.6-6.2-6.6s-6.2 2.7-6.2 6.6 2.3 6.6 6.2 6.6 6.2-2.7 6.2-6.6zm-8.7 0c0-2.4 1.1-4.1 2.5-4.1s2.5 1.7 2.5 4.1-1.1 4.1-2.5 4.1-2.5-1.7-2.5-4.1z'/%3E%3Cpath fill='%23fff' d='M82.4 13.8c0-3.9-2.3-6.6-6.2-6.6s-6.2 2.7-6.2 6.6 2.3 6.6 6.2 6.6 6.2-2.7 6.2-6.6zm-8.7 0c0-2.4 1.1-4.1 2.5-4.1s2.5 1.7 2.5 4.1-1.1 4.1-2.5 4.1-2.5-1.7-2.5-4.1z'/%3E%3Cpath fill='%23fff' d='M98 13.8c0-3.9-2.3-6.6-6.2-6.6s-6.2 2.7-6.2 6.6 2.3 6.6 6.2 6.6 6.2-2.7 6.2-6.6zm-8.7 0c0-2.4 1.1-4.1 2.5-4.1s2.5 1.7 2.5 4.1-1.1 4.1-2.5 4.1-2.5-1.7-2.5-4.1z'/%3E%3Cpath fill='%23fff' d='M113.6 13.8c0-3.9-2.3-6.6-6.2-6.6s-6.2 2.7-6.2 6.6 2.3 6.6 6.2 6.6 6.2-2.7 6.2-6.6zm-8.7 0c0-2.4 1.1-4.1 2.5-4.1s2.5 1.7 2.5 4.1-1.1 4.1-2.5 4.1-2.5-1.7-2.5-4.1z'/%3E%3Cpath fill='%23fff' d='M129.2 13.8c0-3.9-2.3-6.6-6.2-6.6s-6.2 2.7-6.2 6.6 2.3 6.6 6.2 6.6 6.2-2.7 6.2-6.6zm-8.7 0c0-2.4 1.1-4.1 2.5-4.1s2.5 1.7 2.5 4.1-1.1 4.1-2.5 4.1-2.5-1.7-2.5-4.1z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 24px;
    margin-right: 8px;
  }
}

// Handle SVG styles inside the button
button.logingov-button svg {
  height: 1em;
  padding: 0 0.25em;
}

// align with platform styling for ID.me
// stylelint-disable-next-line color-no-hex
$idme-background-green: #08833d;

.login button.idme-button {
  background: $idme-background-green;
  width: auto;
  max-width: 244px;
  padding: 0.75rem 1.25rem;
  max-height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(
      --vads-button-color-background-primary-alt-active-on-light
    );
  }
}

.login {
  -webkit-font-smoothing: antialiased;
  h1 {
    margin-bottom: 32px;
  }
  button {
    &:first-child {
      margin: 0 0 16px 0 !important;
    }
    &.logingov-button {
      margin: 0 0 32px 0 !important;
    }
  }
  .arp-container {
    margin: 0 auto 80px;
  }
}
