.poa-request-search__card {
  border: none;
}

ul.poa-request-details-list {
  list-style: none;
  list-style-type: none;
  padding: 0px;
}

a.vads-c-action-link--gray {
  position: relative;
  display: inline-block;
  padding: 4px 0 4px 38px;
  font-weight: bold;
}

a.vads-c-action-link--gray::before {
  position: absolute;
  height: 24px;
  width: 24px;
  left: 0;
  margin-top: -4px;
  content: url(../../proxy-rewrite/assets/right-arrow.svg);
  background-color: var(--vads-color-gray-warm-dark);
  border-radius: 50%;
}
