@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";

.poa-request-details {
  @media (min-width: $small-desktop-screen) {
    width: 968px;
  }

  &__form {
    padding: 14px 35px;
    background-color: $vads-color-base-lightest;
    margin-top: 35px;

    h4 {
      font-family: var(--font-source-sans);
    }

    @media (min-width: $small-desktop-screen) {
      max-width: 654px;
      padding: 52px 38px;
      margin-top: 88px;
    }

    &-label {
      margin: 0;
    }

    &-alert {
      margin: 25px 0;

      @media (min-width: $small-desktop-screen) {
        margin: 35px 0;
      }
    }

    &-submit {
      margin: 0;
      width: auto !important;
    }
  }

  &__divider {
    border-bottom: 1px solid $vads-color-base-light;
    width: 100%;
    margin: 2rem 0;
    display: flex;
  }

  &__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    flex-direction: column;

    @media (min-width: $small-desktop-screen) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &-item {
      @media (min-width: $small-desktop-screen) {
        flex: 33%;
      }
    }
  }

  &__title {
    margin: 0;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  &__subtitle {
    margin-top: 0;
  }
}
