@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";
.submissions {
  -webkit-font-smoothing: antialiased;
  hr {
    margin: 32px 0;
  }
  &__search-header {
    margin: 24px 0 0;
  }
  &__form-name {
    font-weight: bold;
    margin: 0 0 8px;
  }
  &__form-description {
    margin: 8px 0;
  }
  &-subtext__copy {
    font-size: 20px;
    margin: 0 0 32px;

    &--secondary {
      margin: 0;
    }
  }
  &__subtext {
    margin: 8px 0;

  }
  &__list {
    li {
      margin-bottom: 16px;
    }
  }
  &__card-name {
    margin-top: 0px;
  }
  &__inline-status-icon {
    margin-left: 4px;

    &.submissions__card-check {
      color: var(--vads-color-success-dark);
    }

    &.submissions__card-error {
      color: var(--vads-color-warning-dark);
    }
  }
  &__list {
    list-style-type: none;
    padding-left: 0px;
  }
}
.submission {
  &__card {
    &-date,
    &-name {
      margin: 0 0 4px;
    }

    &-form-name {
      margin: 0 0 8px;
    }
    &-status {
      margin: 0;
      &--row {
        display: flex;
        flex-wrap: wrap;
        margin-top: 4px;
        flex-direction: column;
        align-items: baseline;

        @media (min-width: $small-desktop-screen) {
          flex-direction: row;
          align-items: center;
        }

        >span:last-child {
          margin-top: 4px;
          padding-left: 32px;
          @media (min-width: $small-desktop-screen) {
            padding-left: 0;
          }
        }
      }
    }
    &-attribute-text {
      font-weight: bold;
    }
  }
}