//===============================================================
// Flex grid. Added to replace Foundation's block grid.
// Grid from USWDS <= 1.0 uses floats and therefore doesn't allow 
// for block grids in which elements are always the same height.
// 
// This does. 
//===============================================================

[class*=va-grid-columns] {
  display: flex;
  flex-wrap: wrap;
}

.va-grid-columns-2 {
  > li {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }

  @include media($medium-screen) {
    justify-content: space-between;

    > li {
      flex: 0 0 49%;
    }
  }
}

.va-grid-columns-4 {
  justify-content: space-between;

  @include media($medium-screen) {
    > li {
      flex: 0 0 23%;
    }
  }
}
