// Adds external icon to all links that begin
// with http (including https)
[href^=http] {

  // TODO: Make this selector less specific.
  #playbook .primary &,
  #playbook .coda & {
    background-image: url(/img/icons/exit-icon-white.png);
    margin-right: .1em;
    padding-right: 1.5em;
  }
}

.va-header-logo {
  .page-playbook & {
    a {
      background-color: inherit;
      background-image: url(/img/design/logo/logo-alt.png);

      &:hover, &:active, &:focus {
        background-image: url(/img/design/logo/logo-alt-hover.png);
      }
    }
  }
}

// Blog / Playbook

.page-playbook {
  background-color: $color-white;
  .main {
    background: white;
  }
}


// posts
// TODO: Remove !important when #content .splash is refactored
.splash--blog {
  margin: 0 !important;
  padding: 0 !important;

  @media #{$small} {
    margin: .5em 0 0 0 !important;
    padding: 1em 0 0 0 !important;
  }
}

.splash--hasimg {
  // TODO: Remove !important when #content .splash is refactored
  padding: 4em 0 !important;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1em;

  @media #{$small} {
    // TODO: Remove !important when #content .splash is refactored
    padding: 6.1em 0 !important;
  }
}

.post-date,
.post-author {
  color: $color-va-gray-cool-dark;
}

.post-date {
  margin-bottom: 2.5em;
  font-size: .85em;
}

.blog-navigation {padding: 2em 0;}

.next {
  float: right;
  display: inline-block;
}

// TODO: Remove !important from this block
// Once the specificity of #content .splash h2 block/
// gets reduced.
.va-headingflag {
  margin: .5em 0 !important;
  padding: 0 !important;
  margin: 0 0 2em 0 !important;
  background: none !important;
  color: $color-primary-darkest !important;

  @media #{$medium} {
    position: absolute !important;
    margin: 1.35em 0 0 0 !important;
    z-index: 100 !important;
  }

  a {
    text-decoration: none;
    margin: 0;
    color: $color-primary-darkest;
    background: $color-gold;
    border-bottom: none;
    padding: .5em .25em;
    // Transition only these properties.
    -webkit-transition-property: padding;
    transition-property: padding;

    &:hover {
      padding: .5em .65em;
    }
  }

  @media #{$medium} {
    position: absolute;
    margin: 1.35em 0 0 0;
    z-index: 100;
  }
}

.va-headingflag--tagline {
  padding: 0;
}

// small-12 medium-8 medium-offset-4 large-offset-2 small-centered columns
#experience {
  background: $color-white;

  .main {
    @extend .small-12;
    @extend .small-centered;
    @extend .medium-8;
    @extend .medium-offset-4;
    @extend .large-offset-2;
    @extend .columns;
  }
  .post img {
    width: 100%;
  }
}

.post-preview {
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 0 0 3em 0;
  margin: 0 0 3em 0;
  &:last-of-type{border-bottom: none;}
}

.related-posts {
  border-top: 1px solid $color-gold;
  padding: 2em 0 1em 0;
  margin: 2em 0 0 0;
  h6 {line-height: 1.2em; margin: 0; padding: 0; font-size: 1.15em;}
  ul.plain.posts {
    margin: 1em 0; padding: 0;
    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-bottom: 1px solid rgba(0,0,0,.1);

      &:last-of-type{
        border-bottom: none;
      }

      a {
        padding: .5em .2em;
        margin: 0;
        text-decoration: none;
        display: block;

        &:hover {
          background: rgba(0,0,0,.08);
          border-left: 4px solid $color-primary;
          padding-left: .5em;
        }
        .post-title {
          color: $color-primary-darker;
          font-size: 1em;
          font-weight: bold;
          margin: 0;
          padding: 0;
        }
        .post-date {
          color: $color-va-gray-cool-dark;
          margin: 0;
          padding: 0 0 1em 0;
        }
      }
    }
  }
}

.post {
  a,
  p, p:nth-child(1),
  li,
  h1, h2, h3, h4, h5, h6,
  dl, dd, dt,
  caption,
  figure,
  blockquote {
    color: $color-va-gray-cool-dark;
    line-height: 1.65em;
    font-size: inherit;
  }

  a {
    text-decoration: underline;
    color: $color-primary-darker;
  }

  .page-number {
    color: $color-va-gray-cool-dark;
  }

  span.previous {
    float: left;
    display: inline-block;
  }

  h3 {
    text-decoration: none;
    background: none;
    padding: 0;
    font-size: 1.5em;
    @media #{$small} {font-size: 2em;}
    margin: 0;
    display: block;
    &.title {
      color: $color-primary-darker;
      background: none;
      display: block;
      a {text-decoration: none;}
    }
  }
}

#playbook {
  h2 {background: none; font-size: 2.5em;}

  .card a {
    border-bottom: 2px solid $secondary-color;
    display: inline-block;
    background: rgba(0,0,0,.03);
    &:hover {background: rgba(0,0,0,.1);}
  }
}

.methodology {
  .medium-3 {
    padding-top: 1.5em;

    @media #{$small-only} {
      padding-left: 1.5em;
      h4 {
        font-size: 1.4em;
      }
    }

    ul {
      margin: 0 0 1.5em 0; padding: 0;

      li {
        margin: 0;
        padding: 0;
      }
    }

    &.hcd {
      h4 {
        color: $secondary-color;
      }
    }
  }

  ol:nth-child(n+2) {
    li {
      list-style-type:decimal;
    }
  }

  li {
  &.step {
    padding-top: 1.5em;
    border-left:4px solid $olso-gray;
  }
  h4 {
    display: inline-block;
    span {
      font-family: $font-sans;
    }
  }
  .interactive {
    display: inline-block;
    background: rgba(0,0,0,0.05);
    padding: .2em .6em;
    border-radius: 3px;
    margin-left: 1.25em;
    text-transform: uppercase;
    font-size: .85em;
    vertical-align: 15%;
    letter-spacing: .05em;
    @media #{$small-only} {
      margin-left: 0;
      margin-bottom: 1em;
    }
    @media #{$medium-only} {
      margin-left: 0;
      margin-bottom: 1em;
    }
  }
  &:before {
    background:white;
    border: 4px solid $olso-gray;
    color:$olso-gray;
    font-size: 1.3em;
    font-weight:700;
    position: relative;
    padding: 0;
    margin-left: -2.6em;
    top: -.1em;
    width: 2em;
  }

  &.step.four,
  &.step.five,
  &.step.seven,
  &.step.nine
   {
    &:before {
      background:white url(/img/icons/SVG/loop2.svg)center center no-repeat;
      display:inline-block;
      width:3.4em;
      height:2.2em;
      background-size:contain;
      border:none;
      margin-left: -3.3em;
      padding-top: .25em;
    }
  }
}

  &.page {
    .discover {
      background: none;
    }
    .medium-3 {
      padding-top: 0;
      ul {
        margin-left: 0;
      }
    }
    .medium-9 {
        li {
            list-style-type: disc;
        }
    }
  }
}

.human-centered {
.discover,
.design,
.deliver {
  border-top: 4px solid $color-white;
  border-bottom:4px solid $color-white;
  div:nth-child(1) {
    border-right:8px solid $color-white;
    @media #{$small-only} {
      border-right: 0;
    }
  }
  div:nth-child(2) {
    padding: 1.5em 1.5em .2em;
  }
  .graphic {
    background-size: 165px 165px;
    padding: 0;
    height: 209px;
    @media #{$medium-only} {
      background-position: 0 center;
    }
  }
}
}
.discover {
  background: $polar;

  li.one {
    margin-top: 1.3em !important;
    padding-top: 0;
  }

  .graphic {
    background: url(/img/design/playbook/discover-process.svg) 40% center no-repeat;
  }
}

.tap-to-close {
  color:$color-gold!important;
  font-size: .8em!important;
  padding-top: .75em!important;
}
.design {
  background:$wild-sand;
  li {
    &.step.four {
      @media #{$small-only} {
        padding-top: 0;
        margin-top: 1em!important;
      }
    }
  }
  .graphic {
    background: url(/img/design/playbook/design-process.svg) 40% center no-repeat;
  }
}

.deliver {
  background:$green-white;
    li {
    &.step.six {
      @media #{$small-only} {
        padding-top: 0;
        margin-top: 1em!important;
      }
    }
    &.step.nine {
      padding-top:0;
      &:before {
        margin-left: -3.1em;
      }
    }
  }
  .graphic {
    background: url(/img/design/playbook/deliver-process.svg) 40% center no-repeat;
  }
}


.va-list-num--discover {
  li::before {
    background-color: $polar;
  }
}
.va-list-num--design {
  // TODO: Figure out why !important is necessary here.
  li::before {
    background-color: $wild-sand !important;
  }
}

.va-list-num--deliver {
// TODO: Figure out why !important is necessary here.
  li::before {
    background-color: $green-white !important;
  }
}
.va-prodmethod {
  padding: 0;
}

// Visual Guide

span.color-chip {
  height: 3em;
  width: 3em;
  margin: .5em 1em .5em 0;
  border-radius: 10em;
  vertical-align: middle;
  display: inline-block;

  &.primary-color {background: $color-primary;}
  &.color-primary-darker {background: $color-primary-darker;}
  &.color-primary-darkest {background: $color-primary-darkest;}
  &.color-gray-dark {background: $color-gray-dark;}
  &.color-gray-lightest {background: $color-gray-lightest;}
  &.color-gold {background: $color-gold;}
  &.color-green {background: $color-green;}
  &.color-green-lightest {background: $color-green-lightest;}
}
