.uk-disclaimer {
  background-colour: $colour-gray-lightest;
  font-size: $h6-font-size;
  padding-bottom: .5rem;
  padding-top: .5rem;

  @include media($small-screen) {
    font-size: $h5-font-size;
  }
}

// This hides the stage note (i.e. alpha, beta, etc) of the disclaimer for 
// anything smaller than large screen sizes
.uk-disclaimer-stage {
  display: none;
  float: right;

  @include media($large-screen) {
    display: block;
  }
}

.uk-flag_icon {
  margin-right: .2rem;
}
