.simpletooltip[aria-hidden="true"] {
  display: none;
}
.simpletooltip_container {
  position: relative;
  display: inline-block;
}

.simpletooltip {
  position: absolute;
  z-index: 777;
  width: 11em;
  border-radius: .3em;
  background: $color-gray-dark;
  color: $color-white;
  padding: .6em;
  text-align: left;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.3;
  right: auto;
  left: 100%;
  margin-left: .8em;
  white-space: normal;
  top: -110%;
  
  &:before {
    border-bottom: 10px solid transparent;  // left arrow slant
    border-top: 10px solid transparent; // right arrow slant
    border-right: 10px solid $color-gray-dark;
    content: "";
    font-size: 0;
    position: absolute;
    left: 0px;
    line-height: 0;
    margin-left: -10px;
    width:0;
    height:0;
    top: 39%;
  }
}

@media (max-width: 40.063em) {
  .simpletooltip {
    top: 100%;
    left: 45%;
    right: 0;
    margin: 0;
    margin-top: .7em;
    margin-left: -5em;
  
    &:before {
      top: -10px !important;
      right: auto;
      left: 45%;
      margin-left: -5px;
      margin-top: -10px;
      border: 10px solid transparent;
      border-bottom: 10px solid $color-gray-dark;
    }
  }
}
