@import "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.form_container {
  padding: 0 16px;
}

.representative-form {
  padding: 0 0 48px !important;
  -webkit-font-smoothing: antialiased;

  h1 {
    margin: 0;

    ~ p {
      margin: 0;
    }
  }

  va-process-list {
    margin-left: 20px;
    display: block;
  }

  &__h2 {
    margin: 32px 0;
  }

  &__start {
    margin-left: 20px;
  }
}
//overriding default classes set at the forms level to match figma
.form-21-0966,
.form-21-686c,
.form-21-526EZ {
  -webkit-font-smoothing: antialiased;
  [for="root_vaFileNumber"],
  [for="root_veteranSubPage_vaFileNumber"] {
    margin-top: 1.5rem;
  }
  .usa-width-two-thirds {
    max-width: 627px;
    padding: 0;
  }
  va-alert[visible="false"] {
    margin: 0;
  }
  .small-6.medium-5 {
    width: unset;
    padding-right: 0;
  }
  .vads-u-flex--1 {
    flex: unset !important;
    float: unset;
    width: auto;
    padding-right: 0;
  }
  .usa-button-secondary {
    max-width: 105px;
  }
  .usa-button-primary {
    max-width: 137px;
  }
  fieldset.vads-u-margin-y--2.rjsf-object-field {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .schemaform-block-title.schemaform-block-subtitle {
    font-size: 1.25rem !important;
    padding: 0;
  }

  .schemaform-chapter-progress {
    display: none;
  }

  .schemaform-sip-save-link {
    display: none;
  }

  .usa-input,
  input,
  va-text-input,
  va-memorable-date,
  .usa-memorable-date,
  [label="Date of birth"] {
    max-width: 311px;
  }

  form div {
    div:nth-child(2) {
      .vads-u-margin-y--2.rjsf-object-field {
        margin-top: 0 !important;
      }
    }
  }
  .schemaform-block-title {
    color: $vads-color-base;
    padding: 0;
    h3 {
      margin: 0;
      color: $vads-color-base !important;
    }
  }
  va-radio {
    margin-top: 16px;

    &:has([name="root_benefitType"]) {
      margin-top: 32px;
    }
  }
  #root_supportingDocuments_add_label {
    margin: 0;
    padding: 0 0 40px;
  }
  .schemaform-file-upload {
    margin-top: 32px !important;
  }

  #upload-button {
    padding-top: 0 !important;
  }

  &__upload-text {
    margin: 8px 0;
  }
  &__upload-hint {
    margin: 8px 0 16px;
    color: $vads-label-hint-text-color-on-light;
  }
  #root_supportingDocuments-label {
    font-family: Bitter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1.25rem !important;
    strong {
      font-weight: 700;
    }
  }
  .schemaform-title {
    margin-bottom: 32px;
  }

  .schemaform-block-title.schemaform-block-subtitle {
    padding-top: 32px;
  }

  .schemaform-title > .schemaform-subtitle {
    font-family: Bitter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 34px;
  }

  @media screen and (min-width: 768px) {
    .form-panel {
      max-width: unset;
    }
  }
  .schemaform-title > .schemaform-subtitle {
    font-family: Bitter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1.25rem !important;
  }
  dl.review {
    border-bottom: none;
  }
  va-accordion > va-accordion-item:last-child {
    .form-review-panel-page > div {
      border-bottom: 1px solid var(--vads-color-base-light);
      &:only-child {
        border-bottom: none;
      }
    }
  }

  va-link-action[href="/"] {
    display: none;
  }

  .review .review-row {
    padding: 20px 0 !important;
  }

  [name="uploadPageScrollElement"] {
    display: none;
  }
  .rjsf {
    div.vads-u-margin-y--2:first-child {
      margin-top: 0 !important;
      [id="root_view:claimantTitle__title"] {
        padding: 0;
        line-height: 1;
      }
      //targeting title above form fields
      &div:first-child {
        line-height: 1;
      }
    }
  }

  [id="root_view:veteranTitle__title"] {
    padding-top: 32px;
  }
}
.form-review-panel-page-representative-form-upload {
  margin-bottom: 0;
  margin-top: 20px;
}

.arp-alert-right-file-p {
  margin: 0;
}

.vads-u-margin-y--2.rjsf-object-field:has(> .veteran-note) {
  margin-top: 0 !important;
}
.form-upload__alert {
  margin-bottom: 32px;
}

[name="root_selectBenefits"] {
  margin-top: 32px;
}

.form-21-0966 {
  .form-review-panel-page-header-row {
    va-button[text="Edit"] {
      display: none;
    }
  }

  .form-review-panel-page {
    div[name="veteranInformationPageScrollElement"] {
      display: none;
    }
    div[name="claimantInformationScrollElement"] {
      display: none;
    }
    .form-review-panel-page-header-row {
      border-bottom: none !important;
    }
    form.rjsf {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    .form-progress-buttons {
      .vads-u-flex--1 {
        width: 246px;
      }
    }
  }
}

.itf-status {
  .form-progress-buttons {
    margin-bottom: 48px !important;

    button {
      margin-top: 0;
      margin-bottom: 0;

      &:first-child {
        margin-left: 0;
      }
      // continue btn
      &.usa-button-primary {
        display: none;
      }
    }
  }
}

.itf-review-heading {
  font-family: Bitter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.form {
  &__icon {
    &--warning {
      margin: 0 4px;
    }
  }
}
