---
title: Templates
---

<div class="main" role="main">
  <div class="section primary">
    <div class="row">
      <div class="small-12 columns">
        <h3>Templates</h3>
        <p>The vets.gov template system is designed to help visitors navigate intuitively, identify relevant information and quickly take action.</p>
      </div>
    </div>
  </div>

  <div class="section secondary templates">

    <div class="row">
      <div class="small-12 columns">
        <h4>Content Templates</h4>
      </div>
    </div>

    <div class="row">
      <div class="small-12  medium-6 columns">
        <div class="card templates">
          <div class="row">
            <div class="small-5 columns">
              <img src="/assets/images/design/playbook/templates/topic-landing.png" alt="topic landing page">
            </div>
            <div class="small-7 columns">
              <h5>Topic Landing</h5>
              <p><a href="/disability-benefits/">Topic landing pages</a> introduce main site areas. The template includes a brief introduction and card navigation linking to secondary content. It may also include quick links and help or contact information specific to the topic.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 columns">
        <div class="card templates">
          <div class="row">
            <div class="small-5 columns">
              <img src="/assets/images/design/playbook/templates/detailed-landing.png" alt="detailed landing page">
            </div>
            <div class="small-7 columns">
              <h5>Detailed Landing</h5>
              <p><a href="/disability-benefits/conditions/">Detailed landing pages</a> communicate an overview of secondary information with links to faceted content. The template utilizes list style navigation and may include callout boxes, quick links and help or contact information specific to the topic.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="card templates">
          <div class="row">
            <div class="small-5 columns">
              <img src="/assets/images/design/playbook/templates/panel-filter.png" alt="panel filter">
            </div>
            <div class="small-7 columns">
              <h5>Panel Filter</h5>
              <p><a href="/disability-benefits/conditions/exposures-to-hazardous-materials/agent-orange/">Panel filter pages</a> help visitors quickly identify content paths that are relevant to their specific circumstances. The template includes definition blocks that function as a filtering mechanism.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 columns">
        <div class="card templates">
          <div class="row">
            <div class="small-5 columns">
              <img src="/assets/images/design/playbook/templates/action.png" alt="action page">
            </div>
            <div class="small-7 columns">
              <h5>Action Page</h5>
              <p><a href="/disability-benefits/conditions/exposures-to-hazardous-materials/agent-orange/c-123/">Action pages</a> provide in-depth detail on particular topics and should help visitors to feel confident in taking next steps or accessing calls-to-action as needed. The template may also include definition blocks, Callout boxes and help or contact information specific to the topic.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="card templates">
          <div class="row">
            <div class="small-5 columns">
              <img src="/assets/images/design/playbook/templates/information.png" alt="information page">
            </div>
            <div class="small-7 columns">
              <h5>Information</h5>
              <p><a href="/disability-benefits/conditions/service-connected/">Information pages</a> include an introduction and supporting body copy.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="small-12 medium-6 columns">
        <div class="card templates">
          <div class="row">
            <div class="small-5 columns">
              <img src="/assets/images/design/playbook/templates/process.png" alt="process page">
            </div>
            <div class="small-7 columns">
              <h5>Process Page</h5>
              <p><a href="/disability-benefits/get/">Process pages</a> support visitors through complex workflows and set them up for successful engagement with VA process. The template utilizes a process list and may also include list form navigation.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
