@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";

.schemaform-intro {
  padding: 0 0 2rem 0;

  .process-step:last-child {
    padding-bottom: 0;
  }

  .omb-info--container {
    margin-top: 1em;
  }
}


/* Global */
.nowrap {
  white-space: nowrap;
}

/* Fix margins around the form back & continue buttons */
.input-section,
.row.form-progress-buttons {
  margin-bottom: 1em;
}

/* Opt out of old appeals styles */
article[data-location="opt-out-of-old-appeals"] {
  /* Hide form progression & step number to match design */
  .progress-bar-segmented,
  .schemaform-chapter-progress,
  /* Hide title & (*Required) label above opt-out checkbox */
  #root_legacyOptInApproved-label,
  /* Hide save form link */
  .form-progress-buttons + div {
    display: none;
  }

  /* Reduce opt-out title spacing */
  .confirmation-page-title {
    margin-top: 0;
  }

  /* Remove left padding to align left side, per design */
  .progress-box {
    padding-left: 0;
  }

  /* Move checkbox error message _below_ the checkbox, per spec:
   * https://design.va.gov/patterns/form-feedback#errors-on-checkboxes;
   * necessary for this custom checkbox widget
   */
  .usa-input-error{
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
  }

  /* Maintain margin above checkbox with error */
  .schemaform-first-field > .usa-input-error {
    margin-top: 1.8em;
  }

  /* Reduce padding below footer link and site footer */
  .help-footer-box {
    padding-bottom: 0;
  }
}

/* Step 1a */
/* Veteran details block */
.blue-bar-block {
  border-left: 7px solid $color-primary;
  padding-left: 1em;

  p {
    margin: 0.5em 0;
  }

  .masked-number {
    position: relative;
    display: inline-block;
    width: 0.6em;

    &:after {
      content: "\2022";
      font-size: 2em;
      position: absolute;
      top: -0.95em;
    }
  }
}

/* Step 1b */
/* Contact information review cards & forwarding address block */
.schemaform-block,
.review-card--title {
  margin-top: .5em;
}

/* */
.usa-button-primary.update-button,
.usa-button-secondary.edit-button {
  margin-top: 1em;
  width: auto;
}

/* ReviewCardField styles (copied from 526ez form)
  * shouldn't this be centralized?
  */
.review-card {
  .review-card--header {
    background-color: $color-gray-lightest;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .review-card--title {
      margin: 0;
      display: inline-block;
    }

    .edit-button {
      width: 8rem;
      margin-right: 0;
    }
  }

  .review-card--body {
    padding: 1.5rem;
    border: 2px solid $color-gray-lightest;
    /* Remove the top border because it looks like it just extends the header */
    border-top: none;
    margin-bottom: 1em;

    .review-card--title {
      margin: 1.5rem 0 2.5rem;
    }

    .update-button {
      margin-top: 1rem;
      width: 15rem;
    }

    /* Remove blue border (with this, it's not consistent across the site) */
    .blue-bar-block {
      border-left: none;
      padding-left: 0;
    }
  }
}

/* Step 2a */
/*** Contested issues block ***/
.usa-button-secondary.btn-see-all-issues {
  width: auto;
}

// hide Required label (added to description)
#root_contestedIssues-label {
  display: none;
}

.schemaform-first-field > .usa-input-error {
  padding-top: 0;
}

.contested-issues-error.usa-alert-error {
  margin-top: 0;
}

// This could go in the schemaform css, but it isn't used anywhere but here for
// now
.widget-outline {
  padding: 1em;
  border: solid 4px $color-primary-alt-light;
  border-radius: 7px;
  margin-top: 0.5em;

  &.selected {
    border-color: $color-primary;
  }

  &:last-child {
    margin-bottom: 1em;
  }

  label {
    display: inline-block;
  }

  /* long descriptions cause the content to shift down, using flex to fix it */
  .widget-content {
    display: flex;
    flex-direction: column;
  }

  h4 {
    margin-top: 0;
  }

  input[type="checkbox"] + label {
    // The former margin was to separate the checkbox from the elements above
    // it, but now that we have the outline, we need to move the whitespace to
    // the outside of the border.
    margin-top: 0em;
    margin-bottom: 0em;

    // Eliminate unnecessary margin inside the label component
    > div *:last-child {
      margin-bottom: 0em;
    }
  }
}

/* Step 2c */
article[data-location^="contested-issues/"] {
  /* Add space above AdditionalInfo block */
  .form-expanding-group {
    margin-top: 2em;
  }

  .usa-input-error label {
    font-weight: bold;
  }
}

/* Step 3 */
/* Informal conference */
article[data-location="request-informal-conference"] {
  .form-expanding-group-open {
    .schemaform-field-template,
    .schemaform-field-container {
      margin-top: 1em;
    }
  }

  /* Remove extra spacing between form elements */
  .form-expanding-group {
    .usa-input-error {
      margin-top: 0;
    }

    .schemaform-block-header {
      margin-bottom: 0;
    }
  }

  #root_scheduleTimes-label {
    p {
      margin-top: 0;
    }

    .schemaform-required-span {
      display: none;
    }
  }

  .form-checkbox label {
    margin-top: 1em;
  }
}

/* Step 4 Review Application */
article[data-location="review-and-submit"] {
  /* checkbox group "Required" lable (added to */
  #root_scheduleTimes-label {
    display: none;
  }
}

/* Confirmation page */
article[data-location="confirmation"] {
  h1[tabindex="-1"] {
    outline: none;
  }
}
