@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";

.schemaform-intro {
  padding: 0 0 2rem 0;

  .process-step:last-child {
    padding-bottom: 0;
  }

  .omb-info--container {
    margin-top: 1em;
  }
}

/* Global */
.nowrap {
  white-space: nowrap;
}

/* Wizard */
.wizard-content-inner .fieldset-input:first-child {
  margin-top: 0;
}

/* Fix margins around the form back & continue buttons */
.input-section,
.row.form-progress-buttons {
  margin-bottom: 1em;
}

/* Step 1a */
/* Veteran details block */
.blue-bar-block {
  border-left: 7px solid $color-primary;
  padding-left: 1em;

  p {
    margin: 0.5em 0;
  }
}

/* Step 2 */
/*** Contested issues block ***/

/* global definitions */
// hide Required label (added to description)
#root_contestedIssues-label {
  display: none;
}

/* Contested issue cards (contested issue page & review/submit page)
 * This could go in the schemaform css, it's used in form 526 & HLR
 */
dl.review {
  .widget-wrapper {
    position: relative;

    h4 {
      margin-top: 0;
    }
  }

  .widget-outline {
    background: transparent;
    border: solid 4px $color-primary-alt-light;
    border-radius: 7px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: auto; /* IE11 */
    max-width: unset;

    &.selected {
      border-color: $color-primary;
    }

    &::before {
      position: absolute;
      margin-left: 1.5rem;
      margin-top: 1.5rem;
    }
  }

  dt.widget-checkbox-wrap {
    margin: 0;
    width: 0;
    min-width: auto; /* IE11 */
    min-width: unset;

    [type="checkbox"] {
      width: 1.8rem;
      height: 1.8rem;
      margin: 0;
    }
  }

  .widget-title {
    margin: 1.5rem 2rem 0 5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 7rem);
  }

  dd.widget-content {
    margin-inline-start: 0; /* override user agent */
    text-align: left;
    margin: 3rem 3.5rem 0 5rem;
  }

  .checkbox-hidden {
    dt.widget-checkbox-wrap {
      width: 0;
    }

    .widget-title {
      margin-left: 0;
      width: 100%;
      overflow: visible;
      white-space: normal;
    }

    .widget-content {
      margin: 2rem 0 0 2rem;
    }
  }
}

.eligible-issues-error h3 {
  font-size: 1.7rem /* vads-u-font-size--md */
}

/* Contested issue page specific definitions */
article[data-location="contested-issues"] {
  /* hide error; we have a huge alert box instead; but it needs to show on
   * the review & submit page because the alert doesn't show up
   */
  #root_contestedIssues-error-message {
    display: none;
  }

  .usa-input-error {
    padding-top: 0;
    margin-top: 0;
  }

  dl.review {
    border-bottom-width: 0;
  }
}

/* Step 3 */
/* Informal conference */
/* global */
#root_informalConferenceTimes-label {
  p {
    margin-top: 0;
  }

  .schemaform-required-span {
    display: none;
  }
}

.schemaform-block-header > p + p {
  margin-top: 1rem;
}

/* page specific */
article[data-contact-choice] .contact-choice {
  display: none;
}

article[data-contact-choice="rep"] .contact-choice.selected-rep,
article[data-contact-choice="me"] .contact-choice.selected-me {
  display: inline-block;
}

article[data-location="informal-conference/representative-information"] {
  .schemaform-field-container {
    margin-top: 0;
  }
}

article[data-location="informal-conference/availability"] {
  #root_informalConferenceTimes_time2-label {
    margin-top: 2rem;
  }
}

/* Step 4 Review Application */
article[data-location="review-and-submit"] {
  .normal-weight-in-review {
    font-weight: normal;
  }
}

@media (max-width: $small-screen) {
  dl.review,
  div.review {
    .review-row {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }

    .review-row > dd {
      padding-left: 0;
      text-align: left;
    }

    .review-row > dt > p {
      margin-top: 0;
      margin-bottom: 0;
    }

    dd.widget-content {
      margin: 2.5rem 0 0 1rem;
    }

    .checkbox-hidden {
      .widget-content {
        margin: 0 0 0 1rem;
      }
    }
  }
}

/* Confirmation page */
article[data-location="confirmation"] {
  h1[tabindex="-1"] {
    outline: none;
  }

  @media print {
    .confirmation-page-title,
    a {
      text-align: left;
      padding-left: 0;
    }
  }
}

@media print {
  .usa-width-two-thirds {
    width: 100%;
  }

  .schemaform-title,
  .schemaform-subtitle {
    display: none;
  }
}
