@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-progress-bar";
@import "../../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../../platform/forms/sass/m-form-confirmation";

.schemaform-intro {
  padding: 0 0 2rem 0;

  .process-step:last-child {
    padding-bottom: 0;
  }

  .omb-info--container {
    margin-top: 1em;
  }
}


/* Global */
.nowrap {
  white-space: nowrap;
}

/* Wizard */
.wizard-content-inner .fieldset-input:first-child {
  margin-top: 0;
}

/* Fix margins around the form back & continue buttons */
.input-section,
.row.form-progress-buttons {
  margin-bottom: 1em;
}

/* Step 1a */
/* Veteran details block */
.blue-bar-block {
  border-left: 7px solid $color-primary;
  padding-left: 1em;

  p {
    margin: 0.5em 0;
  }

  .masked-number {
    position: relative;
    display: inline-block;
    width: 0.6em;

    &:after {
      content: "\2022";
      font-size: 2em;
      position: absolute;
      top: -0.95em;
    }
  }
}

/* Step 2 */
/*** Contested issues block ***/

/* global definitions */
// hide Required label (added to description)
#root_contestedIssues-label {
  display: none;
}

/* Contested issue cards (contested issue page & review/submit page)
 * This could go in the schemaform css, it's used in form 526 & HLR
 */
.widget-outline {
  padding: 0;
  border: solid 4px $color-primary-alt-light;
  border-radius: 7px;
  margin-top: 0.5em;

  &.selected {
    border-color: $color-primary;
  }

  &:last-child {
    margin-bottom: 1em;
  }

  /* long descriptions cause the content to shift down, using flex to fix it */
  .widget-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  h4 {
    margin-top: 0;
  }

  input[type="checkbox"] + label {
    // The former margin was to separate the checkbox from the elements above
    // it, but now that we have the outline, we need to move the whitespace to
    // the outside of the border.
    margin-top: 0em;
    margin-bottom: 0em;
    padding: 1em;

    // Eliminate unnecessary margin inside the label component
    > div *:last-child {
      margin-bottom: 0em;
    }

    .widget-content {
      padding: 0;
    }
  }
}

/* Contested issue page specific definitions */
article[data-location="contested-issues"] {
  /* hide error; we have a huge alert box instead; but it needs to show on
   * the review & submit page because the alert doesn't show up
   */
  #root_contestedIssues-error-message {
    display: none;
  }

  #root_sameOfficeAlert__title {
    width: 100%;
  }

  .usa-input-error {
    padding-top: 0;
    margin-top: 0;
  }

  dl.review {
    border-bottom-width: 0;
  }
}

/* Step 3 */
/* Informal conference */
/* global */
#root_informalConferenceTimes-label {
  p {
    margin-top: 0;
  }
  .schemaform-required-span {
    display: none;
  }
}
.schemaform-block-header > p + p {
  margin-top: 1em;
}
/* page specific */
article[data-contact-choice] .contact-choice {
  display: none;
}
article[data-contact-choice="rep"] .contact-choice.selected-rep,
article[data-contact-choice="me"] .contact-choice.selected-me {
  display: inline-block;
}

article[data-location="request-informal-conference"] {
  .schemaform-block-header {
    margin-bottom: 1.5em;
  }

  .form-expanding-group-open {
    .schemaform-field-template,
    .schemaform-field-container {
      margin-top: 1em;
    }
  }

  /* Remove extra spacing between form elements */
  .form-expanding-group {
    .schemaform-first-field,
    .usa-input-error {
      margin-top: 0;
    }

    .schemaform-block-header {
      margin-bottom: 0;
    }
  }

  .schemaform-label.usa-input-error-label {
    font-weight: bold;
  }

  .form-checkbox label {
    margin-top: 1em;
  }
}

/* Step 4 Review Application */
article[data-location="review-and-submit"] {
  /* reduce huge gaps where text should be rendered */
  .schemaform-field-template {
    margin-top: 0;
  }

  /* tweak second entry */
  .scheduled-time + .scheduled-time {
    padding-top: 0;
    margin-top: -0.5rem;
    border-top-width: 0;

    /* hide duplicate label */
    .time-contact {
      display: none;
    }
  }
  .normal-weight-in-review {
    font-weight: normal;
  }
}

@media (max-width: $small-screen) {
  dl.review,
  div.review {
    .review-row {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      padding-left: 0;
    }
    .review-row > dd {
      padding-left: 0;
      text-align: left;
    }
    .review-row > dt > p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

/* Confirmation page */
article[data-location="confirmation"] {
  h1[tabindex="-1"] {
    outline: none;
  }
  @media print {
    .confirmation-page-title, a {
      text-align: left;
      padding-left: 0;
    }
  }
}

@media print {
  .usa-width-two-thirds {
    width: 100%;
  }
  .schemaform-title,
  .schemaform-subtitle {
    display: none;
  }
}
