@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal";

.search-dropdown-options {
  position: absolute;
  box-shadow: 0px 7px 10px -4px var(--vads-color-base);

  &.full-width-suggestions {
    top: 58px;
    right: 0;
  }
}

.suggestion {
  line-height: 24px;
  cursor: pointer;

  strong {
    font-weight: 700;
  }
}

.search-dropdown-input-field {
  height: 42px;
}

.search-dropdown-submit-button {
  height: 42px;
}

.search-dropdown-component {
  flex-direction: row;

  &.full-width-suggestions {
    position: relative;
  }

  &.shrink-to-column {
    @media (max-width: $medium-screen) {
      flex-direction: column;
    }
  }
}

.search-dropdown-container {
  position: relative;

  &.full-width-suggestions {
    position: static;
    max-width: 80%;
  }
}

.suggestion {
  line-height: 24px;
  cursor: pointer;

  strong {
    font-weight: 700;
  }
}

.search-dropdown-input-field {
  height: 42px;
}

.search-dropdown-submit-button {
  height: 42px;
}

#loginGovExperimentModal {
  ul {
    list-style: unset;
    margin: unset;
    margin-top: -1em;
    padding: unset;
    margin-inline-start: 2em;

    li {
      margin-bottom: 0;
    }
  }

  .alert-actions {
    margin: 10px 0 0;
  }
}

span.sidelines {
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  width: 100%;
  display: inline-block;

  font-size: 1.15em;
  font-weight: bold;

  &:before,
  &:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 2px;
    content: "\a0";
    background-color: var(--vads-color-gray-light-alt);
  }

  &:before {
    margin-left: -52%;
    text-align: right;
  }

  &:after {
    margin-left: 2%;
  }
}

#signin-signup-modal {
  .va-modal-body {
    // Overwrite white header color.
    color: var(--vads-color-base-darker);
    padding-top: 0;
    margin-right: 0;
  }

  &.new-modal-design .va-modal-body {
    @include media($medium-screen) {
      padding: 0 9em;
    }
  }

  .va-modal-inner {
    max-width: 62.5rem;
    width: 95vw;
  }

  .login {
    .explanation-content {
      @include media($medium-screen) {
        margin-left: 2em;
      }

      ul {
        list-style: square;
        padding-left: 1.5em;
      }

      p {
        margin: 1em 0;
      }
    }
  }
}

#ios-bug ul {
  list-style: square;
  padding-left: 1.5em;
}

#login-root {

  .sitewide-search-drop-down-panel-button,
  .sign-in-drop-down-panel-button {
    border-top: none;
    margin-right: 0;
    padding: 8px 30px 8px 8px;
    width: auto;
  }
}

.verify,
.login,
.transfer-account {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 330px;
    padding: 0.75em;
    font-size: 16px;
    margin: 1em 0;
    white-space: normal !important;

    &.dslogon-button {
      background: var(--vads-color-primary-dark);

      &:hover {
        background: var(--vads-color-primary-darker);
      }
    }

    &.dslogon {
      background: var(--vads-color-primary-dark);

      &:hover {
        background: var(--vads-color-primary-darker);
      }
    }

    &.idme-create {
      box-shadow: inset 0 0 0 2px var(--vads-color-success-dark);
      color: var(--vads-color-success-dark);
      margin-bottom: 0;

      &:hover {
        box-shadow: inset 0 0 0 2px var(--vads-button-color-background-primary-alt-active-on-light);
        color: var(--vads-button-color-background-primary-alt-active-on-light);
      }
    }

    &.idme-button {
      background: var(--vads-color-success-dark);

      &:hover {
        background: var(--vads-button-color-background-primary-alt-active-on-light);
      }
    }

    &.logingov-button {
      background: var(--vads-color-secondary);

      &:hover {
        background: var(--vads-color-secondary-darkest);
      }
    }

    &.mhv-button {
      background: var(--vads-color-primary);

      &:hover {
        background: var(--vads-color-primary-dark);
      }
    }

    img,
    svg {
      height: 1em;
      padding: 0 0.25em;
    }
  }

  .container {
    color: var(--vads-color-base);
    padding: 2em 0;
  }

  .logo {
    text-align: center;
    border-bottom: solid 2px var(--vads-color-gray-light-alt);
    padding: 1em 0;

    a {
      &:hover {
        background-color: transparent;
      }

      display: inline-block;
    }
  }

  .help-info {
    padding: 2em 0;

    p:first-of-type {
      margin-top: 0;
    }
  }
}

.verify {
  button {
    width: auto;

    &.dslogon {
      margin-bottom: 0.25em;
    }
  }

  h4 + p {
    margin-top: 0;
  }
}

.login,
.verify {
  background: var(--vads-color-white);

  hr {
    border-color: var(--vads-color-base-lighter);
  }

  .mobile-explanation {
    padding: 1em 0;

    p {
      margin-top: 0;
    }
  }

  .fed-warning {
    font-size: 0.9em;
    margin-bottom: 2em;

    p {
      margin: 0.5em 0;
    }

    &--v2 {
      font-size: unset;
      margin-bottom: unset;
      max-width: 81ch;
    }
  }

  .signin-actions-container {
    text-align: center;

    @include media-maxwidth($small-screen) {
      margin-right: 0;
    }

    div:first-child {
      background: var(--vads-color-gray-light-alt);
    }

    border: solid 2px var(--vads-color-gray-light-alt);

    .top-banner {
      text-align: center;
      display: flex;
      align-items: center;
      padding: 0.25em 0;
      font-style: italic;

      div:first-child {
        margin: 0 auto;
      }

      img {
        height: inherit;
        vertical-align: baseline;
        padding: 0 0.25em;
      }
    }

    .signin-actions {
      padding: 2em 2em 1em;

      h5 {
        margin-top: 0;
      }

      @include media-maxwidth($small-screen) {
        padding: 2em 1em 1em;
      }

      .alternate-signin {
        padding-top: 1em;

        p:first-of-type {
          margin-top: 0.5em;
          color: var(--vads-color-base-darker);
        }
      }
    }
  }
}

.sign-in-nav {
  color: var(--vads-color-white);
  white-space: nowrap;

  a {
    color: inherit;
    text-decoration: none;

    &:visited {
      color: inherit;
    }
  }

  button {
    &:disabled {
      background-color: inherit;
      opacity: 0.7;
    }
  }
}

.sign-in-links {
  margin-left: 0.625rem;
}

.sign-in-link {
  color: inherit !important;
  text-decoration: none;

  &:hover {
    color: var(--vads-color-warning) !important;
    text-decoration: underline;
  }
}

.sign-in-spacer {
  color: var(--vads-color-white);
  margin: 0 0.6em;
}

#help-menu {
  width: 13.125rem;
}

#create-account a {
  border-top: 1px solid var(--vads-color-base-light);
  border-bottom: 1px solid var(--vads-color-base-light);
  line-height: 100%;

  &:before {
    top: unset !important;
  }

  &.logingov {
    border-bottom: 0;
  }
}

#sign-in-wrapper {
  @include media($medium-screen) {
    max-width: 400px;
  }
}

.button-styled-as-link {
  background-color: transparent;
  color: var(--vads-color-base);
  font-weight: normal;
  padding: unset;
  margin: unset;
  display: inline-block;
  text-align: left;
  height: 24px;
  border-radius: 0;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: var(--vads-color-base);
    text-decoration: none;
    border-bottom: 0;
  }
}