---
title: Vets.gov Site Inventory
---
<div class="section secondary">
  <div class="row">
    <div class="small-12">
      {% for page in site.html_pages %}
        {% unless page.sitemap == false %}
        <ul>
          <li>
            <a href="{{ page.url }}">{{ page.url | replace:'/index.html','/' | prepend: site_url }}</a>
          </li>
        </ul>
        {% endunless %}
      {% endfor %}

      {% for collection in site.collections %}
        {% unless collection.last.output == false or collection.output == false %}
          {% for doc in collection.last.docs %}
            {% unless doc.sitemap == false %}
              {% unless doc.collection == 'playbook' %}
              <ul>
                <li>
                  <a href="{{ doc.url }}">{{ doc.url | replace:'/index.html','/' | prepend: site_url }}</a>
                </li>
              </ul>
              {% endunless %}
            {% endunless %}
          {% endfor %}

          {% for doc in collection.docs %}
            {% unless doc.sitemap == false %}
            <ul>
              <li>
                {{ doc.url | replace:'/index.html','/' | prepend: site_url }}
              </li>
            </ul>
            {% endunless %}
          {% endfor %}
        {% endunless %}
      {% endfor %}

      <h4>Blog posts</h4>
      {% for post in site.posts %}
        {% unless post.sitemap == false %}
        <ul>
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a> <span class="post-date"> – {{ post.date | date_to_string }}</span>
          </li>
        </ul>
        {% endunless %}
      {% endfor %}

    </div>
  </div>

</div>
