---
title: Vets.gov Sitemap
---
  {% for post in site.posts %}{% unless post.sitemap == false %}
  <ul>
    <li>
      {{ post.url | prepend: site_url }}
      {% if post.last_modified_at %}
        <span class="va-timestamp--sitemap">{{ post.last_modified_at | date_to_xmlschema }}</span>
      {% else %}
        <span class="va-timestamp--sitemap">{{ post.date | date_to_xmlschema }}</span>
      {% endif %}
    </li>
  </ul>
  {% endunless %}{% endfor %}
  {% for page in site.html_pages %}{% unless page.sitemap == false %}
  <ul>
    <li>
      {{ page.url | replace:'/index.html','/' | prepend: site_url }}
      {% if page.last_modified_at %}
        <span class="va-timestamp--sitemap">{{ page.last_modified_at | date_to_xmlschema }}</span>
      {% endif %}
    </li>
  </ul>
  {% endunless %}{% endfor %}
  {% for collection in site.collections %}{% unless collection.last.output == false or collection.output == false %}
  {% for doc in collection.last.docs %}{% unless doc.sitemap == false %}
  <ul>
    <li>
      {{ doc.url | replace:'/index.html','/' | prepend: site_url }}
      {% if doc.last_modified_at %}
        <span class="va-timestamp--sitemap">{{ doc.last_modified_at | date_to_xmlschema }}</span>
      {% endif %}
    </li>
  </ul>
  {% endunless %}{% endfor %}
  {% for doc in collection.docs %}{% unless doc.sitemap == false %}
    <ul>
      <li>
        {{ doc.url | replace:'/index.html','/' | prepend: site_url }}
        {% if doc.last_modified_at %}
          <span class="va-timestamp--sitemap">{{ doc.last_modified_at | date_to_xmlschema }}</span>
        {% endif %}
      </li>
    </ul>
  {% endunless %}{% endfor %}
  {% endunless %}{% endfor %}
  {% for file in site.html_files %}
  <ul>
    <li>
      {{ file.path | prepend: site_url }}
      <span class="va-timestamp--sitemap">{{ file.modified_time | date_to_xmlschema }}</span>
    </li>
  </ul>
  {% endfor %}
</urlset>
