{% include header.html %}

<div class="main" role="main">
  <div class="splash">
    <div class="row">
      <div class="small-12 medium-push-1 medium-6 columns">
        <div class="pitch">
          <h2 class="tagline">{{ page.title }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns services">
      <ul class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Health Care</a></li>
        <li class="current"><a href="{{ page.url }}">{{ page.title }}</a></li>
      </ul>
    </div>
  </div>

<div class="primary">
  {% include health-care-subnav.html %}

  <div class="row">

    <div class="row">
      <div class="small-12 columns services">

        <h3>Affordable Care Act</h3>

        <p>The Affordable Care Act (ACA) is designed to expand access to health care and requires all Americans to obtain health insurance. If you are enrolled in VA health care, you have met your obligations under ACA to have health coverage. If you are not yet enrolled in VA health care, you can apply anytime and, if approved, your enrollment will meet the ACA coverage requirements. Families of Veterans who are not enrolled in VA health care can use the ACA marketplace to obtain health insurance coverage.</p>

        <a class="button" href="#">Apply for Health Care</a>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
