{% include header.html %}

<div class="main" role="main">
  <div class="splash">
    <div class="row">
      <div class="small-12 medium-push-1 medium-6 columns">
        <div class="pitch">
          <h2 class="tagline">{{ page.title }}</h2>
          <h3>No matter your post-military goals, VA can help you market your skills, kick-start your career, and do more of what you do best.<h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns services">
      <ul class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li class="current"><a href="#">Employment Services</a></li>
      </ul>
    </div>
  </div>

<div class="primary">
  <div class="row">
    <div class="small-12 columns services">

      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 cards">

        <li>
          <a href="Vocational-Rehab/">
            <div>
              <h4>Counseling + Training</h4>
            </div>
          </a>
        </li>
        <li>
          <a href="Employment-Resources/">
            <div>
              <h4>Employment Resources</h4>
            </div>
          </a>
        </li>
         <li>
          <a href="Family-Eligibility/">
            <div>
              <h4>Family Eligibility</h4>
            </div>
          </a>
        </li>
      </ul>

      </div>
    </div>

    <div class="row">
      <div class="small-12 columns services">

        <h3>Employment Resources</h3>

        <p>Whether you are exploring options for a career after the military, or seeking employment after decades out of service, we have resources that can help you find what you are looking for. From education and training assistance, to counseling and tools that can help you prepare for the next step in your career, we offer tools that can enhance your education, skills, and career

<ul>
  <li>Do you have a service-connected disability that makes finding employment challenging? You may be eligible for additional benefits for tuition, books, fees, supplies, monthly subsistence payments, and more through the Vocational Rehabilitation and Employment program.</li>

  <li>Are you looking to earn a degree, go to technical school, or enhance your skills? Check out the GI Bill and other education and training benefits.</li>        

  <li>Are you unsure about how to update your résumé or translate your military skills for civilian jobs? Explore the Employment Center, where you can find easy-to-use tools that can help you explore new opportunities and land the job you want.</li>

  <li>Are you looking for a private-sector or federal job? Search nearly 3 million jobs at the Jobs Bank, and narrow your search by rank, salary, and other factors.</li>

</ul>

  <p></p>


    </div>
  </div>
</div>
</div>

{% include footer.html %}
