{% include header.html %}

<div class="main" role="main">
  <div class="splash">
    <div class="row">
      <div class="small-12 medium-push-1 medium-6 columns">
        <div class="pitch">
          <h2 class="tagline">{{ page.title }}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns services">
      <ul class="breadcrumbs">
        <li><a href="#">Home</a></li>
        <li><a href="#">Health Care</a></li>
        <li class="current"><a href="#">Types</a></li>
      </ul>
    </div>
  </div>

<div class="primary">
  <div class="row">

    <div class="row">
      <div class="small-12 columns services">

        <h3>How to Apply</h3>

        <ul>
            <li>list</li>
        </ul>

        <h3>Health Care Types</h3>

        <p>paragraph</p>

        <ul>
          <li>list</li>
        </ul>

        <h3>Requirements</h3>
        <h4>Military Service Requirements</h4> 
        <ul>
          <li>list</li>
        </ul>
        <h4>Application Requirements</h4> 
        <ul>
          <li>list</li>
        </ul>
        <a class="button" href="#">Explore</a>
    
        <h3>Application Process</h3>

        <p>Paragraph</p>

        <ul>
          <li>list</li>
        </ul>

        <a class="button" href="#">Apply for Health Care</a>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
