{% include header.html %}

<div class="main" role="main">
<div class="home">
  <div class="splash">

    <div class="row">
      <div class="small-12 medium-push-1 medium-6 columns">
        <div class="pitch">
          <h2 class="tagline">Welcome home</h2>
          <p>Get started with your transition to civilian life.</p>
        </div>
      </div><!--/small 12 medium 7 columns -->
    </div>
  </div>
<div class="primary">
  <div class="row">
    <div class="small-12 columns services">

      <h3>Services and Information</h3>

      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 cards">

        <li>
          <a href="#">
            <div>
              <h4>Get a job</h4>
              <p>Description.</p>
            </div>
          </a>
        </li>

        <li>
          <a href="#">
            <div>
              <h4>Get education and training</h4>
              <p>Description.</p>
            </div>
          </a>
        </li>

        <li>
          <a href="#">
            <div>
              <h4>Get a mortgage</h4>
              <p>Description.</p>
            </div>
          </a>
        </li>

        <li>
          <a href="education/">
            <div>
              <h4>Healthcare</h4>
              <p>Description.</p>
            </div>
          </a>
        </li>

        <li>
          <a href="#">
            <div>
              <h4>Pensions</h4>
              <p>Description.</p>
            </div>
          </a>
        </li>

        <li>
          <a href="#">
            <div>
              <h4>Life insurance</h4>
              <p>Description.</p>
            </div>
          </a>
        </li>

        <li>
          <a href="#">
            <div>
              <h4>Memorial benefits</h4>
              <p>Description.</p>
            </div>
          </a>
        </li>

        <li>
          <a href="#">
            <div>
              <h4>Disability compensation</h4>
              <p>Description.</p>
            </div>
          </a>
        </li>

        <li>
          <a href="#">
            <div>
              <h4>Spouses and dependents</h4>
              <p>Description.</p>
            </div>
          </a>
        </li>


      </ul>


    </div>
  </div>
</div>
</div>
</div>

{% include footer.html %}
