---
title: Home
---

{% include header.html %}

<div class="main" role="main">

  <div class="splash">
    <div class="row wow fadeIn animated" data-wow-delay="0.5s">
      <div class="small-12 medium-8 medium-centered large-uncentered large-6 columns">
        <div class="pitch">
          <h2 class="tagline"><span>Get started with your transition to civilian life.</span></h2>
        </div>
      </div>
    </div>
  </div>

  {% include main-navigation.html %}

</div>

{% include footer.html %}
