{% include header.html %}

<div id="experience" class="{{ page.id }}">
  <div class="splash">
    <h2><a href="/experience/">Experience</a></h2>
  </div>
  <div class="primary">
    <div class="row">
      <div class="post full">
        <div class="small-12 medium-8 medium-offset-4 large-offset-2 small-centered columns">
          <div class="post">
            <h3 class="title">{{ page.title }}</h3>
            <div class="post-author">{{ page.author }}</div>
            <div class="post-date">{{ page.date | date: "%B %d, %Y" }}</div>
              {{ content }}
          </div>
          <div class="related-posts">
            <h6>Related posts</h6>
            <ul class="plain posts">
              {% for post in site.related_posts %}
                <li>
                  <a href="/{{ post.url }}">
                    <div class="post-title">{{ post.title }}</div>
                    <div class="post-date">{{ post.date | date: "%B %d, %Y" }}</div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
