{% include header.html %}

<div id="content" class="{{ page.id }}">

  <div class="splash">
    <div class="row">
      <div class="small-9 small-centered medium-8 medium-centered columns">

        <h2>Veteran&rsquo;s Experience
          <span>Blogging about the ways the Veteran experience is changing.</span>
        </h2>

      </div>
    </div>
  </div>

  <div class="primary">
  <div class="row">
    <div class="small-12 columns">

      <div class="row">
        <div class="small-9 small-centered medium-8 columns">
          <div class="post-preview">

              {{ content }}

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>


  <div class="previous">

    <h3>Previous Posts</h3>
    <ul class="posts">
      {% for post in site.posts %}
      {% if post.categories contains 'past' %}
      <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date_to_string }}</span></li>
      {% endif %}
      {% endfor %}
    </ul>

  </div>

</div>
</div>
</div><!-- /content -->

{% include footer.html %}
