@import "./calendar";

.vaos-appts__block-label {
  margin: 0;
  margin-bottom: 0.25rem; // still computes to 4px. Original spacer was 8px * 0.5. New 16px root font * .25 is equivalent
  font-size: var(--base-font-size);
  font-family: var(--font-source-sans);
  line-height: 1.5em;
}

.vaos-form__checkbox > .schemaform-label {
  margin-top: 0;
}

.vaos-form__detailed-radio {
  input[type="radio"] + label::before {
    margin-top: 0.6em;
  }

  .form-radio-buttons label {
    max-width: none;
  }
}

.vaos-form__facility-type {
  legend {
    max-width: none;
  }
}

.vaos-form__checkboxgroup {
  .schemaform-block {
    margin-top: 0;
  }

  > .usa-input-error {
    margin-top: 0;
  }
}
