---
title: Apply for Health Care
template: 1-topic-landing
---

{% if site.domain != "staging.vets.gov" %}
<div class="main" role="main">
  <div class="section primary">
    <div class="row">
      <div class="small-12 columns">
        <h4>This page not in production yet.</h4>
      </div>
    </div>
  </div>
</div>
{% else %}

<div class="main" role="main">

  <div class="section">
    <div class="row">
      <div class="small-12 columns">
        
        <dl class="tabs progress-menu" role="tablist" data-tab data-options="deep_linking:true">

          <dd class="tab-title active" role="presentation">
            <a aria-controls="introduction" data-toggle="tab" href="#introduction" role="tab">Introduction</a>
          </dd>

          <dd class="tab-title" role="presentation">
            <a aria-controls="personal_information" data-toggle="tab" href="#personal_information" role="tab">
            Personal Information
            </a>
          </dd>
        
          <dd class="tab-title" role="presentation">
            <a aria-controls="insurance_information" data-toggle="tab" href="#insurance_information" role="tab">
            Insurance Information
            </a>
          </dd>
          
          <dd class="tab-title" role="presentation">
            <a aria-controls="military_service" data-toggle="tab" href="#military_service" role="tab">
              Military Service
            </a>
          </dd>
          
          <dd class="tab-title" role="presentation">
            <a aria-controls="financial_assessment" data-toggle="tab" href="#financial_assessment" role="tab">
            Financial Assessment
            </a>
          </dd>
        
          <dd class="tab-title" role="presentation">
            <a aria-controls="review_and_submit" data-toggle="tab" href="#review_and_submit" role="tab">
            Review and Submit
            </a>
          </dd>
        </dl>

        <div class="progress-box">
          <form class="main-form">
          
            <div class="tabs-content">
              <div role="tabpanel" class="content active" id="introduction" aria-hidden="false">
                {% include_relative _introduction.html %}
              </div>

              <div role="tabpanel" class="content" id="personal_information" aria-hidden="true">
                {% include_relative _personal_information/_personal_information.html %}
              </div>

              <div role="tabpanel" class="content" id="insurance_information" aria-hidden="true">
                {% include_relative _insurance_information/_insurance_information.html %}
              </div>

              <div role="tabpanel" class="content" id="military_service" aria-hidden="true">
                {% include_relative _military_service/_military_service.html %}
              </div>

              <div role="tabpanel" class="content" id="financial_assessment" aria-hidden="true">
                {% include_relative _financial_assessment/_financial_assessment.html %}
              </div>

              <div role="tabpanel" class="content" id="review_and_submit" aria-hidden="true">
                {% include_relative _review_and_submit.html %}
              </div>
            </div>

          </form>

        </div>
      
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
{% endif %}

<!-- TODO(awong): Properly serve up the JS. Right now using jekyl includes
     to ensure nothing leaks to production. -->
<script>
  {% include_relative _js/_jquery.serializeObject.min.js %}
</script>
<script>
  {% include_relative _js/_jquery.deserialize.min.js %}
</script>
<script>
  {% include_relative _js/_form.js %}
</script>
