#rx-detail .rx-contact-card {
  display: inline-block;
  margin-left: 3rem;
}

#rx-detail .rx-table {
  margin: 0;
  min-width: 0;
}

.rx-info {
  display: inline-block;
  vertical-align: top;

  tbody {
    &:first-child {
      th, td {
        border-top: none;
      }
    }
  }

  td {
    padding-right: 0;
  }

  th {
    font-weight: bold;
    padding-left: 0;
    padding-right: 2.5rem;
  }
}
