/* Rx detail page */

#rx-detail .rx-contact-card {
  display: block;
  margin: 2rem 0;
  width: 100%;

  @media (min-width: $medium-screen) {
    display: inline-block;
    margin-left: 3rem;
    width: 30rem;
  };
}

#rx-detail .rx-table {
  @media (min-width: $medium-screen) {
    margin: 0;
    min-width: 0;
  }
}

.rx-info {
  @media (min-width: $medium-screen) {
    display: inline-block;
    vertical-align: top;
  }

  tbody {
    &:first-child {
      th, td {
        border-top: none;
      }
    }

    &:last-child {
      th, td {
        border-bottom: none;
      }
    }
  }

  td {
    padding-right: 0;
  }

  th {
    font-weight: bold;
    padding-left: 0;
    padding-right: 2.5rem;
  }
}

.rx-order-history {
  @media (min-width: $medium-screen) {
    display: inline-block;

    h3 {
      border-bottom: none;
    }
  }

  @media (max-width: $medium-screen) {
    thead {
      left: -9999rem;
      position: absolute;
      top: -9999rem;
    }

    tr {
      display: block;
      padding: 1.5rem 0;

      &:nth-child(n+2) {
        border-top: 1px solid $color-gray-light;
      }
    }

    td {
      border: none;
      display: block;
      padding: 0;

      &:nth-child(1):before {
        content: "Order status: ";
        font-weight: bold;
      }

      &:nth-child(2):before {
        content: "Tracking status: ";
        font-weight: bold;
      }
    }
  }
}
