.rx-disclaimer {
  background: $color-gold;
  overflow: hidden;
  
  > div {
    padding: 1.5rem;
    position: relative;
  }
  
  // !important is necessary because
  // #content .section h5 still exists
  &-title {
    padding-bottom: 0 !important;
  }
  
  &-close {
    color: $color-base;
    margin: 0;
    padding: .5rem;
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    width: auto;
    
    &:hover {
      background: transparent;
      opacity: .8
    }
  }

  p {
    margin: 0;
  }
}

