// Override some USWDS stuff

.rx-sort {
  display: inline-block;

  * + ul {
    margin: 0 0 0 .5rem;
  }

  label {
    display: inline-block;
    margin-top: 0;
  }
}

.rx-sort-active {
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: $medium-screen) {
  .rx-sort {
    width: 100%;
  }

  .rx-sort-wide {
    display: none;
  }
  .rx-sort-narrow {
    display: inline-block;
    width: inherit;
  }
}

@media screen and (min-width: $medium-screen) {
  .rx-sort-wide {
    display: inline-block;
  }
  .rx-sort-narrow {
    display: none;
  }
}

// TODO(crew) Commit to core
.va-list-ib {
  display: inline-block;
  padding: 0;

  li {
    display: inherit;

    &::before {
      content: '';
      display: none;
    }

    &:nth-child(even) {
      &::before,
      &::after {
        content: '\a0\a0|\a0\a0';
        display: inline-block;
      }
    }
  }
}
