/* Prescription cards for Activity page. */

.rx-prescription-items {
  padding-top: 3rem;
}

.rx-prescription {
  border-color: $color-white;
  border-style: solid;
  border-width: 1rem 0;
  
  @media (min-width: $medium-screen) {
    float: left;
    width: 50%;

    &:nth-child(odd) {
      border-right-width: 1rem;
    }

    &:nth-child(even) {
      border-left-width: 1rem;
    }
  }
}

.rx-prescription-inner {
  background: $color-gray-lightest;
  // As this changes, adjust the position 
  // of .rx-prescription-count, .rx-prescription-action below
  padding: 2rem;
  position: relative;
  height: 24.5rem;

  .rx-track-package-link {
    background: $color-primary;
    display: block;
    margin: 0;
  }
}

.rx-prescription-title {
  color: $color-primary;
  margin: 0;
  white-space: nowrap;
  padding-bottom: 0;

  a {
    display: block;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;

    &:hover {
      background: none; 
      text-decoration: underline;
    }
  }
}

.rx-prescription-number {
  font-weight: bold;
}

.rx-prescription-refilled {
  padding-bottom: 3rem;
}

.rx-prescription-refill-requested {
  font-weight: bold;
}

button.rx-prescription-button,
[type=submit].rx-prescription-button {
  background: transparent;
  display: inline-block;
  font-weight: bold;
  margin: 0;

  @media (max-width: $small-screen) {
    max-width: 60%;
    padding: 1rem;
  };
}

.rx-prescription-count {
  display: inline-block;
  bottom: 1.5rem;
  
  &-zero {
    color: $color-secondary;
  }
}

.rx-prescription-count,
.rx-prescription-action {
  position: absolute;
}

.rx-prescription-action {
  text-align: right;
  right: 2rem;
  bottom: 2rem;
}

.rx-prescription-count-number {
  font-size: 3rem;
  font-weight: bold;
  &::after {
    content: '\a0';
  }
}

// "Do not print" styles
// Contributed .va-header-logo a block to vets-website.
// TODO: Remove when these land in "core"
@media print {
  // TODO: Refactor when `form button` and `form
  // [type=submit]` selectors are refactored out of USWDS
  .va-dnp,
  button.rx-prescription-button.va-dnp,
  [type=submit].rx-prescription-button.va-dnp {
    display: none !important;
  }

  .va-header-logo a {
    background: none;
    color: #000;
    text-indent: 0;
  }

  .rx-prescription {
    float: left;
    width: 50%;
  }

  .rx-prescription-count {
    display: block;
    float: none;
  }
  .rx-prescription-count-number {
    display: inline;
  }
}
