// Styles for contact card

.rx-contact {
  &-card {
    & .rx-message-provider-link {
      background: $color-primary;
      border-radius: 3px;
      color: #ffffff;
      display: inline-block;
      font-weight: bold;
      margin: 2rem 0;
      width: 100%;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
    }
  }

  &-line {

    & + & {
      margin-top: 1rem;
    }
  }

  &-header {
    font-weight: bold;
  }
}
