// Styles for confirm refill modal

.rx-modal {
  background: rgba($color-primary-darkest, .8);
  content: ' ';
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;

  &-inner {
    margin: auto;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    > div {
      background: $color-white;
      margin: auto;
      min-width: 320px;
      max-width: 30rem;
    }
  }

  &-title {
    background: $color-primary-darkest;
    color: $color-white;
    font-size: 2.4rem;
    margin: 0;
    // Abusing important until #content .section h3 is cleared up.
    padding: .5rem 2rem !important;
  }

  &-refillinfo {
    padding: 2rem;
    white-space: nowrap;
  }

  &-drug, &-dosage {
    color: $color-primary;
    font-size: 2.4rem;
    font-weight: bold;
  }

  .rx-button-group {
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: 5rem;
    
    button {
      margin: 0 1rem 0 0;
    }
    
    [type=button]:hover {
      background: transparent !important;
    }
  }
}
