// Borderless table

[class*=rx-table] {
  th, td {
    border-color: $color-gray-light;
  }
}

.rx-table {
  thead tr {
    // TODO: Figure out where the tr{background: #fff !important}
    // is coming from, and remove it there so we can remove it here.
    // (Suspect it's Foundation-related)
    background: $color-gray-lightest !important;
  }
}

// Style for tables that transform into a list when viewd in a smaller screen.
.rx-table-list {
  // Get font size to stay the same when table shrinks.
  font-size: 1.6rem;

  th {
    a {
      text-decoration: none;
    }
  }

  @media (max-width: $medium-screen) {
    thead {
      left: -9999rem;
      position: absolute;
      top: -9999rem;
    }

    tr {
      display: block;
      padding: 1.5rem 0;

      &:nth-child(n+2) {
        border-top: 1px solid $color-gray-light;
      }
    }

    td {
      border: none;
      padding: 0;

      &:before {
        font-weight: bold;
      }
    }
  }
}

// Specific table styling in history view.

#rx-history .rx-table {
  tr {
    &:last-child {
      td {
        border-bottom: none;
      }
    }
  }

  td {
    &:nth-child(3) {
      a {
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

#rx-history .rx-table-list {
  @media (max-width: $medium-screen) {
    td {
      display: table-row;

      // Get the prescription name to appear above the other fields.
      &:nth-child(3) { display: table-header-group; }

      &:nth-child(1):before { content: "Refill requested on: "; }
      &:nth-child(2):before { content: "Fill date: "; }
      &:nth-child(4):before { content: "Prescription status: "; }
    }
  }
}
