@import "~@department-of-veterans-affairs/formation/sass/shared-variables";


.dash-container {
  max-width: 1024px;
  margin: 32px auto;

  .nav {
    height: 48px;
  }
}

.placeholder-container {
  .primary {
    height: 96px;
  }
  .etc {
    height: 96px;
  }
}

.homepage-hero {
  &__look-and-feel {
    background: linear-gradient(
      to left,
      $color-primary-alt 10%,
      $color-primary-alt-dark 40%,
      $color-primary-alt-darkest
    );
  }
}

.rounded-corners {
  border-radius: 10px;
}

.view-all-link {
  float: right;
}