a:focus {
  outline: 2px solid $color-gold-light;
  outline-offset: 0;
}

.va-nav-breadcrumbs-list {
  a:focus {
    background: $color-gold-light;
    outline: 2px solid $color-gold-light;
    outline-offset: 0;
  }
}

button:focus {
  position: relative;
  outline: 2px solid $color-gold-light;
  outline-offset: 3px;
  z-index: 3;
}

nav button:focus {
  outline-offset: 0;
}

.popular-container {
  a.usa-button:focus, button:focus {
    outline: none;
    background: $color-gold-lighter;
  }
}

.va-nav-linkslist a:focus {
  outline: none;
  margin-top: 19px;

  h4 {
    background: $color-gold-lighter;
    display: inline;
    line-height: 2.2;
  }
}

#va-header-logo-menu {
  a.va-header-logo:focus {
    position: relative;
    outline: 2px solid $color-gold-light;
    outline-offset: 3px;
    z-index: 3;
  }

  .sign-in-nav button:focus {
    position: relative;
    outline: 2px solid $color-gold-light;
    outline-offset: 3px;
    z-index: 3;
  }

  a:focus {
    position: relative;
    outline: 2px solid $color-gold-light;
    outline-offset: 0;
    z-index: 3;
  }

  .vetnav-panel {
    button:focus, a:focus {
      outline: none;
      background: $color-gold-lighter;
    }

    .vetnav-panel--submenu a:focus {
      outline: none;
      background: $color-gold-lighter;
    }
  }
}

.va-footer-linkgroup {
  a:focus, button:focus {
    color: $color-gold-light;
    outline: 2px solid $color-gold-light;
  }
}

.va-footer-linkgroup--inline {
  a:focus {
    color: $color-gold-light;
    outline: 2px solid $color-gold-light;
  }
}

input[type="radio"]:focus {
  & + label {
    &::before {
      position: relative;
      outline: 2px solid $color-gold-light;
      outline-offset: 3;
      z-index: 3;
    }
  }

  & ~ div {
    width: 50%;
    height: 25px;
    position: absolute;
    background: $color-gold-light;
    top: -2;
    left: 0;
    z-index: -1;
  }
}
