@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "./prescription-details";
@import "./print-download";

.link-button,
.link-button:hover,
.link-button:active {
  background-color: transparent;
  color: $color-link-default;
  font-weight: normal;
  text-decoration: underline;
  border: none;
  border-radius: 0px;
  transition-duration: 0.3s;
  padding: 0px;
  width: fit-content;
}
.link-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.main-content {
  padding: 0;
  margin-bottom: 40px;

  @media (max-width: $small-screen) {
    max-width: 480px;
  }
}
.link-to-details {
  i {
    font-size: 16px;
    margin-left: 6px;
  }
  .right-angle {
    text-decoration: none;
  }
}
.va-button {
  margin: 4px 0;
}
.landing-page {
  h1 {
    color: $color-gray-dark;
  }
  .medications-list-sort {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    .va-button {
      padding: 2px 0;
      margin: 0 0 2.5px 0;
    }
    .sort-button {
      margin-left: 8px;
      margin-top: 57px;
    }
  }
  .rx-page-total-info {
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 500px;
    font-size: 1.6rem;
    font-weight: normal;
  }
  section {
    .feedback {
      float: right;
      width: 130px;
    }
  }
  .rx-card-container{
    max-width: 500px;
    padding-bottom: 5px;
    color: $color-gray-dark;
    .rx-card-details{
      margin-left: 5px;
      h3 {
        margin: 8px 0;
      }
      p {
        margin: 0;
      }
      .shipping-info {
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .shipping-icon {
          margin: 10px;
          width: 20px;
          height: 20px;
          border: 1px solid $color-base;
        }
      }
      .statusIcon {
        padding: 4px 20px 4px 28px;
        position: relative;
        display: inline-block;
      }
      .statusIcon:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        font-size: 120%;
        position: absolute;
        left: 0px;
      }

      .refillProcessIcon:before {
        content: "\f56e";
      }

      .unknownIcon:before {
        content: "\f071";
      }

      .submittedIcon:before {
        content: "\f572";
      }
    }
  }
  .rx-landing-page-footer {
    max-width: 500px;
    .footer-header {
      color: $color-gray-dark;
    }
    .footer-links {
      margin: 10px 0;
      a {
        font-weight: bold;
      }
      p {
        margin-top: 5px;
        margin-bottom: 15px;
      }
    }
  }
}

.pagination {
  max-width: 500px;
  border-top: 0px;
}

@media print {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
    margin: 1rem 0 !important;
    padding: 0;
  }
  .rx-page-total-info {
    margin: 1.5rem 0 !important;
    padding: 0;
  }
  .line-break {
    margin: 1rem 0;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  .no-print,
  .no-print * {
    visibility: hidden;
    display: none;
    margin: 0px !important;
    padding: 0px !important;
  }
  .no-break {
    break-inside: avoid;
  }
  .print-only-rx-full-list-page {
    margin-top: -10.5rem;
  }
  .print-only-refill-container {
    margin-top: 1.5rem;
  }
  .print-only-crisis-line-header {
    font-size: 1.58rem;
    margin-bottom: 5rem;
    width: 100%;
  }
  .print-only-rx-image-container {
    img {
      display: block;
      width: 259px;
      height: 195.85px;
      margin: 0.5rem 0;
    }
  }
  .print-only-rx-container {
    margin-bottom: 1.35rem;
    p {
      padding: 0;
      margin: 0;
      word-wrap: break-word;
    }
    .print-only-rx-details-container {
      margin: 0 auto 1rem auto;
      width: 95%;
    }
    h4 {
      margin: 1rem 0 0.5rem 0;
      padding: 0;
      font-size: 18px;
    }
    h3 {
      margin: 1rem 0;
      padding: 0;
      font-size: 22px;
    }
    h2 {
      font-size: 30px;
    }
  }
}

@media screen {
  .print-only,
  .print-only * {
    visibility: hidden;
    display: none;
    margin: 0px !important;
    padding: 0px !important;
  }
}

.vads-u-width--responsive{
  @media (max-width: $small-screen) {
    width: 100% !important;
  }
}

.rx-fill-refill-button {
  va-loading-indicator {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.5rem;
  }
}