.medication-details-div {
    @media screen {
        border-top: 1px solid $color-gray-lighter;
        border-bottom: 1px solid $color-gray-lighter;
    }

    h3 {
        margin: 16px 0px 0px 0px;
    }
    p {
        margin: 0px;
    }
}