<div class="main" role="main">
  <div class="primary">
    <div class="row">
       <div class="small-12 usa-width-two-thirds medium-8 columns">
        <h1>{{ title }}</h1>
          {{ contents }}

          <!-- Last updated -->
          {% include "content/includes/last-update.html" %}

       </div>
    </div><!-- end row-->
  </div><!-- end primary-->

  {% if page.path contains 'employers/post-a-job' %}
  <div class="va-action-bar--header">
    <div class="row">
      <div class="small-12 columns">
        <a class="usa-button-primary" href="https://us.jobs/postajobpartner.asp?partner=ebenefits">Post a Job on the <abbr>NLX</abbr></a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
