{% comment %}
Paths are generally in the form: 
  `directory/markdown-file-name-without-extension`.

Use `if path contains` to display content for a particular category and 
its children.

Use `if path ==` to display content for *exactly* a particular path. 
{% endcomment %}

<div class="small-12 usa-width-one-third medium-4 columns">
  <div>
    {% if path contains 'job-seekers' %}
    <h4 class="highlight">Online Resources</h4>
    {% else %}
    <h4 class="highlight">Need help?</h4>
    {% endif %}

      <ul class="va-list--plain va-rellinks">
      {% if path contains 'agent-orange/c-123' %}
        <li>Call the C-123 Hotline: <a href="tel:+18007498387">800-749-8387</a></li>
        <li><a href="mailto:VSCC123.VAVBASPL@va.gov">Email the St. Paul Regional Benefit Office</a>.</li>
      {% endif %}

      {% if path contains 'conditions/exposure-to-hazardous-materials/mustard-gas' %}
        <li>Have questions about benefits related to mustard gas exposure? <a href="mailto:mustardgas@vba.va.gov">Email us at mustardgas@vba.va.gov</a>.</li>
      {% endif %}

      {% if path contains 'agent-orange/navy-coast-guard' %}
      <li>
      To contact VA:

      <li>- Call <a href="tel:+18008271000">800-827-1000</a> or <a href="tel:+18008294833">800-829-4833</a> (TDD for hearing impaired).</li>
      <li>- Go to your <a href="http://www.va.gov/directory/guide/division.asp?dnum=3">nearest VA benefits office</a>.</li>

      <li>Get more information about <a href="http://www.publichealth.va.gov/exposures/agentorange/shiplist/#sthash.EuQ8JwEx.dpuf">ships that may have been exposed to Agent Orange</a>.</li>
        {% endif %}

        {% if path contains 'agent-orange/test-storage' %}
       <li>
      See these comprehensive lists for dates and locations of herbicide tests and storage:

        <p><a href="http://www.publichealth.va.gov/exposures/agentorange/locations/tests-storage/usa.asp">In the U.S.</a></p>

        <p><a href="http://www.publichealth.va.gov/exposures/agentorange/locations/tests-storage/outside-vietnam.asp">Outside the U.S.</a></p>
      </li>
      {% endif %}

      {% if path contains 'agent-orange/registry-health-exam' %}
        <li>Need to make an appointment for your Agent Orange Registry health exam? <a href="http://www.publichealth.va.gov/exposures/coordinators.asp">Contact your local VA Environmental Health Coordinator</a>.</li>
      {% endif %}

      {% if path contains 'disability-benefits' %}
        <li>Want to connect with a trained professional who can help you with VA-related claims? <a href="/disability-benefits/apply/help/">Find an accredited representative</a>.</li>
      {% endif %}

      {% if path contains 'job-seekers' %}
        <li><a href="https://www.surveymonkey.com/r/QSGQRFN">Coursera</a> Take a class with free resources.</li>
        <li><a href="https://veterans.linkedin.com/">LinkedIn&#153;</a> Learn transition techniques as well as business, software, technology, and creative skills with a free one-year subscription to online courses with
        <a href="https://veterans.linkedin.com/">LinkedIn&#153; Learning</a>.</li>
      {% endif %}

      {% if path contains 'contaminated-drinking-water-at-camp-lejeune' %}
        <li><a href="https://www.vets.gov/facility-locator/">Go to your VA regional office</a>.</li>
      {% endif %}
        
      {% if path contains 'life-insurance/options-and-eligibility' %}
      <li>Already have VA life insurance? <a href="/life-insurance/manage-your-policy/">Manage your policy online</a>.</li>
      <li>Need more information? <a href="http://www.benefits.va.gov/INSURANCE/ins_publications.asp">Read our insurance publications</a>.</li>
      <li>Think you might have unclaimed funds? <a href="https://insurance.va.gov/UnclaimedFunds/">Search for unclaimed funds</a>.</li>
      {% endif %}

      {% if path contains 'disabled-and-terminally-ill' %}
      <li> Need to file a benefits claim after your family member has died? <a href="/life-insurance/manage-your-policy/">Manage your policy online</a>.</li>
      <li>Need more information? <a href="http://www.benefits.va.gov/INSURANCE/ins_publications.asp">Read our insurance publications</a>.</li>
      {% endif %}
    </ul>
  </div>
</div>
