<div class="small-12 medium-4 columns">
  <div>
    {% if path contains 'job-seekers' %}
    <h4 class="highlight">Online Resources</h4>
    {% else %}
    <h4 class="highlight">Need help?</h4>
    {% endif %}
    
      <ul class="plain">
      {% if path contains 'agent-orange/c-123' %}
        <li>**Call the C-123 Hotline:** <span class="tel">1-800-749-8387</span></li>
        <li>**Email the St. Paul Regional Benefit Office:** <a href="mailto:VSCC123.VAVBASPL@va.gov">VSCC123.VAVBASPL@va.gov</a></li>
        <li>**Download our fact sheet:** <a href="http://www.benefits.va.gov/benefits/factsheets/serviceconnected/AO_c123.pdf">C-123 aircraft and Agent Orange exposure</a></li>
      {% endif %}      
    
      {% if path contains 'conditions/exposure-to-hazardous-materials/mustard-gas' %}
      <li>**Have questions about benefits related to mustard gas exposure?** <a href="mailto:mustardgas@vba.va.gov">Email us at mustardgas@vba.va.gov</a>.</li>
      {% endif %}
        
      <li>
     **Contact us:**

      - Call 800-827-1000 or 800-829-4833 (TDD for hearing impaired).
      - Go to your nearest VA benefits office. <a href="http://www.va.gov/directory/guide/division.asp?dnum=3">Find a VA benefits office near you</a>.
      </li>
        
        {% endif %}
                     
      {% if path contains 'agent-orange/registry-health-exam' %}
      <li>**Need to make an appointment for your Agent Orange Registry health exam?** <a href="http://www.publichealth.va.gov/exposures/coordinators.asp">Contact your local VA Environmental Health Coordinator</a>.
      </li>
      {% endif %}
       
      {% if path contains 'disability-benefits' %}
      <li>Want to connect with a trained professional who can help you with VA-related claims? <a href="/disability-benefits/apply-for-benefits/help/">Find an accredited representative</a></li>  
      {% endif %}
    
      {% if path contains 'job-seekers' %}
        <li>
        <a href="https://www.surveymonkey.com/r/QSGQRFN">Coursera</a> Take a class with these free resources
        </li>

        <li>
        <a href="https://veterans.linkedin.com/">LinkedIn&#153;</a> Learn transition techniques as well as business, software, technology, and creative skills with a free one-year subscription to online courses with 
        <a href="https://veterans.linkedin.com/">LinkedIn&#153;'s Lynda</a>
        </li>
      
      {% endif %}
    </ul>
  </div>
</div>
