<div class="small-12 medium-4 columns">
  <div>
    {% if path contains 'job-seekers' %}
    <h4 class="highlight">Online Resources</h4>
    {% else %}
    <h4 class="highlight">Questions</h4>
    {% endif %}
    
      <ul class="plain">
      {% if path contains 'agent-orange/c-123' %}
        <li>C-123 Hotline: <span class="tel">1-800-749-8387</span></li>
        <li>St. Paul Regional Benefit Office: <a href="mailto:VSCC123.VAVBASPL@va.gov">VSCC123.VAVBASPL@va.gov</a></li>
        <li>Fact Sheet: <a href="http://www.benefits.va.gov/benefits/factsheets/serviceconnected/AO_c123.pdf">C-123 aircraft and Agent Orange exposure</a></li>
      {% endif %}
      
      {% if path contains 'agent-orange/thailand-military-bases' %}
      <li><b>Need help determining exposure?</b> VA will help you determine potential exposure to Agent Orange after you file a claim for disability benefits.</li>
      {% endif %}
      
      {% if path contains 'agent-orange/water-vietnam' %}
      <li>Learn more about <a href="http://www.publichealth.va.gov/exposures/agentorange/locations/blue-water-veterans.asp#sthash.Srfgf1kO.dpuf">Blue Water and Agent Orange exposure</a>.</li>
      {% endif %}
      
      {% if path contains 'conditions/exposure-to-hazardous-materials/mustard-gas' %}
      <li>For questions about your benefits related to mustard gas exposure, send us an email at <a href="mailto:mustardgas@vba.va.gov">mustardgas@vba.va.gov</a>.</li>
      {% endif %}
        
      {% if path contains 'agent-orange/navy-coast-guard' %} 
      <li>
      Need help determining whether you qualify for benefits?
      VA will help determine qualifying service in Vietnam after you <a href="https://www.ebenefits.va.gov/ebenefits/about/feature?feature=disability-compensation">file a claim for compensation benefits</a>.
      </li>

      <li>
      To contact VA:

      - Call 1-800-827-1000 or 1-800-829-4833 (TDD for hearing impaired).
      - Go to your <a href="http://www.va.gov/directory/guide/division.asp?dnum=3">nearest VA benefits office</a>.
      </li>

      <li>
      Get more information about <a href="http://www.publichealth.va.gov/exposures/agentorange/shiplist/#sthash.EuQ8JwEx.dpuf">ships that may have been exposed to Agent Orange</a>.
      </li>     
        {% endif %}
    
        {% if path contains 'agent-orange/test-storage' %}
       <li>
      See these comprehensive lists for dates and locations of herbicide tests and storage:

        <p><a href="http://www.publichealth.va.gov/exposures/agentorange/locations/tests-storage/usa.asp">In the U.S.</a></p>
      
        <p><a href="http://www.publichealth.va.gov/exposures/agentorange/locations/tests-storage/outside-vietnam.asp">Outside the U.S.</a></p>
      </li>
      {% endif %}
      
      {% if path contains 'agent-orange/registry-health-exam' %}
      <li>Contact your <a href="http://www.publichealth.va.gov/exposures/coordinators.asp">local VA Environmental Health Coordinator</a> to make an appointment for your Agent Orange Registry health exam.
      </li>


      <li>
      Learn more about the <a href="http://www.publichealth.va.gov/exposures/agentorange/benefits/registry-exam.asp#sthash.WRMj8tzo.dpuf">Agent Orange Registry health exam</a>.
      </li>
      {% endif %}
       
      {% if path contains 'disability-benefits' %}
      <li>Find an <a href="/disability-benefits/apply-for-benefits/help/">accredited representative</a> to help you.</li>  
      {% endif %}
    
      {% if path contains 'job-seekers' %}
        <li>
        <a href="https://www.surveymonkey.com/r/QSGQRFN">Coursera</a> Take a class with these free resources
        </li>

        <li>
        <a href="https://veterans.linkedin.com/">LinkedIn&#153;</a> Learn transition techniques as well as business, software, technology, and creative skills with a free one-year subscription to online courses with 
        <a href="https://veterans.linkedin.com/">LinkedIn&#153;'s Lynda</a>
        </li>
      
      {% endif %}
    </ul>
  </div>
</div>
