<div class="main interior" role="main">
  <div class="section one">
    <div class="primary">
      <div class="row">
        <div class="small-12 columns{% unless page.template == '7-get-page-alt' %}  usa-content {% endunless %}">
           <h1>{{ title }}</h1>
           {{ contents }}

           <!-- Last updated -->
           {% if lastupdate %}
             {% include "content/includes/last-update.html" %}
           {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
{% if path contains 'disability-benefits' %}
  {% include "content/includes/action-bar.html" action_text="Go to eBenefits to apply" action_url="https://www.ebenefits.va.gov/ebenefits/homepage" action_class="va-action-bar--footer va-action-bar--start" %}
{% endif %}
