<div class="main interior" role="main">
  <div class="primary">
      <div class="row">
        <div class="small-12 usa-width-two-thirds medium-8 columns{% unless page.template == '7-get-page-alt' %}  {% endunless %}">
           <h1>{{ title }}</h1>
           {{ contents }}

           <!-- Last updated -->
           {% include "content/includes/last-update.html" %}

        </div>
      </div>
        {% if path contains 'disability-benefits/apply' %}

        <div class="show-for-large-up">
          <div class="sticky-action-box--container">
            <div class="sticky-action-box">
              <a href="https://www.ebenefits.va.gov/ebenefits/about/feature?feature=disability-compensation" class="usa-button-primary va-button-primary">
                  Go to eBenefits to apply
              </a>

            </div>
          </div>
        </div>




        {% endif %}

    </div>
</div>
