<nav class="va-nav-breadcrumbs">
  <ul class="row va-nav-breadcrumbs-list" role="menubar" aria-label="Primary">
    <li><a href="/">Home</a></li>
      {% assign my_variable = breadcrumb_path | last %}
      {% for crumb in breadcrumb_path %}
        {% if my_variable.name == crumb.name %}
          <li class="active">
            {% if title %}
              {{ title }}
            {% else %}
              {{ crumb.name | replace: '-', ' ' | capitalize }}
            {% endif %}
          </li>
        {% else %}
          <li><a href="/{{ crumb.path }}">
            {% if title %}
              {{ title }}
            {% else %}
              {{ crumb.name | replace: '-', ' ' | capitalize }}
            {% endif %}
          </a></li>
        {% endif %}
      {% endfor %}
  </ul>
</nav>
