<div class="splash splash--alternate">
  <div class="row">
    <div class="small-12 columns">
      <ul class="va-nav-breadcrumbs--playbook" role="menubar" aria-label="Primary">
        {% assign current_page = breadcrumb_path | last %}
        {% for crumb in breadcrumb_path %}
          {% if current_page.name == crumb.name %}
            <li class="active">{{ crumb.name | replace: '-', ' ' | capitalize }}</li>
          {% else %}
            <li class="parent"><a href="/{{ crumb.path }}">{{ crumb.name | replace: '-', ' ' | capitalize }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
 
