<nav class="va-nav-breadcrumbs">
  <ul class="row va-nav-breadcrumbs-list" role="menubar" aria-label="Primary">
    <li><a href="/">Home</a></li>
      {% assign my_variable = breadcrumb_path | last %}
      {% for crumb in breadcrumb_path %}
        {% assign crumb_words = crumb.name | split: '-' %}
        {% capture titlecase_crumb %}
          {% for word in crumb_words %}
            {{ word | capitalize }}
          {% endfor %}
        {% endcapture %}

        {% if my_variable.name == crumb.name %}
          <li class="active">
            {% if title %}
              {{ title }}
            {% else %}
              {{ titlecase_crumb }}
            {% endif %}
          </li>
        {% else %}
          <li><a href="/{{ crumb.path }}">
            {{ titlecase_crumb }}
          </a></li>
        {% endif %}
      {% endfor %}
  </ul>
</nav>
