<nav class="va-nav-breadcrumbs">
  <ul class="row va-nav-breadcrumbs-list columns" role="menubar" aria-label="Primary">
    <li><a href="/">Home</a></li>
      {% assign current_page = breadcrumb_path | last %}
      {% for crumb in breadcrumb_path %}
        {% if current_page.name == crumb.name %}
          <li class="active">
            {% if title %}
              {{ title }}
            {% else %}
              {{ crumb.name | replace: '-', ' ' | capitalize }}
            {% endif %}
          </li>
        {% else %}
          <li>
            <a href="/{{ crumb.path }}">
              {% if crumb.name == 'gi-bill' %}
              {{ crumb.name | replace: '-', ' ' | replace: 'gi', 'GI' | replace: 'b', 'B' }}
              {% else %}
              {{ crumb.name | replace: '-', ' ' | capitalize }}
              {% endif %}             
            </a></li>
        {% endif %}
      {% endfor %}
  </ul>
</nav>
