<div class="main" role="main">
  <div class="section">
    <div class="primary">
      <div class="row">
        <div class="small-12 columns usa-content">
        {% if path == 'employment' %}
          <div class="csp-inline-patch-L2-section-landing">
          <h1 class="csp-inline-patch-L2-section-landing-1">Careers and Employment</h1>
          <h6 class="csp-inline-patch-L2-section-landing-2"> in partnership with 
            <a href="https://www.dol.gov/vets/" class="external"> 
              United States Department of Labor
            </a>
          </h6>
          </div>
        {% else %}
          <h1>{{ title }}</h1>
        {% endif %}
        <!-- Page content begins -->
        {{ contents }}        
        <!-- Page content ends -->
        </div>
      </div>
    </div>
    {% include "content/includes/main-navigation.html" %}
  </div>
</div>
