<div class="main" role="main">
  <div class="section one">
    <div class="primary">
      <div class="row">
        <div class="small-12 columns usa-content">
        <h1>{{ title }}</h1>
        <!-- Page content begins -->
        {{ contents }}        
        <!-- Page content ends -->
        </div>
      </div>
    </div>
    {% include "content/includes/main-navigation.html" %}
  </div>
</div>

{% unless showactionbar == false %}
  {% if path contains 'disability-benefits' %}
    {% include "content/includes/action-bar.html" action_text="Go to eBenefits to apply" action_url="https://www.ebenefits.va.gov/ebenefits/homepage" action_class="va-action-bar--footer va-action-bar--start" %}
  {% endif %}

  {% if path contains 'education' %}
    {% include "content/includes/action-bar.html" action_text="Apply for Education Benefits" action_url="/education/apply-for-education-benefits/" action_class="va-action-bar--footer" %}
  {% endif %}
{% endunless %}