{% comment %}
=====================
Level 2 Index (Merger)
=====================

Used for index pages in top-level paths (e.g. /healthcare/index.html)

{% endcomment %}

<main>
  <div class="usa-grid">
    <article class="usa-width-two-thirds">
      <div class="inline">
        <i class="icon-large fa fa-{{icon}}"></i>
      </div>
      <h1 class="inline">
        {{ title }}
      </h1>
      {{ contents }}

      {% if crosslinks != empty %}
        {% include "content/components/merger-crosslinks.html" %}
      {% endif %}

    </article>

    <div class="usa-width-one-third">

      {% if administration != empty %}
        {% include "content/components/merger-administration.html" %}
      {% endif %}

      {% if promo != empty %}
        {% include "content/components/merger-promo.html" %}
      {% endif %}

      {% if social != empty %}
        {% include "content/components/merger-social.html" %}
      {% endif %}

      {% if contact != empty %}
        {% include "content/components/merger-contact.html" %}
      {% endif %}

      {% if mobile != empty %}
        {% include "content/components/merger-mobile.html" %}
      {% endif %}

    </div>

  </div>

  <section id="homepage-hero">
    <div class="usa-grid">
      <img src="/img/homepage/veterans-blue.png" width=728 height=155/>
    </div>
  </section>
</main>
