{% comment %}
=====================
Level 2 Index (Merger)
=====================

Used for index pages in top-level paths (e.g. /healthcare/index.html)

{% endcomment %}

<main>
  <div class="usa-grid">
    <article class="usa-width-two-thirds">
        <h1>{{ title }}</h1>
        {{ contents }}
    </article>

    <div class="usa-width-one-third">

      {% if promo != empty %}
        {% include "content/components/merger-promo.html" %}
      {% endif %}

      {% if crosslinks != empty %}
        {% include "content/components/merger-crosslinks.html" %}
      {% endif %}

      {% if contact != empty %}
        {% include "content/components/merger-contact.html" %}

      {% endif %}

    </div>

  </div>
</main>
