{% comment %}
=====================
 Level 2 Index (Merger)
=====================

Used for index pages in top-level paths (e.g. /healthcare/index.html)

-== Maintenance notes ==-

As of 2017-04-13:

  - Replace the `row` class with `usa-grid` when Foundation gets replaced by USWDS
    when the time comes.

{% endcomment %}

<main>
  <div class="usa-grid">
    <article class="usa-width-two-thirds">
        <h1>{{ title }}</h1>
        {{ contents }}
    </article>

    <div class="usa-width-one-third">

      {% if photocallout != empty %}
        {% include "content/components/merger-photocallout.html" %}
      {% endif %}

      {% if relatedlinks != empty %}
        {% include "content/components/merger-links-list.html" %}
      {% endif %}

      {% if phonetree != empty %}
        {% include "content/components/merger-phone-tree.html" %}

      {% endif %}

    </div>

  </div>
</main>
