{% if (majorlinks.length % 3) %}
  {% assign gridnum = 3 %}
{% else %} 
  {% assign gridnum = 2 %}
{% endif %}


<div class="navigation--major">
  <div class="row">
    <div class="small-12">
      <ul class="va-cards va-cards--{{gridnum}}across">
        {% for link in majorlinks %}
        <li class="va-card">
          <a href="{{link.url}}" class="va-card-body">
            <h3 class="va-card-title">{{link.title}}</h3>
            <span>{{link.description}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% if extraspace %}
    <br>
  {% endif %}
</div>
