<div class="sticky-action-box--container">
  <div class="sticky-action-box">
    {% for button in actionboxButtons %}
      {% capture buttonClass %}
        {% if button.primary == true %}
          usa-button-primary va-button-primary
        {% else %}
          usa-button-primary usa-button-outline
        {% endif %}
      {% endcapture %}

      <a href="{{ button.url }}" class="{{ buttonClass }}">{{ button.text }}</a>
    {% endfor %}
    <p class="small">Usually processed within <span><strong>14-30 days</strong></span></p>
  </div>
</div>
<br/>
