<header class="header">

  {% if path != 'preview-the-new-va-gov' %}
  <div id="preview-banner" class="usa-alert usa-alert-info">
    <div id="preview-banner-content" class="usa-alert-body">
      <h3 class="usa-alert-heading" aria-hidden="false">Preview the New VA.gov—Built with Veterans, for Veterans</h3>
      <p>Vets.gov will soon become part of the new VA.gov. Our new site offers one place to access all VA benefits and health care services. You can sign in with your My HealtheVet, DS Logon, or ID.me account to track your claims, refill your prescriptions, and more.</p>
      <p>We invite you to try out the new VA.gov before it officially launches.</p>
      <a href="https://preview.va.gov" class="usa-button-primary">Preview the New VA.gov</a>
    </div>
    <div id="blog-banner-content" class="usa-alert-body" style="display: none;" aria-hidden="true">
      <h3 class="usa-alert-heading">Preview the New VA.gov—Built with Veterans, for Veterans</h3>
      <p>Vets.gov will soon become part of the new VA.gov. The new VA.gov will offer one place to get and manage all VA benefits and health care services. You'll be able to sign in with your My HealtheVet, DS Logon, or ID.me account to track your claims, refill your prescriptions, and more.</p>
      <a href="/preview-the-new-va-gov/" class="usa-button-primary">Learn about the New VA.gov</a>
    </div>
  </div>

  <script>
    var allowTrafficToPreview = (
      window.settings.previewTheNewVaBanner &&
      window.settings.previewTheNewVaBanner.allowTrafficToPreview
    );
    if (!allowTrafficToPreview) {
      document.getElementById('preview-banner-content').style.display = 'none';
      document.getElementById('preview-banner-content').setAttribute('aria-hidden', 'true');

      document.getElementById('blog-banner-content').style.display = 'block';
      document.getElementById('blog-banner-content').setAttribute('aria-hidden', 'false');
    }
  </script>
  {% endif %}

  <div class="incompatible-browser-warning">
    <div class="row full">
      <div class="small-12">
        Your browser is out of date. To use this website, please <a href="https://whatbrowser.org/">update your browser</a> or use a different device.
      </div>
    </div>
  </div>

  <div class="va-notice--banner">
    <div class="va-notice--banner-inner">
      {% include "content/includes/usa-website-header.html" %}
      <div class="va-crisis-line">
        <div class="va-flex">
          <button data-show="#modal-crisisline" class="va-crisis-line-button va-overlay-trigger">
            <span class="va-flex">
              <span class="vcl"></span>
              Get help from Veterans Crisis Line
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /header alert box -->

  <div class="row va-flex" id="va-header-logo-menu">
    <div role="banner" class="va-header-logo-wrapper">
      <a href="/" class="va-header-logo" onClick="recordEvent({ event: 'nav-header-logo' });">
      {% include "assets/img/svglogo.svg" %}
      <span class="usa-sr-only">Vets dot gov from the U S Department of Veteran Affairs</span>
      </a>
    </div>
    {% if body_class != 'page-playbook' %}
      <div id="vetnav-controls">
        <button aria-controls="vetnav" aria-expanded="false" hidden type="button" class="vetnav-controller-close">
          <span class="va-flex">
            {% include "assets/img/icons/close.svg" %}
            Close
          </span>
        </button>
        <button aria-controls="vetnav" type="button" aria-expanded="false" class="vetnav-controller-open">
          <span class="va-flex">
            {% include "assets/img/arrow-down.svg" %}
            Menu
          </span>
        </button>
      </div>
    {% endif %}

    <div id="login-root" class="vet-toolbar"></div>


    {% if body_class != 'page-playbook' %}
    {% include "content/includes/veteran-navigation.html" %}
    {% endif %}
  </div>

</header>
