@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../../platform/forms/sass/m-form-confirmation" as *;
@use "../../shared/sass/appeals" as *;

/* Wizard */
.wizard-content-inner .fieldset-input:first-child {
  margin-top: 0 !important;
}

/* Fix margins around the form back & continue buttons */
.input-section,
.row.form-progress-buttons {
  margin-bottom: 1em;
}

/* contact info page */
article[data-location="contact-information"] {
  div[data-field-name="mobilePhone"] h3 {
    margin-top: 0;
  }
  /* address modal is very tall and won't scroll without this fix */
  .va-modal-body {
    max-height: calc(100vh - 2.5rem);
    overflow-y: auto;
  }
}

/* Step 2 */
/*** Contested issues block ***/

/* global definitions */
// hide Required label (added to description)
#root_contestedIssues-label {
  display: none;
}

.usa-input-error #root_additionalIssues_0_decisionDate-label {
  font-weight: bold;
}

@media screen and (min-width: 481px) {
  .va-profile-wrapper button {
    width: auto;
  }
}

.eligible-issues-error h3 {
  font-size: 1.0625rem; /* vads-u-font-size--md */
}

/* Contested issue page specific definitions */
article[data-location="contested-issues"] {
  /* hide error; we have a huge alert box instead; but it needs to show on
   * the review & submit page because the alert doesn't show up
   */
  #root_contestedIssues-error-message {
    display: none;
  }

  .usa-input-error {
    padding-top: 0;
    margin-top: 0;
  }

  dl.review {
    border-bottom-width: 0;
  }
}

/* Contestable issues - HLR v2 */
article[data-location="contestable-issues"] {
  /* fixes va.gov-team/issues/34714 */
  fieldset > div {
    clear: both;
  }
  fieldset legend {
    float: left; /* moves legend inside fieldset */
  }
}

/* Add issue loop page */
article[data-location="add-issue"] {
  .usa-input-error {
    margin-top: 0;
  }
  legend {
    padding-bottom: 0;
  }
  /* override !important normal weight on legend */
  .input-error-date legend {
    font-weight: bold !important;
  }
  #issue-name {
    margin-top: 0;
  }
  /* Hide extra "Required" label */
  p.label-description + span {
    display: none;
  }
}

#root_otherEntry-label {
  margin-top: 1.25rem;
}
.usa-input-error > label {
  margin-top: 0;
}

/* opt-in label (not bold in review & submit accordion */
label > .opt-in-title {
  font-weight: 700;
}

/* Step 3 */
/* Informal conference */
/* global */
#root_informalConferenceTimes-label {
  p {
    margin-top: 0;
  }

  .schemaform-required-span {
    display: none;
  }
}

.schemaform-block-header > p + p {
  margin-top: 0.625rem;
}

/* page specific */
article[data-location="informal-conference/representative-info"],
article[data-location="informal-conference/representative-information"] {
  .schemaform-field-container {
    margin-top: 0;
  }
}

/* Step 4 Review Application */
article[data-location="review-and-submit"] {
  dl.review .widget-wrapper-v2.checkbox-hidden {
    margin-top: 0.625rem;

    dt.widget-checkbox-wrap {
      width: 0;
      min-width: 0;
    }
  }
}

@media (max-width: $small-screen) {
  dl.review,
  div.review {
    .review-row {
      display: flex;
      flex-direction: column;
      padding: 0.625rem;
    }

    .review-row > dd {
      padding-left: 0;
      text-align: left;
    }

    .review-row > dt > p {
      margin-top: 0;
      margin-bottom: 0;
    }

    .checkbox-hidden {
      .widget-content {
        margin: 1.25rem 0 0 0;
      }
    }
  }
}

article[data-location="review-and-submit"] {
  dt strong.opt-in-title {
    font-weight: normal;
  }
}
