.medication-details-div {
  h3 {
    margin: 16px 0 0;
  }
  p {
    margin: 0px;
  }
}

.last-filled-info-grouped-rx p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.refill-entry {
  page-break-inside: avoid;
}

.non-va-ul {
  list-style: none;
}
.statusIcon {
  display: flex;
}

@media (max-width: $medium-screen) {
  .wrap-text {
    word-break: break-word;
  }
}

