.medication-details-div {
  h3 {
    margin: 16px 0 0;
  }
  p {
    margin: 0px;
  }
}

.refill-entry {
  page-break-inside: avoid;
}

.non-va-ul {
  list-style: none;
}
.statusIcon {
  display: flex;
}