.before-you-download-dropdown {
  max-width: 500px;
}

.print-download {
  max-width: 293px;
  button {
    background-color: var(--vads-color-white);
    color: var(--vads-color-primary);
    width: 100%;
    box-shadow: none;
  }
  button * {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  button:active,
  button:focus {
    background-color: var(--vads-color-gray-cool-light);
    color: var(--vads-color-primary-dark);
  }
  button:hover {
    background-color: var(--vads-color-gray-cool-light);
    color: var(--vads-color-primary-dark);
  }
  button:hover i::before {
    color: var(--vads-color-primary-dark);
  }
  button:active {
    color: var(--vads-color-primary);
    outline: none;
  }
  button:active i::before {
    color: var(--vads-color-primary);
  }

  .toggle-menu-button {
    display: flex;
    align-items: center;
    margin: 0;
    border-radius: 5px;
    border: 2px solid var(--vads-color-primary);
  }
  .toggle-menu-button-open {
    border-radius: 5px 5px 0px 0px;
    border-bottom: 2px solid var(--vads-color-primary);
  }

  .menu-options {
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
    width: 100%;

    li {
      margin: 0px;
      padding: 0px;
      border-top: none;
      border-right: 2px solid var(--vads-color-primary);
      border-bottom: 2px solid var(--vads-color-primary);
      border-left: 2px solid var(--vads-color-primary);
      border-radius: 0px;

      button {
        border-radius: 0px;
        margin: 0px;
        text-align: left;
        min-height: 44px;
      }
    }
    li:last-child {
      border-radius: 0px 0px 5px 5px;
      border-top: none;
      border-right: 2px solid var(--vads-color-primary);
      border-bottom: 2px solid var(--vads-color-primary);
      border-left: 2px solid var(--vads-color-primary);

      button {
        border-radius: 0px 0px 5px 5px;
      }
    }
  }

  .menu-options-open {
    max-width: 293px;
    position: absolute;
    z-index: 99;
    list-style: none;
    display: flex;
  }
}
