@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../platform/forms/sass/m-form-confirmation" as *;

.address-page {
  [type=radio]:checked + label::before {
    background-color: var(--vads-color-white);
    box-shadow: 0 0 0 2px var(--vads-color-primary), 0 0 0 4px var(--vads-color-white);
  }
  .schemaform-first-field .schemaform-label {
    margin-top: 1.875rem;
  }
}
.battery-page, .accessory-page {
  .usa-alert-warning {
    width: 90%;
    .usa-alert-heading {
      font-size: 16px;
    }
  }
}

.vads-u-padding--21 {
  padding: 21px;
}

.vads-u-padding-top--21 {
  padding-top: 21px;
}

.vads-u-padding-bottom--21 {
  padding-bottom: 21px;
}

.vads-u-padding-x--21 {
  padding-left: 21px;
  padding-right: 21px;
}
.vads-u-max-width--226 {
  max-width: 226px;
}

.vads-u-max-width--293 {
  max-width: 293px;
}

.confirmation-page {
  .print-details {
    display: none;
  }
  .usa-alert-success::before {
    color: var(--vads-color-black);
  }
  .submission-error-alert {
    .usa-alert {
      padding-top: 24px;
      padding-bottom: 24px;
      .usa-alert-text {
        margin-top: 16px;
      }
    }
  }
}

dt {
  h4 {
    margin-top: 0;
  }
}

div.review {
  border-bottom: 1px solid var(--vads-color-base-light);
  .review-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-top: 1px solid var(--vads-color-base-light);
    padding: 0.9375rem;
    padding-left: 0;

    dd {
      font-weight: bold;
      text-align: right;
    }
    dt p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

#root_vetEmail-label {
  font-family: "Bitter";
  font-size: 17px;
  font-weight: 700;
}

@media print {
  .header, .va-nav-breadcrumbs, .schemaform-title, .print-copy, .order-submission-alert, .order-summary-alert, .order-timeframe-section, .order-questions-section, .footer, .help-footer-box {
    display: none;
  }
  .confirmation-page {
    .print-details {
      display: block;
    }
    .schemaform-title {
      display: block;
      h1 {
        font-size: 21px;
        margin-bottom: inherit;
      }
    }
  }
}

