.right-heading {
  font-family: "Bitter";
  border-bottom: 3px solid #0071bb;
  margin: 10px 0 10px;
  padding-bottom: 9px;
  font-size: 1.35em;
  line-height: 1.2;
  font-weight: bold;
  width: 100%;
}

a i {
  font-size: 8px;
  margin-left: 4px;
  margin-bottom: 1px;
}

.debt-details-alert h2 {
  font-size: 20px;
}

.mobile-button {
  padding: 4px;
  border: 2px solid #0071bc;
  border-radius: 5px;
  background-color: #ffffff;
  background-size: cover;
  font-size: 16px;
  color: #0071bc;
  text-decoration: none solid rgb(0, 113, 188);
  text-align: center;

  &:visited {
    color: #0071bc;
  }
}

.debt-details-nextstep {
  background-color: #e1f3f8;
  padding: 0 23px;
  margin: 15px 0;
}
