@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "./partials/expandable-alert";

.no-wrap {
  white-space: nowrap;
}

.no-bullets {
  list-style: none;
}

.right-heading {
  font-family: "Bitter";
  border-bottom: 3px solid $color-blue;
  margin: 10px 0 10px;
  padding-bottom: 9px;
  font-size: 1.35em;
  line-height: 1.2;
  font-weight: bold;
  width: 100%;
}

a i {
  font-size: 8px;
  margin-left: 4px;
  margin-bottom: 1px;
}

.mobile-button {
  padding: 4px;
  border: 2px solid $color-purple;
  border-radius: 5px;
  background-color: $color-white;
  background-size: cover;
  font-size: 16px;
  color: $color-purple;
  text-decoration: none solid $color-blue;
  text-align: center;

  &:visited {
    color: $color-visited;
  }
}

.debt-details-nextstep {
  background-color: $color-aqua-lightest;
  padding: 0 23px;
  margin: 15px 0;
}

h1:focus {
  outline: none !important;
}

.chapter33-alert {
  i {
    position: absolute;
    left: 22px;
    top: 37px;
  }

  p {
    width: 101%;
  }

  i.fas.fa-angle-down {
    display: none;
  }
}

// debt details table
.details-table {
  display: table;
  margin: 0 0 32px 0;
  .details-row {
    display: table-row;
    .details-title,
    .details-data {
      display: table-cell;
      padding: 5px;
    }
    .details-title {
      font-weight: bold;
      width: 150px;
    }
  }
}
