@import "~@department-of-veterans-affairs/formation/sass/shared-variables";

.right-heading {
  font-family: "Bitter";
  border-bottom: 3px solid $color-blue;
  margin: 10px 0 10px;
  padding-bottom: 9px;
  font-size: 1.35em;
  line-height: 1.2;
  font-weight: bold;
  width: 100%;
}

a i {
  font-size: 8px;
  margin-left: 4px;
  margin-bottom: 1px;
}

.debt-details-alert h2 {
  font-size: 20px;
}

.mobile-button {
  padding: 4px;
  border: 2px solid $color-purple;
  border-radius: 5px;
  background-color: $color-white;
  background-size: cover;
  font-size: 16px;
  color: $color-purple;
  text-decoration: none solid $color-blue;
  text-align: center;

  &:visited {
    color: $color-visited;
  }
}

.debt-details-nextstep {
  background-color: $color-aqua-lightest;
  padding: 0 23px;
  margin: 15px 0;
}

dl {
  width: 50%;
}

h1:focus {
  outline: none !important;
}

dt {
  width: 50%;
}
