/* Start styles from legacy formation overrides code */
.custom-table {
  .usa-sr-only {
    position: absolute;
    left: -999em;
  }

  table {
    border-spacing: 0;
    margin: 2em 0;
  }

  thead th {
    font-weight: 700;
  }
  thead th,
  thead td {
    background-color: var(--vads-color-base-lightest);
  }

  th {
    text-align: left;
  }

  th,
  td {
    background-color: var(--vads-color-white);
    border: 1px solid var(--vads-color-base-dark);
    font-weight: 400;
    padding: 0.625rem 0.9375rem;
  }

  .usa-table-borderless thead th {
    background-color: transparent;
    border-top: 0;
  }
  .usa-table-borderless th,
  .usa-table-borderless td {
    border-left: 0;
    border-right: 0;
  }
  .usa-table-borderless th:first-child {
    padding-left: 0;
  }

  caption {
    font-size: 0.9375rem;
    font-weight: 700;
    font-family: Bitter, Georgia, Cambria, "Times New Roman", Times, serif;
    margin-bottom: 0.75rem;
    text-align: left;
  }
}
/* End styles from legacy formation overrides code */

.custom-table > va-table > va-table-row:last-child span {
  border-bottom: 0;
}

.list-style {
  list-style-type: disc;
}
