@use "~@department-of-veterans-affairs/css-library/dist/tokens/scss/variables" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-process-list" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-form-process" as *;
@use "../../../../platform/forms/sass/m-schemaform" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-modal" as *;
@use "~@department-of-veterans-affairs/css-library/dist/stylesheets/modules/m-omb-info" as *;
@use "../../../../platform/forms/sass/m-form-confirmation" as *;

.schemaform-sip-alert .usa-alert-text > ul > li:first-child {
  // we needed to set form.js prefillEnabled to true just to get
  // SIP-alert content to display, even though we're not implementing
  // prefill in this form.
  // BUT, with prefillEnabled true, the 1st bullet-point mentions
  // the pre-fill benefit, so we're hiding it via styling here.
  display: none;
}

#root_claimOwnership-label,
#root_claimantType-label {
  font-family: "Bitter", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 1.25rem;
  font-weight: 700;

  .schemaform-required-span {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto",
      Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
  }
}

#root_witnessRelationshipToClaimant-label {
  margin-bottom: -0.9375rem;
  &.usa-input-error-label {
    font-weight: bold;
  }

  // & + .schemaform-widget-wrapper va-checkbox-group,
  // & + .usa-input-error-message + .schemaform-widget-wrapper va-checkbox-group {
  //   clip-path: inset(30px 0 0 -3px);
  //   margin-top: -30px;
  // }
}
#root_witnessOtherRelationshipToVeteran-label.schemaform-label.usa-input-error-label {
  font-weight: 400 !important;
}
#root_witnessOtherRelationshipToVeteran-label .schemaform-required-span {
  display: none;
}
#root_witnessOtherRelationshipToClaimant-error-message {
  display: none;
}

.schemaform-label[for="root_witnessRelationshipToClaimant_family-or-friend"] {
  margin-top: 0.5rem;
}
.schemaform-label[for="root_witnessRelationshipToClaimant_coworker-or-supervisor"] {
  margin-top: 0;
}

#root_veteranEmailConsent-label,
#root_witnessEmailConsent-label,
#root_claimantEmailConsent-label {
  display: none !important;

  & + .schemaform-widget-wrapper {
    margin-top: 1.875rem;
  }
}

.schemaform-label[for="root_witnessRelationshipToVeteran_served-with"] {
  margin-top: 0.75rem !important;
}

.schemaform-label[for="root_witnessRelationshipToVeteran_family-or-friend"],
.schemaform-label[for="root_witnessRelationshipToVeteran_coworker-or-supervisor"] {
  margin-top: 0.9375rem !important;
}

.form-review-panel[data-chapter="statementInfoChapter"] .review-row dt > span {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", Arial,
    sans-serif !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.form-review-panel[data-chapter="claimantPersonalInfoChapter"],
.form-review-panel[data-chapter="claimantIdInfoChapter"],
.form-review-panel[data-chapter="claimantAddrInfoChapter"],
.form-review-panel[data-chapter="claimantContactInfoChapter"],
.form-review-panel[data-chapter="veteranPersonalInfoChapter"],
.form-review-panel[data-chapter="veteranIdentificationInfo"],
.form-review-panel[data-chapter="veteranMailingAddressInfo"],
.form-review-panel[data-chapter="veteranContactInfo"] {
  .form-review-panel-page-header {
    display: none;
  }
}
