.va-btn-sidebarnav-trigger {
  margin: units-px(1) 0;

  button {
    background-color: $color-primary;
    color: $color-white;
    width: 100%;
    margin: 0;
    border-radius: 0;

    &.fixed {
      position: fixed;
      top: 0;
      z-index: $top-layer;
    }

    &:hover {
      background-color: $color-primary-darker;
    }

    & img {
      height: 10px;
      width: auto;
    }
  }
}
