.va-sidebarnav {
  border-bottom: 1px solid $color-gray-lighter;
  display: block;

  h1 {
    border: 1px solid $color-gray-lighter;
    border-left: none;
    border-right: none;
    color: $color-black;
    margin-bottom: units-px(2);
    margin-top: units-px(4);
    padding: $nav-item-padding;
  }

  ul {
    padding: 0;
  }
  li {
    @include subnav-item;
  }
}
