.va-alert {
  background-size: 4rem;
  display: table;
  width: 100%;
}

.va-alert-body {
  font-size: 2rem;
  padding-left: 4.5rem;
  vertical-align: middle;
}

.va-alert-close {
  background: transparent;
  color: $color-gray-dark;
  display: table-cell;
  float: right;
  font-size: 2rem;
  
  &:hover {
    background: transparent;
    color: lighten($color-gray-dark, 30%);
  }
}
