.sip-application-status {
  margin-bottom: 1em;
  margin-top: 0;
}

.sip-application-error {
  margin-bottom: 1em;
  margin-top: 0;
  background-position: 0.5rem 1.5rem;
  background-size: 4.2rem;
  > .usa-alert-body {
    padding-left: 3.5rem;
  }
}
