.va-alert {
  display: table;
  margin: 0;
  width: 100%;
}

.va-alert-body {
  font-size: 2rem;
  vertical-align: middle;
}

.va-alert-close {
  background: transparent;
  color: $color-gray-dark;
  display: table-cell;
  float: right;
  margin: 0;

  &:hover {
    background: transparent;
    color: lighten($color-gray-dark, 30%);
  }

  i {
    // Override fa font-size.
    font-size: 2rem !important;
  }
}
