.crisis-line-container {
  position: relative;
  background: $color-white;

  @include media($medium-screen) {
    width: 283px;
  }
}

.crisis-line-body {
  background: $color-white;
  border-radius: 0 0 0.2em 0.2em;
  position: absolute;
  right: 0;
  top: 0;
}

.crisis-line-sm {
  background: $color-white;
  
  @include media($medium-screen) {
    display: none;
  }
}

.va-crisis-panel {
  color: $color-primary-darkest;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: -1;
  width: 100%;

  a {
    padding: 0;
    background-image: none;
  }
}

.va-crisis-panel-body {
  background: $color-white;
  list-style: inherit;
  margin: 0;
  padding: 0;

  a {
    color: $color-base;
  }

  p {
    margin: 0;
    padding: 2.5rem;
    font-size: 1.4rem;
  }

  ul {
    font-size: 1.7rem;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}

.va-crisis-panel--notouch {
  top: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: transform 250ms;
          transition: transform 250ms;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.35);

  li {
    padding: 2.5rem 0 0;
  }

  @media #{$small-only} {
    display: none;
  }
}

.va-crisis-panel--open {
  .va-crisis-panel--notouch {
    opacity: 1;
    z-index: 10;
  }
}

//===== VA CRISIS LINE BUTTONS
.va-crisis-line--touch {
  border-radius: .2em;
  margin: 2.5em 0;
}

.va-crisis-line {
  background: $color-white url(/img/arrow-right.svg) calc(100% - 0.5em) center no-repeat;
  background-size: .8em auto;
  color: $color-base;
  margin: 0;
  text-align: left;
  font-size: 1em;
  width: 100%;
  display: block;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    background-color: $color-white;
    color: $color-base;
  }

  .vcl {
    content: "";
    background: url(/img/vcl-logo.png) no-repeat right 29%;
    background-size: 100%;
    display: inline-block;
    width: 2em;
    height: 2em;
    margin: 0.3em 0.5em -0.3em 0.5em;
  }

  > .va-flex {
    align-items: center;
    pointer-events: none;
  }

  .crisis-line-sm & {
    border-radius: 0;
    margin: auto;
    padding: 0.4em 26px 0.3em 0;
    width: auto;
  }

  .crisis-line-container--wide & {
    @include media($medium-screen) {
      background-color: #fff;
      background-image: url(/img/arrow-down.png);
      border-radius: 0 0 0.2em 0.2em;
      padding: 0;
    }
  }
}

.crisis-line-container--wide {
  box-shadow: 0 2px 5px $color-base;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 31.5rem;

  @include media($medium-screen) {
    display: block;
  }
}

.va-crisis-panel--open {
  a.va-crisis-line {
    background-image: url(/img/arrow-up.png);
  }
}

//==== Small viewport panel touch
.va-crisis-panel--touch {
  padding: 0 2rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  .va-crisis-panel-body {
    height: auto;
    max-height: 100%;
  }

  li {
    &:nth-child(odd) {
      border-top: 1px solid $color-gray-lighter;
      border-bottom: 1px solid $color-gray-lighter;
    }

    a {
      color: $color-base;
      display: block;
      padding: 1.5rem 0;
      text-decoration: none;
    }
  }

  p:last-child {
    font-size: .85em;
  }

  .va-crisis-line {
    font-size: inherit;
    padding: 1.25rem;
    text-align: center;
    width: 100%;
  }
}


@media #{$medium} {
  .va-crisis-panel--touch,
  .va-crisis-line--touch {
    display: none;
  }
}
