.form-process {
  li {
    h5 {
      color: $color-gray;
    }
    li {
      display: none;
    }
    &:before {
      background: $color-gray;
    }
    &.section-complete {
      &:before {
        background: $color-green;
        content: "\2714\fe0e";
      }
    }
    &.section-current {
      h5 {
        font-weight: bold;
        color: $color-primary;
      }
      li {
        display: list-item;
        &.sub-section-current {
          font-weight: bold;
          color: $color-primary;
        }
        &.sub-section-hidden {
          display: none;
        }
      }
      &:before {
        background: $color-primary;
      }
    }
  }
}

.form-process-step {
  color:$color-white;
  font-weight: 700;
  text-align: center;
  width: 2em;
  margin-left: -.2em;
  top: -.2em;
  display: block;
  border: 4px solid $color-white;
  background: $olso-gray;
  border-radius: 4em;
  display: inline-block;
  &.current {
    background: $color-primary;
  }
}

// Overriding the accordion button styles that are too broad
.form-review-panel {
  button {
    background-image: none;
    background-color: $color-primary;
    padding: 1rem 2rem;
    color: white;
    &:hover {
      color: white;
      background-color: $color-primary-darker;
    }
    &:active {
      background-color: $color-primary-darkest;
    }
  }
  .usa-button-outline {
    color: $color-primary;
    background-color: white;
    &:hover {
      background-color: white;
      color: $color-primary-darker;
    }
    &:active {
      background-color: white;
      color: $color-primary-darkest;
    }
  }
  .edit-btn {
    background-color: $color-primary;
    color: $white;
    &:hover {
      background-color: $color-primary-darker;
      color: $white;
    }
  }
  .edit-btn {
    &.primary-outline {
      background-color: white;
      box-shadow: inset 0 0 0 2px $color-primary;
      color: $color-primary;
      &:hover {
        background-color: white;
        box-shadow: inset 0 0 0 2px $color-primary-darker;
        color: $color-primary-darker;
      }
    }
  }
  .accordion-header {
    min-height: 7rem;
    padding: 1rem;
  }
  .section-label {
    padding-bottom: 1rem;
  }
}
