.form-radio-buttons {
  label {
    margin-top: 1em;
  }
}

.form-required-span {
  color: $color-secondary-dark;
  margin: 0 0.35em;
}


button.form-button-green {
  background: $color-green;
}

button.form-button-disabled {
  pointer-events: none;
}

.form-datefield-month,
.form-datefield-day {
  clear: none;
  float: left;
  margin-right: 1.5rem;

  & select {
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
  }
}

.form-alert-body {
  padding: 0 3.5rem;
}

.form-datefield-month {
  width: 10rem;
}

.form-datefield-day {
  width: 8rem;
}

.form-radio-buttons {
  label {
    margin-top: 1em;
  }
  > input[type="radio"] + label::before {
    display: block;
    float: left;
    margin-left: -1.7em;
    margin-top: 0.14em;
    margin-right: 0;
  }
  > input[type="radio"] + label {
    margin-left: 1.7em;
  }
}

.form-required-span {
  color: $color-secondary-dark;
  margin: 0 0.35em;
}

.form-checkbox {
  // There's a too-broad type selector in USWDS that causes checkbox
  // inputs to have a ridiculously wide, yet invisible click area in some browsers.
  // See 18F/web-design-standards#1490
  // This fixes things in the meantime.
  [type="checkbox"] {
    height: auto !important;
    margin: 0;
    width: auto !important;
  }
  > input[type="checkbox"] + label::before {
    display: block;
    float: left;
    margin-left: -1.7em;
    margin-top: 0.14em;
    margin-right: 0;
  }
  > input[type="checkbox"] + label {
    margin-left: 1.7em;
  }
}

.form-field-alert label {
  margin-top: 0.5em;
}

.form-error-date {
  margin-top: 0;
}

@media #{$medium} {
  .form-select-medium {
    max-width: 12rem;
  }
}

.form-expanding-group-inner-leave {
  max-height: 800px;
  opacity: 1;
  margin-top: 0;
}

.form-expanding-group-inner-enter {
  opacity: 0;
  max-height: 0;
}

.form-expanding-group-inner-leave.form-expanding-group-inner-leave-active {
  -webkit-transition: margin-top 500ms 0ms, max-height 300ms 0ms, opacity 300ms 0ms;
  transition: margin-top 500ms 0ms, max-height 300ms 0ms, opacity 300ms 0ms;
  max-height: 0;
  opacity: 0;
}

.form-expanding-group-inner-enter.form-expanding-group-inner-enter-active {
  -webkit-transition: margin-top 300ms 0ms, max-height 700ms 0ms, opacity 500ms 200ms;
  transition: margin-top 300ms 0ms, max-height 700ms 0ms, opacity 500ms 200ms;
  max-height: 800px;
  opacity: 1;
  margin-top: 0 !important;
}

.form-expanding-group {
  .usa-input-error {
    padding-left: calc(1.5rem - 6px);
    right: calc(1.9rem - 6px);
  }
}

.form-expanding-group {
  margin-left: -2rem;
  padding-left: 2rem;
}

.form-expanding-group-open { 
  padding-left: calc(2rem - 7px);
  border-left: 7px solid $color-primary-alt-light;
}

.form-errorable-group {
  > .usa-input-error {
    label {
      margin-top: 3rem;
    }
    .usa-input-error-label {
      margin-top: 0;
    }
    .usa-input-error-message {
      margin-bottom: -2rem;
    }
  }
}
