.homepage-hero {
  background: $color-gray-lightest;
  margin-bottom: 3em;
}

.homepage-hero-image {
  align-items: center;
  justify-content: center;
  background: $color-white url(/img/design/background/veterans.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  margin: auto;
  min-height: 22.4rem;
  padding: 1em 2.4rem;
  text-align: center;

  &.usa-grid {
    max-width: 114rem;
  }

  @include media($medium-large-screen) {
    padding: 2em 0 0;
    min-height: 38rem;
  }

  @include media($large-screen) {
    padding-top: 2.5em;
    padding-bottom: 0;
  }
}

.homepage-hero-title {
  background: rgba(0,113,188,0.9);
  color: $color-white;
  padding: 1em 0.4em 2em;
  white-space: pre-wrap;
  width: -webkit-fill-available;
  align-self: flex-end;

  @include media($medium-large-screen) {
    padding-left: .75em;
    padding-right: .75em;
    white-space: normal;
  }

  @include media($large-screen) {
    padding-left: .4em;
    padding-right: .4em;
  }

    h1 {
    font-weight: bold;
    font-size: 3.2rem;
    margin: 0;
  }

  p {
    font-size: 2rem;
    margin-top: 0
  }
}


.va-homepage-benefits {
  padding-bottom: 2rem;
  // Commenting to remove this for now because there's still a discussion about
  // whether these links should be one column or two.
  // Restore if we use two columns. Remove if we use one.
  //@include media($medium-screen) {
  //  .va-nav-linkslist {
  //    @include span-columns(6); // Pulls from Neat
  //  }
  //}

  li:first-child{
    margin-top: 1rem;
  }
}
