//====================================
// SCSS for content/components/navigation-next-previous.html 
//====================================

.va-navigation-nextprevious {
  margin: 8rem 0 4rem;

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    flex: 0 0 50%;

    &:only-child {
      flex: 0 0 100%;

      a {
        width: 50%;
      }
    }
  }
}

// Matches links that begin va-navigation-nextprevious-
a[class|=va-navigation-nextprevious] {
  display: block;
  padding: 1rem .4rem;
  text-decoration: none;

  strong {
    color: $color-base;
  }

  span {
    display: block;
    text-decoration: underline;
  }

  ::before {
    font-weight: bold;
    display: inline-block;
    vertical-align: 1px;
  }
}

.va-navigation-nextprevious-previous {
  border-right: 2rem solid $color-white;
  strong::before {
    content: "\2039\00A0";
  }
}

.va-navigation-nextprevious-next {
  border-left: 2rem solid $color-white;
  text-align: right;

  li:only-child & {
    margin-left: 50%;
  }

  strong::after {
    content: "\00A0\203A";
  }
}