//============================================
// m-nav-channel
// Created: 2017-04-12
//
// - Used for link lists.
// - Find an example on /disability-benefits
// - Find corresponding markup in 
//   content/includes/level2-links
//============================================

.va-nav--channel {
  padding-bottom: 4rem;

  &-heading {
    border-bottom: 1px solid $color-gray-light;
    margin: 3.2rem 0 0;
    padding: 0 .24rem 1rem;
  }

  &-list {
    list-style: none;
    padding-left: 0;

    a {
      display: block;
      padding: 0 .24rem;
      text-decoration: none;
    }

    li {
      margin: 2.4rem 0;
    }
  }

  &-title {
    color: $color-link-default;
    padding-bottom: .24rem;

    a:hover & {
      text-decoration: underline;
    }
  }

  &-description {
    color: $color-base;
    margin: 0;
  }
}
