.progress-bar {
  display: block;
  width: 100%;
  height: 1em;
  border-radius: 1em;
  border: 2px solid $color-primary;
  margin: 1em 0;
}

.progress-bar-inner {
  background-color: $color-primary;
  display: block;
  content: '&nbsp;';
  height: 100%;
}
