@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.find-a-representative {
  .clearfix {
    content: "";
    display: block;
    clear: both;
  }

  .va-accordion__button {
    visibility: hidden !important;
  }

  .search-section {
    .search-controls-container {
      #representative-search-controls {
        display: flex;
        flex-direction: column;
        position: relative;

        .search-controls-text-inputs {
          @media (min-width: $medium-screen) {
            .geolocation-container {
              display: flex;
              min-width: 10rem;

              .location-input {
                min-width: 46rem;
              }

              .use-my-location-button-container {
                align-self: flex-end;
                min-width: 10em;
                margin-left: 2em;
                margin-bottom: 4px;
              }
            }

            .search-area-dropdown {
              width: 46rem;
            }

            .representative-name-input {
              width: 46rem;
            }
          }
          @media (max-width: $medium-screen) {
            .location-input {
              max-width: 46rem;
            }

            .search-area-dropdown {
              max-width: 46rem;
            }

            .representative-name-input {
              max-width: 46rem;
            }
          }
        }

        .usa-input-error {
          margin-top: 0em;
        }

        .use-my-location-button-container-error {
          @media (min-width: $large-screen) {
            top: 4em;
          }
        }

        .use-my-location-button {
          text-decoration: none;
          background-color: transparent;
          color: $color-link-default;
          font-weight: normal;
          padding: 0 0 0 1.5em;
          background-image: url("/img/location-arrow-solid.svg");
          background-repeat: no-repeat;
          background-color: transparent;
          max-width: 9em;
        }

        .finding-your-location-loading {
          min-width: 14em;
          text-decoration: none;
          background-color: transparent;
          margin-top: 0.3em;
          color: $color-link-default;
          font-weight: normal;
          background-repeat: no-repeat;
          background-color: transparent;
        }

        #representative-search {
          max-width: 8em;
          margin: 2em 0 2em 0 !important;
        }

        .rep-type-selector {
          p:last-child {
            margin-bottom: -1em !important;
          }
        }
      }
    }
  }

  .results-section {
    @media (min-width: $medium-screen) {
      min-width: 60rem;
    }

    hr {
      @media (min-width: $medium-screen) {
        min-width: 60rem;
      }
      @media (max-width: $medium-screen) {
        max-width: 57rem;
      }
    }
    .pagination-container .hydrated {
      border-top: none !important;
    }

    #search-results-title {
      margin-bottom: 2em;
    }

    h3 {
      margin: 0.5em 0 0.5em 0;
    }

    .sort-dropdown {
      .sort-select-and-apply {
        display: flex;
        align-items: center;

        .sort-select {
          margin-bottom: 4.8px;
          width: 32rem;
        }
      }
    }

    .representative-results-list {
      width: 100%;

      .representative-result-card {
        border: 1px solid $color-gray-lighter;

        .representative-result-card-content {
          .report-outdated-information-button {
            min-width: 27rem;
          }
        }

        @media (min-width: $medium-screen) {
          min-width: 60rem;

          .representative-result-card-content {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;

            .report-thank-you-alert {
              grid-column: 1 / 5;
              margin-bottom: 1rem;
            }

            .associated-organizations-info {
              grid-column: 1 / 5;
              grid-row: 3;
            }

            .representative-info-heading {
              grid-column: 1 / 3;
              grid-row: 2;
            }
            .representative-contact-section {
              grid-column: 1 / 3;
              grid-row: 4;
            }

            .report-outdated-information-button {
              grid-column: 3 / 5;
              grid-row: 2;
              text-align: right;
            }
          }
        }

        @media (max-width: $medium-screen) {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 57rem;

          .report-thank-you-alert {
            margin-top: 3rem;
            margin-bottom: 0;
          }

          .report-outdated-information-button {
            margin-top: 3rem;
          }
        }
        @media (min-width: 565px) and (max-width: $medium-screen) {
          .representative-result-card-content {
            min-width: 470px;
          }
        }
        @media (min-width: $small-screen) and (max-width: 564px) {
          .representative-result-card-content {
            min-width: 370px;
          }
        }
      }
    }
  }

  .help-footer-container {
    @media (max-width: $medium-screen) {
      padding-right: 2.5rem;
    }
  }
}
