@import "~@department-of-veterans-affairs/formation/sass/shared-variables";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-process-list";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-form-process";
@import "../../../platform/forms/sass/m-schemaform";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-modal";
@import "~@department-of-veterans-affairs/formation/sass/modules/m-omb-info";
@import "../../../platform/forms/sass/m-form-confirmation";

.find-a-representative {
  .clearfix {
    content: "";
    display: block;
    clear: both;
  }

  .va-accordion__button {
    visibility: hidden !important;
  }

  .search-section {
    .search-controls-container {
      #representative-search-controls {
        display: flex;
        flex-direction: column;
        position: relative;

        .search-controls-text-inputs {
          @media (min-width: $medium-screen) {
            .geolocation-container {
              // position: relative;
              display: flex;
              min-width: 10rem;

              .location-input {
                min-width: 46rem;
              }

              .use-my-location-button-container {
                align-self: flex-end;
                min-width: 10em;
                margin-left: 2em;
                margin-bottom: 4px;
              }
            }

            .representative-name-input {
              min-width: 46rem;
            }
          }
        }

        .usa-input-error {
          margin-top: 0em;
        }

        .use-my-location-button-container-error {
          @media (min-width: $large-screen) {
            top: 4em;
          }
        }

        .use-my-location-button {
          text-decoration: none;
          background-color: transparent;
          color: $color-link-default;
          font-weight: normal;
          padding: 0 0 0 1.5em;
          background-image: url("/img/location-arrow-solid.svg");
          background-repeat: no-repeat;
          background-color: transparent;
          max-width: 9em;
        }

        .finding-your-location-loading {
          min-width: 14em;
          text-decoration: none;
          background-color: transparent;
          margin-top: 0.3em;
          color: $color-link-default;
          font-weight: normal;
          background-repeat: no-repeat;
          background-color: transparent;
        }

        #representative-search {
          max-width: 8em;
          margin: 2em 0 2em 0 !important;
        }

        .rep-type-selector {
          p:last-child {
            margin-bottom: -1em !important;
          }
        }
      }
    }
  }

  .results-section {
    @media (min-width: $medium-screen) and (max-width: ($large-screen)) {
      width: 80%;
    }
    .pagination-container .hydrated {
      border-top: none !important;
    }

    #search-results-title {
      margin-bottom: 2em;
    }

    h3 {
      margin: 0.5em 0 0.5em 0;
    }

    .sort-dropdown {
      .sort-select-and-apply {
        display: flex;
        align-items: center;

        .sort-select {
          margin-bottom: 4.8px;
          width: 32rem;
        }
      }
    }

    .representative-results-list {
      width: 100%;
    }

    .representative-results-list {
      .representative-result-card {
        border: 1px solid $color-gray-lighter;

        @media (min-width: 900px) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;

          .representative-info-section {
            grid-column: 1;
          }

          .report-outdated-information-button {
            grid-column: 2;
            text-align: right;
          }
        }
        @media (max-width: 909px) {
          word-wrap: break-word;

          .report-outdated-information-button {
            width: 100%;
            margin-top: 2rem;
          }
        }
      }
    }
  }
}
